[2017-08-07 21:40] erictraub opened #1856 "Run webpack server without running build?"
Is there anyway to run the webpack server without building it for dev before hand?  I just want to run the server command but not sure how to do it.  (I would have wrote this on AngularClass slack but the link doesn't work).

[2017-08-07 23:07] bmayen commented on #1655
@KhanaevRoman, I followed the example in the link above

[2017-08-08 04:32] bhanu7755 opened #1857 "No template specified for component TestComponent"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
**bug**

* **What is the c

[2017-08-08 06:10] RaphaelYan commented on #1857
For AOT, use `templateUrl` :
[code]

[2017-08-08 07:41] hasan-assi commented on #1853
delete the added lines in  "https://github.com/AngularClass/angular-starter/commit/e1f25d9b208c4d64226b5792452b445fd6ec5020"
solve the issue.

[2017-08-08 07:41] #1853 closed

[2017-08-08 11:11] bhanu7755 commented on #1857
Thank you for reply. But the problem is I'm publishing it as package. So, When I use **templateUrl** it is throwing error saying  **Template not found** in the other project where we are using this package. I thought it is trying to find the html in the src directory instead of node_modules.

[2017-08-08 12:36] RaphaelYan commented on #1857
Have you tried with inline templating like this lib ? https://github.com/valor-software/ngx-bootstrap/blob/development/src/accordion/accordion-group.component.ts

[2017-08-08 12:48] vadjs commented on #1686
I hope "next weekend" will not turn in to 3 months again.
Universal is very cool but hard feature. Realising it in anguar-starter will make it popular very fast.

[2017-08-08 12:54] bhanu7755 commented on #1857
Yes, inline templating works. I want to make it clean and more maintainable. Any thoughts on it?

[2017-08-08 13:03] vadjs commented on #1856
You **must** compile files like `.ts/.scss` to run server with angular application. It's needed because browser don't understand `.ts/.scss` file formats, it understands onlu `.js/.css`.

If you need to run dev server several times after single build you can do it through `npm run build:dev` to build and `npm run server prod` to run server.

[2017-08-08 15:04] alsoicode commented on #1044
I use cross-env to set the NODE_ENV in my npm scripts: https://www.npmjs.com/package/cross-env

[2017-08-08 22:47] gdi2290 commented on #1686
yeah sorry, I went to update it but realized I would have to rework the whole build config before being able to add universal. The rework is only needed in order to keep the same developer work flow. This includes HMR on the server and the client while also working with Angular Universal. The complexity increases unless I create a new branch and push all of my WIP changes there

[2017-08-09 07:09] TheRusskiy commented on #1686
@gdi2290 don't mean to pressure in any way, but with that latest discovery is universal rendering still coming to this project? Any (rough) estimates?
So far that's the only thing that stops me from using angular starter.
Thank you for all the hard work you are putting.

[2017-08-09 07:31] KhanaevRoman commented on #1655
@bmayen shlomiassaf solution? But it is not this repo based project...

[2017-08-09 11:50] andresantos123 commented on #1686
@gdi2290 maybe a new branch is a good start!

[2017-08-10 10:26] yuki-takei opened #1859 "Not suitable to use `process.env.PUBLIC` on Win"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
    * Reporting a *bug*

* **What is the current behavior?**

1. Windows 10
1. clone master that is after [e1f25d9] (commited by @patricknazar )
1. `npm start`

    * My browser try to open `c/Users/Public/` when exec `np

[2017-08-10 14:43] patricknazar commented on #1859
Fair point. Thoughts on this?

[2017-08-10 20:40] geoHeil commented on #1846
Isn't it correct that according to https://github.com/trimox/angular-mdc-web/blob/master/docs/getting-started.md

[code]

and setting
`  <body mdc-typography>`
is missing?

[2017-08-11 03:00] reneszabo commented on #1859
Same, i had to add PUBLIC=d:\Projects\Public to my .env

[2017-08-11 03:59] AKlaus commented on #1846
As trimox's response here has gathered more attention than on the [other thread](https://github.com/trimox/angular-mdc-web/issues/67), so, for completeness sake, I'll copy my addition to his answer here.

The [angular-starter](https://github.com/AngularClass/angular-starter) comes with a bunch `config/webpack.***.js` configurations, the answer above is fine for the `dev` and `test` files:
[code]
H

[2017-08-11 18:29] IAMtheIAM opened #1860 "How does the app still run if vendor.browser.ts was removed?"
Just wondering, how is it possible that the app compiles and runs still even though all the @angular/core etc stuff from vendor.browser.ts no longer gets built by webpack, since that file is now missing?

Was there a change to angular or webpack which makes those imports obsolete?

[2017-08-11 19:07] brijesh3601 commented on #1853
Visit below stackoverflow discussion to resolve http://c/Users/Public/ issue on start of server

https://stackoverflow.com/questions/45641480/angular4-webpack-opens-file-location

[2017-08-11 23:32] kam1515 commented on #1004
import {NgModule, Component} from '@angular/core';
import { ToasterService} from 'angular2-toaster';
import { ToastComponent } from 'angular2-toaster/angular2-toaster';
import { ToasterModule } from 'angular2-toaster';
import {BrowserAnimationsModule} from '@angular/platform-browser/animations';
import { RouterOutlet, RouterModule } from '@angular/router';

@NgModule({
  imports: [BrowserAnimation

[2017-08-12 06:54] geoHeil opened #1861 "[question] handling of configuration"
How should static configuration i.e. an URL for a backend API be handled?
The webpack configuration seems to include a dev/prod setup where the port/and url is injected. Should I simply add a property there for the backend API URL? If yes, then how can it be accessed later on in the angular application code?

[code]

# edit
I found https://github.com/AngularClass/angular-starter/wiki/How-to-pass-e

[2017-08-12 12:04] #1861 closed

[2017-08-12 19:08] artbelikov commented on #1859
+1 Also have this issue

[2017-08-12 23:25] Uter1007 commented on #1805
I think we can close this issue, I had the same error in the past.

[2017-08-13 02:01] Uter1007 opened #1862 "Problem with Apollo and AOT"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

I am not quite sure if h

[2017-08-13 07:50] Womballs commented on #1859
Same, no fix yet ?

[2017-08-13 16:22] shlomiassaf commented on #1860
@IAMtheIAM It doesn't really have to be in `vendor.browser.ts` to be part of the webpack process.

The vendor file was the place to put all vendors that you want to have put in the vendors chunk (bundle).

Without it webpack will still load all the vendor files since they are referenced (import X from Y) inside modules, so each reference is a place for webpack to add that vendor to the bundle.

I

[2017-08-13 19:31] vadjs commented on #1785
@gdi2290 Any ideas how to fix it?

[2017-08-13 19:39] #1805 closed

[2017-08-14 08:08] Naono commented on #1844
I have this problem too.

[2017-08-14 16:21] IAMtheIAM commented on #1860
@shlomiassaf Thanks for the explanations. I thought the vendors files would be loaded from the `import X from Y` statements, glad you confirmed.

[2017-08-14 16:21] #1860 closed

[2017-08-15 04:07] gdi2290 commented on #1859
can someone make a PR for this?

[2017-08-15 04:11] gdi2290 commented on #1862
do you have `apollo-client` installed?

[2017-08-15 16:06] diegohdez90 commented on #1859
Hi. I have an issue like this. In my console show me this https://gist.github.com/diegohdez90/76d0b6a0a85e0bd796814822c8686eb8.
Check out in the line 12.
My application is running at `http://localhost:3000`

[2017-08-15 16:50] ohadinho commented on #1859
Same here.

[2017-08-15 16:59] #1859 closed

[2017-08-15 21:48] jlares opened #1865 "Cannot use any 'scroll-to-anchor' functionality via any npm module."
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I would like to know how w

[2017-08-16 00:36] lohiarahul commented on #1721
Following

[2017-08-16 02:19] shlomiassaf commented on #1721
This is not how it should be done, the setup will cause a lot of headaches.
It assumes the same webpack configuration for all projects, importing types is a nightmare and optimization from webpack will be a problem... really don't do it that way.

A package should be properly bundled and compiled and then consumed from a repository (npm) or github (release based)  using a proper build, [this is ho

[2017-08-16 03:11] ljylhm opened #1866 "I can't install webDriver because of "Failed to make Github request, rate limit reached.""
I cloned the progress justnow,but when i did install,i got the "Failed to make Github request, rate limit reached" ,how can i do??

[2017-08-16 07:02] Uter1007 commented on #1862
yes sure ;) like I mentioned everything runs smoothly except of the AOT build task.

[2017-08-16 07:13] mrdulin commented on #456
[code]

[2017-08-16 08:30] akyanm opened #1867 "Aot packaging sucess in windows but error in Centos7"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ *] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current

[2017-08-16 09:08] akyanm commented on #1867
package.json is same with version 4.1
when I use cmd 'npm run build:prod' in Centos7 , error as follow:
 92% chunk asset optimizationsh: line 1: 24188 Killed                  npm run webpack -- --config config/webpack.prod.js --progress --profile --bail
npm ERR! code ELIFECYCLE
npm ERR! errno 137
npm ERR! angular-starter@6.0.0 build:prod: `npm run clean:dist && npm run webpack -- --config config/w

[2017-08-16 09:13] akyanm commented on #1867
package.json  as follow:

{
  "name": "angular-starter",
  "version": "6.0.0",
  "description": "An Angular Webpack Starter kit featuring Angular (Router, Http, Forms, Services, Tests, E2E, Coverage), Karma, Protractor, Jasmine, Istanbul, TypeScript, and Webpack by AngularClass",
  "keywords": [
    "angular",
    "angular2",
    "angular4",
    "webpack",
    "typescript"
  ],
  "author": "Patric

[2017-08-17 00:20] lohiarahul commented on #1721
Anything on this? Trying to make it work too.

[2017-08-17 00:21] lohiarahul commented on #1721
@maciejtreder could you find a way to get around it?

[2017-08-17 02:19] #1867 closed

[2017-08-17 04:23] lohiarahul commented on #1721
All the modules that were supposed to be different npm packages are a part of the same code base. Also there is a lot of gulp tasks involved. How is this better?

[2017-08-17 05:35] singhmohancs commented on #353
@Phmager Thank you for a solution. Resolved issue.

[2017-08-17 10:25] shlomiassaf commented on #1721
This is how packages are built.

Look at the way the angular team builds their packages... angular core,common, http etc...

All in the same repo.

[2017-08-17 10:27] shlomiassaf commented on #1721
This is an advanced scenario that requires knowledge in webpack and TypeScript.

More specifically how to configure webpack aliases properly and how to configure TypeScript paths properly

[2017-08-18 11:40] rkolec commented on #1818
I'm getting the same error. Any update on that ?

[2017-08-19 20:37] iggirex commented on #1036
I second brunodevesa

[2017-08-21 16:46] tamtakoe opened #1868 "TSLint: non-arrow functions are forbidden (only-arrow-functions)"
I tryed to move my code into the AngularStarter project and seen great mistake highlighting in the WebStorm
`TSLint: non-arrow functions are forbidden (only-arrow-functions)`

The first think which I caught was "Guys, are you OK?". I hope it was stupid mistake which you missed. Change, please linter settings to more adequate :-)

AngularStarter 6.0.0

[2017-08-21 17:00] tamtakoe commented on #1868
Also
`TSLint: Expected property shorthand in object literal ('{headers}'). (object-literal-shorthand)`
`TSLint: Parentheses are required around the parameters of an arrow function definition (arrow-parens)`

This is strange situation if you allow shorthand in one place and disallow in other one

[2017-08-22 06:59] tamtakoe commented on #1868
Also
`TSLint: trailing whitespace (no-trailing-whitespace)`
can't be useful  because IDEAs adds spaces automatically when you create empty string

[2017-08-22 08:47] tamtakoe commented on #1868
`TSLint: block is empty (no-empty)`
`public ngOnInit() {}` can be empty or not?

[2017-08-22 09:48] didlich commented on #1727
Is there a PR?
I didn't found it.

[2017-08-22 12:36] rkolec commented on #1721
Possible workaround is to create a small lazy loaded 'wrapper' module that imports module from node_modules.

[2017-08-22 13:26] thinkingmedia commented on #1727
@didlich no, sorry. I forgot.

[2017-08-22 14:31] gplume opened #1870 "Since Angular 4.3.4 app.component.scss is ignored"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

Bug in Angular itself, what do you think?

* **What is the current behavior?**

Styles in `app.component.scss` are ignored since Angular version 4.3.4 ONLY in `build:dev` **not with AOT or JIT prod compiling.**

* **Wha

[2017-08-23 07:01] AKlaus commented on #1846
## Bug
A follow-up issue on the `AngularClass/angular-starter + MDC-Web` integration.
The described above solution worked well at the time, but since a new version of [MDC](https://github.com/material-components) was released, it generates the following compilation error:
[code]

## Steps to reproduce

1. Have a clean `AngularClass/angular-starter`
1. Install  [material-components-web](https://git

[2017-08-23 09:00] CapB1ack opened #1871 "Fullstack with this starter kit (MEAN)"
**Hello!**
I would like to use this starter in fullstack proj. But i have no idea, where to start. Maybe someone already have a boilerplate for MEAN app, and can share it? :)

[2017-08-25 10:08] AnimaMundi commented on #1818
I'm also getting this error, but I'm not using this project so this bug report is in the wrong place. Not sure exactly where it should go yet, but it could be related to Angular CLI or Webpack itself.

[2017-08-26 08:21] gr8den opened #1873 "BrowserAnimationsModule + HMR = multiple <app> tags"
* **I'm submitting a ...**
[*] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
Previous `<app>` tag don't remove from DOM after HMR when use `BrowserAnimationsModule`

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**
1. add `import { BrowserAnimatio

[2017-08-28 08:20] brookman opened #1874 "Wiki page "How to include Material" is outdated"
Whe wiki page [How to include Material](https://github.com/AngularClass/angular-starter/wiki/How-to-include-Material) seems to be outdated.

- Importing "MaterialModule" is deprecated

[2017-08-28 09:31] almothafar commented on #1686
@gdi2290 may you give us what the progress for "Universal-rendering"? also what the different between this and "Server-side-rendering" I thought the both are the same, isn't? as I know "Universal" is the server side rendering.

[2017-08-28 14:47] mbonig commented on #1873
Seeing same issue. Would like a resolution, cause the BrowserAnimationsModule is less important than a nice HMR setup in dev.

[2017-08-28 15:50] maxisam commented on #1686
@almothafar it is actually called PatrickJS rendering, but yes, Universal-rendering is Server-side-rendering.

[2017-08-28 21:46] mica16 commented on #1797
@hariskabiljagic I do exactly like you described.
Do you still use this workaround (dealing with a _components.scss file)?

[2017-08-29 07:01] hariskabiljagic commented on #1797
@mica16 Hi! Yes, I am doing it the same way still.

[2017-08-29 08:17] klihelp commented on #1686
@gdi2290 Woudn't be easier to let github community help on project's updates on early stage? It's a few months you are implementing the ideas, probably by yourself between your work.

[2017-08-30 09:42] wronskiPrzemyslaw commented on #1724
I have excatly the same problem. Did somebody resolve this problem? I am unable to load third party libraries like jquery, datepicker etc. to the karma tests.

[2017-08-30 11:20] wronskiPrzemyslaw commented on #1724
Ok i just added my third party librarires files in karma.conf.js like that:
files: [
      { pattern: './node_modules/jquery/dist/jquery.min.js' },
      { pattern: './node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' },
      { pattern: './node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pl.min.js '},
      { pattern: './node_modules/bootstrap-timepicker/js

[2017-08-30 15:23] imsarvesh commented on #626
try using LTS version of Nodejs instead of current version.

[2017-08-31 08:11] fahadrehman commented on #456
for me, it was fixed after clearing the browser cache

[2017-09-01 07:11] AKlaus commented on #1439
Currently, I experience a similar issue. When I replace a reference to a file
from relative to the current folder: `import { MatterListModel }	from '../models';`
to relative to the root: `import { MatterListModel }	from 'app/models';`
I get error:
[code]
In the "Process Monitor" I could clearly see that the path is attempting to be resolved into the following:

1. `node_modules/app/models` (_faile

[2017-09-01 19:53] m98 commented on #1870
What's your build script?

[2017-09-02 04:26] AKlaus commented on #1846
Closing. MDC v0.19.0 resolves versioning problems.

[2017-09-02 04:26] #1846 closed

[2017-09-02 07:51] gdi2290 commented on #1873
the hmr version was outdated. I'll push up the changes

[2017-09-02 07:53] gdi2290 commented on #1873
fixed via https://github.com/AngularClass/angular-starter/commit/599b71fdbdbc790524985a409ac7a108b9bddb6b

[2017-09-02 07:53] #1873 closed

[2017-09-02 08:06] gdi2290 commented on #1850
thanks, the repo has been updated to webpack 3

[2017-09-02 08:06] #1850 closed

[2017-09-02 08:07] gdi2290 commented on #1838
thanks, the repo has been updated to webpack 3

[2017-09-02 08:07] #1838 closed

[2017-09-02 08:15] gdi2290 commented on #1814
I'm manually making sure it's always first now so should be fixed
https://github.com/AngularClass/angular-starter/commit/e0288480a072155aafe3266267369695f1ecaf94

[2017-09-02 08:15] #1814 closed

[2017-09-02 08:58] gdi2290 commented on #1808
running `npm run build:aot:prod` manually also removes the removes the compiler just to be sure via
https://github.com/AngularClass/angular-starter/commit/a839cbf7e5c6faef102c2b054916d1efe007a7a3

[2017-09-02 08:58] #1808 closed

[2017-09-02 08:59] gdi2290 commented on #1818
this is a problem with Angular. You need to also setup your tsconfig to work with the alias. If you did that then it's by design by angular and ngc should support this

[2017-09-02 08:59] #1818 closed

[2017-09-02 09:01] gdi2290 commented on #1868
fixed via https://github.com/AngularClass/angular-starter/commit/620f0218c733dea35bb365bcc51c0ff7797be6da

[2017-09-02 09:01] #1868 closed

[2017-09-02 09:06] gdi2290 commented on #1786
I made some changes. can you check again. the difference is AoT vs JIT

[2017-09-02 09:06] #1786 closed

[2017-09-02 09:08] gdi2290 commented on #1604
we need something else to remove the decorators. I'll close this unless you know of a way to remove them or know of a module that will do it

[2017-09-02 09:08] #1604 closed

[2017-09-02 09:09] gdi2290 commented on #1592
just add it to the index.html as you normally would and place your static js in the assets folder

[2017-09-02 09:09] #1592 closed

[2017-09-02 09:13] gdi2290 commented on #1727
I removed it here https://github.com/AngularClass/angular-starter/commit/54f2d1317af5638f2c45cdf74777126795288347

[2017-09-02 09:13] #1727 closed

[2017-09-02 09:24] gdi2290 commented on #968
updates will be in the same issue here https://github.com/AngularClass/angular-starter/issues/1686

[2017-09-02 09:24] #968 closed

[2017-09-02 09:25] gdi2290 commented on #1686
I'm updating the repo and cleaning up the PRs/Issues before merging everything

[2017-09-02 09:26] gdi2290 commented on #1708
it's only meant as an example

[2017-09-02 09:26] #1708 closed

[2017-09-02 09:27] gdi2290 commented on #1703
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:27] #1703 closed

[2017-09-02 09:27] gdi2290 commented on #275
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:27] #275 closed

[2017-09-02 09:27] gdi2290 commented on #286
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:27] #286 closed

[2017-09-02 09:27] gdi2290 commented on #412
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:27] #412 closed

[2017-09-02 09:28] gdi2290 commented on #489
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:28] #489 closed

[2017-09-02 09:30] gdi2290 commented on #489
I added Boolean(history.pushState) === false

[2017-09-02 09:30] gdi2290 commented on #568
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:30] #568 closed

[2017-09-02 09:30] gdi2290 commented on #586
updates will go here
https://github.com/AngularClass/angular-starter/issues/1686

[2017-09-02 09:30] #586 closed

[2017-09-02 09:31] gdi2290 commented on #495
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #495 closed

[2017-09-02 09:31] gdi2290 commented on #504
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #504 closed

[2017-09-02 09:31] gdi2290 commented on #512
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #512 closed

[2017-09-02 09:31] gdi2290 commented on #474
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #474 closed

[2017-09-02 09:31] gdi2290 commented on #361
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #361 closed

[2017-09-02 09:31] gdi2290 commented on #499
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:31] #499 closed

[2017-09-02 09:32] gdi2290 commented on #457
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] #457 closed

[2017-09-02 09:32] gdi2290 commented on #523
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] #523 closed

[2017-09-02 09:32] gdi2290 commented on #570
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] #570 closed

[2017-09-02 09:32] gdi2290 commented on #544
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] #544 closed

[2017-09-02 09:32] gdi2290 commented on #496
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] gdi2290 commented on #425
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:32] #425 closed

[2017-09-02 09:33] gdi2290 commented on #508
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:33] #508 closed

[2017-09-02 09:33] gdi2290 commented on #557
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:33] #557 closed

[2017-09-02 09:33] gdi2290 commented on #599
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:33] #599 closed

[2017-09-02 09:33] saevae commented on #496
the fuck dude

[2017-09-02 09:33] gdi2290 commented on #533
sorry this may sound super rule but I'm closing long standing issues and refactoring the codebase. If you run into this problem again feel free to open another issue

[2017-09-02 09:33] #533 closed

[2017-09-02 09:35] gdi2290 commented on #496
this was fixed awhile ago via
[code]

[2017-09-02 09:35] #496 closed

[2017-09-02 09:36] #571 closed

[2017-09-02 09:36] gdi2290 commented on #1871
I'll be adding this to feature in the update issue here
https://github.com/AngularClass/angular-starter/issues/1686

[2017-09-02 09:36] #1871 closed

[2017-09-02 09:41] gdi2290 commented on #1597
as mentioned you can do this already with the index.html file

[2017-09-02 09:41] #1597 closed

[2017-09-02 09:43] gdi2290 commented on #1854
you need to include your script after jquery and run them

[2017-09-02 09:43] #1854 closed

[2017-09-02 09:44] gdi2290 commented on #1851
I'll be adding auto dll soon

[2017-09-02 09:44] #1851 closed

[2017-09-02 09:44] gdi2290 commented on #1843
this should be fixed already

[2017-09-02 09:44] #1843 closed

[2017-09-02 09:45] gdi2290 commented on #1844
for IE you need more polyfills

[2017-09-02 09:45] #1844 closed

[2017-09-02 09:46] gdi2290 commented on #1812
this should be fixed

[2017-09-02 09:46] #1812 closed

[2017-09-02 09:46] gdi2290 commented on #1807
we need a way to remove the decorators but other then that it's by design

[2017-09-02 09:46] #1807 closed

[2017-09-02 09:46] saevae commented on #1844
OMFG

[2017-09-02 09:48] gdi2290 commented on #1874
I'll be updating this and removing the branch

[2017-09-02 09:48] #1874 closed

[2017-09-02 09:51] #1817 closed

[2017-09-02 09:51] #1809 closed

[2017-09-02 09:51] #1806 closed

[2017-09-02 09:52] gdi2290 commented on #1810
I'm going to be redoing the repo so you can create another issue if this is still a problem

[2017-09-02 09:52] #1810 closed

[2017-09-02 09:52] gdi2290 commented on #1792
depending on if I can get this to work again I might remove it and protractor all together in a refactor then we can write docs about adding it

[2017-09-02 09:52] #1792 closed

[2017-09-02 09:53] #1791 closed

[2017-09-02 09:54] gdi2290 commented on #1785
I'm going to redo the repo so if you run into the same error feel free to create another issue

[2017-09-02 09:54] #1785 closed

[2017-09-02 09:55] gdi2290 commented on #1847
you would need to look up oh how to use it with webpack or find an angular integration

[2017-09-02 09:55] #1847 closed

[2017-09-02 09:55] gdi2290 commented on #1821
I'll be redoing lazy loading a bit so it's easier to work with

[2017-09-02 09:55] #1821 closed

[2017-09-02 09:56] gdi2290 commented on #1748
when I redo the repo I'll make sure to add this like the cli

[2017-09-02 09:56] #1748 closed

[2017-09-02 09:56] #1752 closed

[2017-09-02 09:56] #1738 closed

[2017-09-02 09:56] gdi2290 commented on #1735
I'm going to simplify everything again

[2017-09-02 09:56] #1735 closed

[2017-09-02 09:57] #1614 closed

[2017-09-02 09:57] gdi2290 commented on #1614
yeah sounds good

[2017-09-02 09:57] #1612 closed

[2017-09-02 09:57] #1588 closed

[2017-09-02 09:58] #1551 closed

[2017-09-02 09:58] #1555 closed

[2017-09-02 09:58] #1556 closed

[2017-09-02 09:58] #1540 closed

[2017-09-02 09:58] #1554 closed

[2017-09-02 09:58] #829 closed

[2017-09-02 09:59] gdi2290 commented on #630
for updates on this follow this issue. I'll have a section for deployment that everyone can help me with
https://github.com/AngularClass/angular-starter/issues/1686

[2017-09-02 09:59] #630 closed

[2017-09-02 09:59] #617 closed

[2017-09-02 09:59] #615 closed

[2017-09-02 10:00] #618 closed

[2017-09-02 10:00] #661 closed

[2017-09-02 10:00] #683 closed

[2017-09-02 10:00] #663 closed

[2017-09-02 10:00] #628 closed

[2017-09-02 10:00] #995 closed

[2017-09-02 10:01] #991 closed

[2017-09-02 10:01] #821 closed

[2017-09-02 10:01] #839 closed

[2017-09-02 10:01] #853 closed

[2017-09-02 10:01] #857 closed

[2017-09-02 10:01] #871 closed

[2017-09-02 10:01] #874 closed

[2017-09-02 10:01] #887 closed

[2017-09-02 10:01] #897 closed

[2017-09-02 10:01] #910 closed

[2017-09-02 10:01] #913 closed

[2017-09-02 10:01] #921 closed

[2017-09-02 10:01] #923 closed

[2017-09-02 10:01] #924 closed

[2017-09-02 10:01] #931 closed

[2017-09-02 10:01] #945 closed

[2017-09-02 10:01] #950 closed

[2017-09-02 10:01] #960 closed

[2017-09-02 10:01] #961 closed

[2017-09-02 10:01] #969 closed

[2017-09-02 10:01] #975 closed

[2017-09-02 10:01] #983 closed

[2017-09-02 10:01] #990 closed

[2017-09-02 10:01] #994 closed

[2017-09-02 10:01] #996 closed

[2017-09-02 10:01] #668 closed

[2017-09-02 10:01] #669 closed

[2017-09-02 10:01] #722 closed

[2017-09-02 10:01] #725 closed

[2017-09-02 10:01] #728 closed

[2017-09-02 10:01] #730 closed

[2017-09-02 10:01] #751 closed

[2017-09-02 10:01] #759 closed

[2017-09-02 10:01] #779 closed

[2017-09-02 10:01] #820 closed

[2017-09-02 10:02] #1011 closed

[2017-09-02 10:02] #1015 closed

[2017-09-02 10:02] #1019 closed

[2017-09-02 10:02] #1025 closed

[2017-09-02 10:02] #1039 closed

[2017-09-02 10:02] #1044 closed

[2017-09-02 10:02] #1052 closed

[2017-09-02 10:02] #1054 closed

[2017-09-02 10:02] #1056 closed

[2017-09-02 10:02] #1063 closed

[2017-09-02 10:02] #1067 closed

[2017-09-02 10:02] #1114 closed

[2017-09-02 10:02] #1118 closed

[2017-09-02 10:02] #1122 closed

[2017-09-02 10:02] #1124 closed

[2017-09-02 10:02] #1127 closed

[2017-09-02 10:02] #1149 closed

[2017-09-02 10:02] #1156 closed

[2017-09-02 10:02] #1157 closed

[2017-09-02 10:02] #1159 closed

[2017-09-02 10:02] #1170 closed

[2017-09-02 10:02] #1175 closed

[2017-09-02 10:02] #1207 closed

[2017-09-02 10:02] #1208 closed

[2017-09-02 10:02] #1210 closed

[2017-09-02 10:02] #1212 closed

[2017-09-02 10:02] #1224 closed

[2017-09-02 10:02] #1232 closed

[2017-09-02 10:02] #1234 closed

[2017-09-02 10:02] #1238 closed

[2017-09-02 10:02] #1245 closed

[2017-09-02 10:03] #1248 closed

[2017-09-02 10:03] #1249 closed

[2017-09-02 10:03] #1255 closed

[2017-09-02 10:03] #1264 closed

[2017-09-02 10:03] #1269 closed

[2017-09-02 10:03] #1273 closed

[2017-09-02 10:03] #1286 closed

[2017-09-02 10:03] #1303 closed

[2017-09-02 10:03] #1306 closed

[2017-09-02 10:03] #1310 closed

[2017-09-02 10:03] #1311 closed

[2017-09-02 10:03] #1328 closed

[2017-09-02 10:03] #1364 closed

[2017-09-02 10:03] #1368 closed

[2017-09-02 10:03] #1370 closed

[2017-09-02 10:03] #1373 closed

[2017-09-02 10:03] #1375 closed

[2017-09-02 10:03] #1377 closed

[2017-09-02 10:03] #1379 closed

[2017-09-02 10:03] #1383 closed

[2017-09-02 10:03] #1392 closed

[2017-09-02 10:03] #1393 closed

[2017-09-02 10:03] #1399 closed

[2017-09-02 10:03] #1403 closed

[2017-09-02 10:03] #1410 closed

[2017-09-02 10:03] #1411 closed

[2017-09-02 10:03] #1417 closed

[2017-09-02 10:03] #1424 closed

[2017-09-02 10:03] #1425 closed

[2017-09-02 10:03] #1429 closed

[2017-09-02 10:03] #1439 closed

[2017-09-02 10:03] #1441 closed

[2017-09-02 10:03] #1444 closed

[2017-09-02 10:03] #1458 closed

[2017-09-02 10:03] #1460 closed

[2017-09-02 10:03] #1463 closed

[2017-09-02 10:03] #1468 closed

[2017-09-02 10:03] #1472 closed

[2017-09-02 10:03] #1482 closed

[2017-09-02 10:03] #1484 closed

[2017-09-02 10:03] #1488 closed

[2017-09-02 10:03] #1505 closed

[2017-09-02 10:03] #1506 closed

[2017-09-02 10:03] #1509 closed

[2017-09-02 10:03] #1529 closed

[2017-09-02 10:03] #1533 closed

[2017-09-02 10:03] #1535 closed

[2017-09-02 10:03] #1546 closed

[2017-09-02 10:03] #1549 closed

[2017-09-02 10:03] #1558 closed

[2017-09-02 10:03] #1560 closed

[2017-09-02 10:03] #1564 closed

[2017-09-02 10:03] #1565 closed

[2017-09-02 10:03] #1566 closed

[2017-09-02 10:03] #1570 closed

[2017-09-02 10:03] #1571 closed

[2017-09-02 10:03] #1573 closed

[2017-09-02 10:03] #1574 closed

[2017-09-02 10:03] #1578 closed

[2017-09-02 10:03] #1580 closed

[2017-09-02 10:03] #1587 closed

[2017-09-02 10:03] #1589 closed

[2017-09-02 10:03] #1590 closed

[2017-09-02 10:03] #1591 closed

[2017-09-02 10:03] #1593 closed

[2017-09-02 10:03] #1594 closed

[2017-09-02 10:03] #1607 closed

[2017-09-02 10:03] #1609 closed

[2017-09-02 10:03] #1616 closed

[2017-09-02 10:03] #1621 closed

[2017-09-02 10:03] #1631 closed

[2017-09-02 10:03] #1645 closed

[2017-09-02 10:03] #1647 closed

[2017-09-02 10:03] #1648 closed

[2017-09-02 10:03] #1649 closed

[2017-09-02 10:03] #1650 closed

[2017-09-02 10:03] #1654 closed

[2017-09-02 10:03] #1655 closed

[2017-09-02 10:03] #1657 closed

[2017-09-02 10:03] #1660 closed

[2017-09-02 10:03] #1663 closed

[2017-09-02 10:03] #1666 closed

[2017-09-02 10:03] #1669 closed

[2017-09-02 10:03] #1673 closed

[2017-09-02 10:03] #1688 closed

[2017-09-02 10:03] #1690 closed

[2017-09-02 10:03] #1698 closed

[2017-09-02 10:03] #1700 closed

[2017-09-02 10:03] #1710 closed

[2017-09-02 10:03] #1713 closed

[2017-09-02 10:03] #1720 closed

[2017-09-02 10:03] #1721 closed

[2017-09-02 10:03] #1722 closed

[2017-09-02 10:04] gdi2290 commented on #1737
seems like everyone is doing it. I might do so in a refactor

[2017-09-02 10:04] #1737 closed

[2017-09-02 10:04] #1723 closed

[2017-09-02 10:04] #1724 closed

[2017-09-02 10:04] #1733 closed

[2017-09-02 10:04] #1741 closed

[2017-09-02 10:04] #1746 closed

[2017-09-02 10:04] #1751 closed

[2017-09-02 10:04] #1764 closed

[2017-09-02 10:04] #1767 closed

[2017-09-02 10:04] #1783 closed

[2017-09-02 10:04] #1797 closed

[2017-09-02 10:04] #1800 closed

[2017-09-02 10:04] #1802 closed

[2017-09-02 10:04] #1819 closed

[2017-09-02 10:04] #1820 closed

[2017-09-02 10:04] #1822 closed

[2017-09-02 10:04] #1827 closed

[2017-09-02 10:04] #1840 closed

[2017-09-02 10:04] #1855 closed

[2017-09-02 10:04] #1856 closed

[2017-09-02 10:04] #1857 closed

[2017-09-02 10:04] #1862 closed

[2017-09-02 10:04] #1865 closed

[2017-09-02 10:04] #1866 closed

[2017-09-02 10:04] #1870 closed

[2017-09-02 10:05] gdi2290 commented on #1686
I closed all of the issues since a lot of the issues won't apply to a new setup

[2017-09-02 12:46] vogloblinsky commented on #1370
@gdi2290 Just saw you close this issue.
I have generate an example of outputed documentation for angular-starter if you want to test what's Compodoc can generate : https://compodoc.github.io/angular-starter/

[2017-09-02 14:05] talamaska commented on #1392
does this mean that it won't be fixed somehow? It seems that I just disabled some stuff and now I can see TS in dev tools, I thing it's the coverage stuff

[2017-09-02 15:33] gdi2290 commented on #1392
@talamaska can you make a PR? I was closing issues because I plan on doing a huge refactor of the repo

[2017-09-02 15:35] gdi2290 commented on #1370
Nice, yeah we should use it

[2017-09-02 16:41] MatthewTrout commented on #1844
@gdi2290 IE11 should not require polyfills, would you mind expanding on this?

[2017-09-02 18:10] gdi2290 commented on #1844
here's the polyfill file from the Angular  CLI
[code]

[2017-09-03 03:35] gdi2290 commented on #1870
it's just as you mention in that issue. you need to use a preprocessor to compile the scss into css before angular reads it or bypass angular from handling styles all together

[2017-09-03 09:09] talamaska commented on #1392
I applied the logic from angular2-webpack-starter

[2017-09-03 12:58] rogueRabbit opened #1876 "__decorate is not defined"
All of my configuration files are similar to yours, but I made a mistake while I was at NPM run dev
Uncaught ReferenceError: __decorate is not defined

[2017-09-04 05:03] gdi2290 commented on #1876
check your typescript version

[2017-09-04 05:23] vogloblinsky commented on #1370
@gdi2290 PR created  : https://github.com/AngularClass/angular-starter/pull/1877

[2017-09-05 20:23] vamsi981 opened #1880 "Alternative to add dependencies in the scripts and styles attributes .angular-cli.json"
Where to add 3rd party dependencies files instead of **.angular-cli.json**, i tried importing to **main.bowser.ts**  but still unable to load the files

[2017-09-07 19:43] stuartaccent commented on #1867
Hi @akyanm, did you find what the issue was as seeing the same thing

Thanks
Stu

[2017-09-08 18:31] Uter1007 commented on #1862
hmm why are all tickets closed ?

[2017-09-08 18:37] gdi2290 commented on #1862
this was a issue with apollo-angular and not this repo

[2017-09-08 18:39] gdi2290 commented on #1880
can you explain in more detail what you're trying to do with 3rd party dependencies?

[2017-09-09 05:25] vamsi981 commented on #1880
For Example if you see [https://l-lin.github.io/angular-datatables/#/getting-started](Angular Datatables), for setup styles and Scripts are refereed in cli.json, but in angular-starter i am unable to find cli.json

[2017-09-10 09:56] vincent-cm opened #1882 "useHash: Boolean(history.pushState) === false made hash disappear."
In the previous build I wrote the assets directory in DOM as “/assets/img/...”.  Then the browser navigate correctly to my assets folder under /src/

But after pull the new commits probably changes to config folder. The assets cannot be found due to “/assets/img/...” interpreted to “/app/assets/img/”
 http://0.0.0.0:8080/app/assets/ 404 not found
Below is my folder settings

[code]

[2017-09-11 09:54] vincent-cm commented on #1882
https://github.com/AngularClass/angular-starter/issues/489

[2017-09-11 15:25] nhutcorp commented on #1686
I had used this starter to build a MEAN project with Admin section, Site frontend, Restful API separated.
![MEAN 2](https://nhutcorp.com/static/images/product/upload/thumb_mean2banner2_1504855702031.png)
1. [About MEAN 2](https://nhutcorp.com/product/mean-2-fullstack-solution-with-angular-4-and-typescript-59b0f213512c3a2f48d5ad34)
1. [Demo Admin Login](http://meancp.sendvn.com/)

[2017-09-11 17:44] klihelp commented on #1686
I kept checking back for an update since april, I should trust the notification system

[2017-09-12 08:54] tuannn0107 commented on #570
I have issue that:
- i put my .js file into assets folder.
- i config at angular-cli.json

But when i routing from one component to another, the .js file did not load. However, i refreshed page (F5) and now the .js file is loaded.

Could someone can explain to me why? It so inconvenience for me.

[2017-09-12 12:27] ewild commented on #926
I think I know why this happens. I created a component using the Angular CLI and then tried to created another component in the original folder. My ng lines looked like:

ng g c WorkersCompCode
ng g c workers-comp-code/LaborRole <<< Bad

I tried to add the new component to the filesystem folder. This jacked it up. When I redid the sub component like below it worked fine:

ng g c WorkersCompCode/La

[2017-09-14 07:13] haisumkundi commented on #926
Resolved it,
what i was doing:
import { ABC } from './guards/ABC'

what resolved the issue:
import { ABC } from './guards/abc'

the name of the file where i had defined ABC was 'abc' where as i was using 'ABC' in import.
Hope it helps

[2017-09-14 17:52] IAMtheIAM opened #1883 "How does Title Service work?"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

It appears that Title Service doesn't do anything? It is imported into the constructor

[2017-09-15 09:44] akashbiz commented on #1722
@kamil-kielczewski  @colinskow Can I enable AoT for dev build too?

[2017-09-15 10:42] colinskow commented on #1722
@akashbiz no, AoT does not allow HMR or incremental rebuilds, compiles slow, and is much harder to debug.

[2017-09-15 10:45] kamil-kielczewski commented on #1722
@akashbiz I don't know this is possible or not, however Im interested why you need AoT for dev build?

[2017-09-15 10:53] akashbiz commented on #1722
@colinskow & @kamil-kielczewski , Thanks for your response. @kamil-kielczewski  I want to use AoT for both dev and prod build but for local live server run I want to use the JIT only.
I need AoT for dev because the application I am developing is quite big so it generate large size of main.bundle.js aound 4.6MB which is too large. So I have to start using AoT here onward for dev environment.

Thank

[2017-09-15 11:00] akashbiz commented on #1722
Also can you guide me where can I store the environmental stuff? like, If I am using S3 bucket so where can I define the different bucket names for different environments?

[2017-09-15 11:15] kamil-kielczewski commented on #1722
@akashbiz
Support for env will be in future (I hope) https://github.com/AngularClass/angular-starter/pull/1736

Why 4.6MB is too large?

[2017-09-15 17:13] George02 commented on #1132
Guys, If you use apache you could create a .htaccess file in the root directory of your application and write those line into that file:

`RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.html [L]`

More details here:
https://gist.github.com/RaVbaker/2254618

[2017-09-19 08:35] Shenchuanhuan commented on #926
I also met this problem today.
I solved it by using @luchillo17 's method.
My system is macOS Sierra 10.12.6

[2017-09-19 12:37] luchillo17 commented on #926
@Shenchuanhuan Nice :smile:.

[2017-09-20 18:24] kamaral75 commented on #626
We had the same issue. To solve it, we upgraded the version of Node.

[2017-09-21 03:52] vamsi981 opened #1885 "Is there any Plans to include Breadcrumb in future?"
is there any Road Map plans to include breadcrumb

[2017-09-21 06:23] akashbiz opened #1886 "npm run build:aot - Error in bail mode"
I am trying to build for production aith AoT but its giving an error like it couldn't find my common service model module which is common module for my web and mobile.
Directory structure:
Common > model > service-model.module.ts
web > src > app > app.module.ts > import { ServiceModelModule } from '../../../common/model/service-model.module';

[at-loader] Checking finished with 1 errors
Error in b

[2017-09-21 06:43] akashbiz commented on #1810
@gdi2290 when will that new repo will be available? I am facing error when making AoT build when I import a module from common folder outside of src.
Any idea why AoT doesn't handle the modules loaded from outside folder?

[2017-09-23 04:06] kzc opened #1887 "package.json using wrong version of uglifyjs-webpack-plugin"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the current behavior?**

[`package.json`](https://github.com/AngularClass/angular-starter/blob/7ad31370e10e85734f10c87a4d856d93f2ab53d4/package.json#L154) is using the `0.4.6` version of `uglifyjs-webpac

[2017-09-25 06:19] krojew commented on #993
Can this be reopened? I'm having the same error with 4.4.3.

[2017-09-25 08:39] q986872053 opened #1888 "url:error"
// true url is "F:\project\codingApp\angular-starter-5.2.0\compiled\src\app\build_law_file_module\index.module.ngfactory";

            //   { path: 'newFile', loadChildren: './../build_law_file_module/index.module#BuildLawFileModule' },
            // F:\project\codingApp\angular-starter-5.2.0\compiled\src\build_law_file_module\index.module.ngfactory doesn't exist

            //   { path: 'newFi

[2017-09-25 09:08] colinskow commented on #1885
Pull request welcome, just keep it as simple as possible.

[2017-09-25 09:13] colinskow opened #1889 "@ngrx 4 integration?"
[@ngrx](https://github.com/ngrx/platform) has become the golden standard for state management in Angular. This project is simple enough that it's not necessary, but it can be tricky to integrate correctly with HMR.

I've got it working perfectly in [angular-electron-dream-starter](https://github.com/colinskow/angular-electron-dream-starter). If you are interested @gdi2290 I can make a pull request

[2017-09-25 16:34] Angelo510 opened #1890 "ng-bootstrap not working"
Hello,

I have just cloned the repo and add ng-bootstrap using ```npm install --save @ng-bootstrap/ng-bootstrap```.
But bootstrap is not working while I put just simple classes like ```container``` and ```col-sm-4```.
I have configured which is guided on https://github.com/ng-bootstrap/ng-bootstrap but it seems bootstrap is not working.
Can you please let me know how to handle this issue?

Thanks.

[2017-09-26 08:21] colinskow commented on #1890
Follow these instructions:
https://github.com/AngularClass/angular-starter#external-stylesheets

[2017-09-26 19:50] nirajrajgor commented on #728
Why there isn't any update for progressive web app on this project?? Did someone tried it?

[2017-09-27 12:38] gplume commented on #1870
--

Of course my sccs is compiled first as it work with `build:aot` for example...
I just meant that with `build:dev` `app/component.scss` or `app.component.css` are not loaded when the app starts. My code has to be in `assets/style.scss` to be read before the app is loaded. And why does it has changed since Angular `4.3.4` ?

[2017-09-27 12:40] JerinJ opened #1892 "Nested Routing is not working"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?** BUG

* **What is the curre

[2017-09-27 13:01] duluca commented on #1004
It's easy to miss the correct solution in the thread. @eamell solution of adding `RouterTestingModule` is the correct one. More details can be found at https://github.com/mrholek/CoreUI-Free-Bootstrap-Admin-Template/issues/202#issuecomment-316686130

[2017-09-27 15:42] IAMtheIAM commented on #1169
Can anyone recommend a good high level overview of when and why and how to use ngRx vs a simple appState implementation such as in this repo?

As well as a good "How To" use ngRx?

[2017-09-28 19:46] Kaffiend opened #1893 "IE 11 Object doesn't support property or method 'assign'"
[* ] bug report

* **What is the current behavior?**
does not load in IE 11 after refresh. It only works for the initial load with `npm start`

* **What is the expected behavior?**
Load in IE 11 with refresh

- Angular version: 4.4.3
- Browser: IE 11
I've loaded the es6 polyfills and still doesnt work.

* **Other information** (e.g. detailed explanation, stacktraces, related issues, suggestions ho

[2017-10-02 13:42] craigsnyders opened #1894 "Make use of @angular/cli build optimizer"
* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
Although the project uses AOT, I don't believe it's making use of the new `--build-optimizer` option

* **What is the motivation / use case for changing the behavior?**
Reduce overall module size for AOT and prod builds

* **Other information**

[2017-10-02 17:49] rabpeter opened #1895 "how to import js plugins like morrisjs?"
I got some problems when I'm using morris js plugins . how to import other js plugins when using this repo  for angular app basic structure?

[2017-10-03 11:02] satya-jugran commented on #576
I started using this repo for my project but unfortunately I have to leave this project, just because of unavailability of Angular Universal. How can this be missed?

[2017-10-03 11:07] maciejtreder commented on #576
@satya-jugran Check out my boiler plate: https://github.com/maciejtreder/angular-universal-serverless

It includes server side rendering, PWA support (with pushes), can be deployed on Serverless environment (ie AWS Lambda) and much more!

[2017-10-03 11:12] FabioAntunes commented on #576
@satya-jugran you can always do a pull request adding that functionality.

[2017-10-03 22:37] spottedmahn commented on #492
new url for [ViewEncapsulation enum](https://angular.io/api/core/ViewEncapsulation)

@joaogarin can you edit your post and I'll delete mine?

[2017-10-03 22:42] spottedmahn commented on #492
[This angular.io doc](https://angular.io/guide/component-styles#view-encapsulation) has some useful info about it.

[2017-10-04 00:32] yzhe554 commented on #1655
@bmayen Can I ask how did you get rid of 'window is undefined' error message with the solution in the stackoverflow link?

[2017-10-04 01:07] bmayen commented on #1655
Would need more information. That error could be caused by any number of things. What does the error stack look like?

[2017-10-04 13:02] devspireRoland commented on #993
This is still very relevant. I'am working with the latest version of angular and I have this all the time:

WARNING in ./node_modules/@angular/core/@angular/core.es5.js
5675:15-102 Critical dependency: the request of a dependency is an expression

If I use the contextreplacement hack the warning is gone - but watch and reload do not work properly anymore. It restarts all the time.

[2017-10-04 17:26] kamil-kielczewski commented on #1686
- [x] environment - done: #1896

[2017-10-05 00:50] A-Roller opened #1897 "Set checkbox state from string value"
This might be a very stupid question but I just can't figure out the right way to do it.
I want to set the initial state of a checkbox based the value of the variable.
The value of the variable is "true" and "false" but its a string, not a boolean so the checkbox as checked on the load even if the variable value is false.

example -
In .html i have  <input type="checkbox" name="isActive" [(ngModel

[2017-10-05 19:25] FDiskas commented on #144
@trkrameshkumar or just
`"verboseDiagnosticLogging": true` against `"trace": true,` :coffee:

[2017-10-05 21:57] sen-yang commented on #1893
I am having the same issue, the page will load fine if i select always refresh from server in the network tab in developer tools. Perhaps ie11 caching is not loading the polyfills correctly.

Although this issue doesn't occur in a fresh project.

[2017-10-05 23:06] sen-yang commented on #1893
Ok i think i solved it.
If you go into webpack.common.js and uncomment the part that says

Specify the correct order the scripts will be injected in
`
      new CommonsChunkPlugin({
        name: ['polyfills', 'vendor'].reverse()
      }),
      new CommonsChunkPlugin({
        name: ['manifest'],
        minChunks: Infinity,
      }),`

this will load the polyfills before main.bundle.js.

[2017-10-06 00:49] Kaffiend commented on #1893
Great find @sen-yang, saves me some time, I haven’t had much time to look into it, with other matters pressing.

Ian Mackie
Lead Developer
Complete System Support, Inc.

From: sen-yang
Sent: Thursday, October 5, 2017 7:06 PM
To: AngularClass/angular-starter
Cc: Ian Mackie; Author
Subject: Re: [AngularClass/angular-starter] IE 11 Object doesn't supportproperty or method 'assign' (#1893)

Ok i think

[2017-10-09 20:20] VictorioBerra opened #1898 "npm run clean:install gives me Access is denied even with an admin command prompt"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current

[2017-10-10 08:28] amumei commented on #1898
Experienced similar behaviour. The reason being that rimraf (located in node_modules) will try to delete & unlink itself. This is a Windows issue as Unix filesystems do not have this limitation.
I found this [rimraf issue](https://github.com/isaacs/rimraf/issues/102) useful.

[2017-10-10 12:13] #1898 closed

[2017-10-11 10:03] qasimraza1979 commented on #1834
This does not solve my problem.....

Please advice should the error below considered as a different issue or its same. I am sure its the same..

Here below is the exact error message that I am receiving when try to link one of myCustom angular component library with my IonicProject.  I am using the following command.
`_ionic-app-scripts build --prod_`

**Error message**
` Error: Error encountered

[2017-10-11 10:11] bobrosoft commented on #1834
@qasimraza1979 sounds as usual AoT issue, not related to that one. Search on internet, there are plenty of info on your issue.

[2017-10-11 10:34] qasimraza1979 commented on #1834
@bobrosoft  i did a lot but haven't got a working solution.

[2017-10-11 11:54] qasimraza1979 commented on #1834
I found the solution and will share here below

placed following two line into the tsConfig.json into the Angular CLI project (in my case my ionic project)

![image](https://user-images.githubusercontent.com/1721866/31439193-9d151952-ae8b-11e7-8352-468e12638bc9.png)

saved my life. It was a tough journey for a month now but nailed it ;-)

[2017-10-12 14:39] lmarcelocc opened #1899 "Add flex-layout"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
No errors are throw but ht flex-layout is not bein

[2017-10-12 15:23] PascalHonegger commented on #1899
I'm currently using this started project together with `"@angular/material": "2.0.0-beta.12"` and `"@angular/flex-layout": "2.0.0-beta.9"` without any problems. Copying your example works as expected (except the colored background as I don't have the css for .containerX .colored .box .nopad). Maybe some part of your CSS is screwing with flexbox in general? If you debug your page withing e.g. Chrom

[2017-10-12 15:37] lmarcelocc commented on #1897
Hi,

I'm not an expert but, can't you do something like this?
[code]

[2017-10-12 15:41] lmarcelocc commented on #1899
Hi,

got what I've done wrong. I'm newbie on this. Since it was a new module, I need to re-import the flex layout on this module....dahh!

Thank you for you help.

[2017-10-12 15:42] #1899 closed

[2017-10-14 06:07] Khawaga commented on #1686
Any updates on this?

[2017-10-14 09:30] itaditya opened #1901 "Update Description"
The description of the repo says webpack v2 but the Readme says Webpack v3 please fix it

[2017-10-14 19:05] gdi2290 commented on #1901
can you make a PR?

[2017-10-14 23:01] SystemR commented on #136
Someone needs to update the wiki entry again since it's no longer working with the current version

[2017-10-15 08:15] keivankashani commented on #570
You can Import js locally to ts file like this : import '../../../scripts/custom.js';

then declare method name in custom.js that you want to use like this 👍
declare var fAlert;
then in a place like ngOnInit directly use this method

fAlert();

[2017-10-15 10:21] bartholomej commented on #1901
@gdi2290 We can't make a PR for this. Only you can change github repo description ;)

[2017-10-16 10:20] gdi2290 commented on #1901
oops my bad. done

[2017-10-16 10:20] #1901 closed

[2017-10-16 11:07] almothafar opened #1902 "String environment variable is undefined in .module.ts files after AoT build"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I want to ask about passing environment variable to module, as for example if I follow this document https://github.com/AngularClass/angular-starter/wiki/How-to-pass-environment-variables%3F
Then tried to user API_URL in

[2017-10-16 15:01] itaditya commented on #1901
Happy to help

[2017-10-17 15:08] kamil-kielczewski commented on #1902
Here is [pull request](https://github.com/AngularClass/angular-starter/pull/1896) which solve problem with ENV variables

[2017-10-17 17:47] BatcherX commented on #570
@keivankashani  As i remember you cant use declare in js .

[2017-10-18 06:21] almothafar commented on #1902
On my version I changed some of the variables to get config from JSON file, as for example to get firebase config, to get title name and so on, it was helpful for dockerization and do the process with dev-test-stage then prod steps.

But the issue for me now is even the environment variable (not the one that I get from JSON) is returning with an object or undefined, anyway, I'll try to move my var

[2017-10-18 10:00] kamil-kielczewski commented on #1902
May be I not understand you well. Do you wanna get access to environment variables during building process? If so, my solution not solve this task - it's only read .env file in browser from server on runtime (on bootstrap - so after build process).

[2017-10-19 10:58] bolota opened #1904 "i18n with build aot"
Hello,

How to use i18n with build aot?
Anyone here? I need a little help pls....

Thx alot

[2017-10-20 07:22] supermarioim commented on #1889
whats with this? it would be really useful to have ngrx included out of the box.

[2017-10-22 18:43] acopalipsis opened #1905 "webpack 3 + options + tsconfig.json"
How to specify the path to tsconfig.json via options in webpack 3 ++?

[code]
I have two configs `tsconfig.json` and `tsconfig.unit.json`. `tskonfig.json` intentionally contains an error. So when compiling, the console displays a message that the error in `tsconfig.unit.json`. Is bug. Error, this is an invalid option for the unit tests `"rootDir": "src"`

[2017-10-24 20:32] mahisha opened #1906 "jQuery(...).tooltip is not a function : jQuery included twice."
* **I'm submitting a ...**
[*] bug report

* **Do you want to request a *feature* or report a *bug*?**
Report a *bug*

* **What is the current behavior?**
In the build : jQuery included in both *bootstrap* and *main* JS bundle files.

* **Steps to reproduce**
Please check this commit : https://github.com/mahisha/angular-starter-bootstrap/commit/6ae501c88371d291f6b4bee07221310c8b5f072d
Repository :

[2017-10-25 11:11] geoHeil opened #1907 "IE 11 not supported"
* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
On Internet explorer 11 javascript is not working properly. When checking out the starter the minimal sample app (here on GitHub) is stuck on Loading ... indicator

* **If the current behavior is a bug, please provide the steps to reproduce and

[2017-10-26 12:12] RAxzon opened #1908 "Angular 4 Tons of [at-loader] Errors"
Hi. When installing Angular with a core project I get tons of these errors when starting the app.
Tried to rewind the Typescript version but still the same error. Feels like I've tried everything.

[HMR] bundle has 1217 errors

   ERROR in [at-loader] ./whatUp/node_modules/zone.js/lib/mocha/mocha.ts:73:33

       TS2683: 'this' implicitly has type 'any' because it does not have a type
annotation.

[2017-10-27 11:39] DanielKucal opened #1909 "How to re-bootstrap Angular Application?"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[X] question about the repository

* **Do you want to request a *feature* or report a *bug*?**
I want to know how to re-bootstrap Angular application, e.g. like shown here: https://github.com/angular/angular/issues/7009
I guess I should change something in `main.browser.ts` and `main.browser.aot.ts`, but I am not sure what and how...

*

[2017-10-27 13:03] randeepnathtr opened #1910 "When I am trying to run npm run server:dev --host abc.com, it is not loading correctly and getting Invalid host address"
We have to connect remote machine to get API access, but unable to connect it via --host
Tried to include angular/cli but it is not working. Could you please help on this

[2017-10-29 13:36] gabrielrb commented on #1910
Hi @randeepnathtr . You're serving your api through http right? Why are you trying to use "npm run" to connect on that API? It's not easier to do a simple http call?

[2017-10-29 13:37] gabrielrb commented on #1906
Hi @mahisha .
Did you followed this tutorial?
https://github.com/AngularClass/angular-starter/wiki/How-to-include-jQuery

[2017-10-29 20:22] maccurt commented on #926
I solved it by using @luchillo17 's method.

[2017-10-30 13:24] howtomake opened #1912 "Push to Bitbucket"
* **I'm submitting a ...**
[ ] question about the decisions made in the repository

i want  push project to bitbucket and follow next step
1. git remote rename origin upstream
2. git remote add origin git@bitbucket.org:howtomake/ticketswidget.git
3. git fetch origin
4. git push -u origin master

end result
**To bitbucket.org:howtomake/ticketswidget.git
 ! [remote rejected] master -> master (shallo

[2017-10-30 13:54] howtomake commented on #1912
https://stackoverflow.com/questions/28983842/remote-rejected-shallow-update-not-allowed-after-changing-git-remote-url

[2017-10-30 13:54] #1912 closed

[2017-10-30 16:38] CodeSaysItBetter commented on #353
Thanks brunolm - Had this problem that solved the problem

[2017-11-01 20:00] Ks89 commented on #1686
Angular 5.0.0 final is out. Do you have any solutions to use Angular 5.0.0 with webpack 3 and AOT plugin?

thank u.

[2017-11-02 00:04] shlomiassaf opened #1913 "[Discussion] Angular 5"
Hi all,

I'm the author of `ngc-webpack` and `ng-router-loader`, 2 libraries used in this repository and now with Angular 5 out we **need input** from you, the community.

Angular 5 has been released and with it **a lot** of internal changes in the compiler.
These are big changed going towards an AOT watch mode support (big big thing).

`ngc-webpack` and `ng-router-loader` are used for AOT compila

[2017-11-02 13:01] vadjs commented on #1913
Hi. I'm front-end(Angular) developer from Moscow and i working in team of ~20 Angular developers in our company has no projects where any of 2 described features used. Also i see no cases in our company when one of this features will be needed.
I hope this information will help to make a choice.

[2017-11-02 13:57] klihelp commented on #1686
Angular 5? for easter?:)

[2017-11-02 13:59] klihelp commented on #1686
Would be nice to update the dependencies to Angular 5 early.

[2017-11-02 19:02] m4xd34th opened #1914 "How to use materialize css framework"
Kindly suggest how to use materialize css framework for creating application

[Materialize](http://materializecss.com/)

[2017-11-03 09:58] d3viant0ne commented on #1913
@shlomiassaf - I upgraded all my stuff this week & it was moderately smooth.

- Be mindful of the API changes for AOT compilation in ngtools
- Idle preload plugin needs an update as OpaqueToken was removed
- There is at least 1 outstanding issue with Material & testing ( will probably effect consumers )

I don't personally hook into the compilation process so no real issue there and i think it mak

[2017-11-03 11:40] vadjs commented on #1914
http://materializecss.com/getting-started.html
Read the manual. Import it like in manual, but in Angular project files instead of index.html.

[2017-11-03 20:06] mustafa5253 opened #1915 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I am facing this issue when trying to run command "npm run server".
I am using ---
Angular CLI: 1.5.0
Node: 6.11.1
OS: win32 ia32
Angular: 4.4.6
... animations, common, compiler, compiler-cli, core, forms
... http, platform-browser, platform-browser-dynamic
... platform-server, router, tsc-wrapped

typescript: 2.2.2
webpack-dev-middleware: 1.12.0
webpack-dev-server: 2.7.1
webpack-dll-bundles-plugi

[2017-11-04 19:58] mustafa5253 commented on #1915
@bartholomej Great!! This works for me. Thanks

[2017-11-04 19:59] mustafa5253 commented on #1915
@bartholomej Great!! This works for me. Thanks

[2017-11-04 19:59] #1915 closed

[2017-11-04 21:19] gabrielrb commented on #1895
i´m watching for the same answer.
i´m trying to import toastr...
i´ve imported it in app.module.ts, but it doesn´t went to the main.bundle.

[2017-11-04 21:52] clundberg1 commented on #993
@devspireRoland I had the same problem as you today after updating to Angular 5. I managed to fix it with this code:

webpack.common.js

`new webpack.ContextReplacementPlugin(
            /(.+)?angular(\\|\/)core(.+)?/,
            root('./src'), // location of your src
            {} // a map of your routes
          ),`

[2017-11-05 04:55] CarlosV89 commented on #1913
Hey guys, developer at Edify Software Consulting from Costa Rica here, we have a couple of angular projects, we do not hook into the compilation process.
My personal vote would have to go to `deprecate them and move to @ngtools while trying to PR the hooks feature`

[2017-11-05 09:17] mahisha commented on #1906
@gabrielrb Thanks for the help. I tried to include null-loader. But the issue is somehow same jQuery.js file is loaded twice. I tried adding some console.log statements and found it is called twice.

I tried with earlier versions of angular-starter along with bootstrap-loader, which was working fine. But with the latest angular-starter + bootstrap-loader, I am getting this error.

Could you please

[2017-11-05 09:17] almothafar commented on #1686
@klihelp I tried many starters, and I only liked this one, this is not really a good place to ask about this, you can see Google and pick one that you like, because we really don't have any idea about what you need, I'm watching notifications for this issue hoping that something new implemented for the list, so don't get me wrong for this comment.

Anyway, this is a starter to save time for you, s

[2017-11-05 09:47] kamil-kielczewski commented on #1686
@gdi2290 i make pull request #1896, one month ago and nothing happens - except one obscure comment you are silent - so I have question for you: **You don't want people to make contributions to your project (angular-starter)** ?

[2017-11-05 11:12] gialang commented on #1132
I got the same issue also with product enviroment.

[2017-11-05 11:32] almothafar commented on #1686
@kamil-kielczewski he asked about something before he can accept, also, rejecting some of the pull requests does not mean he doesn't want for people to contribute!

[2017-11-05 11:59] Khawaga commented on #1686
@klihelp I honestly moved to the Angular CLI.

[2017-11-06 15:35] shlomiassaf commented on #1913
Ok, updates:

I'v refactors the library so now `ngc-webpack` will work with angular 5.

From now, `ngc-webpack` wraps `@ngtools/webpack` which means all feature in `@ngtools/webpack` are supported since its a practically a proxy.

Also, migration from/to `@ngtools/webpack` is seamless as the API is similar.

So, why do we need `ngc-webpack` anyway?

  - Hooking into the compilation process
     Th

[2017-11-06 15:46] shlomiassaf commented on #1913
# Angular 5 Migration steps:

After digging deep to get `ngc-webpack` to support angular 5, here is what I think is required to move the repo to 5:

  - Remove the loaders: `awesome-typescript-loader` and `ngx-router-loader`
  - Use `@ngtools/webpack` as a **ts** loader and `@angular-devkit/build-optimizer/webpack-loader` when compiling AOT (dev and prod)
   - Use `NgcWebpackPlugin` (works with `@

[2017-11-06 18:28] kaitlynekdahl commented on #1238
Worked for me too, but can anyone explain why this is needed? I ran into this issue trying to incorporate preboot with Angular Universal, so I'm not sure why the problem occurred in the first place.

[2017-11-06 18:31] candidosales commented on #1913
@shlomiassaf you have an example of webpack.common.js, webpack.dev.js and webpack.prod.js enable to Angular 5?

[2017-11-06 19:24] shlomiassaf commented on #1913
You can see something rough [here](https://github.com/shlomiassaf/ngc-webpack/blob/master/test/testing/buildConfig/webpack.plugin-full.js) (follow to the base config)

These are all rough configurations, there is still exploration to be done on how the build optimizer works together with the chunks plugin...

[2017-11-06 21:25] colinskow commented on #1913
@shlomiassaf we should also add support for RXJS 5.5 ESM5 operators. This involves adding a simple alias under webpack's `resolve` options as shown here:
(https://github.com/ReactiveX/rxjs/blob/master/doc/lettable-operators.md#build-and-treeshaking)

I'd leave Bazel integration for a future PR once the ecosystem is more stable.

Do you have a PR ready, or should I work on it? My idea was to copy a

[2017-11-07 01:20] shlomiassaf commented on #1913
I have something ready I will try to post tomorrow.

It includes RXJS 5.5 ESM however this is 1 of 2 thing that are currently not working.
The other is AOT watch mode in server dev, it works but it throws on update, probably some incompatibility, I know that the dll bundles plugin will not work in that mode...

I also looked at the CLI source code and followed it for each build type.

Here is a re

[2017-11-07 01:28] shlomiassaf commented on #1913
@gdi2290 we need your input here, are you planning a refactor to tackle the npm scripts issue?
What about managing webpack configurations? do we plan to improve that?

[2017-11-07 06:01] colinskow commented on #1913
@shlomiassaf I've been comparing @angular/cli 1.5.0 to `angular-starter` and there are really only two major features that we have but they don't. (DLLs to speed dev build and HMR, [easy to implement](https://github.com/angular/angular-cli/wiki/stories-configure-hmr)) We've got a lot of cruft and old workarounds that are no longer needed.

It may be easiest to refactor the repo this way:
1) Create

[2017-11-07 07:05] colinskow commented on #1913
@shlomiassaf regarding RXJS ESM alias, make sure you have `ModuleConcatenationPlugin` enabled per the instructions.

[2017-11-07 14:47] asadsahi commented on #1460
@gdi2290 any reason if it was closed? Is there a way to enable sourcemaps for global and component styles?

[2017-11-07 18:29] shlomiassaf commented on #1913
@colinskow copying the setup is not the issue here, managing it is...

The CLI is a closed box, this repo is the opposite, we give the template and people adjust so it should be easy to do so.

About RXJS, might requires some thought
It is a breaking API change, one needs to refactor its whole code base...
this includes moving all usage of patched prototype methods to a functional style `pipe` app

[2017-11-07 19:52] colinskow commented on #1913
@shlomiassaf running `ng eject` turns the CLI into an open box by generating the `webpack.config.js` file so it can be modified. Obviously CLI's build configuration is heavily optimized and based on the experience of the wider Angular community and what works best for the vast majority of developers.

I started working on this repo a year ago because CLI was way behind and this was the best I coul

[2017-11-07 21:21] shlomiassaf commented on #1913
@colinskow we want the same thing... I just tackle it differently.

I say, let's look at the implementation, step by step, and take what we need.
Taking the ejected config gives you a snapshot of a specific build config, that can be:
  - AOT: True / False
  - prod: True / False
** and a lot of other flags, like `--buildOptimization` and more **

They also combine flags to create more states, so yo

[2017-11-07 21:42] colinskow commented on #1913
We have two main build configurations:
1) Development with optional HMR flag (when running on dev server)
2) Production with optional AoT flag, which I feel we should now make default
(`extract-css` should be on for production, defaults are perfect for everything else.)

Since Angular 5 is a breaking change anyway, I think now is a good time to scrap everything and rebuild our webpack configs from

[2017-11-08 02:50] CarlosV89 commented on #1913
I would have to agree with @colinskow, I think this would be a perfect moment to take a step back and take what the CLI gives out and start implementing the things you guys have here that they don't.

The reason I use this repo in the first place is because I was not satisfied with the way the CLI handles webpack config, and I would very much rather do that myself, migrating to a CLI app now would

[2017-11-08 03:39] shlomiassaf commented on #1913
We all agree on the same thing, there is no argument on the outcome, we want to be as close as possible to the CLI.

We discussed on how to get there...

[2017-11-09 13:20] 1antares1 commented on #1913
After I upgraded **ng** to 5 and **ngc-webpack** to 4 (required), the bundling doesn't want to do it anymore.

**parseQuery()** method does not run.

It only reaches _10% 0/2_ and the launch runs, but no module or component was compiled. :(

It has to do with the new options in webpack.common.js to set.

Can someone share their configuration?

Here, mine:
[code]

[2017-11-09 15:02] NathofGod commented on #1913
I started trying to do an upgrade, fixed a few issues then followed some steps from this thread... My build doesn't fail however the app doesn't load and it looks like my main bundle is too small, not sure what I'm missing.

`/**
 * @author: @AngularClass
 */

const webpack = require('webpack');
const helpers = require('./helpers');

/**
 * Webpack Plugins
 *
 * problem with copy-webpack-plugin
 *

[2017-11-09 15:05] shlomiassaf commented on #1913
Hi guys
My mac got yesterday this is why I didn't push the changes.

I got a new one today and I will restore backups and hopefully post it by the weekend or in the weekend

Sent from my iPhone

[2017-11-09 17:01] Torqode commented on #1913
@NathofGod @1antares1  I had the same issue and fixed it by removing the ContextReplacementPlugin for AOT builds.  I also needed to update tsconfig.json to have **noEmit: false**

[2017-11-10 03:54] KhanHamidkhan commented on #570
@keivankashani  Thank you so much it helped me  I have been trying for days but it worked now thank you

[2017-11-10 15:19] kuwas commented on #1913
To fix the deadlock at 10% (or something like that), you need to removed the to-string-loaders and use the raw-loader instead.

Css becomes: `use: ['raw-loader']`
Stylus loader becomes: `use: ['raw-loader' , 'stylus-loader']`
Sass loader becomes: `use: ['raw-loader' , 'sass-loader']`

- - -

Although I dont use this particular project directly, my own build process is very similar to this one (it

[2017-11-13 03:53] LuvinC commented on #1867
How to start compilation using the angular compiler？

[2017-11-13 19:20] nimat-netlinks commented on #665
@haisaco , I have the same problem, did you find any solutions ?

[2017-11-13 19:40] shlomiassaf commented on #1913
Will post a draft PR in a couple of hours, it will be a WIP for some days with your suggestions / fixes

[2017-11-14 04:06] nimatullah commented on #665
@haisaco same here.

[2017-11-14 06:33] deepika-Gopala commented on #456
Removing vendro from commonchunckplugin fixed the issue for me.:) thanks guys!

[2017-11-14 06:49] VSmirnov17 commented on #1913
Is it possible to move to Angular 5 CLI, if your product was used before?

[2017-11-14 08:00] FahadNoorKhan opened #1917 "Colors of footer and header are not visible,google dev tools shows that the color class is implemented but in UI the color is not visible"

[2017-11-14 08:01] #1917 closed

[2017-11-14 09:24] aaron170 commented on #570
@keivankashani Your solution is good ... it works but the problem is that while we build the code and run then we get a ReferenceError. Also that refreshes the page twice while loading. If anyone has faced this issued then please send some solution.
here is the error attached.
![error](https://user-images.githubusercontent.com/19680243/32772403-c0d3e294-c94b-11e7-9e2c-cd30b27ad72e.jpg)

[2017-11-14 09:48] YagoLopez commented on #570
A couple of ideas:

- Try to load the javascript file in index.html using <script> tag (old Way)

- Use require("relative-path-to-js-file")

Good luck

El 14 nov. 2017 10:25 a. m., "Aaron Macwan" <notifications@github.com>
escribió:

@keivankashani <https://github.com/keivankashani> Your solution is good ...
it works but the problem is that while we build the code and run then we
get a ReferenceEr

[2017-11-14 18:08] rcw0086 commented on #1824
What dev dependencies did you update?

[2017-11-14 22:31] shlomiassaf commented on #1913
@VSmirnov17 It is possible for `@ngtools/webpack`.

The `ngc-webpack` is, in most part, a wrapper for `@ngtools/webpack` which preserves the API and just add's some functionality which you probably don't use.

For Angular 4 projects, you will have to makes adjustments like I did in this repo to get to Angular 5 support (see PR #1916).
Now, as mentioned before, `ngc-webpack` is a wrapper and can be

[2017-11-15 05:31] RicoLiu commented on #1824
@rcw0086

`"engines": {
    "node": "6.11.1"
  }`

here is my devDependencies
[code]

[2017-11-15 08:13] VSmirnov17 commented on #1913
@shlomiassaf Thanks for the answer.
The difficulty lies in the fact that the project used a JitCompilerFactory that the new version does not have.
What advice can you give in this situation?

[2017-11-15 14:01] JonWallsten opened #1918 "declare module '*' creates problems in VSCode"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
VSCode does not report problems with for example broken import paths or missing exports.
Following any module with cmd+click ends up in the custom-typings.ts.

* **If the

[2017-11-15 17:46] sanazBG commented on #926
Using react .. It doesn't matter how you type the driver letter .. Any folder in my server directory(including the server directory) should be typed with small letters .. that fixed the warning for me and got a "Compiled Successfully" absolutely every warning came from my "client" directory .. thats on Windows.

[2017-11-16 07:20] guna1404 commented on #1399
import below module its working fine :) Thank you gowthamrodda

import { FormsModule, ReactiveFormsModule } from '';

and add ReactiveFormsModule to imports Array

imports: [
FormsModule,
ReactiveFormsModule
]

[2017-11-16 16:35] ZacharyLangley opened #1919 "Lazy Loaded Component is not generating a #.chunk.js"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[*] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-11-17 13:20] ShinDarth commented on #993
@clundberg1 I have the same issue just after upgrading to Angular 5. But I don't have a `webpack.common.js` file. Where should I look?

[2017-11-17 16:13] Olgagr opened #1920 "How can I turn on source maps for production? - Question"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ x] question

How can I turn on source maps for production? When I do ```npm run build:prod``` only source map for css file is generated. I kn

[2017-11-19 03:49] kzc commented on #1887
Closing in favor of #1894 which solves the uglify plugin version problem.

[2017-11-19 03:49] #1887 closed

[2017-11-20 14:06] MADzO opened #1921 "Error in prod build"
After changing the configs to latest (to support Angular 5) I am getting the following error on the app after production build.

    at l (compiler.js:466)
    at compiler.js:15089
    at Array.forEach (<anonymous>)
    at t.getNgModuleMetadata (compiler.js:15072)
    at t._loadModules (compiler.js:33501)
    at t._compileModuleAndComponents (compiler.js:33462)
    at t.compileModuleAsync (compile

[2017-11-20 20:48] rcw0086 commented on #1824
Thanks! I was able to resolve by updating @types/*

[2017-11-21 08:17] airbnbbkk commented on #1921
I'm getting the exact same issue :(

[2017-11-21 15:03] Kyderman opened #1922 "HMR not working due to incorrect flag"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the curre

[2017-11-21 15:48] ZacharyLangley commented on #1919
It works if i copy the details and barrel components into my test component. ,but it does not work on my new components

[2017-11-21 17:20] #1919 closed

[2017-11-22 02:23] JCornat commented on #1921
I have the issue when I run `npm run build:aot`, and serve it with my system.

Here my stack trace :

[code]

As I was thinking it could come from my own modules, so I copy-paste the default `app.module.ts`, and shrinked it to the bare minimum, working in dev mode with command `npm run server` :

**app.component.ts :**

[code]

**app.module.ts**

[code]

The error seems to produce in file `main.br

[2017-11-22 06:02] aldokocha commented on #1921
Having the same issue in production build, dev build is working fine though...

[2017-11-22 12:51] vincent-cm commented on #1913
CompressionPlugin is removed from the new commit. Is this because not compatible with the new ngc? This feature can save a lot on loading time if you are building a large application.

[2017-11-22 22:25] alexw10 opened #1925 "Hangs at 91% on an "additional asset processing" step"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[] bug report
[X] feature request
[X] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
This is an issue I believe

[2017-11-23 01:24] JCornat commented on #1921
@milosd92 Thanks for the temporary workaround, it works.

[2017-11-23 06:52] krischandra opened #1926 "Chunks are not getting generated with @ngtools/webpack while upgrading to angular 5"
Angular CLI: 1.5.0
Node: 6.10.1
Angular 5
@ngtools/webpack version: 1.8.2
Webpack.common.js
module: {
rules: [{
loader: '',
options: {
configFileName: 'tsconfig.webpack.json',
}
}],
plugins: [{
new AngularCompilerPlugin({
"sourceMap": true,
"tsConfigPath": helpers.root('tsconfig.webpack.json'),
"skipCodeGeneration": true,
"compilerOptions": {}
}),
}]
}

tsconfig.webpack.json

{
"compilerOptions":

[2017-11-23 08:12] arrian0511 commented on #1925
I've encountered this issue also, as my countermeasure. I'd removed the "sourceMap: true" in UglifyJsPlugin and it works successfully.

[2017-11-23 08:55] milosd92 commented on #1921
Before i switched to AOT:

When i run `npm run build:prod` i get the same error as everyone else got, but after unmangling compiled code (switching mangle to `false`) https://github.com/gdi2290/angular-starter/blob/7ae83a76603246ff7d9c52999539706ae60ff7df/config/webpack.prod.js#L40

i get this error:

After a little digging through compiler.js i found that decorators for BrowserModule can't be res

[2017-11-23 13:30] alexw10 commented on #1925
@arrian0511 thanks I'll give that a try.

[2017-11-23 18:10] juanchavezlive commented on #626
@srinivasdamam solution worked for me

[2017-11-23 22:52] ghiscoding commented on #993
@ShinDarth I'm in the same boat using Angular-CLI, if you have a solution please let us know. Thanks

[2017-11-24 14:53] MatissJanis opened #1927 "Issue when enabling html-loader"
I'm trying to enable `html-loader` for a fresh installation of `angular-starter`, but that fails.

This loader was added to `webpack.prod.js`
[code]

This is the error appearing in console after running `yarn build:prod`
[code]

[2017-11-25 14:53] spvjebaraj opened #1928 "SharePoint People Picker in Angular 4"
Hi,

I am working in SharePoint Online with Angular 4. I want to add People Picker Control in my custom form. Could you please provide the solution for the same.

Regards,
Philip

[2017-11-26 14:39] AnandkumarSP commented on #1921
I guess @milosd92 is correct on`ctorParameters` removal. Disabling `buildOptimizer` in [build-utils.js](https://github.com/gdi2290/angular-starter/blob/1fb04c5a185efd5b3ae27ca1552b253c3f088bbc/config/build-utils.js#L78) solved this problem for time being.

Below is the change I did in [build-utils.js](https://github.com/gdi2290/angular-starter/blob/1fb04c5a185efd5b3ae27ca1552b253c3f088bbc/config/b

[2017-11-26 19:13] #1926 closed

[2017-11-26 19:14] krischandra commented on #1926
Issue with plugins.

[2017-11-27 14:29] simonmcl opened #1929 "Tag for Angular 4?"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

* **What is the current behavior?**

There doesn't seem to have been a release / tag o

[2017-11-28 09:06] simonmcl commented on #1928
I think it very unlikely anyone is going to build this for you. That is not the purpose of this repository

[2017-11-28 16:15] alexw10 commented on #1925
Even the dev environment takes a little bit sometimes and hands at like 90% when save changes etc... any one have ideas?

[2017-11-28 23:00] shlomiassaf commented on #1921
Just to be on the safe side, are you all using TS 2.4.2 ? cause 2.5 is supported from 5.1.x (in RC now) and 2.6+ is not supported.

[2017-11-28 23:13] shlomiassaf commented on #1921
Also, the reason I created the `buildOptimizer` variable is to allow disabling it from a single place instead of changing code.

I did that because I found multiple projects of mine did not compile with it.

It is probably due to 3rd party libraries that are incompatible or create strange edge cases causing the optimizer to mess up the code.

[2017-11-29 09:28] milosd92 commented on #1921
I am using TS 2.5.2 as specified in package.json
https://github.com/gdi2290/angular-starter/blob/7ae83a76603246ff7d9c52999539706ae60ff7df/package.json#L160

I tried with TS 2.4.2 but to no avail at all.

Maybe there is incompatibility with some 3rd party libs, as @shlomiassaf mentioned.

[2017-11-29 10:42] shoudaos commented on #1921
Is there any solution?

[2017-11-29 11:22] benjamin21st commented on #926
This is not just a windows-issue, I had the same issue on Mac when I wrote:

import { Observable } from 'rxjs/**O**bservable';
import { of } from 'rxjs/**O**bservable/of';

Notice that I used uppercase "O".

I fixed with

import { Observable } from 'rxjs/observable';
import { of } from 'rxjs/observable/of';

And it worked :)

[2017-11-30 09:24] muehan commented on #1920
in the webpack.pros.js check:
[code]
and
[code]

[2017-11-30 14:40] dgpoo commented on #456
yes also working for me @deepika-Gopala
Thanx who has given this solution.
-"Removing vendor from commonchunckplugin"
by the way any one know the reason for it why we do that?

[2017-11-30 14:44] JoshElias opened #1930 "Unable to npm install latest build?"
I'm getting the following error when trying to install the latest build.

[code]

[2017-11-30 16:26] milosd92 commented on #1921
@shoudaos Workaround for now is to use AOT build for production builds, that is what is recomened in angular v5. More on that on https://hackernoon.com/what-to-expect-for-in-angular-v5-6e0fc9c4b13e.

You can use my "workaround"
https://github.com/mocosha/angular-starter/commit/c406dea28c2a5a1c02e55bcbc9694e0ab4b1375d

But the problem with this is that you will need to make sure your project builds

[2017-12-01 06:18] devcer commented on #737
Did anyone found about fixing this? I was able to run a prod build in Android webview in 4 seconds but want to get it further down to <1sec. it takes 800ms in desktop browser anyway.

[2017-12-01 14:56] arrian0511 commented on #1925
After investigating this issue, I've found out that the culprit why during AOT build is eating a lot of memory is because of this "ModuleConcatenationPlugin", try removing that one, and rebuild. hope this helps.

See this issue: https://github.com/webpack/webpack/issues/5992

[2017-12-01 15:09] JoshElias commented on #1930
Seems to be a deprecated CoffeeScript dependency?

[2017-12-03 19:58] JoelParke opened #1931 "Unable to run npm build without errors if add ng-socket-io package to project!"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a Bug report**

If I add a socket.service.ts using the package ng-socket-io to the project by adding the socket.service.ts service to the project and add a bit of code into app.module.ts

[2017-12-04 06:38] envil opened #1932 "Error thrown: EmptyError: no elements in sequence"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x ] bug report

* **Do you want to request a *feature* or report a *bug*?**
I want to report an error

* **What is the current behavior?**
App thrown errors

* **If the current

[2017-12-04 11:53] ericmartinezr commented on #1932
This is a bug in RxJS https://github.com/ReactiveX/rxjs/issues/3151

[2017-12-05 09:23] avanindra-singh commented on #1922
Thank you. This helped :)

[2017-12-05 10:41] Bjeaurn commented on #1932
Basically revert to 5.5.2 it's a temporary fix.

[2017-12-05 14:42] WillooWisp opened #1933 "Lazy loading modules, should this work?"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Currently my lazy loaded m

[2017-12-05 17:47] katafractari commented on #1922
By changing **--hotOnly** webpack-dev-server flag to **--hot** I only get rid of the "HMR is disabled" warning, otherwise HMR is not actually working since the page is reloaded even for simple changes in HTML. This happens both in my application after merge of angular-starter/master and also by running **npm run start:hmr** inside angular-starter project.

[2017-12-05 18:44] Kyderman commented on #1922
My application wouldn't even run unless I added -hot only, and HMR is
definitely working for me.

On Tue, 5 Dec 2017, 17:48 Rok Pergarec, <notifications@github.com> wrote:

[2017-12-05 22:07] t-p-l-k commented on #1909
How about reloading the page?

[2017-12-05 22:08] Ks89 commented on #1932
Thank u @ericmartinezr , you saved my life 👍

[2017-12-06 00:04] AKlaus commented on #1735
@gdi2290, should the issue be closed when the `custom-typings.ts` still contains all the references from the initial post?

[2017-12-06 03:11] leif2017 commented on #1895
i´m watching for the same answer.

[2017-12-06 07:08] Bjeaurn commented on #1932
Fixed in RxJS 5.5.4, you can try upgrading again. Worked safely in my complex application.

[2017-12-06 07:14] Bjeaurn opened #1934 "Unit testing returns vague errors in current state of project"
* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Feature request.

* **What is the current behavior?**
I've noticed that getting the unit tests to work after upgrading to Angular 5 (and RxJS 5.5.4), I've been having a hard time debugging. This is mainly because the erro

[2017-12-06 08:05] LizaVoskanyan commented on #1819
Hi guys , How you did fix this ?

[2017-12-06 08:09] katafractari commented on #1922
The commit that updates this project to Angular 5 has removed **HotModuleReplacementPlugin** and added **TODO: HMR** comment in **webpack.dev.js**:

https://github.com/gdi2290/angular-starter/commit/1fb04c5a185efd5b3ae27ca1552b253c3f088bbc#diff-66f9bd447d50f2f05180ed487553f32dR132

Do a fresh clone of master, replace **--hotOnly** flag with **--hot** flag like you mentioned, run **npm server:dev:h

[2017-12-06 08:43] krischandra commented on #1913
Can we use happypack?

[2017-12-06 09:24] tonywr71 opened #1935 "Unable to get hmr running with the latest version"
* **I'm submitting a ...**
[X] bug report

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Downloaded the app, followed the instructions. I successfully ran the application using npm start , but it won't run using npm run server:dev:hmr. It errors in the console with "Uncaught ReferenceError: Zone is not defined"

* **What is the expected behavi

[2017-12-06 11:22] kuhnroyal commented on #1922
Same problem as @katafractari, warning is gone but page reloads on every change.

[2017-12-06 14:49] Bjeaurn commented on #1919
Why was this closed by you without any answer or explanation?

[2017-12-06 14:50] Bjeaurn commented on #1926
Can you specify which plugin caused the error(s)? Or what is the final result of your `webpack.common.config`?

I'm running into lazy loading issues and can't seem to figure out where it's breaking.

[2017-12-06 16:44] katafractari commented on #1922
@kuhnroyal I guess https://github.com/gdi2290/angular-hmr hasn't been updated in order to support Angular 5 yet.

[2017-12-06 19:11] DanielKucal commented on #1909
@t-p-l-k, that's something I'd like to avoid

[2017-12-06 22:04] Martinspire commented on #1819
@LizaVoskanyan I stopped using those values in my config file and haven't really looked back since. I'm not sure if newer versions of various modules helpt fix the problem but I'm not able to check on the project where this specific issue came up

[2017-12-06 22:31] WillooWisp commented on #1933
Does anyone know if lazy loading module is supported with latest code from master? Have you successfully lazy loaded any modules, i.e. loadChildren on route?

[2017-12-07 08:01] rcanacci commented on #165
I am a little new to trying to resolve issues of this nature with Angular and dependencies.

Can someone explain, why are these problems so commonplace? I tried installing several new items tonight into my new angular 5 app using npm... there is a problem literally with every one of them... including LESS...

Why is bringing in a very simple dependency such an insanely arduous process when it's li

[2017-12-07 08:48] katafractari commented on #1935
@tonywr71 See https://github.com/gdi2290/angular-starter/issues/1922

[2017-12-07 17:12] ZacharyLangley commented on #1919
I solved it on my own.

[2017-12-07 17:38] Bjeaurn commented on #1919
Mind sharing your solution? I’m running into similar issues but haven’t been able to figure it out yet.

[2017-12-08 08:52] Bjeaurn commented on #1933
I'm running into issues getting lazy loading to work after upgrading most of the code (to reflect this repo).

I'm stuck at `Error: Cannot find module '../demo/demo.module'.` in the browser, but got compilation to succeed so far.

I've switched to `@ngtools/webpack` instead of sticking with `ngc-webpack`, trying to get better results but have failed so far.

I'll probably create a separate issue w

[2017-12-08 10:09] Bjeaurn opened #1936 "Angular 5 upgrade can't get lazy loading to work"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
I've managed to upgrade most of the repository to

[2017-12-08 11:17] envil commented on #1932
The new update eliminated the problem. Thank you guys!

[2017-12-08 11:17] #1932 closed

[2017-12-08 16:30] WillooWisp commented on #1936
I experience similar problems, where lazy loading fails when loading angular application.

[2017-12-08 16:37] Bjeaurn commented on #1936
@WillooWisp do you have your app compiling properly through webpack?

What I did in order to get it to work is change the routes to:
[code]

That causes a compile error, but when you trigger a recompile it works fine. Does this work for you?

[2017-12-09 20:30] al-the-x commented on #386
@hendrikroth please don't ever do this, as you've just exposed the environment of the process that you built with to your bundle... And subsequently the internet. Many sensitive values are Prentiss contained therein, unless `DefinePlugin` is sanitizing them somehow... Although I can't imagine how.

[2017-12-09 22:28] gizm0bill opened #1937 "svg-url-loader not working"
any idea why this is not working with your latest webpack setup?
neither does svg-inline-loader or raw-loader for svgs.
the process passes through the loader code and it returns xml data, but at runtime a `require('to/some.svg')` ends up being a hash like this `e9223cdbd98ab53c4294606232cf160e.svg`

[2017-12-10 04:46] krischandra commented on #1926
I removed DLL plugins from webpack.prod.js and its working fine

[2017-12-10 10:28] Bjeaurn commented on #1926
Are you separating your `vendor` and/or `polyfills` in a different way then?

[2017-12-10 13:35] gizm0bill commented on #1937
Found the problem, it is the `file-loader` rule.
By the way, How would you use SVGs with this loader?

[2017-12-10 14:16] shaikhspear16 opened #1938 "Angular 4 starter"
For one of our projects we publish our own components used internally. We did it for Angular 2. We did not do for Angular 4. We will do for Angular 5 after 4 is done.

Where do I get angular 4 starter pack?

[2017-12-11 08:12] Bjeaurn commented on #1936
After some testing and comparing with other issues; I've got Lazyloading to work after disabling the `DLL` bundling (`vendor` & `polyfills`).

I'd like to get something comparable back again, that'll still be a bit of a puzzle. Anyone who got Lazyloading with separation of `vendor` and `polyfills`?

[2017-12-11 08:19] Bjeaurn commented on #1913
In `config/webpack.test.js` there seems to not have been any Angular 5 upgrade related commits.

My CI is currently failing on this, are there any issues with your CI for Angular 5 or does it just work as you left it?

[2017-12-11 09:16] davidperis92 commented on #456
updating to node 9.2.0 fixed the issue for me

[2017-12-11 13:09] aklassen commented on #1824
Updating "@types/jasmine": "=2.5.38" solved that issue for me.

[2017-12-11 14:52] ZacharyLangley commented on #1919
Yea sure, Ill post the code.
index.ts
`export { TestModule } from './test.module';`

test.component.ts
`import {
    Component,
    OnInit,
} from '@angular/core';

@Component({
    selector: 'test',
    templateUrl: './test.component.html',
})

export class TestComponent implements OnInit {
    public ngOnInit () {
        console.log('Hello from the Test Component');
    }
}`

test.module.ts
`im

[2017-12-11 14:54] Bjeaurn commented on #1919
May I suggest you prefix each block of code with \`\`\` and close it off with another \`\`\`?

[2017-12-11 14:56] ZacharyLangley commented on #1919
I understand, I keep forgetting that it even though I press the "code" button in the top bar, I need to press it 3 times or insert my own 3 `

[2017-12-11 15:32] Bjeaurn commented on #1919
Yeah takes some getting used to ;-).

Anyway, I think the difference I spotted in a different issue is that the `DllModule` is now removed from webpack, and we rely a bit more on the `ChunkModule` from Webpack to our code splitted.

Seems to work in that way, the code you provided is in no way different from what's expected.

[2017-12-12 11:52] simonmcl commented on #1938
I asked the same thing 2 weeks ago here: https://github.com/gdi2290/angular-starter/issues/1929. There doesn't seem to have been a tagged release for angular 4, despite the project now being on Angular 5.

I think this is the last commit before a move to Angular 5. I took a copy of that and am using this as a base for my Angular 4 work now: https://github.com/gdi2290/angular-starter/commit/59af524

[2017-12-12 21:13] Olgagr opened #1939 "Angular 5 starter - incorrect image (png/jpg/gif) files generation (aot build)"
* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I want to report a bug

* **What is the current behavior?**
For bundling the file-loader is used to emit files to output directory. However, when bundling with ```npm run build:aot:prod``` in some cases two files are gen

[2017-12-13 06:53] JoelParke commented on #1931
I worked around this issue -- which I believe is ONLY a webpack issue and and not an issue with this project.  I moved pieces of the ng-socket-io internals into a component which was using ng-socket-io and then it builds fine.

[2017-12-13 07:01] JoelParke opened #1940 "Angular 5 and production build fails unless I set buildOptimizer in build-utils.js to false!"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
BUG -- I have a large proj

[2017-12-13 07:09] Bjeaurn commented on #1913
I've debugged more and noticed a couple of points we may want to consider for this branch.

- `DllBundlesPlugin` seem to interfere with Lazyloading, I have disabled the plugin and I got it to work; but I'm unsure if my bundling is now working correctly. Any ideas?

- `ngc-webpack` seems to have `skipCodeGeneration: true` from `@ngtools/webpack` enabled by default. This makes strict checking of you

[2017-12-13 07:31] shaikhspear16 commented on #1938
@simonmcl I was able to create an Angular 4 starter with angular-cli by installing an older version of it.

`npm install -g @angular/cli@1.4`

Hope this helps someone.

[2017-12-13 07:31] #1938 closed

[2017-12-13 08:15] MADzO commented on #1940
Check this #1921

[2017-12-13 16:08] WillooWisp commented on #1936
@Bjeaurn Yes it works for me as well when I use a function (lambda expression) instead of a string for loadChildren. But is that the same thing, will it still be separated into its own chunk and get lazy loaded now when an import of the module exists in the app routing module?

[2017-12-13 16:17] WillooWisp commented on #1936
@Bjeaurn It is strange however that it actually works sometimes with the string syntax "login.module#LoginModule" when rebuilding with webpack and sometimes it does not. It always succeeds during build but sometimes failes during runtime load of modules.

[2017-12-13 16:21] WillooWisp commented on #1936
@Bjeaurn What exactly did you change or remove from the webpack configuration to disable the separation of vendor and polyfills in order to get it to work?

[2017-12-13 16:24] Bjeaurn commented on #1936
I didn't necessarily disable the separation, I simply removed the `DllBundlesPlugin` and from there the regular `lazyloading` convention as described by Angular (e.g.: ` loadChildren: '../path/to/login.module#LoginModule'`) worked.

Seeing as the project was based upon this `angular-starter` and had grown over time, there we're still some artifacts from past times. I guess `DllBundlesPlugin` may h

[2017-12-13 16:29] WillooWisp commented on #1936
I understand, but I  no longer have that DllBundlesPlugin after merging in the latest changes from master in this repo, but still experience the lazy loading problems using the string/path syntax.

[2017-12-13 16:31] Bjeaurn commented on #1936
What's the error you receive when you try to use the Angular convention for `lazyloading`?

[2017-12-13 16:44] WillooWisp commented on #1936
global.error-handler.ts:43 Error: Uncaught (in promise): Error: Cannot find module './login/login.module#LoginModule'.
Error: Cannot find module './login/login.module#LoginModule'.
    at eval (eval at ./$$_lazy_route_resource lazy recursive (main.bundle.js:7), <anonymous>:5:9)

[2017-12-13 16:57] WillooWisp commented on #1936
The strange thing is that some modules work and some does not to lazy load with the string path syntax, but they did work to load this way before.

[2017-12-13 18:30] JoelParke commented on #1940
THANKS!

[2017-12-14 12:48] Vadim2805 opened #1941 "CSS source maps"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Hi, guys.

I use the last

[2017-12-14 15:11] JonWallsten commented on #1939
I'm only using the image in one place and get the same issue. Two files, one is larger in file size and corrupt. The other one works fine. The wrong one is used in the generated source.

[2017-12-15 10:02] Georg-Beischlager commented on #1907
I also encountered this problem, i have additional information:

An exception is thrown in the _for-of.js File on IE Startup.

[code]

[2017-12-15 14:12] bogdy29 commented on #1890
I followed that instructions and not working also for me

[2017-12-15 23:23] miloszsobczak opened #1942 "I cannot import s(css) files from node_modules"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

When I try to import css

[2017-12-16 11:49] JonWallsten commented on #1939
So I did some digging today.
I added the same background-image in one css and one scss file.
One is used by the body-element and one by the html-element.
The only way I could successfully toggle reproduction of the error is by using/not using this one:
[code]
When debugging the file loader it processes the angular.png twice, but it has the same name. So it will just be overwritten the second time.

[2017-12-16 12:39] JonWallsten commented on #1939
Full log of the build where it fails:
[code]

[2017-12-16 13:53] Olgagr commented on #1939
@JonWallsten Thanks for extensive checking. That's interesting that for you this bug is rather random. I can reproduce it regularly with two different image's paths, but never with the same path. Moreover, we could reproduce it regularly on two different devices (one slower and one fast). For us, the performance has no impact. We suspected that maybe the source of the problem could be that the sty

[2017-12-16 15:18] JonWallsten commented on #1939
Yeah, I have no idea what going on. There's probably some kind of race condition or inconsistent behaviors in one of the loaders or plugins. It seems to be related to Angular, that's for sure. It would be interesting to debug it and see what webpack is actually trying to require in the css/scss-files. The css-loader are supposed to translate the url into a require statement. And if that is the sam

[2017-12-16 15:19] JonWallsten commented on #1939
@gdi2290 we could really use some expert help here! :)

[2017-12-17 13:51] andreialecu commented on #1925
There are various reports of this on the webpack issues board. I've been hit by it too in a fairly large angular project.

It's related to `compress: true`, or more specifically to `unused` code optimization, in the UglifyJS plugin options.

Does anyone have a smaller repro that they could share with the UglifyJS team? See:
https://github.com/mishoo/UglifyJS2/issues/2609

[2017-12-18 03:22] supertramp82 opened #1944 "s"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2017-12-18 06:52] Bjeaurn commented on #1944
Close? Seems like an error or even spam?

[2017-12-18 06:53] Bjeaurn commented on #1936
I think the `./login/login.module#LoginModule' should be `login/login.module#LoginModule`. Think you only use relative paths when you need to go up the folder tree.

[2017-12-18 09:35] JonWallsten commented on #1939
Differences in the buffer of the two files:
Correct file:
![screen shot 2017-12-18 at 10 23 16](https://user-images.githubusercontent.com/5993909/34099201-1fababc8-e3df-11e7-889a-5d98a00c99b0.png)

Incorrect file:
![screen shot 2017-12-18 at 10 26 37](https://user-images.githubusercontent.com/5993909/34099200-1f8ce738-e3df-11e7-8a13-e30d775e5075.png)

[2017-12-18 10:02] yussan commented on #926
i solved my warning the same as above by removing the file/folder name using capital to lowercase.

[2017-12-18 10:36] anhtata commented on #1921
compiler.js.pre-build-optimizer.js:485 Uncaught Error: Unexpected value 'Me' imported by the module 't'. Please add a @NgModule annotation.
    at c (compiler.js.pre-build-optimizer.js:485)
    at compiler.js.pre-build-optimizer.js:15204
    at Array.forEach (<anonymous>)
    at t.getNgModuleMetadata (compiler.js.pre-build-optimizer.js:15187)
    at t._loadModules (compiler.js.pre-build-optimizer.

[2017-12-18 11:23] milosd92 commented on #1921
@anhtata I think you are getting the same error as everyone else.
That 'Me' variable is obfuscated and it's probably the first Module in imports array.

What error are you getting in AOT build?

[2017-12-18 21:16] ojuniorbezerra opened #1945 "Import dependencies"
Hi,
I added some dependencies to my project, but the feature is not appearing.
Ex: MetisMenu.js, -> it is inside my node_modules but when I use the elements it appears as if it did not.
With jquery-slimscroll it was the same thing.
to try to escape this problem, I copied inside a folder lib o .js and in my module I am doing:
require("../lib/metisMenu.js");

but I have many dependencies, where and

[2017-12-19 01:15] shahnj opened #1946 "prod server doesn't work with current codebase"
I am getting below error when trying to run the current version of https://github.com/gdi2290/angular-starter

These are the steps to reproduce below error:

#1 git clone --depth 1 https://github.com/AngularClass/angular-starter.git
#2 cd angular-starter
#3 npm install -g node-pre-gyp
#4 npm install
#5 npm run build:prod
#6 npm run server:prod

#7 browse to localhost:8080 on Google Chrome
#8 inspe

[2017-12-19 01:30] mrdavidwoodard commented on #1946
Do you have angular-cli installed on your machine?

On Mon, Dec 18, 2017 at 5:16 PM shahnj <notifications@github.com> wrote:

[2017-12-19 01:51] shahnj commented on #1946
Yes -

user@iMac ~/work/angular-starter  (master)
$ ng -v
Unable to find "@angular/cli" in devDependencies.

Please take the following steps to avoid issues:
"npm install --save-dev @angular/cli@latest"

    _                      _                 ____ _     ___
   / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
  / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
 / ___ \| | | |

[2017-12-19 01:55] shahnj commented on #1946
Yes - @angular/cli: 1.0.0

![image](https://user-images.githubusercontent.com/13139075/34136839-af27dd70-e435-11e7-83ee-9ba571906239.png)

[2017-12-19 03:44] shahnj commented on #1946
duplicate of https://github.com/gdi2290/angular-starter/issues/1921

closing - apologies for not following the template and raising without checking.

[2017-12-19 03:44] #1946 closed

[2017-12-19 04:10] anhtata commented on #1921
@milosd92 With AOT build, I got exit 2

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'run',
1 verbose cli   'webpack',
1 verbose cli   '--',
1 verbose cli   '--config',
1 verbose cli   'config/webpack.prod.js',
1 verbose cli   '--progress',
1 verbose cli   '--profile',
1 verbose cli   '--bail' ]
2 info using npm@5.

[2017-12-20 10:37] Bjeaurn commented on #1945
I think you need to include a bit more about your configuration. Show us a piece of the code where you try to `import` the `node_modules` files you are referring to.

Include any errors you may be receiving related to your issue, and feel free to use some formatting to make it easily readable for anyone passing by. This makes it easier to help you, and in turn, helps others figure out similar issu

[2017-12-20 10:41] Bjeaurn commented on #1942
Importing from `node_modules` should be fine, but I think there's some specific rules in both `tsconfig.json`, `tsconfig.webpack.json` and the `webpack.*.js` configs that specifically exclude `node_modules` and anything that's in there.

The proper way to get your asset available in your project would be to expand on your `webpack.common.js` and add a copy plugin to specifically copy (and/or compi

[2017-12-20 10:45] Bjeaurn commented on #1936
@WillooWisp Have you made any progress in this? If so, can you summarize the actions that helped you. Maybe link to any posts and/or comments that helped.

I think we can recommend this issue gets closed; as the main `angular-starter` by default works fine with `AOT` and `Lazyloading`, it's only in the upgrade progress where things break.

[2017-12-20 10:49] Bjeaurn commented on #1933
In the current, most up to date, version of the `angular-starter` at `master`, Lazyloading works fine.

[2017-12-20 10:59] johanchouquet commented on #1936
I experienced the same issue (new project created with CLI 1.6.0 && Angular 5.1.1).

My routes were simple:

- one redirect to a dashboard which in turn was lazy loaded => the string notation worked fine.
- BUT: in my main component, I putted a `routerLink` directive on a link to another lazy-loaded route, and this was KO with the string notation. I tried the `() => NamedModule`, and this worked f

[2017-12-20 11:13] johanchouquet commented on #1936
One more thing: `ng build` works fine, but `ng build --prod` outputs "Error during template compile of 'AppModule'"

[2017-12-20 14:03] WillooWisp commented on #1936
@Bjeaurn Lazy loading still does not work as before, and I have made sure I have the correct webpack configuration according to latest on master. I have tried both with "./" and without it in the beginning of the string path to the module without success, so that does not work as it used to. Using the () => Module syntax works however, but is that the exact same thing? I mean will the behavior be

[2017-12-20 14:42] WillooWisp commented on #1933
It does as long as you change to use the () => moduleToLazyLoad syntax instead of the string path syntax in loadChildren.

[2017-12-21 23:06] WillooWisp commented on #1936
@Bjeaurn I still get this also, "ERROR in TypeError: Cannot read property 'loadChildren' of undefined", upon first compilation using "start:hmr", but a recompile solves this. A little frustrating though, did you work this out?

[2017-12-23 00:08] khalilof opened #1947 "Uncaught Error: Unexpected value 't' imported by the module 't'."
I just cloned the repo right now, and npm install and
npm run build:prod
npm run server:prod

I get this in the browser :(
Uncaught Error: Unexpected value 't' imported by the module 't'. Please add a @NgModule annotation.

[2017-12-24 17:29] kapv89 commented on #1036
too bad we cannot go back to `gulp` now

[2017-12-25 21:25] 1antares1 commented on #1947
The same... :/

[2017-12-27 07:49] MADzO opened #1948 "Split main.bundle.js"
Is there a way to split main.bundle.js in for example 4 files with predefined names?
For example:
- main.bundle.1.js
- main.bundle.2.js
- main.bundle.3.js
- main.bundle.4.js

[2017-12-27 08:48] xin1195 commented on #1925
Any ideas?

    What is the current behavior?
    Takes a really long time to do a production build.
    Dev builds are fine.

    If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via
    https://plnkr.co or similar (you can use this template as a starting point: http://plnkr.co/edit/tpl:AvJOMERrnz94ekVua0u5).

    What is the ex

[2017-12-27 09:38] MADzO commented on #1947
Check this #1921

[2017-12-27 13:07] MADzO commented on #1948
@shlomiassaf can you pls check this?

[2017-12-28 10:10] Georg-Beischlager commented on #1907
Okay, so it turns out I should read the polyfills file before commenting here.

There is a block in src/polyfills.browser.ts where polyfills for IE9,10 & 11 need to be activated. Works perfectly afterwards.

I think that should solve all problems.

[2017-12-28 10:11] Georg-Beischlager commented on #1907
Okay, so it turns out I should read the polyfills file before commenting here.

There is a block in src/polyfills.browser.ts where polyfills for IE9,10 & 11 need to be activated. Works perfectly afterwards.

I think that should solve all problems.

[2017-12-28 14:23] WillooWisp commented on #1936
@Bjeaurn loadChildren with a function () => Module, does not work with AOT. And according to this, https://github.com/angular/angular-cli/issues/4192, importing the Module that way breaks lazy loading from its own chunk.
For some reason lazy loading with string path syntax works for smaller projects, but not for larger ones, or it might be loading modules that in turn have lazy loaded modules in t

[2017-12-28 18:11] geoHeil commented on #1907
you mean https://github.com/gdi2290/angular-starter/blob/6dd6d0d6567481f74d01ccf813bb066e13abfa97/src/polyfills.browser.ts#L24 thanks!

[2017-12-28 18:11] #1907 closed

[2018-01-01 00:35] jazzfog commented on #926
I had this issue on Windows and it was a funny one:

First I noticed that difference in case was in my path to my dev folder, not in app itself
[code]
`Web` folder is capital in first case, though real folder name is `web`.

Initially I thought that there is something wrong with `Webpack` or `Node` path resolver but later I noticed that path showing in the `console` window I was working in is actu

[2018-01-01 14:07] WillooWisp commented on #1936
I finally found the problem. I am using conditionals in my app module to include different routes depending on some variable, which has worked perfectly before, but doing that with latest configuration causes the chunks to not get generated for lazy loaded modules.

[2018-01-01 16:58] WillooWisp commented on #1933
Closing this, since it does indeed work with latest version.

[2018-01-01 16:58] #1933 closed

[2018-01-03 06:54] Bjeaurn commented on #1948
This seems like a `webpack.common.js` support request? Or are you suggesting an (optional) feature?

[2018-01-03 06:58] Bjeaurn commented on #1936
So to summarize, you are confirming that `string path syntax` is the way to go forward, according to Angular themselves, but that it doesn't scale well for larger projects? What are the implications of this? When will you run into this?

The chunks not getting generated properly is more of a Webpack issue in my opinion, although that heavily relies on `@ngtools/webpack` in the most recent version

[2018-01-03 09:27] MADzO commented on #1948
Yap exactly webpack.common.js

[2018-01-03 10:50] Bjeaurn commented on #1948
I think that if you're not following the format and you're not explicitly asking for a feature, that you should not use Github issues for support requests.

I'm however not affiliated with this project in any way and just trying to help. It doesn't seem like a bug so that would suggest this issue gets closed.

Maybe try StackOverflow where you can freely share a starter project (this repo) and see

[2018-01-03 20:43] WillooWisp commented on #1936
I can confirm that the string path syntax works fine as long as your imports, declarations and routes are static. If code contains conditionals, where some routes are added based on some condition, chunks will not be generated for those upon first compilation, using start:hmr or start:aot. Making any change affecting the main chunk will cause a recompile and chunks will be generated for the lazy l

[2018-01-03 21:00] gizm0bill commented on #1904
Hey @bolota, what you have to actually do is separate builds for each language package (I think the angular are working on some natural switch mechanism with AoT, think I've read it today somewhere)

What I currently patched up for my needs is a pretty simple idea, being too lazy to isolate it in a separate command, I'm using the exiting scripts... like so:
with webpack --env option, passing to `M

[2018-01-04 07:07] PeeWee2201 opened #1949 "EvalSourceMapDevToolPlugin does not work with Visual Code"
[X ] bug report
[ X] question about the decisions made in the repository

The latest version switched from webpack devtools to EvalSourceMapDevToolPlugin for source maps.
But map files are no longer generated preventing debugging in Visual Code. I used latest version of Visual Code and Chrome plugin.
I restored previous config with webpack devtool and debugging is fixed.

What was the goal of the

[2018-01-04 11:23] miloszsobczak commented on #1942
Thx, somehow made it happen in webpack.

[2018-01-04 11:35] Bjeaurn commented on #1942
Be a doll and post your solution. 😜

[2018-01-05 03:58] tuoitrexuquang commented on #1921
Hi, What's solution for this case?

[2018-01-05 15:07] KeitaElric commented on #1921
Its worked for me. Tks @milosd92

[2018-01-05 19:38] lanovoy commented on #1940
Build optimizer only works for AoT builds. Have to be disabled for non-AoT.

[2018-01-07 11:50] bencameron00 commented on #1937
Hi, did you get your svgs to load? I'm facing the same problem.

[2018-01-07 11:59] gizm0bill commented on #1937
I used `raw-loader` instead

[2018-01-08 08:47] lanovoy commented on #1894
It's using the build optimizer. See  config/build-utils.js

[2018-01-08 08:57] lanovoy commented on #1880
In the webpack.common.js find an entry array:

`  const entry = {
    polyfills: './src/polyfills.browser.ts',
    main:      './src/main.browser.ts'
};`

Then add another entry:

`  const entry = {
    polyfills: './src/polyfills.browser.ts',
    main:      './src/main.browser.ts',
    vendor:   './src/vendor.ts'
};`

Finally, create vendor.ts under the src folder and reference your 3rd party dep

[2018-01-08 09:16] lanovoy commented on #1936
I was unable myself to get dev builds in a project based on this Starter kit to support lazy loading. Had to actually switch to angular-router-loader (along side with typescript awesome loader and templates loader) for the dev builds. Prod and prod AOT did work fine on the other hand... Still scratching my head.
But since awesome typescript loader is faster, its ok.

[2018-01-08 09:22] lanovoy commented on #1893
Sorting of the chunks is handled by the HtmlWebpackPlugin
`
chunksSortMode: function (a, b) {
          const entryPoints = ["inline","polyfills","sw-register","styles","vendor","main"];
          return entryPoints.indexOf(a.names[0]) - entryPoints.indexOf(b.names[0]);
},
`
Make sure the entry points are named correctly...

[2018-01-08 09:29] lanovoy commented on #1942
Bjeaurn
That's actually a bad approach... Importing styles from something located in the node_modules works perfectly fine and is unrelated to the tsconfig.
In our project we just have added a vendor entry point which is pointing to the vendor.scss and inside of it we're importing all the 3rd party css/scss libraries located in the node_modules.

[2018-01-08 09:33] Bjeaurn commented on #1942
Fair point, I wouldn't like to do it this way either, but I've seen plenty of situations where it's just sort of necessary evil to include a part from `node_modules` into your compilation step.

The suggestion to use a generic `entry` file that sorts out the main dependencies from `node_modules` seems like a cleaner way to achieve the same.

[2018-01-08 23:46] Mc128k commented on #1921
I had the same problem and I can confirm that the patch [here](https://github.com/lanovoy/angular-starter/commit/5708978df40c0ff17061ca39dd06727fa28b556b) worked

[2018-01-09 10:18] qwer2714856 opened #1951 "vscode has issue"
when i use vscode open this project, all decorator show "[ts] this syntax requires on imported helper named __decorate"

[2018-01-09 10:27] #1951 closed

[2018-01-09 17:27] DanielNetzer commented on #1880
@lanovoy helped me ALOT! how would you add a folder with assets such as imgs and icons?

[2018-01-10 11:13] rkolec opened #1952 "./node_modules/.bin/ng-xi18n fails"
On clean angular-stater project: when I'm trying to generate translation file with ng-xi18n tool:
`./node_modules/.bin/ng-xi18n --i18nFormat xlf`

I'm getting error:

`error TS2688: Cannot find type definition file for 'source-map'`

[2018-01-10 11:33] MartinMa commented on #1947
Using `npm run build:aot:prod` instead **works** for now, but `build:prod` is still broken. No idea why.

System:
Windows 10 (fully patched)
npm 3.10.8
node v6.9.1

[2018-01-10 18:31] lanovoy commented on #1880
There is a copy plugin in the webpack configuration which copies static
assets like that to the output folder's subfolder.

2018-01-09 18:27 GMT+01:00 Daniel Netzer <notifications@github.com>:

--
---
Best regards,
Maksym Lanovyi

[2018-01-11 05:27] qwer2714856 opened #1953 "webpack import other css issue"
issue description:
   when i import element-angular css will show this issue,

ERROR in ./node_modules/_css-loader@0.28.8@css-loader!./node_modules/_style-loader@0.18.2@style-loader!./node_modules/_css-loader@0.28.8@css-loader!./node_modules/_element-angular@0.5.0-beta.6@element-angular/theme/a.css
Module build failed: Unknown word (5:1)

  3 | // load the styles
  4 | var content = require("!!../

[2018-01-12 00:38] chrisbellman commented on #1921
Can confirm building with AOT fixed this problem. I'd still like to have JIT builds working, though.
The patch [here](https://github.com/lanovoy/angular-starter/commit/5708978df40c0ff17061ca39dd06727fa28b556b) did not work for me unfortunately :(.

[2018-01-12 08:55] lukaszsamson commented on #1939
I run into this issue as well. Any binary file required (but not from main component) ends up corrupted. I had to refactor my app to mitigate. I did some debugging and concluded that it was a @ngtools/webpack issue loading binary files as UTF8 encoded strings.
I haven't tested but it looks like it's been fixed upstream https://github.com/angular/angular-cli/commit/64b4b03fb5dd7cb772be38709fa351315

[2018-01-12 22:15] bencameron00 commented on #1937
Cool, could you show me the webpack settings that you used to get it to load please?

[2018-01-13 06:32] tsukhu opened #1954 "CI Build failing"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
The travis CI build is br

[2018-01-13 18:26] bencameron00 opened #1955 "Unexpected value 't' imported by the module"
Hi

I am seeing an error when trying to run a distribution build. I'm not sure what could be causing it but it may be Bootstrap related. Is this a common issue that people are seeing?

I am building my dist folder using this command...
npm run build:prod

Once the folder is deployed to the websever, in this case Netlify I am seeing this error in the browser and a blank page...

[code]

My packages

[2018-01-14 06:55] DanielNetzer commented on #1942
@lanovoy there seems to be an issue with assets when I add an entry point for styles at the webpack common.config file. he fails to redefine the path to the assets.
now the bigger question is should i import the assets aswell or just redefine the path to them?
they are sitting at the node_modules.

[2018-01-14 09:19] lanovoy commented on #1942
Do you mean the assets of some package from node_modules are not getting
copied to the output folder during the webpack build?

2018-01-14 7:55 GMT+01:00 Daniel Netzer <notifications@github.com>:

--
---
Best regards,
Maksym Lanovyi

[2018-01-14 16:02] DanielNetzer opened #1956 "Segmentation Fault - Docker build"
* **I'm submitting a ...**
[X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

Submitting a bug when building a docker image using the current Dockerfile

* **What is the current behavior?**
when following the guidelines to add an external .scss and importing them to styles.scss, then importing styles.scss to the app.module.ts, trying to build a docker imag

[2018-01-15 07:53] MADzO commented on #1955
#1921

[2018-01-15 11:09] jindovu opened #1957 "Can not read configuration webpack"
Hi Team
    Today I have just upgrade from angular 4 to angular version 5 base on angularClass, however I got issue and I don't know why it happen, please help me
and this is error
![webpack](https://user-images.githubusercontent.com/19401173/34939522-a4fe2bde-fa1e-11e7-8579-6a01b2e2bb1c.png)

- **Resolved**: the folder contains project too deep, move on another folder it's working fine

[2018-01-16 10:28] MartinMa commented on #1952
Same here. Could you find out how to solve this problem?

[2018-01-16 10:54] zmnv commented on #1952
Welcome Angular 5!

[Angular Update Guide - 4.0 -> 5.0 for Advanced Apps](https://angular-update-guide.firebaseapp.com/)

### Also >>> [Angular and i18n](https://angular.io/guide/i18n)

Is it that?

Did you update angular-cli? https://github.com/angular/angular-cli/pull/8480

[2018-01-16 11:20] zmnv commented on #1957
Obviously problem is in `index.html`. Dance from it to win!%)

[2018-01-16 22:31] michal-kroliczek commented on #1921
It's so pity so major bug is not fixed for so long time in master branch 👎

[2018-01-17 03:01] jindovu commented on #1957
Thanks for reply, and this is my configuration
[package.txt](https://github.com/gdi2290/angular-starter/files/1637581/package.txt)

[2018-01-17 09:09] ordinaryorange commented on #1905
you need to use tsconfig-paths-webpack-plugin.  `new TsconfigPathsPlugin({configFile:"./tsconfig.tests.json"})` works for me. Check the docs.

[2018-01-17 12:27] pagadalasrikanth opened #1958 "Changing URL manually is triggering a refresh"
* **I'm submitting a ...**
[ ] bug report

* **Do you want to request a *feature* or report a *bug*?**
Report a Bug

* **What is the current behavior?**
Whenever the URL is changed manually, the entire app is reloaded.

[EDIT] .. The app is initially loaded with http://localhost:3000/home and then the user replaces the "home" with "details". The app should redirect the user to the details page ins

[2018-01-18 14:31] gajdot commented on #1936
Any update or workaround for this?

[2018-01-19 07:56] Uter1007 opened #1959 "Production Build Question about Comments and SourceMaps"
Hi,

I've noticed when I am doing an npm run build:aot that the main.bundle has tons of code comments in it, is it possible to strip \ remove them to reduce the bundle size ? + are source maps needed for production builds ?

cheers,
Christoph

**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularCla

[2018-01-21 00:07] narsic03 commented on #1936
I'm also having the same issue. App is getting quite large now and needs lazy loading to keep the initial load time down for the user. I've tried every syntax:

`{path:'properties', loadChildren:'./components/properties/properties.module#PropertiesModule'}
{path:'properties', loadChildren:'components/properties/properties.module#PropertiesModule'}
{path:'properties', loadChildren: ()=> PropertiesM

[2018-01-21 14:58] Bjeaurn commented on #1936
It’s unclear what exactly is causing this, but it seems to be related to the `webpack` config. Have you tried disabling a couple of plugins or starting over with a fresh one from the repo?

[2018-01-21 15:00] Bjeaurn commented on #1958
Do you mean manually by changing it on your browser in the address bar? If so, that’s not part of how Angular or the browser is supposed to work.

[2018-01-21 15:48] pagadalasrikanth commented on #1958
@Bjeaurn .. The app loads initially with the url http://localhost:3000/home and then i manually replace "home" to "details".. In this case why should the app reload ?

[2018-01-21 15:53] WillooWisp commented on #1936
Compare your webpack config with the one from this repo, make sure you do not have any significant changes. Then it should work as long as you do not have any conditional include of routes, modules or declarations in your code. Unfortunately conditionals do not work anymore, why I do not know.

[2018-01-21 16:48] Bjeaurn commented on #1958
Explain what you mean with manually? Do you change the URL in the browser address bar? It’s not supposed to work that way. Create a link instead.

[2018-01-22 17:46] narsic03 commented on #1936
@Bjeaurn @WillooWisp ;

Thank you both. I was able to get the lazy loading to work by disabling all the Auth/Services out for conditional login routing and deleting the NodeModule folder and npm update. Need to do more testing to figure out a workaround. If conditionals truly don't work anymore then this completely kills any auth rules for apps. *NgIf still seems to work in the componentHTML files

[2018-01-23 10:28] sedpro opened #1961 "Multiple bootstrappable entry points not supported for angular 5 with AoT"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report (regression)
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
regression

*

[2018-01-24 04:41] dengshenkk commented on #926
I found this to be the result of a mix of windows and Mac development

[2018-01-24 17:45] ethanve commented on #1913
@shlomiassaf Have you figured out how best to use `CommonsChunkPlugin`? I'm trying to split up my main and vendor bundles but running into issues.

[2018-01-26 11:12] sutkovoy opened #1962 "Error when using tsconfig path"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
*bug*

* **What is the current behavior?**

**tsconfig.webpack.json:**
`"@config/*":  ["src/app/config/settings/ll/*"],`

**settings.ts:**
[code]

**component.ts:**
[code]
npm run clean:dist && npm run clean:aot && cross-

[2018-01-30 09:18] tinhnqjp commented on #626
Same error:
node-pre-gyp ERR! Tried to download(404): https://node-inspector.s3.amazonaws.com/debug/v0.7.7/node-v51-linux-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for v8-debug@0.7.7 and node@7.3.0 (node-v51 ABI) (falling back to source compile with node-gyp)

I try and OK:
npm install -g node-inspector@0.7.5

[2018-01-31 03:13] eyuel4 commented on #1936
Is there any clear solution on this yet? Am getting the same issue on my project.

[2018-01-31 13:49] televic-education commented on #1936
The new @ngtools/webpack package performs static analysis on an application during build time to locate all the lazy-loaded router paths. The static analysis can't handle conditionals in this case.
This is how you can solve it: https://blog.angularindepth.com/dynamically-loading-components-with-angular-cli-92a3c69bcd28. It's written for the angular CLI, but it's basically the same thing. I haven't

[2018-01-31 16:06] Naveendar opened #1963 "Not working on ie 11 getting error SCRIPT5022: Exception thrown and not caught"
I just downloaded the code and installed the NPM. It's working fine other browsers.
But getting error in ie : SCRIPT5022: Exception thrown and not caught
File: eval code (973), Line: 14, Column: 36.

[2018-01-31 18:43] jdcrecur commented on #1936
@televic-education this appears to be dynamic component loading only and not lazy loading modules.

https://stackoverflow.com/questions/48523411/angular-5-with-angular-cli-non-lazy-loading-modules-in-the-router

We hit this issue, or maybe a slight variation of it. The above is the original stackoverflow q raised.

In short, we want to use modules for pages and not components thus allowing good se

[2018-02-01 07:26] lishichao1002 commented on #1939
same question
[code]

aot build
[code]
![image](https://user-images.githubusercontent.com/13584162/35666248-3ac57990-0764-11e8-9e1f-c8a5a60f1008.png)

[code]

[2018-02-01 07:49] ckshobha commented on #1036
I see this error and tried the solutions mentioned above but did not work

Error:
/Users/sck012/newUI/ReactApp/yelp/node_modules/webpack/lib/webpack.js:19
		throw new WebpackOptionsValidationError(webpackOptionsValidationErrors);
		^

WebpackOptionsValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configu

[2018-02-01 17:50] tommykamkcm commented on #696
Hi guys, I guess we can install
- css part: `bootstrap-sass`
- js part: either `[ng-bootstrap](https://ng-bootstrap.github.io/#/home)` (based on Bootstrap 4) or `[ngx-bootstrap](https://github.com/valor-software/ngx-bootstrap)` (Bootstrap 3 or 4)

in your styles.scss / main.scss (whatever), add
`@import "partials/your-variables";`
`@import "partials/your-mixins";`
`@import "~bootstrap-sass/assets/

[2018-02-02 08:03] PascalHonegger commented on #1958
@pagadalasrikanth I beliefe you have to set useHash to true so your URL will look like http://localhost:3000/#/home. Just enable it where you add the RouterModule like `RouterModule.forRoot(routes, { useHash: true, preloadingStrategy: PreloadAllModules })`. This way the browser won't start a request to the server (therefore reload the app) when you change the url in the browser address bar.

[2018-02-05 20:14] cristianmartinez commented on #1961
Hey @sedpro, did you get any solution for this?

[2018-02-05 20:52] cristianmartinez commented on #1961
I think this issue belongs more to the `angular-cli` repository and there is an issue reported about this. You can follow it out at: https://github.com/angular/angular-cli/issues/7954

[2018-02-06 09:47] MartinMa commented on #1952
@zmnv Thanks for your quick answer. I double checked the update guide and couldn't find anything that's wrong. Well, the problem might be that I'm not using the CLI, but I'm trying to call the ng-xi18n binary directly (part of `@angular/compiler-cli` I think).

I end up doing the following as **workaround**.  I installed `@angular/cli` as dev dependency, added a *fake* `.angular-cli.json` with `"e

[2018-02-06 10:02] zmnv commented on #1962
How about

"@config/*": ["**./**src/app/config/settings/ll/*"],

?)

[2018-02-06 10:11] zmnv commented on #1952
@MartinMa looks like shitty magic...

did you try to just for your interest to compile a clean MASTER package of this repository with i18n ?

'cause this starter pack doesn't include Angular CLI not just for fan )))

[2018-02-06 13:21] sedpro commented on #1961
@cristianmartinez , I have changed project to use single entrypoint with loading lazy-load modules. I have two apps(client and administrator), in both, I check if the user has permission to load this module.

[2018-02-06 13:26] cristianmartinez commented on #1961
Sounds like a really good solution, thank you!

[2018-02-06 14:26] 82antu commented on #1936
Same issue here;

help is very appreciate

[2018-02-06 20:30] MartinMa commented on #1947
Fixed by https://github.com/gdi2290/angular-starter/commit/d35d537db16333938d322cebc2d3d493ec9a4ba6. ❤️

[2018-02-06 22:44] ismailmdau commented on #423
The following worked for me
https://stackoverflow.com/questions/45843293/ng-serve-cannot-find-module-tapable

[2018-02-07 09:54] alyssa19 commented on #1834
why mine is still not working? I tried all the given solution but still have same error.

[2018-02-07 10:20] bobrosoft commented on #1834
@qasimraza1979 how is that different to my first comment? :)

[2018-02-08 02:02] ahgood commented on #626
Solution on macOS:
rm -rf /Users/LOGINNAME/.npm/
npm install -g PACKAGE

[2018-02-09 14:06] sutkovoy commented on #1962
@zmnv, got an error:
[code]

[2018-02-09 14:15] sutkovoy commented on #1962
@gdi2290, please, help.

[2018-02-11 13:22] gezichenshan commented on #386
@al-the-x  so it means the webpack.DefinePlugin rewrites the process.env as a global variable in a webpack project?
`
new webpack.DefinePlugin({
  'process.env': require('../config/dev.env')
})
`
**../config/dev.env:**
`
module.exports = {
  NODE_ENV: process.env.NODE_ENV,
  BASE_URL : process.env.BASE_URL,
  MULTILOAN: process.env.MULTILOAN
}
`

[2018-02-12 07:52] VSmirnov17 opened #1965 "How to make work PostCSS?"
I created the file `postcss.config.ts`:
[code]
but it seems to me that it does not connect.
As, for example, the plugin `rucksuck-css `does not work.

Fragment package.json:
[code]

In `webpack.dev.js`:
[code]

Please help if someone knows what might be wrong.

[2018-02-12 13:58] sutkovoy commented on #1962
How to use different tsconfig.json?

[2018-02-13 03:42] zmnv commented on #1962
Слушай, а не пробовал ?

[code]
где такой пример с конфигом нашел?

Потому что tsconfig.webpack.json
`"@config/*": ["src/app/config/settings/ll/*"],`

Это же для конструкции `import { module } from '@config/module'` только.

[2018-02-13 09:21] lzj89566062 commented on #626
npm install --no-optional
it work for me

[2018-02-14 08:57] maisnamraju opened #1966 "AOT build fails when using environment variables"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ -] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the curr

[2018-02-15 09:48] maisnamraju commented on #1966
Solved it by downgrading my nodejs version. the process had nothing to do with the webpack plugin but with another package called process-next-tick

[2018-02-15 09:48] #1966 closed

[2018-02-15 17:22] manolof opened #1967 "Global environmental variables not resolving inside .forRoot, when building AOT"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**

**This issue is observed when building with AOT**

[2018-02-16 14:48] simonmcl commented on #1929
@gdi2290 was looking for a stable version with Angular 5, but tags still seem to be hugely out of date. ANy plan to address this?

[2018-02-16 17:37] mrpatel15 commented on #626
I am not able resolve this issues -

node-pre-gyp ERR! Tried to download(undefined): https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.7.2/node-v59-darwin-x64-unknown.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@1.7.2 and node@9.0.0 (node-v59 ABI, unknown) (falling back to source compile with node-gyp)
gyp ERR! configure error
gyp ERR! stack Error: EACCES: per

[2018-02-16 18:58] ademidun commented on #1523
Try this [SO answer](https://stackoverflow.com/a/41390347/5405197):
`npm install -D @types/bootstrap`

[2018-02-17 22:17] Vladimex commented on #1936
Same issue.
Help is very appreciate.

[2018-02-18 10:07] kgish commented on #1936
There's a tool call `npm-check` which might help you update to the latest versions and ensure that the dependencies are correct.

[2018-02-19 05:40] ravichandan commented on #1963
solution is given in here [https://stackoverflow.com/a/45354411](https://stackoverflow.com/a/45354411)

[2018-02-20 10:27] Bjeaurn commented on #1936
Be advised that when you upgrade your versions, they will have to match as there is no backwards compatibility from the Angular team within minor versions between modules.

So you cannot have `@angular/core` at `5.2.5` and `@angular/forms` at `5.1.2`, the same goes for `@angular/compiler` etcetera.

The only exception to this rule is `@angular/angular-cli`, as this is supposed to be installed glob

[2018-02-20 10:29] FARHANE commented on #1936
there is my config

`
"dependencies": {
    "@angular/animations": "^5.2.0",
    "@angular/cdk": "^5.2.1",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@angular/core": "^5.2.0",
    "@angular/forms": "^5.2.0",
    "@angular/http": "^5.2.0",
    "@angular/material": "^5.2.1",
    "@angular/material-moment-adapter": "^5.2.1",
    "@angular/platform-browser": "^5.2.0",

[2018-02-20 10:30] jandresampaio commented on #1936
I had this problem and the cause for mine was DLL plugin.
I solved this by:
-Removing webpack DLL plugin and including vendors imports file directly in the entry points:
`    entry: {
        'polyfills': './ClientApp/polyfills.ts',
        'vendor': './ClientApp/vendor.ts',
        'main-client': isDevBuild ? './ClientApp/boot-client.ts': './ClientApp/boot-client-prod.ts'
    },`

-Add common chu

[2018-02-20 10:33] Bjeaurn commented on #1936
Looks good, except for `@angular/material` and `@angular/cdk`, however I doubt that they are causing the error you are having.

By the way, this is not a support forum; maybe we should move all of this to StackOverflow and make a tag for `angular-starter`, or consider moving your project to the `ng-cli` yourself.

In regards to @jandresampaio, I've also noted that this is what fixed it for me.

Ba

[2018-02-21 08:44] tuoitrexuquang commented on #787
same issue, i'm using Angular 5 + webpack. Pls for me ask: What's root cause and how to fix it?

[2018-02-22 01:08] iwxfer opened #1968 "error when trying to add bootstrap"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
I get error when trying to add boostrap with the instructions in the readme
"File to import not found or unreadable: bootstrap/scss/bootstrap.scss"

* **If the current beh

[2018-02-22 04:25] iwxfer opened #1969 "`npm run server:dev:hmr` error"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
When executing `npm run server:dev:hmr` an error is shown in web console, and application is not shown

`Uncaught Error: [HMR] Hot Module Replacement is disabled.`

* **If

[2018-02-22 17:58] TiS opened #1970 "Server does not start (searches for node_modules in `src/`) on master branch"
* **I'm submitting a ...**
   [x] bug report

* **What is the current behavior?**

1. Perform steps to install starter (git clone, npm install, npm start). Git clone on **master** branch.
2. Server complains about `@angular/common` not found in `src/node_modules/@angular/common`

* **What is the expected behavior?**

Starter server starts. Webpack looks for `@angular/common` in `./node_modules` in

[2018-02-22 18:36] craigmatthew412 commented on #1970
I am having the opposite problem with this branch.  Webpack is looking for @angular/common in src/node_modules instead of node_modules at the project root

[2018-02-23 11:36] kgish opened #1971 "@ngtools upgrade breaks everything, webpack: Failed to compile"
Using `"@ngtools/webpack": "^1.10.0",` in my `package.json` file works fine, but when upgrading to `"@ngtools/webpack": "^1.10.1",` everything breaks.

I get many failures, starting like this:

[code]
By reverting back to `"@ngtools/webpack": "^1.10.0",` everything works fine again.

Is this a known issue?

Here's my `package.json` file:
[code]

[2018-02-23 11:43] radonirinamaminiaina opened #1972 "$$_lazy_route_resource lazy recursive"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
I got `TypeError: __webpack_require__.e is not a f

[2018-02-23 12:59] craigmatthew412 commented on #1971
I tried to narrow down which NPM module it was which was causing the issue for hours yesterday...this is also related to issue 1970.  If you change your node_modules folder to be relative to baseUrl property in tsconfig.json and tsconfig.webpack.json then you should be all set.  I have validated both scenarios work...using the existing path for @angular/* in tsconfig and using @ngtools/webpack 1.1

[2018-02-23 13:01] craigmatthew412 commented on #1970
Also related to issue 1971.  The master branch worked perfectly fine as-is a few weeks ago when I cloned it originally...the @ngtools/webpack module was updated from 1.10.0 to 1.10.1 which caused the breaking change. I have validated the existing tsconfig works fine with @ngtools/webpack @ 1.10.0

[2018-02-23 14:22] legomanaustralia commented on #1971
Seeing this also :(

[2018-02-25 12:57] almothafar opened #1973 "[Feature] 💥 Upgrade to webpack 4 🎉👍"
* **I'm submitting a ...**
[ ] bug report
[X] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Feature: Upgrade to webpack 4

* **What is the current behavior?**
Currently, it is Webpack 3

* **What is the expected behavior?**
Use Webpack 4 as it contains big improvements

* **What is the motivation / use case for

[2018-02-25 14:36] bjorkegeek opened #1974 "npm run server broken since angular 5"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
a *bug*

* **What is the c

[2018-02-25 14:38] almothafar commented on #1974
You need to see full migration for angular 5, as for example, in `tsconfig.json`  and `tsconfig.webpack.json` the value of `"baseUrl": ""` should be `"baseUrl": "./src"`

[2018-02-25 14:42] bjorkegeek commented on #1974
What do you mean by that? I just forked a fresh repo, did `npm install` and `npm run server` and it fails.

Do you have a working tree, and is you `node_modules` sitting under `./src` or `.`?

[2018-02-25 14:48] almothafar commented on #1974
No, it should be a sibling to `src`, but I thought you were upgrading your project, anyway on my side, there are no issues, everything is totally fine.

[2018-02-25 14:58] almothafar commented on #1974
Oh, I think I got what the problem with you, "maybe".

in the package.json file, change `"@ngtools/webpack": "^1.8.0"`, to `"@ngtools/webpack": "1.10.0"`, delete `node_modules` and install modules again or just re-run `yarn` after that, when you do fresh install these days, you will get version `"@ngtools/webpack": "1.10.1",` in yarn something like this:

[code]

And actually version `1.10.1` got

[2018-02-25 15:05] bjorkegeek commented on #1974
This solves it!
I'll submit a pull request.

[2018-02-25 15:15] steven87vt commented on #1974
Good morning, I download a clone at 9:36AM EST today and changing to "@ngtools/webpack": "1.10.0" allowed the app to run successfully. I am getting the following during npm install though, just in case its not me:

[code]

[2018-02-25 15:16] almothafar commented on #1971
I think this should be fixed in PR #1975
The solution for it already posted in #1974

[2018-02-25 15:24] almothafar commented on #1974
@bjorkegeek have you seen the solution suggested here #1971

[2018-02-25 15:26] almothafar commented on #1969
in package.json do you have `--hotOnly` or `--hot`, it must be `--hot` to replace  `--hotOnly`

[2018-02-25 15:59] steven87vt commented on #1974
Just in case anyone else runs into this, making the following changes based on your feedback removed the dependency warnings for me. I had followed the startup guide on global installations, deleted npm lock file and node_modules with a fresh install. I am seeing a few deprecated warnings:

[code]

Dependencies
[code]

Dev Dependencies
[code]

Now I have no missing dependencies warnings but I am s

[2018-02-25 18:00] #1974 closed

[2018-02-25 21:19] SmartBitPixel commented on #1936
I also face same issue:

ERROR in TypeError: Cannot read property 'loadChildren' of undefined
    at _collectLoadChildren (..../node_modules/@angular/compiler/bundles/compiler.umd.js:29034:21)
    at listLazyRoutes (..../node_modules/@angular/compiler/bundles/compiler.umd.js:29009:49)
    at visitLazyRoute (..../node_modules/@angular/compiler/bundles/compiler.umd.js:31176:47)
    at AotCompiler.li

[2018-02-26 06:36] Bjeaurn commented on #1936
Not a support forum, do read the last post I made here: https://github.com/gdi2290/angular-starter/issues/1936#issuecomment-366935582

Check your webpack configuration and refresh it if you're upgrading from an old version of this repo. You will need to check the plugins as well, as some of them have been deprecated.

[2018-02-26 06:36] #1936 closed

[2018-02-26 12:23] lanovoy commented on #1973
Looks like will have to wait until html-webpack-plugin is upgraded. Might have to upgrade some others as well, but this one is crucial.

[2018-02-26 12:50] Uter1007 commented on #1973
https://github.com/jantimon/html-webpack-plugin/issues/860

Looks like they are already working on it. Maybe you can test further with the alternative: npm install -D webpack-contrib/html-webpack-plugin

[2018-02-26 13:01] lanovoy commented on #1973
It fails to install for me. Runs some specs and throws lots of exceptions. May be because we're using corporate npm registry and it doesn't have an access to webpack-contrib/ .

[2018-02-27 00:36] shelbymorris90 commented on #1969
@almothafar That fixed it for me. Suggest that change should be committed to the repo.

[2018-02-28 11:55] lanovoy commented on #1972
Seems like you have a typo here:

`const routes: Routes = [] = [
  { path: '', component: ListComponent }
];`

Should be:

`const routes: Routes = [
  { path: '', component: ListComponent }
];`

[2018-02-28 11:58] lanovoy commented on #1968
Try changing
`@import 'bootstrap/scss/bootstrap.scss';`

to
`@import '~bootstrap/scss/bootstrap.scss';`

[2018-02-28 12:05] lanovoy commented on #1954
Got it fixed. It's recommended to use --no-sandbox together with --headless for CI builds (if Chrome is used).

[2018-02-28 18:01] #1954 closed

[2018-02-28 21:15] SirZach commented on #1974
I got burned on this. It'd be nice if there was some sort of CI/CD build pipeline that verified each commit to master

[2018-02-28 21:28] hjnp opened #1982 "How i change the order of css"
Hey folks, i just have a question, i have on /styles.scss import an css for bootstrap
and my problem is, in each component "page" i have like one div wrapping all content like:

<div class="page-x">Content of page</div>

on this componentent css file i want modify styles of bootstrap loaded in original /styles/styles.css
but not changes, only work, if i put next to import of bootstrap in this styl

[2018-03-01 08:23] bjorkegeek commented on #1974
This is not an issue raised by a commit but rather an issue of an external package being upgraded causing breakage. To be safe, the project would have to switch to using exact versions of all packages.

[2018-03-02 08:41] lanovoy commented on #1982
I believe this should already be the case, but you can also try removing import of styles.scss from the app.component.ts and instead adding it into webpack.common.js as an entry point:

`  const entry = {
    polyfills: './src/polyfills.browser.ts',
    main:      './src/main.browser.ts',
    styles: './src/styles.scss'
1};`

[2018-03-02 09:49] meorfi commented on #1589
weird... the quick hint @almothafar  didn't help for me... I have the latest version of repo pulled w/o any updates

[2018-03-02 10:05] FirassKoubaa commented on #1936
finally how can manage it ? , i got the same issues

[2018-03-02 10:11] Bjeaurn commented on #1936
At least try to read?

https://github.com/gdi2290/angular-starter/issues/1936#issuecomment-368404291
https://github.com/gdi2290/angular-starter/issues/1936#issuecomment-366935582

Reminder: This is not a support forum.

[2018-03-02 11:24] Marian0 commented on #1589
Same error here, using:

- Node v9.4.0
- NPM v5.6.0

[code]

[2018-03-02 11:30] almothafar commented on #1589
Are you using `yarn` or `npm` to install modules?
I highly recommend `yarn`: https://yarnpkg.com/en/

[2018-03-02 11:52] meorfi commented on #1589
magic happened when I removed `node_modules` and `package-lock.json` file

[2018-03-02 11:54] Marian0 commented on #1589
@almothafar I've been using *npm*.

I installed yarn and do install, now it's working :)

Thanks

[2018-03-02 12:21] sherlock1982 commented on #1973
There are a couple of packages which needs patches. https://github.com/szrenwei/inline-manifest-webpack-plugin/issues/10 and https://github.com/numical/script-ext-html-webpack-plugin/issues/41. Patches are obvious and I used patch-package for now.

[2018-03-02 12:56] lanovoy opened #1986 "Travis CI build is failing ocassionally"
This is for tracking purposes.
Currently, CI build is often failing (not consistently) with the following message:

 E/direct - Error message: Could not find update-config.json. Run 'webdriver-manager update' to download binaries.
[23:07:14] E/direct - Error: Could not find update-config.json. Run 'webdriver-manager update' to download binaries.

The reason is that webdriver-update call prior to i

[2018-03-03 04:48] aguilera51284 opened #1987 "error"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2018-03-03 04:50] #1987 closed

[2018-03-03 15:45] djorborn commented on #727
for webpack 4 add this option to your sass loader

[code]

[2018-03-06 06:59] SatishMHiremath commented on #1189
0
down vote
Codelyzer

A set of tslint rules for static code analysis of Angular TypeScript projects.

You can run the static code analyzer over web apps, NativeScript, Ionic, etc.

Angular CLI Angular CLI has support for codelyzer.Run the below npm command for tslint

npm i tslint-angular

[2018-03-06 07:00] SatishMHiremath commented on #153
0
down vote
Codelyzer

A set of tslint rules for static code analysis of Angular TypeScript projects.

You can run the static code analyzer over web apps, NativeScript, Ionic, etc.

Angular CLI Angular CLI has support for codelyzer.Run the below npm command for tslint

npm i tslint-angular

[2018-03-06 10:41] lanovoy commented on #1973
FYI, Angular CLI has been updated for webpack 4.0

[2018-03-07 04:21] wohugb opened #1989 "when use webpack 4 and angular 5 throw error like so"
I have upgraded **webpack to version 4** and **angular to version 5**, then run `npm run start:hmr` throw many errors like so:

[code]

[2018-03-07 05:19] sherlock1982 commented on #1989
html-elements-plugin needs to use callback function when it's defined. it's common Webpack4 compatibility issues with a plugin. You can patch it for yourself and report the issue to them.

[2018-03-08 10:11] lukaszsamson commented on #1971
I managed to get this to work with `@ngtools/webpack` 1.10.2 by changing
[code]
to
[code]
in `tscongig.webpack.json`

[2018-03-09 08:22] kingvagabond opened #1990 "npm install complains cannot find module tsickle"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ *] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

bug

* **What is the cur

[2018-03-09 08:25] kingvagabond commented on #1990
Use npm run npm start will meet error as:

Error: Cannot find module 'tsickle'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)

I tried use yarn after npm install, and somehow it's fine. tsickle is not specified in package.json, but yarn can find it and sett

[2018-03-09 22:31] almothafar commented on #1990
Duplicates of #1589 and #1974

[2018-03-10 15:36] smoetje commented on #926
I have the same issue, it came just "out of the blue" without any reason.  It worked fine until yesterday evening.  Working on Windows 10 with latest node, mpm and git bash.  It was rather frustrating... but got it back to work when using the windows command, instead of git bash.  Interesting enough in my case, I work on Windows (7 & 10) only (no mac here).

` warning  in C:/Users/nicol/LaravelPro

[2018-03-14 12:55] ErwinSanquer commented on #1936
I had the same issue, and I didn't catch the warning on my terminal holding the ng serve. It seems that add a page while ng serve is running didn't allow to rebuild properly with the new page.
Relunching the ng serve allow to build correctly the webpack.

[2018-03-15 07:05] chintuboy opened #1991 "WebSocket connection to 'ws://localhost:4000/sockjs-node/612/2pdjfv15/websocket' failed: Connection closed before receiving a handshake response"
I'M using Browser Sync with webpack-dev-server, And facing the issue while using browser sync..!! only form fill up is working, click, scroll is not working in browser sync, and there is no any compile time error occurring, But above things are not working..!! Here is my "Webpack.dev.js" file, So what is wrong over here..?

[code]

[2018-03-15 08:54] almothafar commented on #1991
`const PORT = process.env.PORT || 3000;
`
and

[code]

https://github.com/Va1/browser-sync-webpack-plugin

I see different ports here, is it OK? I think the proxy port should be different not the sync browser, isn't?

[2018-03-15 10:24] almothafar commented on #1973
@sherlock1982 we can use `webpack-inline-manifest-plugin` instead of `inline-manifest-webpack-plugin`
And `script-ext-html-webpack-plugin` version 2 is supporting webpack 4

[2018-03-15 12:11] johanberonius commented on #1939
I had this problem too. It was solved when updating `@angular/cli` from `1.5.5` to `1.7.3`.

[2018-03-15 12:55] chintuboy commented on #1991
@almothafar Ports are corrrect..!!

[code]
So Browser Sync have to proxy my  webpack dev server end point, which is right..!!

[2018-03-15 13:01] almothafar commented on #1991
I referred to documentation, and that port was pointing to browser port, and the proxy got a different port, have you tried this? never used this before, but you can see documentation again.

Here as for example, the UI running on 8080 and proxy on 8888:
https://browsersync.io/docs/options/

Back to the plugin page, it is using 3000 as port and proxy to 3100:

[code]

So I suggest trying to make y

[2018-03-15 14:22] #1990 closed

[2018-03-15 14:28] lanovoy commented on #1991
Please do not open issues to ask about something that is not part of the current repo. There are much better places for that, such as https://stackoverflow.com

[2018-03-15 14:28] #1991 closed

[2018-03-15 14:30] #1982 closed

[2018-03-15 14:34] lanovoy commented on #1989
Please refer to #1973 - upgrade to webpack 4 is still pending. Until then please ask questions about webpack 4 build issues on the stackoverflow instead.

[2018-03-15 14:34] #1989 closed

[2018-03-15 16:42] dangrima90 opened #1992 "Switching from Angular 4 to 5 causing "Uncaught Error: No NgModule metadata found""
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[X] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Bug: I am porting my Angular 4 applica

[2018-03-16 11:57] lanovoy commented on #1992
This is not a support forum... Please for questions like this use https://stackoverflow.com.

[2018-03-16 11:57] #1992 closed

[2018-03-16 14:53] lanovoy commented on #1973
I've did a quick and dirty upgrade to the latest version of webpack (4.1.1). It's working, the build is much faster, but unfortunately I had to disable html-elements-plugin which exists as part of this repo (angular-starter\config\html-elements-plugin\index.js) since it's not compatible and I'm lacking both knowledge and time to upgrade it. My code changes are uploaded into the branch [>> here <<]

[2018-03-17 12:55] dangrima90 commented on #1992
Okay understood, I've created this [post ](https://stackoverflow.com/questions/49334505/switching-from-angular-4-to-5-causing-uncaught-error-no-ngmodule-metadata-foun) on stackoverflow - maybe you can help. I've been trying to fix this for the past 3 days and I'm going crazy.

[2018-03-18 08:32] almothafar commented on #1973
@lanovoy why you removed the `CommonsChunkPlugin`?
https://github.com/gdi2290/angular-starter/compare/feature/migrate-to-webpack4#diff-f737fedb5357468044db2dbe98eb0218L189

Is there any reason? I think chunks are helpful, isn't?

for `html-elements-plugin` I think it can be a PR for it, sounds the Author is active so we can get this running once it is done, and maybe some people using it.

I'm not

[2018-03-18 12:59] kuhnroyal commented on #1973
https://medium.com/webpack/webpack-4-code-splitting-chunk-graph-and-the-splitchunks-optimization-be739a861366

[2018-03-18 14:39] almothafar commented on #1973
@kuhnroyal thanks, but at least add some context to your link, like a TL;DR version.

[2018-03-18 14:55] lanovoy commented on #1973
Yes, those plug-ins were removed as they are listed as not needed for
webpack anymore. Webpack does the same as they do out of the box now.

вс, 18 марта 2018 г., 15:39 Al-Mothafar Al-Hasan <notifications@github.com>:

[2018-03-18 14:57] lanovoy commented on #1973
ngtools 1.10.0 (and 1.10.2) are technically not compatible with the Webpack
4, but you may be right and it's just a cosmetic incompatibility... Feel
free to verify yourself.

вс, 18 марта 2018 г., 15:54 Maksym Lanovyi <lanovoy@gmail.com>:

[2018-03-18 15:10] spvjebaraj opened #1993 "How to use filter condition to get checkbox column"
Hi Team,

How to use filter condition to get the checkbox column is "No" in pnp js core. I used the below code but I am unable to get the result. Can any one suggest me?

`sp.web.lists.getByTitle(listTitle).items.filter('ID eq 10 and IsRetired eq No').get()`

Regards,
Philip

[2018-03-18 15:58] almothafar commented on #1973
@lanovoy I'll do verify later for sure, I just did code review and was looking for clarifications before I reinvent the wheel, sadly not have enough time to do that by myself, so I appreciate your efforts.
If I have fixes I'll do that on the branch that you created.

[2018-03-18 16:48] lanovoy commented on #1973
Awesome! Thank you

вс, 18 марта 2018 г., 16:58 Al-Mothafar Al-Hasan <notifications@github.com>:

[2018-03-18 16:50] spvjebaraj commented on #1993
Addressed with the below code.
`sp.web.lists.getByTitle(listTitle).items.filter('ID eq 10 and IsRetired eq 0').get()`

[2018-03-18 16:50] #1993 closed

[2018-03-19 11:14] lanovoy commented on #1973
One another outstanding issue with the webpack 4 conversion in the branch created by me, is that there is some dependency to webpack 3.x still somewhere (likely in the plugins npm packages). After npm install you will find both webpack versions in the node_modules.

[2018-03-19 11:18] govi2010 commented on #1973
@lanovoy let me look into it. I am not expert but I can try.

[2018-03-19 12:14] chintuboy opened #1994 "Showing count of test cases double than actually written in code, and showing code coverage summary twice..!!"
It is showing test cases count double than actual count of test which are written in code, I wrote two test cases in "app.component.spec.ts" and when I run "npm test", it executes successfully but shows like "√ 4 tests completed" and "TOTAL: 4 SUCCESS" rather than 2, and same for code coverage, It shows code coverage summary twice..!!

![image](https://user-images.githubusercontent.com/30890117/37

[2018-03-19 12:21] sandip76 commented on #1994
Facing the same issue!
Anyone, please help me on this issue

[2018-03-19 12:49] govi2010 commented on #1973
@lanovoy  I checked your code. use `"@angular/cli": "next",` instead of `"@angular/cli": "^1.7.3",` becasue `"@angular/cli": "^1.7.3",` version has dependency of webpack 3

[2018-03-19 14:38] almothafar commented on #1973
I was thinking about postponing this, until Angular 6 is released it should be on 4th of April
https://github.com/angular/angular/blob/master/docs/RELEASE_SCHEDULE.md

[2018-03-19 14:40] lanovoy commented on #1973
I agree, it would be the best to wait until Angular 6 release. I will
create an issue to upgrade shipped with this repo plug-in, tho...

пн, 19 марта 2018 г., 15:38 Al-Mothafar Al-Hasan <notifications@github.com>:

[2018-03-19 14:59] lanovoy opened #1995 "[Upgrade to Webpack4] Shipped with the repo plugin html-elements-plugin need to be upgraded"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

[2018-03-19 15:01] lanovoy commented on #1973
#1995

Additionally in my branch there is a problem with the karma test runner it seems so.

[2018-03-19 15:06] lanovoy commented on #1994
Reproducible with current repo. Looks like karma is running the tests twice.
This might give some clues https://medium.com/@SchizoDuckie/so-your-karma-tests-run-twice-this-is-what-you-need-to-do-be74ce9f257e

[2018-03-19 15:41] klihelp commented on #1686
I keep forgetting about this updates.. checking back once a while, I may check back next month

[2018-03-19 16:54] lanovoy commented on #1994
Pushed a fix. Basically, the browsers collection should only list one browser to be run.

[2018-03-20 05:32] chintuboy commented on #1994
@lanovoy I have tried what you have changed in #1196, After that problem is resolved but on "npm test" browser was not started..!! It executes on terminal only..!! It is ok..?

[2018-03-20 06:47] govi2010 commented on #1973
I agree with waiting for angular 6 release decision. I will try to update html-elements-plugin I don't know how to update but will give a try.

[2018-03-20 06:50] lanovoy commented on #1994
It uses Chrome headless mode.

вт, 20 марта 2018 г., 6:32 chintuboy <notifications@github.com>:

[2018-03-20 15:03] BayuP commented on #926
i have same problem here when i create new react app this is always appear even when i open my old project i already use lowercase and i didnt know how to fix it

[2018-03-20 16:10] #1994 closed

[2018-03-20 16:14] #1894 closed

[2018-03-20 16:17] #1886 closed

[2018-03-20 16:19] lanovoy commented on #1890
I've updated readme with a correct import statement. Use ~ prefix to import from the node_modules subfolder.

[2018-03-20 16:19] #1890 closed

[2018-03-20 16:20] #1942 closed

[2018-03-20 16:20] #1940 closed

[2018-03-20 16:22] lanovoy commented on #1929
Looks like tags were updated. Closing...

[2018-03-20 16:22] #1929 closed

[2018-03-20 16:25] lanovoy commented on #1956
Dockerfile was updated to do multi-staged build instead. If there are any issues with multi-staged build please open a new issue. Closing this one.

[2018-03-20 16:25] #1956 closed

[2018-03-20 16:27] #1921 closed

[2018-03-20 16:29] #1968 closed

[2018-03-20 16:31] lanovoy commented on #1918
Questions like this better be addressed to the stackoverflow...

[2018-03-20 16:31] #1918 closed

[2018-03-20 16:32] #1930 closed

[2018-03-20 16:33] #1958 closed

[2018-03-20 16:33] #1953 closed

[2018-03-20 16:34] #1945 closed

[2018-03-20 16:35] #1892 closed

[2018-03-20 16:36] #1908 closed

[2018-03-20 16:37] lanovoy commented on #1897
Use stackoverflow for questions like this.

[2018-03-20 16:37] #1897 closed

[2018-03-21 11:54] Yizhachok commented on #1973
@lanovoy have you checked HMR reload after code updating? Because after CommonsChunkPlugin removing it was broken to me.

[2018-03-21 12:03] sherlock1982 commented on #1973
@lanovoy you're using jasmine-core 3.1.0 which has an issue with current zone.js. This is explained [here](https://github.com/angular/zone.js/issues/1015). You could use 2.9.1 or wait until new zone.js release.

[2018-03-21 12:17] #1931 closed

[2018-03-21 12:33] lanovoy commented on #1970
Working solution in the #1971

[2018-03-21 12:33] #1970 closed

[2018-03-21 14:59] lanovoy commented on #1973
@Yizhachok Nope, didn't test HMR. You can clone from my branch and verify yourself, tho.
In any case HMR is not really working with current setup (pre-upgrade to webpack4) - it's doing whole page reload instead of hot swapping changed parts...

[2018-03-21 15:00] lanovoy commented on #1973
@sherlock1982 Thanks. I suppose we're going to wait for Angular 6 release in any case, so hopefully jasmine-core will be updated by that time as well...

[2018-03-21 20:57] mrowles commented on #1973
Heads up, there are few issues with current starter test webpack + ts config using packages webpack@4 + typescript @2.6.2 + awesome-typescript-loader@5. More info [here](https://github.com/s-panferov/awesome-typescript-loader/issues/534)

[2018-03-22 04:02] diepvv opened #1997 "'rimraf' is not recognized as an internal or external command"
I run "npm start" and comandline throw error "'rimraf' is not recognized as an internal or external command" how can i fix?

[2018-03-22 04:03] diepvv commented on #1997
![image](https://user-images.githubusercontent.com/13696409/37750621-a01b2326-2dc0-11e8-9838-42e11d783a93.png)

[2018-03-22 05:51] michielcox commented on #1936
+1

[2018-03-22 14:46] YvonneD commented on #926
I think the reason is when you cd to the project file ,the name have Capital issue,such as you want to cd to your desktop,you should check the folder name in your computer,lower case or upper case.
My computer is "Desktop",so I should type "cd ~/Desktop/projectname". Then it should be all done.

[2018-03-22 17:08] J8298c opened #1998 "m"

[2018-03-27 16:17] xMarkusSpringerx commented on #1803
@we125182 in which file did you specify
[code]

[2018-03-28 02:32] #1998 closed

[2018-03-29 02:44] HiIcy commented on #926
I have same problem here,but I am in Vue O(∩_∩)O. @mengdu 感谢，我也是用的cmder 发现竟然是盘符问题呜呜，给跪了

[2018-03-30 18:48] nguyenthach16 opened #2000 "How to SEO Angular Starter"
I used angular2-webpack-starter for my project.
Main functions have been completed. Website can not SEO Google & Share Facebook OpenGraph.
I used Google chrome View page source
...
<app>...</app> // data not found
....
I have watched and tested some angular SEO tutorial 2 but failed

Who has SEO success with angular2-webpack-starter please guide me

Thank you

[2018-03-31 05:25] govi2010 commented on #2000
For SEO you need to use Server Side Rendering. It can be implemented but yet not implemented.
I have done in past but currently I don't have access to code. I created 2 webpack file to one create server build and another to create client side build.

for development we used existing webpack file.

[2018-04-02 05:09] nnavaseelan commented on #665
same issue here also... any solid fix ?

plz help

[2018-04-02 05:14] nimatullah commented on #665
@nnavaseelan are you using mean stack ?

[2018-04-02 05:28] nnavaseelan commented on #665
i am using only angular 5 module wise lazy loading.
all the URLs working with "#" key perfectly, useHash=false has the issue in Prod build

[2018-04-02 05:30] nimatullah commented on #665
do you have github repository for it ?

[2018-04-02 16:41] edgarvaldez99 commented on #1965
I think the problem is solved if you replace this code
[code]
with this
[code]
Do the same for
[code]

[For more information](https://github.com/postcss/postcss-loader)

In this pullrequest is what you need and it works for me
https://github.com/gdi2290/angular-starter/pull/2002

[2018-04-03 14:07] klickagent commented on #1959
Hi. I am also interested in this. Since in production the source maps should not be delivered, right?

[2018-04-04 14:04] almothafar commented on #1997
you just need to read the instructions in readme:

[2018-04-04 14:08] almothafar commented on #2000
@govi2010 this is why contribution is the best things you can do before it is too late :)

[2018-04-04 17:05] govi2010 commented on #2000
@almothafar  I always try my level best to do contribution on open source project. But as I mentioned I don't have access to code. Lets wait for angular 6 release I will try to create webpack which generate SSR package.

[2018-04-05 07:04] SimpleCookie commented on #2000
Sounds awesome @govi2010. I will save this thread, can you comment here once you get started/are done? I am interesting in following the development.

I would be interested in watching while you do it if you do streaming, or pair programming.

[2018-04-05 07:56] almothafar commented on #2000
@govi2010 thank you very much, my comment was just a friendly note.

[2018-04-05 08:51] govi2010 commented on #2000
@SimpleCookie  I am not that much expert that I can do it with live video sharing. Wait for Angular 6 I will surly implement it in this repo.

[2018-04-08 07:58] govi2010 commented on #1995
@lanovoy Finally upgraded HtmlElementsPlugin. Pushing my code.

[2018-04-09 13:15] SimpleCookie commented on #2000
@govi2010 Neither am I, that's why I thought I could learn something from it 😄

[2018-04-09 13:52] govi2010 commented on #2000
@gdi2290  Thank you for invitation.

[2018-04-10 04:43] taiducnguyen opened #2003 "Production Build Getting 404 Error When Refresh Page"
Hi all,

I'm getting the error with production build when I reload page as below:

![image](https://user-images.githubusercontent.com/22149480/38536556-1d6405f8-3cb4-11e8-98e5-8f9600cfb9a7.png)

I already changed config in uglify like this:
![image](https://user-images.githubusercontent.com/22149480/38536581-3b793f22-3cb4-11e8-9d99-43c83ae3f410.png)

But it's still not working

Can you help me to

[2018-04-10 06:52] taiducnguyen commented on #2003
Hi,

I changed "useHash:true" and It's working properly.

![image](https://user-images.githubusercontent.com/22149480/38540446-3104fe3e-3cc6-11e8-8790-d82e20201d12.png)

[2018-04-10 06:52] #2003 closed

[2018-04-11 10:37] lanovoy commented on #2000
@govi2010 Just FYI, even if you cannot push directly to some repo on github, you can always fork the repo, make the change and the create a pull request from your fork into the main repo.
Sorry for offtopic.

[2018-04-11 10:40] govi2010 commented on #2000
@lanovoy  I will keep that in mind.

[2018-04-11 10:47] lanovoy commented on #1997
That's actually something that we might want to consider updating to be referenced from the local install. Since rimraf, webpack and webpack-dev-server are already listed as dependencies for angular-starter, their binaries (well, cmd's actually) are located under the ./node_modules/bin folder. So if we modify
[code]
to
[code]
It should work. I'm personally not a big fan of global dependencies...

[2018-04-11 10:52] lanovoy commented on #1973
Looks like Angular 6 release is postponed again. RC3 just got released. Many really sweet features with Angular 6, so upgrading to it should be pretty much a priority for this starter project.

[2018-04-11 10:54] almothafar commented on #1997
Well, `rimraf` is very helpful even for normal user use, and in 95% of all dependencies and project that I saw or used, using rimraf.

[2018-04-11 11:16] lanovoy commented on #1997
@almothafar Maybe, but in that case we should remove rimraf from dependencies, as there is really no point to have it installed both globally and locally, right?

[2018-04-11 11:35] almothafar commented on #1997
@lanovoy I think local one does not hurt, also, it can be helpful for running local version for deleting some folders like dist, but without global one deleting `node_modules` will be impossible if you run the local one.

[2018-04-14 13:38] tbiinfotech commented on #582
I am using the same, but in my case processing hangs on 63%. I am using

[code]
and in webpack.common.js

`{
                test: /\.scss$/,
                loaders: ['raw-loader', 'sass-loader']
             },`

Can you please help me out?

[2018-04-16 20:12] adrhc commented on #1969
I'm trying to use HMR the _gdi2290/angular-hmr_ or the _angular-cli_ way. None of them work, the page simply refreshes. Is HMR working with _gdi2290/angular-starter_ or not? There's any doc about how to use it?

[2018-04-17 10:59] wptd commented on #665
Same here, CTRL+ F5 or browser Refresh...it says, Not found

[2018-04-17 11:27] nimatullah commented on #665
Bro, you need to add a repository to see your code.

[2018-04-19 15:46] olegshestakov commented on #1936
+1

[2018-04-21 03:54] azizmatmati commented on #1936
+1

[2018-04-22 13:01] interglobalmedia commented on #1935
Similar issue:
[code]
Followed getting started on the site. Does not work.

[2018-04-23 00:38] JoelParke opened #2005 "webpack4 issues"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **What is the current behavior?**
the webpack4 branch can be made to build, when I shift to MiniCssExtractPlugin() from ExtractTextPlugin().  This works fairly well.
Basically:
I added:

       const MiniCssExtractP

[2018-04-23 04:34] govi2010 commented on #2005
@JoelParke  how are you importing `font-awesome`

[2018-04-23 17:17] cfpperche opened #2006 "pseudo class :host not working for me"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository
[x] others

* **What is the current behavior?**
How to do to make pseudo class :host works with ang

[2018-04-23 17:50] DhiaEddineSaidi commented on #1936
in aot : the compiler is missing in the RouterConfigLoader.
is there any work around ??

[2018-04-23 18:46] JoelParke commented on #2005
I should have mentioned that to get the above working, I needed to add '"less-loader": "^1.0.0",' to my package.json.
For font-awesome, I have:
    "font-awesome": "^4.7.0",
    "font-awesome-webpack": "0.0.5-beta.2",

When working for webpack 3, these are the same, but without less-loader, which is not needed.

[2018-04-25 11:51] konuch commented on #2005
@JoelParke Hey, Im also struggling with running angular-starter with webpack 4.
Could you please share your webpack config files and maybe your package.json file so I could see what I'm doing wrong? Thanks in advance.

[2018-04-26 13:13] lanovoy commented on #2006
What about @HostBinding() - does it work for you?

[2018-04-26 19:29] JoelParke commented on #2005
Here are the changes etc...
For config/webpack.prod.js
Remove:
`
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const HashedModuleIdsPlugin = require('webpack/lib/HashedModuleIdsPlugin')
`
and replace with:
`const MiniCssExtractPlugin = require('mini-css-extract-plugin');
const HashedModuleIdsPlugin = require('webpack/lib/HashedModuleIdsPlugin');`

And,  change:
[code]

TO

[cod

[2018-04-26 23:14] JoelParke commented on #2005
<p>Let me know how it goes.&nbsp; I have enabled the compression, but I noticed that if I delete the existing files, then index.html cannot be found, and I it unclear to me how much the compression saves on loading.&nbsp;&nbsp;</p>
<p>I would be curious what your experience is.&nbsp;&nbsp;</p>
<p>Thanks,</p>

[2018-04-26 23:15] JoelParke commented on #2005
<p>Let me know how it goes.&nbsp; I have enabled the compression, but I noticed that if I delete the existing files, then index.html cannot be found, and I it unclear to me how much the compression saves on loading.&nbsp;&nbsp;</p>
<p>I would be curious what your experience is.&nbsp;&nbsp;</p>
<p>Thanks,</p>

[2018-04-27 08:03] kenyz0r commented on #1936
Indeed this was fixed for me using --aot flag but it's not a solution. It looks like when I modified the RouterConfig by adding a new lazy loaded module, everything didn't worked as expected.
How i got rid of my error?
1. Check if your AppModule imports anything else but AppRouterModule (everything else should be lazy loaded)
2. I've added in each of my router modules the following configuration:

[2018-04-27 12:38] konuch commented on #2005
@JoelParke Thanks a lot mate! Tried it out and it seems to be working well. Also thanks for the sourceMap tip ;)

[2018-05-04 00:13] alphaCoder commented on #1824
downgrading "jasmine-core" from "2.7.0" to "2.6.2" fixed my issue
my devDeps
[code]

[2018-05-04 06:02] konuch commented on #1973
Bump, **Angular 6.0** [**is out**](https://github.com/angular/angular/releases/tag/6.0.0).

[2018-05-04 06:09] govi2010 commented on #1973
@konuch  We were waiting for angular 6 release. Yes we need to test our `migrate-to-webpack4` branch before we push to master.
I will start working on SSR implementation this week end.

[2018-05-04 18:37] aaronwJordan commented on #1995
Angular 6 is now out!

[2018-05-08 02:33] Seankps commented on #405
In Angular 2+, If you're using template forms and/or ngModel then you can set default checkbox values right in the model you declare. When declaring the boolean values do something like this:
[code]
when you load up the form with undefined values -they will default to what you set in the model

[2018-05-11 06:06] CaliforniaSoil commented on #626
if you cannot solve with npm, use another package manager
brew install yarn
yarn add PACKAGE

[2018-05-12 01:41] chris13524 commented on #1939
I also had this problem, though it didn't seem I changed anything... Updating `@angular/cli` from `1.5.4` to `1.7.3` worked for me too.

[2018-05-12 10:01] govi2010 commented on #1995
@aaronwJordan  We already have Angular 6 + webpack 4 branch.

[2018-05-18 10:10] stormit-vn commented on #1967
Do we have any update on this issue? I also encounter this problem, its working properly in development mode but ALL variables seem undefined with AOT build.

Note, the variables are defined if we use variable inside the constructor of an injectable provider i.e. service

[code]

[2018-05-18 11:09] cfpperche commented on #2006
Yes, @hostBindings works fine, but if I define pseudo selector :host in my components styles or in sass components files doesn't . If I set component selector name the style is applied

Eg

app-component { display: flex } works for me
:host { display: flex } doesn't

Thanks

[2018-05-18 11:43] Shyam-Chen opened #2009 "Upgrade to Angular 6"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

[2018-05-20 16:25] itsmeneartou opened #2010 "Unable to start with angular-starter"
* **I'm submitting a ...**
 bug report

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
I get an error when I start a server

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
i just used `npm run start` and `npm run server`

* **What is the expected behavior?**
The ap

[2018-05-24 10:44] emanuelcoelho1986 opened #2011 "Docker build once deploy anywhere"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[ x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
I would like to request a feature, if

[2018-05-25 04:51] luchillo17 commented on #727
As far as i know it's been decided that any path that should go to `node_modules` must be preceded by `~`.

[2018-05-30 07:29] sksandeep087 commented on #405
Hello, Sir
Can you Help me , I want to use multiple checkBox byDefault selected.

[2018-05-30 10:28] igimanaloto commented on #727
I prefer @djorborn's suggestion. I had to deal with a lot of ruby-sass files!

[2018-05-30 16:29] aaronwJordan commented on #1973
@govi2010 I did a quick skim in `migrate-to-webpack4` and didn't see anything for SSR. Is that coming soon? We're looking at SSR soon and I want to do it the 'correct` way. Thanks!

[2018-05-31 02:33] gaojinbo010 opened #2012 "No Upgrage to NG6 ?"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

[2018-06-01 03:17] rogueRabbit opened #2013 "angular2 at ZoneDelegate.invoke"
Error: Uncaught (in promise): TypeError: Cannot read property 'call' of undefined TypeError: Cannot read property 'call' of undefined at __webpack_require__ (http://user.sdoprofile.com/b/polyfills.1527818154169.bundle.js:1:119) at http://user.sdoprofile.com/b/main.1527818154169.bundle.js:1:220849 at ZoneDelegate.invoke (http://user.sdoprofile.com/b/polyfills.1527818154169.bundle.js:1:66450) at Obj

[2018-06-04 21:28] George35mk commented on #926
I solved by moving the files that have the problem into another directory
- then I checked for uppercase if I found some files with uppercase I renamed this files to lower case
- and then i paste the files back again.

[2018-06-05 14:18] govi2010 opened #2014 "SSR Requirements and CheckList"
Hello everyone.
Lets get this done. I think we should implement SSR in this awesome starter.
Before implementing I want to here everyone's idea and requirements.

[2018-06-05 14:30] govi2010 commented on #2012
@gaojinbo010  Please check branch migrate-to-webpack4 . which is angular 6 added

[2018-06-06 21:31] WillooWisp commented on #2012
Can you please share any release schedule, feels like this repo has come to a stall when it comes to keeping up with dependent package versions.

[2018-06-07 02:59] govi2010 commented on #2012
@WillooWisp  I don't know when will master branch be updated. but We have branch with latest version packages.
Branch Name: migrate-to-webpack4

[2018-06-07 13:11] kavithamadhavaraj commented on #570
`Angular CLI: 6.0.8
Node: 10.4.0
OS: linux x64
Angular: 6.0.4
`

For me, just including the scripts in the index.html (usual way as mentioned by @YagoLopez ) worked.

[2018-06-14 01:28] umgchalla opened #2016 "Not working in IE11 even after uncommenting import statements in polyfills.browser.ts"
Had to modify the build-utils.js --> baseUrl from '/' to '/demo/'

Is this going to block anything??

[2018-06-15 11:47] govi2010 commented on #2012
@aledpardo  I think easy would be to close our angular 6 branch and put you code inside source folder.
Then just install needed package from your project to new cloned project.

I think that will be easy if you have not customize our webpack files.......

[2018-06-15 12:00] aledpardo commented on #2012
@govi2010 thanks for quick reply.

I'll try this approach, but I'm sure my webpack files were customized a bit.

[2018-06-19 21:37] lanovoy commented on #2012
Are there any known issues with feature/migrate-to-webpack4 branch? If not, we can create a pull request into master.

[2018-06-19 21:48] lanovoy commented on #2011
This is how we do it: we have multiple configurations bundled with the application in form of json files. When we're running a container, we pass an environment variable with the name of the environment. Then the kestrel server in our case would serve when requested from client for config.json a content from the environment specific config that we have on the file system inside the image but not i

[2018-06-20 13:41] tenbits commented on #1022
Hey @water42, have you find anywhere the explination as why a sub component should be registered via root or nearest module.  Absolutelly don't understand this decision.  Everything in the architecture is about the encapsulation, but suddenly if some functionallity of a component should be encapsulated by a child component, the subcomponent "leaks" up to the module where it now should be registere

[2018-06-20 14:07] emanuelcoelho1986 commented on #2011
Thanks for your answer Iavonoy. We did something similar. We are using Google Cloud and Circle CI. We did something similar. Upon deploys, after all the actions we mount a config folder with the desired configurations for the desired client. This was a way we found to have multiple clients with several configs.

Either way man, I thank you for your answer.

[2018-06-20 16:42] lanovoy commented on #2011
Yeah, that may be a good solution if you want to be able to change the configuration without rebuilding the image/redeploying the container...

[2018-06-20 18:13] umgchalla opened #2017 "Where do we set custom path for node_modules directory"
I want to set a custom path for node_modules directory and use that path all the time like if I add new library and that has to add in the node_modules in that path.

Thanks in advance

[2018-06-22 05:07] esonmez opened #2018 "g"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @TipeIO](https://twitter.com/TipeIO)

* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current behavior?**

[2018-06-22 05:07] #2018 closed

[2018-06-27 17:09] notVitaliy commented on #727
@lnunno the `~` prefix will also reslove any aliases you may have setup in webpack, not just `node_modules`.

[2018-07-04 11:12] ashish701ranjan commented on #1824
Mine is not a new project, I am running an angular2 project with `"@angular/cli": "1.2.0"`. I updated my typescript version from `2.0.3` to `2.7.2` and now I am getting similar issues while running `ng e2e`. I have updated all the `@types/*` to latest versions, also updated `jasmine-core` but still have the same issue. Does anyone know any other solution to this?

[2018-07-05 08:30] Donovantxy commented on #1936
I have the same issue loading
[code]
I the case up here the error is
`Error: Could not resolve "../node_modules/module-upgrade/src...." from /Users/username/project/src/app/app/module.ts`
and it works when I apply the method @Bjeaurn explained here
[code]