[2016-02-05 09:30] samvloeberghs commented on #295
I believe webpack will only parse the sass files and give back css, which is than required (in your component). What I do is just something like:

[code]
I believe that will still let you benefit from angular handling the css.

[2016-02-05 10:49] asgerjensen opened #298 "Karma test fails to initialize when using reexported types"
Hi,

In my project I have a structure like

[code]

In models.ts I do something like
[code]
to give a single import point for the rest of the code to all model types.

Now, I am writing a test for a service, that includes a model, like so:

[code]

And the associated test:
[code]

Running karma on this gives an error with:

(same for PhantomJS)

However, if I change my include in TestService.ts to

[2016-02-05 11:13] asgerjensen commented on #298
Seemed to be an errant binding, in the app scope.

I had declared an empty binding array in models.ts, which was included in the global bootstrap bindings.
When it (the array) is present, the testsuite fails to start. If absent (removed from bootstrap.ts), the test-suite works.

It seems to not matter, if the array contains anything or not.
I am very confused.

[2016-02-05 11:31] dsebastien commented on #264
I still get the error even without the src/**....:

Here's the script I'm using: `"e2e": "ts-node node_modules/.bin/protractor",`
`

[2016-02-05 15:40] user414 opened #299 "Start webpack fails on Internet Explorer 11"
Part of it is cause by an angular beta xx issue described here,

https://github.com/angular/angular/issues/6501

but another part is cause by what I imagine to be the prod configuration of webpack, since I get no error with the dev config, but IE 11 complaining about a missing '(' for the prod configuration. Will investigate further later, probably just use the dev config for now... Was going to t

[2016-02-05 16:27] mattma commented on #295
@samvloeberghs I do not need a sass file in prod environment. Since I am coming from world of Gulp, still new to webpack, I am not too familiar with this use case.

What I really want, compile `scss` into `css`, that is it, no debugging needed in prod.

In my component source file, I have `styles: [require('./myComponent.scss')],`, in that case, in the production build, I need to compile `scss` to

[2016-02-06 06:40] daniele-zurico commented on #275
No news about that one?

[2016-02-06 07:03] mattma commented on #295
@samvloeberghs I tried with your solution, it did not work as expected. Some styles works like `h1[_ngcontent-hkn-3]` selector, most of them did not. I am not sure how to make it work.

@gdi2290 solutions works fine. I just want to know the details what is behind the scene. [See my previous questions](https://github.com/AngularClass/angular2-webpack-starter/issues/295#issuecomment-179642614)

[2016-02-06 07:03] #295 closed

[2016-02-06 12:54] dbarke opened #302 "Problem when trying to install typings"
Hi!

When trying to install the application according to the [guide](https://github.com/AngularClass/angular2-webpack-starter#getting-started), on the step "typings install", I run in to trouble and get this error:

typings ERR! message Unable to read typings for "zone". You should check the path is correct
typings ERR! caused by https://raw.githubusercontent.com/angular/DefinitelyTyped/b923a5aaf0

[2016-02-06 13:11] idiotstrike opened #303 "duplicate declarations"
On a fresh install after running npm install and typings install, the typescript compiler throws about a million duplicate identifier errors (I'm running the compiler using webpack):

Any ideas?

[2016-02-06 13:27] mastertinner commented on #302
this should be fixed with #301

[2016-02-06 13:44] dbarke commented on #302
Ah, thanks!

[2016-02-06 13:44] #302 closed

[2016-02-06 15:46] Migrain opened #304 "404 on zone.d.ts on npm install"
I'am Getting 404 on zone.d.ts on npm install. Is it the correct adress and it is just down or is something wrong with my setup?

Full trace:
typings ERR! message Unable to read typings for "zone". You should check the path is correct
typings ERR! caused by https://raw.githubusercontent.com/angular/DefinitelyTyped/31e7317c9a0793857109236ef7c7f223305a8aa9/zone/zone.d.ts responded with 404, expected

[2016-02-06 15:47] abdulhaq-e commented on #304
I believe https://github.com/AngularClass/angular2-webpack-starter/pull/301 fixes the url.

[2016-02-06 16:02] Migrain commented on #304
Great! thnx!

[2016-02-06 18:33] gdi2290 commented on #304
thanks for creating the issue :+1:  fixed via https://github.com/AngularClass/angular2-webpack-starter/pull/301

[2016-02-06 18:35] gdi2290 commented on #303
can you run `npm run fix:ng2`

[2016-02-06 18:49] alvipeo opened #305 "Not really on topic but still - can't use fromArray on Observable"
I use this great repo as a source for my ng2 project and in my tests I need to use Observable.fromArray. But this simple code fails:
[code]
Here's an error:

Could anyone have an idea what would cause that? I'm stuck with this.

[2016-02-06 19:02] abdulhaq-e commented on #305
1- Show how `Observable` is imported.
2- Try `from` rather than `fromArray`, according to rxjs 4 docs, `fromArray` has been deprecated. I'm not sure if it was reimplemented in rxjs 5.

[2016-02-06 19:16] alvipeo commented on #305
Here are all Rx related imports:
[code]

I tried *from*, *of* - all the same.

[2016-02-06 19:24] alvipeo commented on #305
Could anyone please put these 2 lines of code in their angular2 project just to check if it's my local issue please?
[code]

[2016-02-06 20:06] valorkin commented on #305
@alvipeo ng2 use rxjs v5 not 4
this could help https://github.com/ReactiveX/RxJS/blob/master/MIGRATION.md
and `fromArray` deprecated, use `from` instead
there are better place for this kind of questions
https://gitter.im/Reactive-Extensions/RxJS

[2016-02-06 20:06] #305 closed

[2016-02-06 22:34] idiotstrike commented on #303
Thanks, that fixed it.

[2016-02-06 22:34] #303 closed

[2016-02-06 22:41] idiotstrike commented on #277
Have you looked into split-by-name-webpack-plugin? It allows you to separate modules from app code by matching an expression against the module's path.

[2016-02-07 00:56] #298 closed

[2016-02-07 01:01] alvipeo commented on #305
ok, I found out this results in an error when running these 2 lines of code in a test method. If I run prj in a browser, no problem, values are in console log. But yeah, probably is an issue with angular test framework.

[2016-02-07 06:18] MurhafSousli opened #306 "globalize a variable from **polypills**"
I added a third party library in **polyfills.ts**
[code]
I want to be able to call `wp` from any component.
[code]
I want to avoid requiring the library in each component page, how can I globalize a variable from **polypills.ts**

[2016-02-07 08:23] gdi2290 commented on #306
the same way you include jQuery https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-jQuery

[2016-02-07 09:23] devcube opened #307 "Three production bundles (main, polyfills and 1)"
Hi,

When executing "npm run build:prod" the webpack.prod.config.js file is used. Within that file we have two entry points given:
[code]
The output has three bundles: main.js, polyfills.js and 1.js.
When looking more closely the 1.js contains the about.async.ts file - why is that separated into its own bundle and why is it called "1"?
When trying to separate it into a named bundle, like this:
[co

[2016-02-07 11:40] xdgimf commented on #293
+1

[2016-02-07 12:43] RemKolomna commented on #293
I ended up using separate project for server api using webwatch and nodemon for live reload.  In single folder mode I had problems with web pack watch and dev server working simultaneously.

[2016-02-07 13:45] valorkin commented on #246
Just make a PR to ng2-material, and rename prod deps to peerDependencies

[2016-02-07 22:30] rjmreis opened #309 "Update Quick Start section"
Please remove this step from the Quick Start section
[code]
There is already a postinstall script in package.json that will install the typings.

[2016-02-08 12:19] KhoaSydney opened #310 "Cannot find module 'process-nextick-args'"
Hi,

I followed the instruction and ran npm install but it gives me the following error:

[code]

Anyone know why?

cheers,
Khoa

[2016-02-08 15:43] samvloeberghs commented on #264
same here, running it without ts-node for now.

[2016-02-08 16:11] mburger81 opened #311 "jasmine.d.ts not available"
Hello,

I'm using your angular2-webpack-starter and on npm install I get this error

typings ERR! message Unable to read typings for "jasmine". You should check the path is correct
typings ERR! caused by https://raw.githubusercontent.com/angular/DefinitelyTyped/4b36b94d5910aa8a4d20bdcd5bd1f9ae6ad18d3c/jasmine/jasmine.d.ts responded with 404, expected it to equal 200

thx
  Michael

[2016-02-08 17:16] gdi2290 commented on #310
If you're on npm version 2.x.x then windows has a limit of folder depth. You can update to `npm@3` via `npm install -g npm@3` then run `npm cache clear` and delete your `node_modules/` before installing again

[2016-02-08 17:18] gdi2290 commented on #311
can you update your typings.json to the latest changes https://github.com/AngularClass/angular2-webpack-starter/blob/master/typings.json

[2016-02-08 17:38] mburger81 commented on #311
I cloned your master and there anything works fine. I fink i will upgrade my project to your last master!

Some hours before I tried to update typings.json to your last one but it didn't work, maybe I did something wrong.

thx
  Michael

[2016-02-08 17:38] #311 closed

[2016-02-08 17:58] sumigoma opened #312 "Errors running server:dev on windows"
I'm getting the following error when trying to run "npm run server" with the latest.

    Uncaught TypeError: Cannot assign to read only property 'length' of function 'function Map() {
	        this._keys = [];
	        this._values = [];
	        this._cache = exports.cacheSentinel;
	    }'(anonymous function) @ map.ts:9(anonymous function)
    Uncaught reflect-metadata shim is required when usin

[2016-02-08 22:32] blakeembrey commented on #274
@vasyl-romanchak Can you share your project or a reproduction? Make sure you're only referencing either the browser or main version from `typings`.

As for the difference, you can read about it from TypeScript. One is declaring a namespace and the other is declaring a module.

[2016-02-09 06:27] mburger81 opened #313 "Does not find icons"
After run npm start on an empty project in my browser console I see this errors
GET http://localhost:3000/icon/favicon-16x16.png 404 (Not Found)
GET http://localhost:3000/icon/favicon-96x96.png 404 (Not Found)
GET http://localhost:3000/icon/favicon-32x32.png 404 (Not Found)
GET http://localhost:3000/icon/android-icon-192x192.png 404 (Not Found)

in your index.html you referenced it so
....href="/i

[2016-02-09 10:59] hoff opened #314 "how to use app.html template url instead of multi-line template string?"
(probably a question instead of an issue)

When I move the multi-line template string in app.ts to a file (app.html, next to app.ts) and specify templateUrl: './app.html', I get an error: Failed to load app.html (main.ts:35).

What do I need to do to use a template file instead of multi-line string in app.ts?

[2016-02-09 13:53] samvloeberghs commented on #314
try `template: require('./app.html')` instead of `templateUrl: './app.html';`

[2016-02-09 14:02] valorkin commented on #314
one way as @samvloeberghs said
or use copy webpack loader

[2016-02-09 15:16] dvh91 commented on #284
For next people having that problem:
webpack config:
{ test: /\.scss$/, loaders: ['raw-loader','sass-loader'] },

component:
styles: [require('./component.scss')],

.scss file:
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

[2016-02-09 15:16] #284 closed

[2016-02-09 18:37] alvipeo commented on #284
Added to Wiki here https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)

[2016-02-10 01:31] panKt opened #315 "Symlink directory can't import from node_modules"
I'm symlinking directory to my project and all the ```.ts``` works fine except those who have any imports from ```node_modules``` dir, for example
[code]
will throw error
[code]

I tried to set ```fallback```, ```root```, ```modulesDirectories``` in **webpack.config.js** but with no luck :(

[code]

[2016-02-10 07:41] Spittal opened #316 "Using PostCSS with the "styles" meta property"
Hey,

I'm looking to make a component that scopes styles that are processed using PostCSS
[code]

I'm using the raw approach so that my styles return as strings, here's my configuration
[code]

It looks like my styles are scoping but they don't seem to be loading as a raw string. They look like this
[code]

Is this because the `postcss-loader` doesn't return a string? And if so is there a workarou

[2016-02-10 07:46] MartinMuzatko opened #317 "Working BDD Test Examples - Missing dependencies"
Hello there!
First of all: thank you a lot for creating this awesome starter package, it sure helped me to understand how BDD can't run with Jasmine alone - especially if you are going to test in typescript.

I'm talking about the current `app.spec.ts` example, there is describe missing in the import.

https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/app/app.spec.ts
Otherwi

[2016-02-10 07:57] Spittal commented on #316
If it means anything I found a really great NPM package for this exact purpose called `to-string`

https://www.npmjs.com/package/to-string-loader

Now I can load whatever I want with the css-loader and cast it to a string. Works great with Angular 2 emulated encapsulation.

[2016-02-10 09:58] pdSquirrel opened #318 "rimraf missing on Windows platform"
Today when cloning the repo I had problems running 'npm install'. Got errors when typings was suppossed to be installed. Turned out I needed to install 'rimraf' globally before I got it to work. Known issue or just my setup?

[2016-02-10 10:11] dsebastien commented on #318
Weird, rimraf is in the devDependencies within package.json so if you run `npm install --no-optional` it should be there.

What was the error?

[2016-02-10 10:20] pdSquirrel commented on #318
The interesting thing is that it looks like rimraf is a dependency for typings, and based on this error I reinstalled typings globally and still got the error. Had to install rimraf by itself globally to get it to work.

[code]

[2016-02-10 10:23] pdSquirrel commented on #318
Some more error output:
`npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\nodejs\\node.exe" "C:\\Users\\rono7329\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "run" "fix:ng2-clean"
npm ERR! node v5.3.0
npm ERR! npm  v3.5.3
npm ERR! code ELIFECYCLE
npm ERR! angular2-webpack-starter@2.0.0 fix:ng2-clean: `rimraf node_modules/angular2/manual_typings node_modules/angular2/typings node_mo

[2016-02-10 11:20] dsebastien commented on #318
The culprit is probably there: https://github.com/AngularClass/angular2-webpack-starter/blob/master/package.json#L37

Try to change that line to ` "fix:ng2-clean": "rimraf node_modules/angular2/manual_typings node_modules/angular2/typings node_modules/angular2/bundles/typings",`

[2016-02-10 12:07] mburger81 commented on #136
@gdi2290 your wiki page works fine,
but my problem is, my SASS file imports my other CSS files which load images with URL, and so my reference to this images are now wrong.
Is there a possibility to save the compiled SASS file under a folder and then include in manually in index.html?
something like that?

thx
 Michael

[2016-02-10 12:08] pdSquirrel commented on #318
So what we are doing by that change is using the global rimraf instead of the local node_module one?

[2016-02-10 16:51] dsebastien commented on #318
Nope, actually when an npm script executes, all the scripts located under node_modules/.bin are available in the "path" and if there are conflicts with the global path (which contains your global node modules), then the local version has precedence.

[2016-02-10 19:03] pdSquirrel commented on #318
Ohhh.. thanks for the enlightenment. I did not know.

Well, it seems to be a Windows problem. Did a clone at home tonight under Linux and did not see this problem.

[2016-02-10 21:13] gdi2290 commented on #136
@mburger81 you can import it as you normally would using the embedded stylesheets(see https://webpack.github.io/docs/stylesheets.html) then in your app.ts you would have

[code]

[2016-02-10 21:16] NehrDani opened #319 "Webpack Dev Server Hot Module Reload"
Why not using the hot reloader from the dev server?

[2016-02-10 21:19] gdi2290 commented on #319
Can you make a pull-request?

[2016-02-10 21:25] gdi2290 commented on #316
@Spittal can you update this wiki page https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-PostCSS on how to include PostCSS (or at least what you have already). I can try it out and see what the fix is

[2016-02-10 22:39] Spittal commented on #316
I added a pretty detail explanation now.

https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-PostCSS

As for my problem before, I wasn't targeting `:host` in my css file, I was targeting the actual selector. Which messed up scoping.

I've change my css file to be
[code]

[2016-02-10 22:39] #316 closed

[2016-02-10 22:40] gdi2290 commented on #316
awesome thanks!

[2016-02-11 10:13] Somiks opened #322 "angular2@2.0.0-beta.3 requires a peer"
npm WARN EPEERINVALID angular2@2.0.0-beta.3 requires a peer of reflect-metadata@
0.1.2 but none was installed.
npm ERR! code 1

[2016-02-11 10:14] samvloeberghs commented on #316
didn't know yet about that :host selector! nice

[2016-02-11 11:07] Somiks opened #323 "TSD is deprecated"
npm WARN deprecated tsd@0.6.5: TSD is deprecated in favor of Typings (https://gi
thub.com/typings/typings) - see https://github.com/DefinitelyTyped/tsd/issues/26
9 for more information

[2016-02-11 12:30] Somiks opened #324 "htmlWebpackPlugin"
URIError: Failed to decode param '/%7B%=o.htmlWebpackPlugin.files.css[css]%20%%7
D'
    at decodeURIComponent (native)

[2016-02-11 17:11] ghillert commented on #273
You may also want to checkout: https://github.com/ghillert/angular2-webpack-starter-bootstrap

[2016-02-11 20:33] alvipeo opened #325 "Beta 5 - tried but failed"
ok, I tried to convert the project myself to beta 5 but it fails:

npm ERR! Exit status 1

Please help with this. I think everyone would benefit from this great repo when it's upgraded to beta 5.

[2016-02-11 20:35] gdi2290 commented on #325
hi, yeah sorry I updated it last night and forgot to push it up

[2016-02-11 20:50] gdi2290 commented on #325
done via https://github.com/AngularClass/angular2-webpack-starter/commit/46d24697f65d414d2c88ca979ecd86d6cfbde6c5

[2016-02-11 20:51] gdi2290 commented on #324
can you download latest

[2016-02-11 21:26] alvipeo commented on #325
No go:

[code]

Just cloned the latest repo.

[2016-02-11 22:28] lanocturne opened #326 "Getting hashingUnhandled type error when running build:prod"
I am getting below errors when trying to build prod dist
[code]
Build dev dist works. My webpack.prod.config.js is updated and modified similar to webpack.config.js

Could anyone guides where I should look onto?

[2016-02-11 22:33] gdi2290 commented on #325
can you apply these changes https://github.com/AngularClass/angular2-webpack-starter/commit/1fcdc9b3cacdbc56f0e2d02dc6bdc2c96a51bc3a
cc @blakeembrey

[2016-02-11 22:36] blakeembrey commented on #325
The repo location will be redirecting file. The issue you're running into is: https://github.com/angular/angular/issues/7000. Basically Angular broke every Windows user because the semicolon is not a Windows delimiter and thought was part of the path.

[2016-02-11 23:03] gdi2290 commented on #323
thanks, fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/97896e31703bfbd583c37faa7f7a31edd8960608

[2016-02-11 23:03] #323 closed

[2016-02-11 23:05] gdi2290 commented on #322
can you pull latest?

[2016-02-11 23:16] gdi2290 commented on #325
@alvipeo you and every windows user has to wait for beta.6 release

[2016-02-11 23:17] #226 closed

[2016-02-11 23:19] #261 closed

[2016-02-11 23:19] gdi2290 commented on #324
this should be resolved in the latest changes. feel free to open the issue again if you still have a problem

[2016-02-11 23:19] #324 closed

[2016-02-11 23:36] alvipeo commented on #325
DAMN...

[2016-02-12 00:28] alexeagle commented on #325
beta.6 is released now.
In general it's probably wise to wait a few hours for dust to settle before updating a widely-used resource to latest.

We'll write up a mini-postmortem on beta.4/5

[2016-02-12 00:42] gdi2290 commented on #325
@alvipeo updated to beta.6 https://github.com/AngularClass/angular2-webpack-starter/commit/aecdc3e6fcf70c4f956030f2a46b871c5c25d9d5
@alexeagle thanks for fixing the release

[2016-02-12 00:42] #325 closed

[2016-02-12 00:56] gdi2290 commented on #326
can you see issue https://github.com/erm0l0v/webpack-md5-hash/issues/1

[2016-02-12 01:02] gdi2290 commented on #309
@rjmreis can you make a pull-request?

[2016-02-12 02:16] alvipeo commented on #325
Thanks! Works like a charm!

[2016-02-12 02:17] chriscurnow opened #327 "Errors in /typings/browser/ambient/"
Hi I'm hoping someone can help me out of hole here.

I'm sure I solved this problem recently but I can't remember how.

Yesterday I tried running Angular 2.0.0 beta 5 but it gave me lots of errors so I just switched back to beta 3. This gave me even more errors so I ended up deleting my whole node-modules directory and re-installing.

After this most of my errors went away but now I am getting sta

[2016-02-12 02:39] gdi2290 commented on #327
can you update to latest changes

[2016-02-12 02:55] chriscurnow commented on #327
Thanks @gdi2290.

I found how to fix the problem.

Delete the Typings directory.

Run npm install.

This, of course, recreates the Typings directory correctly.

[2016-02-12 02:55] #327 closed

[2016-02-12 07:42] dsebastien commented on #326
Hey @gdi2290 what's the actual reason for using webpack-md5-hash? To get less risk of collisions? If so, apparently it's possible to simply pass a different hashing algorithm in the output options as per the last comment there: https://webpack.github.io/docs/long-term-caching.html

[2016-02-12 09:05] dsebastien commented on #326
I think I've got it. It's possible to pass an initialValue to the reduce function: http://es5.github.io/#x15.4.4.21

With it I think the issue will be fixed.

[2016-02-12 09:51] clouless opened #328 "typescript lint error does not lead to exit code != 0 (jenkins)"
I am using the build chain inside jenkins.

Normally I do this to fail the job if a npm run exits with exit code != 0:

[code]

But here somehow if I am having linting errors it does not fail with an error code != 0.

When I do

[code]

It tells me I have no lint errors.

But when running `build:prod` at the end of webpacking stage it fails silently with exit code 0.

![image](https://cloud.github

[2016-02-12 11:35] samvloeberghs commented on #317
So what's going wrong here you believe? I just tested and he tests are running fine on my side. Try npm run test.

Perhaps your IDE is complaining that it doesn't find describe? Just guessing :)

For BDD and CucumberJs ( for example ) checkout this example project:
https://github.com/samvloeberghs/protractor-gherkin-cucumberjs-angular2

I'll be updating / providing this with more details on a blog

[2016-02-12 13:22] gruenebe commented on #199
regarding boostrap 4. I think there is a little mistake in the doc:
https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)

You should not use bootstrap-sass package since it is bootstrap 3. And use config file to tell bootstrap-loader that it is bootstrap v4 (which already contains scss files): https://github.com/shakacode/bootstrap-loader/blob/

[2016-02-12 15:36] jmiazga commented on #264
+1. Seeing the same 'SyntaxError: Unexpected token case' error.

[2016-02-12 17:26] dsebastien commented on #326
FYI I've created a sibling project with SHA rather than MD5: https://www.npmjs.com/package/webpack-sha-hash

[2016-02-12 19:22] lanocturne commented on #326
@gdi2290 Thank you! After updating md5-hash to 0.0.5 it shows me the useful error stack.

[2016-02-12 19:22] #326 closed

[2016-02-13 02:05] saldoukhov opened #329 "Observables need tests"
After pulling the latest (https://github.com/AngularClass/angular2-webpack-starter/commit/29855431272a3cabb8044ebee4332d75794b8632) Observables are not working. I suggest adding a unit test to prevent this from happening in the future.

[2016-02-13 02:28] gdi2290 commented on #329
can you apply this change https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/polyfills.ts and see if it works

[2016-02-13 14:22] samvloeberghs commented on #329
@saldoukhov you should check which features of RxJs you need.
For example I needed to add the share package of RxJs to get my observables implementation to work!

[2016-02-13 16:40] rjmreis commented on #309
Done.
https://github.com/AngularClass/angular2-webpack-starter/pull/330

[2016-02-13 21:06] NehrDani commented on #319
Ready for pulling ;-)

[2016-02-13 21:17] #309 closed

[2016-02-13 21:48] robwormald commented on #329
note that if you want *all* the operators, you can do `import 'rxjs/Rx'` and it'll bring all all the ones you have listed there. It's a lot of bytes, but easier to maintain for this case.

[2016-02-14 00:30] #322 closed

[2016-02-14 00:31] gdi2290 commented on #318
I removed fix:ng2-clean in the latest changes. I probably need to include ` node_modules/.bin` again for windows. I'm going to close this but if you run into another issue feel free to open another one

[2016-02-14 00:31] #318 closed

[2016-02-14 00:32] #304 closed

[2016-02-14 09:39] sumigoma commented on #312
Resolved with latest

[2016-02-14 09:39] #312 closed

[2016-02-14 10:59] marekpw opened #332 "angular2 on CDN"
Would it be possible to make Angular 2 load from cdnjs? It doesn't make sense to compile the entire library (which is huge) with the app bundle.

Webpack allows to do this using the externals config option. I tried doing something like this:

[code]

And adding the cdnjs sources to the HTML template as such:
[code]

But I'm getting some errors, so it would be cool to see how you implement it.

[2016-02-14 16:11] devcube commented on #307
I've also noticed that the @RouteConfig in app.ts uses a loader for the async about component which is required(). I assume that this is the reason that it is separated into its own webpack bundle. But I still would like some more information about how this all fits together.

[2016-02-14 16:24] devcube commented on #307
Ok, more updates. This is handled by the es6-promise-loader from ours truly gdi2290: https://github.com/gdi2290/es6-promise-loader

It's handled by this loader in the webpack production config:
[code]

I'm still not sure why this bundles into "1.js" but I haven't examined the code closely yet either.

[2016-02-14 16:27] devcube commented on #332
+1 I am also interested in this. It would be nice to see this incorporated into the production configuration of this repo.

[2016-02-15 08:34] Somiks commented on #324
@gdi2290
 I still have this issue.
and also have this message in the top of windows
ERROR in ./~/zone.js/lib/patch/geolocation.ts
(4,14): error TS2339: Property 'navigator' does not exist on type 'Global'.

ERROR in ./~/zone.js/lib/core.ts
(122,14): error TS2339: Property 'zone' does not exist on type 'Global'.

[2016-02-15 08:35] Somiks commented on #324
@gdi2290
I can't reopen this issue.

[2016-02-15 08:40] Somiks commented on #324
@gdi2290
ups, i forgot to update index.html. thanks it works

[2016-02-15 09:21] Somiks opened #333 "DEPRECATION WARNING: 'enqueueTask' is no longer supported and will be removed in next major release. Use addTask/addRepeatingTask/addMicroTask polyfills.bundle.js:17086"
DEPRECATION WARNING: 'enqueueTask' is no longer supported and will be removed in next major release. Use addTask/addRepeatingTask/addMicroTask polyfills.bundle.js:17086

 i see this message in Chrome console.

[2016-02-15 11:07] samvloeberghs commented on #333
It's a warning, don't care too much about it . Just don't use enqueueTask and you will be fine

[2016-02-15 15:02] user414 commented on #299
Realized it was a problem with the original shim for IE 11 not uglify itself, updated original angular2 issue.

[2016-02-15 15:02] #299 closed

[2016-02-15 17:16] saldoukhov commented on #329
@gdi2290 Yes, bringing back polyfills has fixed the Rx problem... Please note, that this issue is not about broken observables, it is about that fact going unnoticed in CI...

[2016-02-15 17:52] gdi2290 commented on #333
the problem is with angular2 so I'm sure they will fix it upstream eventually in a future beta release

[2016-02-15 19:52] saldoukhov opened #334 "Rx .map is not working in production"
The polyfill seems to have .map listed:
if ('production' === process.env.ENV) {
...
  // RxJS
  // In production manually include the operators you use
  require('rxjs/add/operator/map');
} else {

But when I run my dist, i get
EXCEPTION: TypeError: this.http.post(...).map(...).do is not a function in [null]

In dev, works fine.

[2016-02-15 19:52] #334 closed

[2016-02-16 01:22] yaroslavya commented on #297
:+1:

[2016-02-16 02:02] alvipeo commented on #297
I tried it. But that's not what I'm talking about. I'd like to be able to use debugger in VS Code while running tests. So I could set a breakpoint inside test code.

[2016-02-16 09:22] sumigoma commented on #297
https://github.com/AngularClass/angular2-webpack-starter/issues/144

This extension is usable and allows you to set breakpoints in VS Code, but configuring it correctly is still a pain. Webpack-dev-server puts the transpiled .js files in a virtual filesystem so the sourcemaps can't map the lines correctly to your typescript without some work. Still experimenting.

[2016-02-16 15:41] alvipeo commented on #297
Please share your findings when you're done.

[2016-02-16 22:41] sumigoma commented on #297
You can get it working by installing the vscode chrome debug extension in vscode (https://github.com/Microsoft/vscode-chrome-debug), and then changing the output in module.exports within webpack.config.js to get webpack to change the sourcemaps to point to the local filesystem.

      // Config for our build files
      output: {
        path: root('dist'),
        filename: '[name].bundle.js',

[2016-02-17 00:27] chriscurnow opened #336 "A grid for webpack-starter?"
I've just spent some time searching through the issues here and can't find anything regarding a grid.

Grids are very important for my project.

Has anyone tried implementing a grid? If so, which grid and how did you go about it?

I have been looking at ag-grid and it looks interesting.

I'd be happy to have a go at implementing it but I've got no idea how to go about it in webpack.

It looks like

[2016-02-17 04:13] chriscurnow commented on #336
Duh, it helps if you read the documentation:(

Just read the docs for ag-grid and they have specific instructions for setting up in Angular2.

Just tried it out and it works fine if you do everything they say!!!

Regards
Chris

[2016-02-17 04:13] #336 closed

[2016-02-17 15:37] Siwady opened #337 "Image optimization for production configuration."
Currently, the image folder are copied to the assets folder without any optimization with the production configuration. I'd like optimize and reduce the size of the image for the production configuration, How can I do that? , I have tried this pluggin: https://github.com/tcoopman/image-webpack-loader ,but I haven't  succeded.

[2016-02-18 08:05] msegers opened #340 "When building for prod, the console outputs: Uncaught Error: Cannot find module "./app/app""
I'm working on a fairly fresh project using the webpack-starter, it works well when I'm in dev mode serving etc.

But when I build the prod code, serve it or move the files on an apache server I get the error:
Uncaught Error: Cannot find module "./app/app"

In the sources in chrome inspector, I only see main.ts and polyfills.ts in the src directory.
Anyone encountered this before, am I missing som

[2016-02-18 10:10] msegers commented on #340
I did not realise, that having some errors in usage of quotes, spaces etc. would cause the production build to fail.

[2016-02-18 10:10] #340 closed

[2016-02-18 14:14] daddywoodland commented on #264
+1

Reverted to "e2e": "protractor protractor.conf.js"

Also needed to add 'use strict' to .e2e files

[2016-02-18 15:23] yannvr commented on #273
I have added CSS support (the webpack way) in a PR https://github.com/AngularClass/angular2-webpack-starter/pull/338.
As long as you include your CSS using require in your components / directives. They will all be picked and minified automatically in your index.html.

[2016-02-18 16:26] ciobamike commented on #303
I've the exact same problem, but the fix:ng2 does not work :(  (I take the script from a older version, since I just clone the repo recently.)

[2016-02-18 23:00] tsm91 commented on #332
Maybe it is also possible to create a third vendor entry point? I am not sure if this will help the compilation time or not.

[2016-02-19 05:01] MrLehiste commented on #185
There is angular 2 style guide based on johnpapa guid: [mgechev's Angular 2 Style Guide](https://github.com/mgechev/angular2-style-guide)

[2016-02-19 11:28] Eru5 commented on #264
+1

[2016-02-19 17:51] spock123 commented on #288
I would use npm scripts or pure bash/cp command in your package.json for those file-movings.

[2016-02-19 18:28] jmiazga commented on #328
+1 Same problem with Teamcity.

![image](https://cloud.githubusercontent.com/assets/181441/13184942/a8e6fab4-d70c-11e5-955b-a0294fdb6eee.png)

[2016-02-19 19:27] jmiazga commented on #289
+1 ```npm run build:prod``` shows TSLint errors, but ```npm run lint``` does not.

[2016-02-20 11:07] markau opened #343 "npm run build:prod fails due to linting rule (no-trailing-comma)"
This rule was [updated to trailing-comma in tslint 3.0.0](https://github.com/palantir/tslint/blob/master/CHANGELOG.md#v300-dev1)

[2016-02-20 15:29] Successful opened #345 "npm start fails"
Hi, i have cloned the repo and installed all the global dependencies, but when i run npm start i get error.

Still can reach localhost:3000 but it looks ugly, maybe thats the starter look :) Cant se any css so i guess thats ok.

Here is my error:

[code]

[2016-02-20 18:03] #345 closed

[2016-02-21 00:00] NehrDani commented on #319
Updated the pull request to make use of the hot reload system in addition to life reloading.

[2016-02-21 04:03] louisscruz commented on #343
I also ran into this issue.

[2016-02-21 05:27] louisscruz commented on #303
I have the same issue. I've trying to update my clone of an older version, and I'm receiving about 20 duplicate messages.

[2016-02-21 05:40] louisscruz commented on #303
`npm run fix:ng2` no longer exists in the package.json

[2016-02-21 09:49] #343 closed

[2016-02-21 10:03] #319 closed

[2016-02-21 17:36] louisscruz commented on #303
Ok, no more duplicates. I was attempting to update an old clone of the project. After I deleted the `test` folder, the duplicate errors vanished. Hope this can help someone else.

[2016-02-22 00:35] yaroslavya commented on #264
Doesnt work with `"e2e":"protractor protractor.conf.js"` for me. Chrome opens and gets stuck with the `data:,` in the url. If I close the browser I see that all the assertions for all the tests failed. Im on windows, maybe thats the reason.

Note, that it only fails like that after I add `'use strict';` to the top of the e2e test. If I just run it I have the following error: SyntaxError: Block-sco

[2016-02-22 10:39] MartinMuzatko commented on #178
Any updates? I'd love to have a solution. Guess we have to wait for Istanbul?

[2016-02-22 15:17] Dyljyn opened #346 "Route Config "as" or "name" property"
When using the DevServer of Webpack with a setup RouteConfig, I'm getting an error about both "as" and "name" property being set of a RouteDefinition, which I haven't.

webpack.config.js has not been changed from the default.

Code of normalizeRouteConfig: where the error comes from
[code]

Component with RouteConfig
[code]

Basic component
[code]

Anyone any idea how to fix this error?

[2016-02-22 15:21] ericmartinezr commented on #346
The fix is really easy. As the error stated you should provide either `as` OR `name`, not both. Consider too that `as` has been deprecated long ago, so you should use `name`

[2016-02-22 15:55] jmiazga opened #347 "e2e tests fail to run- SyntaxError: missing ) after argument list"
After cloning the repo and doing a npm install, I run the command ```npm run e2e``` and get the following error:

[code]

[2016-02-22 22:50] sortegam opened #349 "Error loading asyncronously a component with RouteConfig"
Hi!

I've been following the guidelines from [here](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-do-I-async-load-a-component-with-AsyncRoute) to get the Async Components loading working with no success.

I've added a new line at @RouteConfig array like this:

```new AsyncRoute({ path: '/builder', loader: () => { require('./builder/builder')('Builder'); } }),```

When I try to

[2016-02-23 07:31] Dyljyn commented on #346
I tried with both cases, the `name: null` was to try having it as `false`. Didn't know 'as' has been deprecated though.

Just found out that using 'name' does indeed work, I forgot to put a **#** in the url *http://localhost:3000/#/test*.
Quick question: is there a way to not have to use the '#' with the devServer?

Thanks for your help.

[2016-02-23 07:53] Somiks opened #350 "Try to load http://localhost:3000/webpack-dev-server.js on dev environment"
I see this error msg in chrome console.
I used watcher to build application and deploy using winscp sinchronization
[blocked] The page at 'https://domain1.lv/static/loan/index.html#/credit-details/HEAD-CLB-002%20%2F2010' was loaded over HTTPS, but ran insecure content from 'http://localhost:3000/webpack-dev-server.js': this content should also be loaded over HTTPS.

[2016-02-23 09:42] Dyljyn commented on #346
Never mind the question: The answer was that default with webpack the HashLocationStrategy is used, changed to PathLocationStrategy to get the correct result.

[code]

[2016-02-23 09:42] #346 closed

[2016-02-23 11:15] kargenc opened #351 "copy html and css"
new CopyWebpackPlugin([
      {
        from: 'src/app/**/*.html',
        to: '/dist/app/'
      },
      {
        from: '/src/app/**/*.css',
        to: '/dist/app/'
      }
    ]),

when i try this destination is dist/src/app but i want copy my all src/app html and css to dist/app how can i do that.

[2016-02-23 12:11] kargenc commented on #351
i solve like that,

new CopyWebpackPlugin([
      {
        from: 'src/app',
        to: 'app'
      }
    ],{
      ignore: [
      '*.ts'
    ]}
    ),new CopyWebpackPlugin([
      {
        from: 'src/app',
        to: 'app'
      }
    ],{
      ignore: [
      '*.ts'
    ]}
    ),

[2016-02-23 12:11] #351 closed

[2016-02-23 17:31] gdi2290 commented on #336
can you edit this wiki page on how to include it in the starter https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-ag-grid

[2016-02-23 22:58] omerbenamram opened #353 "Uncaught reflect-metadata shim is required when using class decorators"
getting this error on master branch.
using npm start

[2016-02-24 00:22] MikaAK commented on #316
I tried this and am still getting errors. My full loader query is `'to-string!css?sourceMap' + (isProd ? '&minimize' : '') + '!postcss!sass?sourceMap'`. I also tried prepending `raw` to it to see if that would work but I'm still met with the error below.

```      Invalid CSS after "...load the styles": expected 1 selector or at-rule, was "content = requi..."```

[2016-02-24 06:58] ibufu opened #354 "Production fail to run at IE11"
I have added shims_for_ie.js,and succeed with development at IE 11.
But it failed when js was uglified at IE 11.
There are some information at console:

DEPRECATION WARNING: 'enqueueTask' is no longer supported and will be removed in next major release. Use addTask/addRepeatingTask/addMicroTask
EXCEPTION: SyntaxError: missing';'
STACKTRACE:
SyntaxError: missing';'
   at evalExpression (http://127.

[2016-02-24 07:01] ibufu commented on #354
I am using the latest angular2-webpack-starter,but just change name of polyfills.ts to vendor.ts

[2016-02-24 10:16] simonturner commented on #353
You can workaround this for the time being by adding the following to the top of your polyfills.ts

`import 'zone.js';`
`import 'reflect-metadata';`

[2016-02-24 17:08] jgrannas commented on #215
So I set this up without postcss, but what is the proper way to pull in scss files into my components?

In my component:
`@Component({
  selector: 'about',
  templateUrl: 'app/components/about/about.html',
  styles: [require('./about.scss')],
  providers: [Mockable],
  directives: [MockableList, ROUTER_DIRECTIVES],
  pipes: []
})
`

In my webpack.config.js in loaders array:
`{ test: /\.scss$/, loa

[2016-02-24 19:41] ibmsdave commented on #211
@dweitz43 +1. me too..

[2016-02-24 20:05] dweitz43 commented on #211
@ibmsdave I was able to fix this eventually...i ended up linking to the web font hosted by google fonts in my index.html and removing import statement for font.scss and the md-font-url variable from my all of my scss files.

i am unsure if this is the optimal solution, however it is specified in the [README](https://github.com/justindujardin/ng2-material/blob/master/public/font/README.md) for the

[2016-02-24 21:36] omerbenamram commented on #353
It ended up working when i used it in main.ts and not polyfills.
I must say i'm not completely certain on why this is happening.

[2016-02-25 11:36] uglow commented on #314
@samvloeberghs - that works for me, but I'm using `html-loader?minimise=true` to load HTML files in `webpack.config.js`, instead of `raw-loader`. This strips the HTML of unnecessary characters (good!) but then Angular2's TemplateNormalizer thinks my HTML is invalid (which is incorrect).

HTML:  `<div><img src=path/to/img.png> <a href=#/page1>Link</a></div>`

Is that why you are using `raw-loader`,

[2016-02-25 13:48] samvloeberghs commented on #314
No, I'm not yet at the stage where I want to minify my HTML.
Will definitely look into that in the near future, so if you find a good solution please post your findings here? :+1:

[2016-02-25 13:50] samvloeberghs commented on #314
@uglow did you try other configurations? Like for example not to strip single and/or double quotes? As far as I can tell that might be one of the most obvious reasons it's not working, but indeed it should not be as it is valid HTML5.

Angular2 might have other requirements than the way a browser handles HTML5.

@gdi2290 what do you think? :)

[2016-02-25 15:40] vespertilian commented on #264
I am getting the same error. I think dropping the `ts-node` and running protractor directly works a little because node works with most of the ES6 syntax that TS supports.

[2016-02-25 17:06] cristi-badila commented on #262
I stumbled into a similar issue while running an app I'm working on in production mode. When using the mangle names option, the outputed javascript results in angular generating a recursive `viewFactory` that will eventually throw a `Maximum call stack size exceeded` exception. I isolated the issue in a repository [here](https://github.com/cristi-badila/angular-mangle-issue/tree/master) which cont

[2016-02-25 20:36] alexey-ulashchick opened #355 "Loading 3rd-party modules"
Hi! Can someone help/explain how to properly add/use external modules to this project?
For example, I'm adding `immutable` using:
`npm install immutable --save`

After that, I'm trying to link that module inside a component:
[code]

Nothing helps, it always returns `TS2307: Cannot find module 'immutable'.` The same for `moment` for example.

[2016-02-25 22:14] sasidhar commented on #289
When I add `-u` or `--use-glob` in `package.json`'s `lint` script, I am able to Lint for TypeScript errors.

But after first run, `tsconfig.json` file is updated with all the TypeScript files list. We might not want this.

[2016-02-25 22:31] uglow commented on #314
@samvloeberghs - The following strings **work**:
[code]

These strings do **not work**:
[code]

So it appears that the template parser may be looking for `">` to determine the end of the start-tag of a HTML element. Notice that `<a class=btn href="...">` works, even though there are no quotes for the `class` attribute.

I've raised this question on the [Angular repo](https://github.com/angular/ang

[2016-02-25 22:49] uglow commented on #314
Raised issue [7225](https://github.com/angular/angular/issues/7295) on Angular2

[2016-02-25 23:01] KhoaSydney commented on #310
hi @gdi2290,

Installed npm 3 fix the issue. thanks

[2016-02-25 23:01] #310 closed

[2016-02-25 23:36] gdi2290 commented on #355
you also need to include the type definitions with `typings`

[2016-02-26 01:19] uglow commented on #314
I've [documented a Webpack html-loader configuration](https://github.com/angular/angular/issues/7295#issuecomment-189063411) that seems to work with Angular2.0.0-beta6

[2016-02-26 02:12] sammichelson commented on #275
I agree debugging tests are impossible now

[2016-02-26 08:58] mburger81 opened #356 "Dynamically load remote js file"
I need to create different widgets for our dashboard which are all components. Some of this widgets need to load external javascript files, how can I load this files from component dynamically. I don't want to load them all from index.html, I would load them only on using the component so is there a possibility to load it  from component on require?
Should I try to do that with systemjs?

thx

[2016-02-26 11:24] xgrommx opened #358 "A hot reload is too slow?"

[2016-02-26 17:17] gdi2290 commented on #358
it is slow because it's experimental. It's faster just to have turn it off and stick with reloading

[2016-02-26 17:26] Spittal commented on #316
It must be the order of the loaders, but I can't see why. Try removing loaders and putting them back in one by one and see when in the chain it breaks.

[2016-02-26 17:29] nathasm opened #360 "npm run build:dev fails"
It looks like the error stems from `Output filename not configured`

And it looks like because the output information was removed. This fixes it for me:

[code]

[2016-02-26 18:42] #360 closed

[2016-02-26 18:42] gdi2290 commented on #360
Sorry about that, thanks for opening an issue about it. I was trying to make the config more simple

[2016-02-26 19:37] sortegam commented on #349
Sorry. My bad.

I wasn't returning a promise in the loader parameter.

I've changed this line:

`new AsyncRoute({ path: '/builder', loader: () => { require('./builder/builder')('Builder'); } }),`

to this:

`new AsyncRoute({ path: '/builder', loader: () => require('./builder/builder')('Builder');  }),`

And now it's working fine.
Sorry for the inconvenience.
S.

[2016-02-26 19:37] #349 closed

[2016-02-26 21:59] sumigoma opened #361 "Debugging unit tests"
When trying to debug unit tests, the presence of instanbul and the coverage reporter causes the code to get minified as described here:
http://bahmutov.calepin.co/debugging-karma-unit-tests.html
https://github.com/karma-runner/karma/issues/630

Removing the istanbul-intrumenter loader postLoader from webpack.test.config.js "fixes" the issue, but it'd be nice to have a way of omitting the webpack p

[2016-02-27 09:01] nelo112 opened #362 "Question: How do the scripts get into the html in the current build?"
Hi,

when I forked the start pack the index.html had something like this:
[code]

Now in the current build I can't figure out, where exactly the webpack chunks get added into the index.html

[2016-02-27 10:22] samvloeberghs commented on #362
I'm not sure but I think Webpack just injects them in the HTML on runtime.

[2016-02-27 10:36] mastertinner commented on #362
That's done by the `html-webpack-plugin`. It is configured in the `webpack.config.*` files and automatically injects `CSS` by default in the `<head>` and `HTML` at the end of `<body>`: https://github.com/ampedandwired/html-webpack-plugin#configuration

[2016-02-28 12:31] kargenc opened #363 "template vs templateUrl"
i am using templateUrl, and stylesUrl in my component with same direcroty with component, but build script cant copy this html and css file to dist

how can i do copy this html css for components with WD

[2016-02-28 17:56] gdi2290 commented on #350
change the `http` to `https`
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/index.html#L56

[2016-02-29 06:55] ansarizafar commented on #220
@gdi2290  Any progress on this?

[2016-02-29 13:16] siready commented on #281
You could exclude css files being copied from assets folder with ignore option statement for copy-webpack-plugin. Example:
`new CopyWebpackPlugin([
        {
          from: 'src/assets',
          to: 'assets'
        }
      ],
      {
        ignore: [ 'css/**' ]
      }
    )`

Thank you for the rest :+1:

[2016-02-29 22:53] alvipeo opened #364 "How about to switch to Ava?"
I checked out the [Ava](https://github.com/sindresorhus/ava), thanks to Gleb Bahmutov. And it's way better from an Observable testing stand point. Should we give it a go?

Angular 2 is all about Observables...

[2016-02-29 23:37] SimonHawesome opened #365 "Crypto.randomBytes is not a function–an uncaught TypeError"
Hi there,

The error I am receiving:
**Crypto.randomBytes is not a function**
seems to derive from the
**./~/es7-reflect-metadata/src/helper/gen-randombytes.ts** file

gen-randonbytes.ts file includes:

[code]

**I am running:**
es7-reflect-metadata: ^1.5.5,
typescript: 1.7.5,
angular2: 2.0.0-beta.7,
npm: 3.8.0,
node: 5.6.0

Thanks in advance for your help!

Simon

[2016-03-01 03:19] moaaz-s opened #366 "Can't start the server"
I just downloaded the starter and installed the global dependencies. when I run the server, I get this message:

I'm not sure if it is a local problem or something with the starter.
I'm using windows8

C:\Users\primary\toto>npm run server

ror-details --display-cached  --content-base src/ "--hot"

module.js:338
    throw err;
    ^
Error: Cannot find module 'webpack'
    at Function.Module._resolv

[2016-03-01 03:21] gdi2290 commented on #366
can you update node to 5+ and npm to 3+ you're currently at node 0.12.7 and npm 2

[2016-03-01 03:25] gdi2290 commented on #365
can you update es7-reflect-metadata 1.6.0 and typescript to 1.8.2

[2016-03-01 03:42] moaaz-s commented on #366
Thax, I just did, but still not working:

C:\Users\primary\toto>npm start

ror-details --display-cached  --content-base src/ "--hot"

module.js:341
    throw err;
    ^

Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (module.js:339:15)
    at Function.Module._load (module.js:290:25)
    at Module.require (module.js:367:17)
    at require (internal/module.js:16:19)

[2016-03-01 03:46] gdi2290 commented on #366
what about `npm run server:dev`?

[2016-03-01 03:48] gdi2290 commented on #365
you might have to pull latest changes

[2016-03-01 03:50] moaaz-s commented on #366
same issue!
should I re-install global packages considering that I have upgraded node/npm ? or is it something else?

[2016-03-01 03:51] gdi2290 commented on #364
yeah, it's probably a good idea. I rather have a wiki page explaining how to include it. I don't want to go too far out of what the Angular team is advocating (Jasmine, Karma, Protractor) at least not until more people understand Angular 2

[2016-03-01 03:52] gdi2290 commented on #366
yeah delete node_modules and run npm install again then install all of the globals again

[2016-03-01 04:17] moaaz-s commented on #366
While Installing Global Packages, I got the following warnings/errors:

**1- WebPack:**

npm WARN optional Skipping failed optional dependency /webpack/chokidar/fsevents
:
npm WARN notsup Not compatible with your operating system or architecture: fseve
nts@1.0.8

**2.  Therefore problem for webpack-dev-server:**

npm WARN webpack-dev-server@1.14.1 requires a peer of webpack@>=1.3.0 <3 but non
e wa

[2016-03-01 08:41] Zuzon opened #367 "Question: How to make app visible for batarangle debugger?"
batarangle debugger does not see an app data.

[2016-03-01 13:53] timkindberg commented on #363
Webpack isn't normally used for file moving/copying but you can make it do so by using the CopyWebpackPlugin. They are actually already using it for the /assets folder. Look in the webpack.config.js down around line 72 in the plugins section. Maybe you can copy that line and adjust it for your needs. But I'd say you are going off the seed's prescribed path. Why not just do the templates and styles

[2016-03-01 14:10] timkindberg opened #369 "Hot Module Reloading does not retain state in services"
With Hot Module Reloading I was expecting that only the file/component that I made a change to would be swapped out. However, if you have a service injected into the changed component that is holding some state, that state is refreshed to it's beginning state again.

**Setup:**
ServiceA has a data property that starts as 'foo'
ComponentA injects ServiceA as public
ComponentA.template = `<h1>{{serv

[2016-03-01 17:11] herclogon opened #370 "Failed at the angular2-webpack-starter@3.0.0 typings-install script 'typings install'."
Revision: 95b7eccf34f8c38b4180dfe1bd6cb2b600bfea7f

<pre>

sh: 1: typings: not found

npm ERR! Linux 3.13.0-35-generic
npm ERR! argv "/home/dmitry.golubkov/Projects/angular2-webpack-starter/.env/bin/node" "/home/dmitry.golubkov/Projects/angular2-webpack-starter/.env/bin/npm" "run" "typings-install"
npm ERR! node v5.7.0
npm ERR! npm  v3.7.5
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno E

[2016-03-01 17:20] mlegenhausen commented on #178
+1

[2016-03-01 18:01] gdi2290 commented on #370
can you run `npm install -g typings`

[2016-03-01 19:59] sumigoma commented on #365
Seeing the same thing with latest changes.

[2016-03-01 20:12] SimonHawesome commented on #365
Updating **es7-reflect-metadata** to 1.6.0 and
**typescript** to 1.8.2 and
pulling the latest **pollyfills.ts** seemed to have fixed the issue!

Thanks for your help and quick reply!

[2016-03-02 01:49] sumigoma commented on #365
Can confirm, latest polyfills and webpack config fixes the issue. Please close.

[2016-03-02 02:05] SimonHawesome commented on #365
Hooray!

On Tuesday, March 1, 2016, Yuki K <notifications@github.com> wrote:

[2016-03-02 03:36] #365 closed

[2016-03-02 08:18] alvipeo opened #371 "tests - FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - process out of memory"
Got this problem - https://github.com/karma-runner/karma/issues/1954. Can't test anymore. Anyone had this issue?

I got it after upgraded all the packages and configs to the current in the repo.

[2016-03-02 08:50] fxck opened #372 "webpack is really really slow and sometimes crashes with OOM"
I haven't really messed with any of the configs, yet after adding a couple of components the build times are getting incredibly long(around 40 sec is no exception), that is on the first run of `npm run server`, after a while(few changes in files, watch triggered couple of times), it will get stuck on  `90% optimize assets` and then crash with the error below.

I'm really not sure how to debug this

[2016-03-02 09:18] herclogon commented on #370
Of course, I can do it. But I think it should works from the box.

[2016-03-02 12:29] harmjanluth opened #374 "Running production builds resolves in tslint errors"
Running npm run build:prod fails. I can't see how to debug this because the error is very generic.

25% 2/8 build modulesModuleBuildError: Module build failed: Error: Compilation failed due to tslint errors.

at report (/Users/path/node_modules/tslint-loader/index.js:70:11)
    at Object.lint (/Users/path/node_modules/tslint-loader/index.js:58:3)
    at Object.module.exports (/Users/path/node_modu

[2016-03-02 12:56] lindanXmu commented on #374
+1

[2016-03-02 13:01] skrywus commented on #353
Did you find any solution?

[2016-03-02 13:01] fxck commented on #374
yea, same, build:dev works, build:prod doesn't

[2016-03-02 13:04] jhuntoo commented on #374
The quick temporary fix...

Change failOnHint to false in the webpack.prod.config.js.

However the tslint errors should be resolved so this needs fixing.

[2016-03-02 13:44] jhuntoo commented on #374
So if you remove the --bail option, the prod build fails (but returns an exit status of 0! bad for CI), and give s you the actual lint errors in the console output.

I've raised this https://github.com/wbuchwalter/tslint-loader/issues/18 in an effort to resolve why tslint-loader is not outputting the tslint errors. Could it be a webpack issue @gdi2290  ?

[2016-03-02 17:20] jkyoutsey commented on #372
I've seen this error over and over again as well.
I've had it fail on module build steps as well as optimize assets.

[2016-03-02 17:38] jkyoutsey opened #377 "Prod build fails with TypeError: Reduce of empty array with no initial value"
I don't have any empty arrays anywhere in my ts modules that I can find.

`> webpack --config webpack.prod.config.js --progress --profile --colors --display-error-details --display-cached

532ms build modules
1ms seal
1ms optimize
 75% hashingUnhandled rejection TypeError: Reduce of empty array with no initial value
    at Array.reduce (native)
    at Compilation.<anonymous> (/Users/JARVIS/src/pro

[2016-03-02 19:46] gdi2290 commented on #370
This is a problem with npm for windows. During post-install the typings-install task is meant to run and use the local version of typings.

[2016-03-02 19:46] #370 closed

[2016-03-02 20:30] alvipeo commented on #372
I upgraded my package.json this morning and got the same errors. So I'm going to roll back where it was. Something is clearly broken. And it's not typescript, I checked.

[2016-03-02 20:33] jkyoutsey commented on #372
I've managed to get my dev build working, but npm run build:prod fails at the same point every time.
I've tried upping the memory limit on node to no avail.
`node --max_old_space_size=8092 ./node_modules/webpack/bin/webpack.js`

[2016-03-02 20:43] fxck commented on #372
@alvipeo I tried it at different points of time, not with just the latest version, and it always incrementally slows down(build times that is), and eventually starts crashing... Basically fresh webpack starter takes about 5 seconds to build, 10 component and couple of services later (all in all somewhere about 300 LOC in total), it takes 40 seconds and is crashing. It's impossible to develop like

[2016-03-02 21:09] alvipeo commented on #372
I completely agree with you. I've been a Microsoft tools user for a long time so I used to higher level quality dev tools. But had to switch to this "modern" build tools 6 months ago and it sucks. From configuration to the actual usage. Except for VS Code which is really fast!

Having said all that, we have no choice for now I guess :( There's also rollupjs and babel. But I have no will and time t

[2016-03-02 21:12] alvipeo commented on #372
I'm curious, are you guys on Windows or Mac?

[2016-03-02 21:14] jkyoutsey commented on #372
I am on Mac.

[2016-03-02 21:18] alvipeo commented on #372
ok, I thought maybe it's just Windows. It's not..

[2016-03-02 22:43] jkyoutsey commented on #372
Okay, I've eliminated this error in my prod builds by commenting out the
`new ProvidePlugin({...})`
in the webpack.prod.config.

[2016-03-02 23:26] alvipeo commented on #372
Did not work for me.

[2016-03-02 23:38] jkyoutsey commented on #372
@alvipeo Not surprised.  For as often as my dev build fails on hot recompiles I was surprised I got anything to work.

[2016-03-03 04:57] andrewbetts commented on #178
+1

[2016-03-03 10:55] fxck commented on #372
@gdi2290 any chance you'd look into this, please? At least tell us whether this could possibly have something to do with how angular-webpack-starter is set up, or it's rather a webpack/typescript problem and we should fill issues in their respective repos..

[2016-03-03 10:59] RemKolomna opened #378 "Lint doesn't not check files"
If I run **npm run lint** I got messages:

Linting 0 files
Done with 0 failures.

How to fix it?

[2016-03-03 12:40] ysqi commented on #356
+1

[2016-03-03 17:19] samvloeberghs commented on #378
Well basically that's because the linting tool doesn't support the filesGlob in tsconfig.json. You have to use a tool that generates the files list in tsconfig.json. For example tsconfig-glob: https://www.npmjs.com/package/tsconfig-glob

I've encountered this problem last week as well, but did not have the time yet to create a PR.

Grtz

[2016-03-03 18:07] yjaaidi commented on #332
+1

[2016-03-03 18:37] arnarp commented on #332
+1

[2016-03-03 19:19] e-oz commented on #354
see https://github.com/angular/angular/issues/6501

[2016-03-03 22:07] louisscruz opened #380 "How to deploy with PM2?"
Running `npm run server:prod` is working on my server. However, when I try to use PM2 through `pm2 start dist`, there's a list of errors in the logs:

PM2: 2016-03-03 16:59:10: Script /opt/dailydownbeat/dist had too many unstable restarts (15). Stopped. "errored"

[code]

Before I submit an issue with the PM2 people, can you verify that this should work? Do I need to configure something in the pro

[2016-03-03 22:28] gdi2290 opened #381 "update to beta.8"

[2016-03-03 22:36] ggaulard opened #382 "Import with alias"
Hi,

I use this starter and I was just wondering how to put have alias.

Imagine I have a 'directive' folder at src/app and I want to be able to use one of them with this import syntaxe :
import { RouterActive } import 'directive/router-active'
I've try to add an alias to the resolve section on webpack.config but there is nothing working.

In small examples always have a relative path is nothing b

[2016-03-03 22:53] gdi2290 commented on #382
you can make it global at the platform level
[code]

[2016-03-04 01:42] ibufu commented on #354
@e-oz
thx, but I had seen the #6501, and used the shime for IE.then, it succeed to run at IE.But, it failed when js were uglified

[2016-03-04 04:36] jgodi commented on #364
I would love to see this, so some examples. I tried to get Angular2 to jive with Ava and ran aground on it myself.

[2016-03-04 05:32] alvipeo commented on #364
Can you speak English please? :))) I almost went to buy a good translator to understand this. (No, I like learning)

[2016-03-04 05:51] dsebastien commented on #378
Actually filesGlob does not exist in TypeScript (yet), it was only
introduced/supported by the Atom TS plugin.

For my projects, I usually am fine with just the exclude property;
basically I just let TS include everything except what I have in my exclude
array:
https://github.com/dsebastien/angularjs-webpack-starter/blob/master/tsconfig.json

On Thu, Mar 3, 2016 at 6:19 PM, Sam Vloeberghs <notific

[2016-03-04 06:41] gdi2290 commented on #378
can someone make a PR

[2016-03-04 07:59] samvloeberghs commented on #378
on my way :) @gdi2290

[2016-03-04 08:07] e-oz commented on #354
@ibufu there is a pull request linked to that task, and it works (tested).

[2016-03-04 12:04] dsebastien commented on #378
IMHO, the correct place to fix this is tslint itself. They have an issue there: https://github.com/palantir/tslint/issues/858

That would probably remove the need for using tsconfig-lint

[2016-03-04 12:08] jhuntoo commented on #374
Update: webpack has a problem whereby errors are not reported correctly when --bail is enabled.

See https://github.com/webpack/webpack/issues/711

Meanwhile, I've submitted a workaround PR for tslin-loader, which is not ideal (it will report the first error encountered and not all of them at once), however this will allow webpack to be run with --bail for correct exit-status and to at least see w

[2016-03-04 12:22] ibufu commented on #354
@e-oz Did you uglify JS?

[2016-03-04 12:30] wkwiatek commented on #354
The problem is related to mangling. Try to add `mangle: false` to uglify config.

[2016-03-04 12:32] e-oz commented on #354
@morning yes

On Fri, 4 Mar 2016 at 13:30, Wojciech Kwiatek <notifications@github.com>
wrote:

[2016-03-04 12:32] e-oz commented on #354
@morning but without mangling

On Fri, 4 Mar 2016 at 13:31, Evgeniy OZ <normandiggs@gmail.com> wrote:

[2016-03-04 12:57] samvloeberghs commented on #378
also check this one:
https://github.com/palantir/tslint/issues/1012

[2016-03-04 13:45] samvloeberghs commented on #381
you already did this? :+1: :p

[2016-03-04 14:00] AndrewLosikhin opened #383 "How to disable websockets"
I found the we have a request to
ws://localhost:3000/sockjs-node/655/klzv3wni/websocket
ws://localhost:3000/sockjs-node/445/4d3wrbei/websocket

What component need it and please provide any solution how to disable that.
Thank you.

[2016-03-04 15:09] samvloeberghs commented on #383
This is due to the "live reloading" on development mode.
This will not happen in your production.

Or do you have a specific request on why not to do this?

[2016-03-04 15:12] AndrewLosikhin commented on #383
Ok, I understand. If it won't be in the prod mode I'm fine with it. Thank you.

[2016-03-04 15:12] #383 closed

[2016-03-04 15:16] gdi2290 commented on #381
thanks

[2016-03-04 15:16] #381 closed

[2016-03-04 15:30] rvetere opened #384 "developement mode fails in IE11, latest beta.8"
I've just cloned a new repo of this starter a few minutes ago and it is not working in developement mode in IE11:

"SyntaxError: The use of a keyword for an identifier is invalid"

https://www.dropbox.com/s/5sri0jd881gi7uj/Screenshot%202016-03-04%2016.31.19.png?dl=0

I'm not sure what this is about but i would bet that this was working a few days ago..

[2016-03-04 16:39] #384 closed

[2016-03-04 16:40] rvetere commented on #384
duplicate: https://github.com/angular/angular/issues/6501

[2016-03-04 20:52] moderndegree commented on #380
This project doesn't appear to provide an app server. You will need to create an Express (or similar) server to point pm2 at.

[2016-03-04 20:57] louisscruz commented on #380
In case it helps anyone, I found a way to have pm2 serve the `dist` folder. [This](http://stackoverflow.com/questions/31804966/running-nodejs-http-server-forever-with-pm2) is more or less the setup. Then, I've weaseled nginx into picking up the appropriate port for non-backend requests. Hope this can help someone!

[2016-03-04 21:30] rbao opened #385 "Minify html template"
I being using `template: require('./user/user.component.ts')` in all component. However with a big app that have lots of html the bundled file becomes really large. So I am trying to minify the html by using html-loader.
[code]

And here is my config for html-loader
[code]

Then I build it with
[code]

The resulting html is minified but when I serve the app, I keep getting the following errors in

[2016-03-04 23:57] sasidhar commented on #378
#289

[2016-03-04 23:59] sasidhar commented on #289
Same Issue : #378

[2016-03-05 01:20] louisscruz opened #386 "Best way to pass variables through Webpack?"
Simple question, but I'm a little lost with the way `webpack.DefinePlugin` interacts with the application.

For my `http` calls, I'd like to have a variable that is dynamic based on the `process.env.ENV`. What's the best way to define a variable in both my webpack.config.js and webpack.prod.config.js files? And what's the best way to make them global variables in the application?

[2016-03-05 05:35] rbao commented on #386
Not sure if this is the best way, but here is how I do it in both `webpack.config.js` and `webpack.prod.config.js`:
[code]

Then you can just use it in the code
[code]
For development I use [dotenv](https://github.com/motdotla/dotenv) to set the environment variable.
For production just set environment variable as usual.

[2016-03-05 06:11] sumigoma commented on #372
+1 Also seeing this.

[2016-03-06 16:28] louisscruz commented on #386
Perfect. Thanks!

[2016-03-06 18:20] gdi2290 commented on #262
I found a workaround via https://github.com/AngularClass/angular2-webpack-starter/commit/1a4edb9693d60ae3b39810bb75b4199123b798ad

[2016-03-06 18:20] #262 closed

[2016-03-07 01:26] gdi2290 commented on #386
@rbao is correct. @rbao can you make a wiki page to talk briefly about this https://github.com/AngularClass/angular2-webpack-starter/wiki

[2016-03-07 09:11] fxck commented on #372
I find it really moody, sometimes it works flawlessly, I comment out one innocent line of code and it crashes...

[2016-03-07 09:14] gdi2290 commented on #372
the CompressionPlugin and ProvidePlugin plugins might be eating up a lot of memory

[2016-03-07 09:17] fxck commented on #372
Those are not in dev server, are they? And it crashes in dev as well..

[2016-03-07 09:20] alvipeo commented on #372
Don't have them either and the build crashes... :(

[2016-03-07 09:24] gdi2290 commented on #372
it might be webpackMerge and the default config I introduced

[2016-03-07 09:24] alvipeo commented on #372
Can we roll back a bit?

[2016-03-07 09:32] gdi2290 commented on #372
can you try it now?
https://github.com/AngularClass/angular2-webpack-starter/commit/fe37a03b6e86fa7ceeb9c76e0cc59db3eb2b8d83

[2016-03-07 09:33] gdi2290 commented on #372
I'm excluding node_modules now

[2016-03-07 09:38] alvipeo commented on #372
Let's see...

[2016-03-07 09:38] gdi2290 commented on #372
the source-map-loader adds about 2 seconds for me

[2016-03-07 09:46] alvipeo commented on #372
I have slightly different set of packages but here's what I get for 'npm run test':

[code]

[2016-03-07 09:48] gdi2290 commented on #372
Thanks I'll look more into it in the morning

[2016-03-07 09:49] alvipeo commented on #372
Do you want my project as a sample? I may give you private link. Just need your email or something...

[2016-03-07 11:52] nigeman opened #389 "Production Build: RangeError: Maximum call stack size exceeded Loop?"
Apologies in advance for posting an issue that could just be related to me and not the repo, but I am running out of ideas since these last few updates to this setup.

I seem to be running into this loop error when building production and running the "prod" server command. My app works perfectly fine when running npm run server:dev.

One thing to note that I do that maybe related is that I do the

[2016-03-07 12:30] fxck commented on #372
Didn't help at all.. also I'm getting `Loading.. <% if (webpackConfig.metadata.ENV === 'development') { %> <% } %>` with the latest package.json and webpack.config.. like it's not parsing it correctly.

[2016-03-07 14:45] jmiazga opened #390 "Commit fe37a03 breaks unit tests"
[code]

[2016-03-07 14:54] nigeman commented on #389
Just a quick update. In Uglify, mangling is breaking something in my app. I will continue to investigate what it is. Probably another module needs to be added in the array of exception because its probably breaking a reference to a dependency.

[2016-03-07 15:15] daddywoodland commented on #389
+1

I'm also getting a call stack exceeded exception when building in production mode.  I've no ideas just yet but will keep looking and post if I find anything.

[2016-03-07 15:22] nigeman commented on #389
@daddywoodland goto the webpack.prod config.js and try setting mangle: false. Worked for me for now. But will be related to some referencing issue with another module when mangling.

[2016-03-07 15:40] daddywoodland commented on #389
Thanks @nigeman.

I'd actually grabbed the latest code down and the call stack exceeded exception has been replaced by -

'EXCEPTION: TypeError: this.directive_0_0.ngOnInit is not a function in [null]'

Swapping out the debug & prod UglifyJsPlugin options in webpack.prod.config highlighted that 'mangle' is causing this problem too.  For now I'll just leave mangle as false in production I think.

[2016-03-07 16:15] louisscruz opened #392 "Bootstrap 4 + Sass setup fails on fresh install"
I just ran through the steps to install bootstrap [in the wiki](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)). It fails with three errors:

It states that `vendor.ts does not exist`

It gives the following message:

[code]

Also, it seems to be spitting out the whole bootstrap.css file and stating `is not a PostCSS plugin`.

It looks li

[2016-03-07 17:46] gdi2290 commented on #372
@alvipeo  ya can you email me patrick (at) gdi2290 com

[2016-03-07 19:20] saldoukhov opened #393 "Fails on IE11 under Windows 10"
Not just in PROD mode like described here https://github.com/AngularClass/angular2-webpack-starter/issues/354 but also in dev mode.

[2016-03-07 19:21] gdi2290 commented on #393
did you uncomment `ie-shim`?

[2016-03-07 19:23] sasidhar commented on #377
@jkyoutsey It seems, this issue is already discussed in https://github.com/AngularClass/angular2-webpack-starter/issues/215#issuecomment-173515930

There was some issue with the webpack-md5-hash when there are some empty files. Refer : https://github.com/erm0l0v/webpack-md5-hash/issues/1

This was already fixed with the latest version of `webpack-md5-hash`

Can you try updating `webpack-md5-hash`

[2016-03-07 19:28] saldoukhov commented on #393
Oops, sorry my fault. I was thinking package dependency is enough ;)

[2016-03-07 19:28] #393 closed

[2016-03-07 20:14] alvipeo commented on #372
Sent.

[2016-03-07 20:24] jkyoutsey commented on #377
Agreed.  I upgraded somewhere along the way and forgot I put this out there.

[2016-03-07 20:24] #377 closed

[2016-03-07 21:32] jkyoutsey opened #394 "reflect-metadata shim is required when dist folder deployed to server"
Working with both v2 and v3, when I deploy the dist folder to a web server running nginx I get the following error:

[code]

I will happily provide a zip of the full project.
I've only added bootstrap and sass-loader npm packages.
Immensely simple set of code.

[2016-03-07 21:39] gdi2290 commented on #372
thanks, I can look at it tonight

[2016-03-07 21:47] gdi2290 commented on #394
can you email me the zip at patrick (at) gdi2290 (dot) com

[2016-03-07 22:34] jkyoutsey commented on #394
I swear.  Never works the same way twice.  Works fine now.  Closing.

[2016-03-07 22:34] #394 closed

[2016-03-07 23:55] kutomer opened #395 "Hot reload doesn't work"
Hello,
When I execute `npm start`  things work just as I expect them to.

But, when editing a file I see that webpack detects the change and recompile. ("Bundle is now invalid.. Bundle is now valid)
on the client side the change doesn't take affect.
When I try to refresh the page I can't find the files any more, only the bundled version (and one ctrl.ts) , so I have to rerun `npm start`

Maybe I'm

[2016-03-08 00:11] sasidhar commented on #382
How about referring components like how we are doing with angular2 components?

To import something from angular we are using
`import { isString } from 'angular2/src/facade/lang';`

Can we do the same for components in our application?
`import { HomeComponent } from 'angular2-webpack-starter/components/home.component';`

I tried adding `*.d.ts` in each folder, but couldn't achieve that.

@gdi2290,

[2016-03-08 00:12] sasidhar commented on #395
@kutomer Is it possible to share some logs? May be that will help us to find the issue.

[2016-03-08 00:26] scatcher commented on #372
I had the same issue a few weeks ago when I was running TypesScript 1.8 beta in my build and after many long days I found that dropping back down to 1.7 resolved the OOM issue.  I just confirmed that the issue still exists in 1.8 stable in my project and that moving back down to 1.7.5 resolved the issue once again.

Hope this helps!

[2016-03-08 00:45] kutomer commented on #395
@sasidhar of course, thank you for your quick reply.
Here are the logs I'm getting after running `npm start`, it's quite long so I'm posting only the start and the end of it (I'm not getting any errors \ warnings)
[code]

After that it just start to log for each file the have built, for example:
` [6] (webpack)-dev-server/~/sockjs-client/~/inherits/inherits_browser.js 672 bytes {0} [built]`

And t

[2016-03-08 00:55] gdi2290 commented on #382
you can alias `angular2-webpack-starter' as the root but you shouldn't. you can also resolve alias

alias: {
  component: './src/app/components'
}

[2016-03-08 01:07] sasidhar commented on #382
@gdi2290 Thanks!

[2016-03-08 01:13] #390 closed

[2016-03-08 01:19] sasidhar commented on #395
@kutomer, seems everything looks fine.

* Are there any errors in the browser console?
* Are you using `angular2-webpack-starter` with only code changes or some configuration changes (`webpack-config.js`, `package.json` etc) too?

I am on Ubuntu.

[2016-03-08 04:58] onlyann opened #396 "Is the development experience supposed to be that slow?"
Let me first say thanks for providing a starter kit for angular 2 and webpack.
The good part is that running `npm install` and `npm run server` succesfully runs the sample application.

The less so good is that it takes more than 10 seconds to reflect a change on a file (I changed `home.html`). Not sure if that is supposed to be that slow. It tried without the hot module reload for similar results

[2016-03-08 05:09] saldoukhov opened #397 "Prod build crashes after today's changes"
It compiles just fine, but throws a lot of exceptions when trying to run it.

https://github.com/AngularClass/angular2-webpack-starter/commit/fe37a03b6e86fa7ceeb9c76e0cc59db3eb2b8d83 broke it

[2016-03-08 06:39] saldoukhov opened #398 "IE11 is still broken in Prod with uglify plugin"
I tried to set mangle etc. to false which did not hep - but commenting out UglifyJsPlugin altogether fixed the problem.

[2016-03-08 08:48] hollanderbart commented on #372
rolling back to TypeScript 1.7.5 doesn't fix this for me.

[2016-03-08 08:49] fxck commented on #372
Yep, not for me either.

[2016-03-08 08:56] alvipeo commented on #372
I tried rolling back to 1.7.5 but that didn't help me either.

[2016-03-08 09:13] hollanderbart commented on #396
could be related to: https://github.com/AngularClass/angular2-webpack-starter/issues/372

[2016-03-08 12:17] 0x1e240 commented on #392
The setup is incompatible with the current version of bootstrap-loader (v1.0.9). Since it was updated it doesn't work. A workarround is to use bootstrap-loader v1.0.8. It works in dev-mode. But in prod-mode it gives this message:

`ReferenceError: jQuery is not defined`

I've updated the wiki.

[2016-03-08 14:10] jmiazga commented on #397
+1
![image](https://cloud.githubusercontent.com/assets/181441/13603773/8e5439fa-e50d-11e5-8a64-18b24c365300.png)

[2016-03-08 14:10] fxck commented on #396
clean install of angular2-webpack-starter takes about 5 secs to build for me, but it's getting increasingly slow with more stuff you add, now with a couple of components, services and routes I'm at about 40 seconds or crash, as described in #372

[2016-03-08 15:09] ggaulard commented on #382
Thanks but the alias doesn't seem to work (for my tries).
For what I understand aliases came after the ts-loader and it's the typescript compilation that fail to recognize the import (it look for a module)

[2016-03-08 16:12] louisscruz commented on #392
Wow, thanks for figuring that one out!

There's another issue. There are some breaking changes with the changes made to `index.html` in this (this)[47c2604adaf2c4b4d7c987ca767f5d19fb15ba5d]. I'm going to update the `webpack.config` to what's currently working for me.

[2016-03-08 16:23] louisscruz commented on #392
Any idea if there's a workaround for the `jQuery is not defined` error?

[2016-03-08 18:28] DocBradfordSoftware commented on #392
Are you sure the jQuery is not defined, is not because you didn't copy the changes from webpack.config.js to webpack.prod.config.js?

[2016-03-08 19:07] DocBradfordSoftware commented on #363
Does this project not support templateURL in production mode?

[2016-03-08 19:14] jmiazga commented on #397
e00aac92d112a56fc57e08717f9451107265c8f6 fixed the issue for me

[2016-03-08 20:32] gdi2290 commented on #398
can you uncomment `ie-shim` and pull latest

[2016-03-08 20:33] gdi2290 commented on #397
can you pull latest and see if it's still broken

[2016-03-08 20:43] louisscruz commented on #397
The latest works for me. Cloned, installed, built and served.

[2016-03-08 22:00] louisscruz commented on #392
Yikes. I thought I'd already added that but apparently not. That's no longer an issue.

However, now I get an error when trying to add jQuery and Tether to the `webpack.prod.config.js`.
[code]
When this line is given, the production server hangs and gives off a `Maximum call stack size exceeded` warning.

When I comment this block out, I get the loading screen saying that bootstrap requires tether

[2016-03-08 22:11] siready commented on #297
You could this this plugin: https://github.com/gajus/write-file-webpack-plugin, so you wouldn't need to run two separate scripts to create build files.

[2016-03-08 22:24] sumigoma commented on #297
I tried this back when write-file-webpack-plugin had webpack 1.x as a dependency, but I couldn't get it to work. The project now uses webpack 2.x, but things may have improved since the last time I tried. Still requires investigation.

[2016-03-08 22:45] siready commented on #297
How far did you get? Did debugging work for you? Attaching to chrome process did work for me and I could see console output, but I didn't see any success setting any breakpoint in the code. They just wouldn't get hit.

[2016-03-08 22:47] lanocturne commented on #268
No luck, still get same error.

[2016-03-08 22:56] lanocturne commented on #389
+1

[2016-03-09 00:06] gdi2290 commented on #397
thanks, closing now. update to latest and reopen if there is an issue

[2016-03-09 00:06] #397 closed

[2016-03-09 00:07] gdi2290 commented on #396
Thanks for the issue. Can update to latest and reopen if you still have this issue. The problem was ts-loader so I switched to awesome-typescript-loader so I'm closing this now

[2016-03-09 00:07] #396 closed

[2016-03-09 00:07] gdi2290 commented on #372
Thanks for the issue. Can update to latest and reopen if you still have this issue. The problem was ts-loader so I switched to awesome-typescript-loader so I'm closing this now

[2016-03-09 00:07] #372 closed

[2016-03-09 01:11] sumigoma commented on #396
@gdi2290 Are you going to restore the changes involving the default webpack config file?

[2016-03-09 01:23] gdi2290 commented on #396
@sumigoma ya I might

[2016-03-09 01:26] gdi2290 commented on #363
using template: and require() is preferred since in production you would want to do that anyways

[2016-03-09 01:32] gdi2290 commented on #380
@louisscruz can you write a page in the wiki https://github.com/AngularClass/angular2-webpack-starter/wiki

[2016-03-09 03:07] louisscruz commented on #380
@gdi2290 Done!

[2016-03-09 03:26] gdi2290 commented on #380
https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-serve-with-PM2
awesome work! thanks!

[2016-03-09 05:19] gdi2290 commented on #389
I pushed a workaround so pull latest changes. feel free to open the issue again if you still have it

[2016-03-09 05:19] #389 closed

[2016-03-09 07:28] 0x1e240 commented on #392
@DocBradfordSoftware Thanks. That was the problem. Now it's working for me in dev and prod mode. But I'am using the repository at [an older revision](https://github.com/AngularClass/angular2-webpack-starter/tree/091c567e515983855dd3bec4c7e236c728f3b5f8).

[2016-03-09 07:39] cschroeter opened #399 "Module parse failed"
Since a few days this starter project comes up with an error message after I've installed angular2-moment.
[code]

What I did?
[code]

[2016-03-09 07:40] gdi2290 commented on #399
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L55
remove the part where it's excluding node_modules

[2016-03-09 07:47] cschroeter commented on #399
Wow that was the fastest reply I've ever gotten :D

Could you explain what the purpose is of ```helpers.root('node_modules') ``` and why it fails with the angular2-moment plugin?

[2016-03-09 07:51] gdi2290 commented on #399
the angular2-moment module is exposing the typescript files directly when it should only be the js files. because of this you need to make sure the typescript loader can see the files (because I excluded them) which means you take a small perf hit now that the typescript loader needs to parse all .ts files in node_modules

[2016-03-09 07:52] #399 closed

[2016-03-09 07:58] cschroeter commented on #399
Thanks man !

[2016-03-09 07:59] fxck commented on #372
yes, it's noticeably faster, although it seems to ignore custom-typings

[code]

[2016-03-09 08:26] nigeman commented on #389
@gdi2290 checking this out now. Was gonna make a pull request but only  got about half way with the exceptions to list. Seems to be mangling without problems now. Thank you so much for your support- this repo is a lifesaver for angular2.

[2016-03-09 08:51] GRoguelon commented on #392
Hi,

I add fixed the same issue in adding `ProviderPlugin` of webpack.production.config but when I build for production. I get also: `Maximum call stack size exceeded warning.`

I use the last commit of the repo at this time.

I also found an [issue](https://github.com/angular/angular/issues/5964) which could be related but i'm not sure

How can we try the origin of the bug?

[2016-03-09 10:16] urish commented on #399
@gdi2290 do you have any other examples of TypeScript modules which only expose the js files? I am trying to find whether there is any kind of best practice.

@cschroeter another solution that could work would be to implicitly reference the js file in your code:

    import {TimeAgoPipe} from 'angular2-moment/TimeAgoPipe.js';

[2016-03-09 10:28] cschroeter commented on #399
@urish Unfortunately this leads to ```Cannot find module 'angular2-moment/TimeAgoPipe.js'.```

By the way  - using angular2-jwt also causes a module parse error.
Maybe it is "okay" to include node_modules so people don't struggle with this. @gdi2290 Your thoughts on this?

[2016-03-09 11:21] fxck commented on #372
nevermind, my fault

[2016-03-09 13:12] alvipeo commented on #372
@gdi2290 Thank you for the fix! Project works after latest changes!

[2016-03-09 15:18] RemKolomna opened #401 "No original files in Debugging Tools after hot-reload"
Hello! I pull latest updates from this repository and found annoying issue:

After starting dev server I can open Chrome Debugging Tools and find all TypeScript files in "Sources" tab inside webpack://./src/

However after first hot module reload event this folder becomes empty and contains last changed file with hash prefix only, all other files become missing.

[2016-03-09 16:52] DocBradfordSoftware commented on #392
Yes, I am having the same "Maximum call stack size exceeded warning" issue,  I have a header component that works fine in dev mode, but in production mode it gets into an infinite loop. on startup

[2016-03-09 17:38] jkyoutsey opened #402 ""You may need an appropriate loader to handle this file type." error with today's build"
I pulled this morning and copied all of my code in and moved the trivial bits around.  This is my build output from `npm run build:dev` :

[code]

My webpack.config.js

[code]

My package.json with just the ADDITIONAL items:

[code]

[2016-03-09 17:51] dweitz43 commented on #402
+1 i saw this last night after updating, but in my case it was for a .css file i was trying to inject into the App component's styles metadata from node_modules, and i fixed it temporarily by removing node_modules from the css  loader's exclude array.

I say temporarily because I feel like that is not the optimal solution to solve the issue in my case, but I am not versed in webpack quite enough t

[2016-03-09 18:23] jkyoutsey commented on #402
@dweitz43 I can agree.  Removing node_modules from the exclude does allow the build to work.  Probably not a production solution though.

[2016-03-09 18:30] dweitz43 commented on #402
indeed, i definitely don't believe it is a production solution. However, I spend most of my time right now in dev and have yet to attempt to build for prod.
i would love more insight on a possible recent change that was made that could have caused my prior setup to break in this way, it would be a great learning experience to try to fix

[2016-03-09 18:56] saldoukhov commented on #398
Nope, still happening. Same as before, commenting out Uglify fixes it.

[2016-03-09 20:03] technoSpino commented on #392
Why does 1.0.9 fail? Third party error? What should I follow to know when I can upgrade?

[2016-03-09 21:01] kambojankit opened #403 "Build Configuration Customisation"
I am trying to integrate this project into a maven+spring based web application project [have some infrastructure requirements]. I am able to successfully build the project with a maven build command ( maven: its a build tool to build java based projects.)

Now the problem we are trying to resolve is to put all the files build (all files inside `/dist/prod`) should be copied over to `/resources` d

[2016-03-09 21:33] matthewlsawyer commented on #165
I found an issue with the raw-loader loading styles into a component. That less source breaks when you try to load a relative image.

For example, the component:

[code]

And in style.less:

[code]

Webpack will not try to resolve this url, that seems to be the responsibility of the css-loader. As far as I'm aware the css-loader doesn't work with angular components.

[2016-03-09 21:54] onlyann commented on #396
Modifying `home.html` or `home.ts` still takes more than 10 seconds to reflect the changes.
[code]

[2016-03-09 21:58] cschroeter commented on #402
Check this (issue)[https://github.com/AngularClass/angular2-webpack-starter/issues/399] for more information

[2016-03-09 22:10] dweitz43 commented on #399
i have experienced a similar issue to #402  attempting to load css into the App component from ng2-toasty in node_modules, and can work around it by removing node_modules from the exclude array of the css loader, but i realize this causes performance issues and probably is not an optimal production solution.

Does anyone have an idea of how I should be attempting to load css from node_modules corr

[2016-03-09 22:43] kutomer commented on #395
Thanks a lot.
I've tried to reinstall everything all over again it's working.

Btw, in your README file you said to install webpack-dev-server globally, but when doing so there is Unmet peer dependency warning.

[2016-03-09 23:00] gdi2290 opened #404 "update to beta.9"

[2016-03-09 23:35] chriscurnow opened #405 "Set default state of a checkbox"
This seems like a really stupid question but I just can't find the answer anywhere.

I want to set the initial state of a checkbox based the initial state of the data object.

Eg the data object may have an attribute "isAvailable" so I want to set the checkbox to match the value of isAvailable.

The problem I am having is that to set the initial state of a check box to checked you add the "checked

[2016-03-09 23:38] chriscurnow opened #406 "Kendo? Grid?"
Has anyone had any experience trying to integrate Kendo-UI?

I pretty well could do without the whole of Kendo except for the Kendo Grid to which there seems nothing in the same class.

[2016-03-10 01:56] Siafu commented on #406
The guys at Telerik are working on this. [site](http://www.telerik.com/blogs/announcing-the-telerik-kendo-ui-r2-2016-roadmap).

[2016-03-10 02:41] louisscruz commented on #392
Has anyone had any success getting an app with the latest structure to work in production?

[2016-03-10 03:24] chriscurnow commented on #406
Thanks, yes I'm following the kendo site.

[2016-03-10 08:48] msegers commented on #402
I have my own npm package which is a set of ts and d.ts files. Excluding the node_modules works for now, I guess in such a situation you can add the include property for certain packages you use.

[2016-03-10 16:24] mburger81 opened #410 "Websockets and proxy"
Hello,

I use for the devServer an proxy and it works great, anything which comes from /api/* will be redirect to my server.
[code]
so this
`this.http.post('/api/v1/sensors'`

will redirected to
`http://192.168.1.1/abc/api/v1/sensors''`

but how can I do the same thing for Websockets?
`this.ws = new WebSocket('ws://api/v1/sensorsws');`

thx
 Michael

[2016-03-10 16:41] bPopovska opened #411 "PrimeNG integration"
Does anyone have experience with integrating the primeNG library in a webpack based project?
Trying to integrate it in this starter results in the following error:

`Error: No Directive annotation found on Button
    at new BaseException (http://localhost:3000/main.bundle.js:1318:24)
    at DirectiveResolver.resolve (http://localhost:3000/main.bundle.js:11928:16)
    at RuntimeMetadataResolver.get

[2016-03-10 19:49] JesusisFreedom commented on #372
I'm still getting this with node 5.7.1 ts 1.8.2 and awesome-ts-loader. Was there anything else?

[2016-03-10 21:27] alvipeo commented on #372
The only thing that doesn't really work is watch:test - it stops after 2-3 recompilations. But I almost get used to it.

[2016-03-10 21:28] alvipeo commented on #372
Oh, I had an error with 'run test' before I upgraded to Node 5.8.0. That fixed it.

[2016-03-10 21:28] gdi2290 commented on #372
@JesusisFreedom run `npm cache clean` `rm -rf node_modules typings` `npm install` `typings install`

[2016-03-11 03:41] gdi2290 commented on #411
there are two versions of Angular 2 installed. they need to update their angular2 dep or set as a peerDep

[2016-03-11 03:47] gdi2290 commented on #411
see https://github.com/primefaces/primeng/pull/86

[2016-03-11 04:01] gdi2290 commented on #404
done https://github.com/AngularClass/angular2-webpack-starter/commit/da7ca7727aa71b6a711fad3d840577b3b35baca3

[2016-03-11 04:01] #404 closed

[2016-03-11 09:25] cagataycivici commented on #411
Merged now, thank you.

https://github.com/primefaces/primeng/issues/88

[2016-03-11 11:23] daddywoodland opened #412 "How to mock Http requests in Protractor tests"
Hi,

I'd like to mock the response from an API in my end to end tests but I'm not sure how to include and use MockBackend in the project.

Can you offer any advice?

Cheers,

[2016-03-11 11:43] alvipeo commented on #412
This is how I do it in my tests:

[code]

[2016-03-11 13:37] RemKolomna commented on #401
Do anyone else experience this issue? I updated webpack to latest version and search internet with same problems with no luck.

Steps to reproduce:
1)npm run start
2)Open Chrome Developer Tools and browse to folder webpack://./src/ - it containt list of all project files with subfolders
3)change home.html to trigger hot module reload
4)Go to Chrome Developer Tools and press F5 to update them. webp

[2016-03-11 13:54] daddywoodland commented on #412
Thanks @alvipeo I'm trying it now, just struggling to get my dataService (your dirItemSrv) into the test.  I'll keep trying and let you know how I get on.

[2016-03-11 14:00] RemKolomna commented on #401
Changing devTool inside webpack config from **'source-map'** to **'cheap-module-eval-source-map'** fixes the problem.  Maybe maintainer can change it too to improve debug experience?

[2016-03-11 15:02] samvloeberghs commented on #412
hi @daddywoodland @alvipeo
Just to make some things clear ( perhaps also for other visitors in the future ), you are not doing E2E tests. You're unit testing a service where you are mocking out your dependencies ( in this case the XHRBackend service )

[2016-03-11 15:35] daddywoodland commented on #412
Hi @samvloeberghs,

The terminology does trigger some interesting conversations.

As you say it's a unit test but not of a service, I'm testing a unit of behaviour within my UI (port level testing).

Protractor is my mechanism for accessing the closed system to test a behaviour, and since Protractor is always labelled as an end to end testing tool, I mistakenly used the term.

Either way, I'm afte

[2016-03-11 18:00] gdi2290 commented on #411
@cagataycivici thanks

[2016-03-11 18:00] #411 closed

[2016-03-11 18:36] DocBradfordSoftware commented on #392
I originally thought this was a bootstrap problem, but now I think, at least for me, this is a problem of trying to encapsulate a menu with RouterDirectives in a component.  I cannot for the life of me figure out how to put a navbar with ROUTERDIRECTIVES, in a component that I include on every page.  It will run in dev mode, but not in prod. I get an infinite loop.

[2016-03-11 18:37] gdi2290 commented on #401
thanks, merged via https://github.com/AngularClass/angular2-webpack-starter/commit/5e24f11d141305f6b142967702ad4c2c21f1576b

[2016-03-11 18:37] #401 closed

[2016-03-11 19:16] DocBradfordSoftware opened #413 "Routes in components (navbar) not working in prod"
MyMenu Component
[code]

[code]
This will work in dev mode, but not in prod
Note:  I have stripped out bootstrap and jquery, just normal css.

[2016-03-11 19:41] gdi2290 commented on #405
have you tried `<input type="checkbox" [attr.checked]="isAvailable">`

[2016-03-11 22:06] alvipeo commented on #412
I actually do integration tests, not unit tests (well, rarely I do them too). That's the way that works best for me. So Karma is in my case.

[2016-03-11 23:28] DocBradfordSoftware commented on #413
I have added a repostitory that demonstrates this problem.
This app will run in dev mode, but not in prod mode.
[angular2-webpack-starter-no-bs](https://github.com/DocBradfordSoftware/angular2-webpack-starter-no-bs.git)

[2016-03-12 05:21] gdi2290 commented on #413
this is a problem with Angular 2. You will need to add all components/directives to the except mangle list (in this case add `"TopMenu"`)
https://github.com/mishoo/UglifyJS2/issues/999
https://github.com/angular/angular/issues/6678

[2016-03-12 05:21] #413 closed

[2016-03-12 05:27] matthieu-D commented on #358
Indeed, this should not be active by default or at least 'how to turn it off' should be in the documentation.

[2016-03-12 07:14] chriscurnow commented on #405
I hadn't tried it but I tried it just then and it didn't work:(
It's not too hard to do it with ngIf and I could even create a component to do it. It just seemed like there should be an easier way.

[2016-03-12 12:07] DocBradfordSoftware commented on #413
That makes perfect sense, Thanks

[2016-03-12 16:10] DocBradfordSoftware commented on #392
I fixed my issue with Bootstrap, by
1. You cannot have a navbar in a sub-component because mangling will interfere.
2. Since bootstrap uses jQuery but not for many things, I am using the bootstrap4.css but not importing jQuery.
I have a repository at https://github.com/jkevlin/angular2-bootstrap4-no-jquery as an example.

[2016-03-12 16:16] louisscruz commented on #392
I'm going to give this a shot later today. Thanks for posting this!

In the meantime, is there any kind of configuration that could allow for navbar sub-components? Never would have guessed this to be the issue.

[2016-03-12 16:17] GRoguelon commented on #392
Personally, the latest commits fixed my issue.

[2016-03-12 18:00] gdi2290 commented on #405
here's a plnkr where I have it working
http://plnkr.co/edit/Hxy5Jz?p=preview

[2016-03-12 18:18] gdi2290 commented on #353
@skrywus can I see your repo

[2016-03-12 18:19] gdi2290 commented on #371
do you still have this problem after awesome-typescript-loader?

[2016-03-12 19:17] louisscruz commented on #378
I just cloned the latest and tried to lint. No success.

The current `lint` runs `./node_modules/.bin/tslint src/**/*.ts`. What can be done to fix this?

[2016-03-12 19:53] louisscruz commented on #392
Confirmed! The latest fixes the issue for me too.

[2016-03-12 20:20] dsebastien commented on #378
FYI tsconfig-lint (npmjs.com/package/tsconfig-lint) is now able to find files using tsconfig.json even if files or filesGlob are not use (see https://github.com/wjohnsto/tsconfig-lint/issues/3). In my case I only specify excludes and that works well. IMHO filesGlob shouldn't be used as its still not officially supported by TS (AFAIK).

0.8.0 also includes a change I've submitted to have it use an

[2016-03-12 20:47] louisscruz opened #414 "Forms in Production"
I'm submitting a bug report.

The following form is working fine in development:

contact.ts:

[code]

contact.html:
[code]

However, when this is run in production, I get the following errors:
`No value accessor for '' in [null]`

and

`No value accessor for ''`

with an error context on the `input#nameInput` element.

I attempted adding `NgFormMode` to the mangle exceptions in `webpack.prod.conf

[2016-03-12 22:01] datatypevoid commented on #179
@davidxiao What exactly did you do to alleviate this issue?

[2016-03-12 22:08] meiblorn opened #415 "[(ngModel)] directive is not working in production mode."
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Report a bug

* **What is the current behavior?**
App is not working. Exception in logs: [ng2-webpack.txt](https://github.com/AngularClass/angular2-webpack-starter/files/170644/ng2-webpack.txt)

* **If the current behavio

[2016-03-12 22:44] gdi2290 commented on #415
see changes https://github.com/AngularClass/angular2-webpack-starter/commit/7780e22f90dc643f72c1e094b2c228c2176eacc6#diff-1a19ad1ad8c7b53ba23a02dcba546ee8
it might be better to turn mangle off

[2016-03-12 22:44] #415 closed

[2016-03-12 22:45] gdi2290 commented on #414
see changes https://github.com/AngularClass/angular2-webpack-starter/commit/7780e22f90dc643f72c1e094b2c228c2176eacc6#diff-1a19ad1ad8c7b53ba23a02dcba546ee8 it might be better to turn mangle off

[2016-03-12 22:45] #414 closed

[2016-03-12 22:48] gdi2290 commented on #356
load the component with es6-promise loader and make sure the imports to the js files are only in the entry file of the component

[2016-03-13 04:10] gdi2290 commented on #378
`npm run lint works` you can try it out yourself by writing code that doesn't fit the code style

[2016-03-13 04:12] gdi2290 commented on #363
there is no benefit using templateUrl since you can't use relative urls which is something that is supported by `require`

[2016-03-13 04:12] #363 closed

[2016-03-13 04:13] gdi2290 commented on #395
@kutomer I'm going to close this. If you still have a problem with hot reloading can you own another issue thanks!

[2016-03-13 04:13] #395 closed

[2016-03-13 04:15] gdi2290 commented on #366
@moaaz-s can you pull latest changes and see if it works? I'm going to close this but feel free to open another issue

[2016-03-13 04:15] #366 closed

[2016-03-13 04:16] gdi2290 commented on #354
I updated the repo and included `ie-shim` there may also be problems with the Angular 2 repo and there is currently production issues with uglify. You can open another issue if you still have the problem

[2016-03-13 04:16] #354 closed

[2016-03-13 04:17] gdi2290 commented on #350
I'm closing this for now. If you still have the problem feel free to open another issue

[2016-03-13 04:17] #350 closed

[2016-03-13 04:18] gdi2290 commented on #333
I'm going to close this issue since it's a problem with Angular 2 and will be updated in the near future

[2016-03-13 04:18] #333 closed

[2016-03-13 04:19] gdi2290 commented on #213
I added an `ie-shim` and there might be problems with the angular2 repo. I'm going to close this for now

[2016-03-13 04:19] #213 closed

[2016-03-13 04:20] gdi2290 commented on #218
closing this since I have a workaround and it's a problem with angular2 at the moment

[2016-03-13 04:20] #218 closed

[2016-03-13 04:21] gdi2290 commented on #191
I'm going to close this issue. If you have anymore typings problems you can also open an issue in https://github.com/typings/typings for problems with typings or more info on proxy

[2016-03-13 04:21] #191 closed

[2016-03-13 04:23] gdi2290 commented on #235
the redundant definitions for config files are there as it's the easiest way for new developers to webpack to understand the differents ways to config the bundle without overwhelming them

[2016-03-13 04:23] #235 closed

[2016-03-13 04:23] gdi2290 commented on #221
can you create a wiki page https://github.com/AngularClass/angular2-webpack-starter/wiki
I'm going to close this issue and thanks for helping out with the repo

[2016-03-13 04:23] #221 closed

[2016-03-13 04:24] chriscurnow commented on #405
Well there you go. I must have been doing something wrong. I'll try again.

Thanks for taking the time to set up the demo. I really appreciate it.

[2016-03-13 04:24] #405 closed

[2016-03-13 04:25] gdi2290 commented on #222
updating to awesome-typescript-loader allowed the build process to speed up. you can open another issue if you have anymore problems thanks

[2016-03-13 04:25] #222 closed

[2016-03-13 04:26] gdi2290 commented on #216
I refactored the repo a lot in the past few months. you can pull latest and open another issue if you have anymore problems thanks

[2016-03-13 04:26] #216 closed

[2016-03-13 04:27] gdi2290 commented on #355
you need to include the type definition and can read a little bit about it in the `custom-typings.d.ts` file. thanks for opening an issue and if you have anymore feel free to open another one

[2016-03-13 04:27] #355 closed

[2016-03-13 04:30] gdi2290 commented on #329
I removed all the operators in dev mode so there will be an error if there is a missing operator. feel free to open another issue

[2016-03-13 04:30] #329 closed

[2016-03-13 04:31] gdi2290 commented on #315
I updated the repo a bit so pull latest changes and open another issue if you still have the problem thanks

[2016-03-13 04:31] #315 closed

[2016-03-13 04:33] gdi2290 commented on #306
thanks for opening an issue and please review the provide plugin method of injecting global modules. if you have any more issues feel free to open another one thanks

[2016-03-13 04:33] #306 closed

[2016-03-13 04:35] gdi2290 commented on #358
hot reloading should be faster after the update to awesome-typescript-loader

[2016-03-13 04:35] #358 closed

[2016-03-13 04:36] gdi2290 commented on #347
can you pull latest and if you still have a problem you can open another issue thanks

[2016-03-13 04:36] #347 closed

[2016-03-13 04:37] gdi2290 commented on #371
I'm going to close this but if you still have this issue please open another one thanks

[2016-03-13 04:41] gdi2290 commented on #369
I didn't create proxies for any of the components or service because the implementation is a simple one since there are many core changes planned I didn't want to create one only to refactor it many times over. I'm closing this for now to keep the issues down

[2016-03-13 04:42] gdi2290 commented on #294
I'm going to close this but if you still have a problem please open another issue

[2016-03-13 04:42] #294 closed

[2016-03-13 04:43] gdi2290 commented on #362
I changed the setup to remove this line because it was too confusing so now I'm relying on the inject feature of html webpack plugin.

[2016-03-13 04:43] #362 closed

[2016-03-13 04:45] gdi2290 commented on #313
they are all under `assets/`

[2016-03-13 04:45] #313 closed

[2016-03-13 04:45] gdi2290 commented on #270
this has been done thanks for the issue

[2016-03-13 04:45] #270 closed

[2016-03-13 04:47] gdi2290 commented on #268
I moved rxjs to vendor.ts if you have anymore problems please open another issue thanks

[2016-03-13 04:47] #268 closed

[2016-03-13 04:49] gdi2290 commented on #274
I'm going to close this but if you have anymore problems with this starter you can open another issue. If you have problems with typings you can also look in https://github.com/typings/typings for solutions or issues thanks

[2016-03-13 04:49] #274 closed

[2016-03-13 04:50] gdi2290 commented on #382
I updated main.ts to show this thanks for the issue

[2016-03-13 04:50] #382 closed

[2016-03-13 04:52] gdi2290 commented on #410
@siready is correct. you can open another issue if you have any more problems with the repo thanks

[2016-03-13 04:52] #410 closed

[2016-03-13 04:55] gdi2290 commented on #353
can you pull latest and open another issue if you still have a problem thanks

[2016-03-13 04:55] #353 closed

[2016-03-13 05:15] MurhafSousli commented on #306
@gdi2290 Thank you

[2016-03-13 11:51] nadavsinai commented on #371
I also got this problem, I'm not using your starter but a self written setup that is quite similar by using same versions of webpack,awesome-typescript-loader, karma etc..,
If you get more info on the matter please update, I will do the same.
(I would use the new +1 button but it doesn't seem to do the trick for this case -:)

[2016-03-13 14:46] mastertinner commented on #221
Done: https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-with-FeathersJS

It's quite complex but I hope that I wrote it in an understandable way.

[2016-03-13 17:08] a76 opened #416 "How to debug unit and e2e tests?"
I need to debug karma end e2e tests.
How it is possible?

[2016-03-13 17:19] RemKolomna commented on #416
I simply add task to package.json:
"watch:testd": "karma start --auto-watch --no-single-run --browsers=Chrome"
and commented Istanbul loader from webpack.test.config.js
Run watch:testd task and it opens a new chrome window with karma, here press debug button and another page will open. Open Developer Tools on that page, put breakpoint where you need it and press F5

[2016-03-13 17:45] a76 commented on #416
Awesome :) - Thank you for advise.
It may be reasonable to include this task to the source code.
What do you think?
Do you know how debug e2e tests?

[2016-03-13 18:38] gdi2290 commented on #221
thanks!

[2016-03-13 20:09] mastertinner opened #417 "Uncaught (in promise) TypeError: object is not a constructor(…)"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
When running the app in my browser, I get `Uncaught (in promise) TypeError: object is not a constructor(…)` but the app runs fine.

* **If the current behavior is a bug, please pro

[2016-03-13 23:54] MurhafSousli opened #420 "router-active.ts is not necessary anymore"
Angular2 beta 9 has a new feature that adds "router-link-active" class to the activated menu item without configuration.

you may want to deprecate the file.

[2016-03-13 23:55] gdi2290 commented on #420
that's for angular1

[2016-03-13 23:55] MurhafSousli commented on #420
@gdi2290  no it's for angular2, and I've tried it
https://github.com/angular/angular/blob/master/CHANGELOG.md

[2016-03-14 03:18] NickClark commented on #199
My biggest issue right now with styles, is keeping the source maps. Otherwise, I've been opting for the following config:

[code]

This allows me to keep using the `css-loader` to resolve `url()`s.

[2016-03-14 11:11] burzum commented on #417
Getting the same problem.

[2016-03-14 11:15] samvloeberghs commented on #417
My 2 cents:
this seems to be a browser issue in some way. I had the same on Chrome 49, but in my Canary 51 the error is not popping up.

[2016-03-14 17:36] sasidhar commented on #420
@MurhafSousli You are correct.

We have "router-link-active" available in Angular 2 from 2.0.0-alpha.37 (2015-09-09)

I tried on my local machine and its working fine without router-active directive.

[2016-03-14 18:45] gdi2290 commented on #420
router link is fine. when you want the active class on the parent that's a problem
[code]

[2016-03-14 19:18] sasidhar commented on #420
@gdi2290 Ok.

Then we need `router-active.ts`

[2016-03-14 20:04] kampdomoj commented on #371
Same problem here:

htmlLoader.customAttrAssig 68% 540/552 build modules
<--- Last few GCs --->

  168081 ms: Scavenge 1374.1 (1456.6) -> 1374.1 (1456.6) MB, 40.6 / 0 ms (+ 1.1 ms in 1 steps since last GC) [allocation failure] [incremental marking delaying mark-sweep].
  169661 ms: Mark-sweep 1374.1 (1456.6) -> 1368.4 (1456.6) MB, 1579.9 / 0 ms (+ 2.8 ms in 5 steps since start of marking, biggest

[2016-03-14 20:08] #420 closed

[2016-03-14 20:38] gdi2290 commented on #417
yup I see it's a problem in chrome 49 probably due an outdated es6-promise

[2016-03-14 21:02] gdi2290 commented on #417
see issue https://github.com/angular/angular/issues/7601 and fix https://github.com/AngularClass/angular2-webpack-starter/commit/5bf36a62ceb0356d96cd954732985f4038d6d36e

[2016-03-14 21:02] #417 closed

[2016-03-15 09:42] samuel-kollat commented on #369
Could you point me in the right direction how to hold state in components/services with HMR and also how not to reload whole page/state after CSS (Sass) file update ?

[2016-03-15 09:49] lewis617 opened #423 "Error: Cannot find module 'tapable'"
* **I'm submitting a ...**
[ ] bug report
[code]

I just run`npm install typings webpack-dev-server -g` `npm install ` and `npm start`,according to readme.md quick start

* **my environment:**

- Windows 7

[2016-03-15 13:03] alvipeo opened #424 "watch:test doesn't work"
I use 'npm run watch:test' and when it initially starts all tests run. When I change the file with a test and save it, nothing happens. So it doesn't react on code changes. It used to work before.

[2016-03-15 13:05] alvipeo commented on #424
Update - this is what I get in about 10 sec:

<--- Last few GCs --->

   96789 ms: Mark-sweep 1378.6 (1456.9) -> 1378.5 (1456.9) MB, 935.2 / 0 ms [allocation failure] [GC in old space requested].
   97663 ms: Mark-sweep 1378.5 (1456.9) -> 1378.5 (1456.9) MB, 874.4 / 0 ms [allocation failure] [GC in old space requested].
   98541 ms: Mark-sweep 1378.5 (1456.9) -> 1377.2 (1456.9) MB, 877.8 / 0 ms [l

[2016-03-15 13:13] BrainCrumbz opened #425 "Request: hit breakpoints in browser dev tools"
- **I'm submitting a ...**
  [ ] bug report
  [x] feature request
  [ ] question about the decisions made in the repository
- **Do you want to request a _feature_ or report a _bug_?**
  When serving in development mode (`npm start`), one can open browser on `http://localhost:3000/`. When setting a breakpoint, e.g. in [home.ts](https://github.com/AngularClass/angular2-webpack-starter/blob/master/sr

[2016-03-15 19:29] gdi2290 commented on #369
I this working now I just need to push it up later

[2016-03-15 19:33] gdi2290 commented on #423
are you on the latest version of npm and node?

[2016-03-15 22:09] alvipeo commented on #371
This may be related - https://github.com/AngularClass/angular2-webpack-starter/issues/424

[2016-03-15 23:12] lewis617 commented on #423
@gdi2290
node version is 4.4

[2016-03-15 23:43] gdi2290 commented on #423
@lewis617 can you delete `node_modules/` and run `npm install` again?

[2016-03-15 23:56] alvipeo commented on #424
ok, I used latest packages and it seems like it all works now!
[code]

[2016-03-15 23:57] alvipeo commented on #371
See my comment on https://github.com/AngularClass/angular2-webpack-starter/issues/424. Seems like all works with the latest packages.

[2016-03-16 07:52] lewis617 commented on #423
@gdi2290  I try many times ,  maybe I should use ubuntu or mac

[2016-03-16 08:23] nadavsinai commented on #424
might be related to your use of "awesome-typescript-loader": "^0.16.0-rc.0" I suspect the problem is with typescript perhaps related to https://github.com/Microsoft/TypeScript/issues/7444, how I wish that typescript could just do type warnings and strip them.leaving compilation to Babel..

[2016-03-16 08:27] nadavsinai commented on #371
On my linux (fedora) this works well, but it happens all the time on the windows machine I am using at work. @alvipeo suggests using the typescript-awesome-loader in 0.16.0rc1 version, I will try it soon and let you know if it helps. another thing i noticed is that single run fails 100%, but running karma with no-single-run and watch options works sometimes, like about 50% of the times. I tried me

[2016-03-16 08:31] kampdomoj commented on #371
On our local development systems it is unpredictable if a build will succeed or not. But on our continuous delivery platform (Wercker) it fails all the time :-(

[2016-03-16 09:35] fxck commented on #371
the build is definitely faster for me, but the "checking" in separate process is still taking up to 40 seconds and is oftentimes crashing

[2016-03-16 09:43] mmgyce opened #426 "My Angular 2 app fails after webpack build if it takes more than about 9000 ms more or less"
The webpack output seems to be ok, without fails, but when I try to run the app in the browser ...
[code]
[code]

If I comment some routes in the RouteConfig section from the app.ts file, the build takes less time, 8000 ms more or less and my Angular 2 app executes normally without fails.

[2016-03-16 13:03] ericmasiello opened #427 "Error when running npm run server"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**

* **What is the current b

[2016-03-16 13:36] daddywoodland commented on #412
I've been looking at this on and off for the last few days without making much progress.  I think the technique suggested above (and everywhere else on t'internet) involves configuring the injection before the component/service is initialised.  However as protractor is running tests against an app that's already running it's not working.

I'm going to look at initialising the application with the

[2016-03-16 13:59] samvloeberghs commented on #412
In the past I've done this by mocking my backend with a node-red implementation. By setting a flag that was then triggering the initialisation of this mocked API and redirecting/proxying the API address to that mocked API.

But that said: When doing E2E test you should keep the mocking to the minimum, trying to avoid it completely. E2E testing explicitly means that you test end to end, real app ti

[2016-03-16 14:04] samvloeberghs commented on #412
To elaborate on your last comment: It's indeed hard and probably unneeded to change the app implementation on runtime. What you could do is change the environment. While running your protractor config, proxy the requests and point them to the mocked API

-> call to http://real.api.com, going trough proxy, proxy it trough http://mocked.api.com

[2016-03-16 14:57] mmgyce commented on #427
Instead of npm run server, type **npm start** or **npm run start**

[2016-03-16 16:21] daddywoodland commented on #412
Thanks @samvloeberghs I'll take that into account when trying out mocking the HTTP response.  I was looking at json-server as a possible solution for mocking the API.

Regarding the reference to 'E2E', these aren't end to end tests but unit tests of the behaviour of the front end as a closed component.  I've seen it called 'port level testing', 'sociable unit tests' and 'behavioural unit testing'.

[2016-03-16 17:16] #427 closed

[2016-03-16 17:17] mburger81 opened #430 "proxy does not work on devServer after upgrading to angular webpack starter 3.0.0"
Hi, I upgraded my projekt to new webpack starter 3.0.0 which uses angular2 beta.9. After that my proxy seems not to work:

[code]

some ideas or hints to give me?

[2016-03-16 19:42] alvipeo commented on #424
No, that actually didn't help. Still having this problem. Overall, it's like a lottery now... :(

[2016-03-16 21:43] LeanderG commented on #216
My dev build runs fine, but my prod build produces this error: "EXCEPTION: RangeError: Maximum call stack size exceeded".
I'm using the latest version of angular2-webpack-starter and angular 2.0.0-beta.9.

Here is part of the stack trace:

browser_adapter.ts:73 EXCEPTION: RangeError: Maximum call stack size exceededt.logError @ browser_adapter.ts:73t.logGroup @ browser_adapter.ts:84e.call @ except

[2016-03-16 23:59] louisscruz commented on #378
Something must be wrong with my configuration. Can't get lint to run for the life of me. Hopefully if someone else's this problem, they'll respond here.

[2016-03-17 04:03] gfaceless commented on #398
+1, even switching its `beautify` to `true` fixes this.

[2016-03-17 06:45] #423 closed

[2016-03-17 08:08] mburger81 commented on #430
some ideas?

[2016-03-17 08:36] kampdomoj commented on #372
Still having the same issue after upgrading to the latest version
npm cache clean etc didn't help

[2016-03-17 09:12] mburger81 commented on #430
On upgrading to new 3.0.0 i copied the proxy node on wrong postion, i copied into watchOptions!

So there is no bug!!

[2016-03-17 09:12] #430 closed

[2016-03-17 09:25] fxck commented on #220
out of the currently used plugins, which are not ported to webpack2?

[2016-03-17 17:47] gdi2290 commented on #220
I have a Webpack 2 version that's experimental at the moment
https://github.com/gdi2290/angular2-webpack2-starter

[2016-03-17 17:47] gdi2290 commented on #220
one of the benefits is the use of typescript for the webpack config

[2016-03-17 18:26] kampdomoj commented on #371
I have spent a lot of time to find out what is wrong. It looks like a 'large' application cannot be handled. I started with the empty webpack-starter and added my own application step by step. When I add all the Imports I need for my application then the build fails with out-of-memory error. When I remove a few, then it builds nicely. Probably the typescript loader doesn't free up memory properly.

[2016-03-17 18:55] kampdomoj commented on #371
This might be a related issue: https://github.com/mgechev/angular2-seed/issues/259

[2016-03-18 00:43] ihorskyi commented on #426
I can confirm the same issue. Build becomes unusable and the only error it provides in browser is

[code]

[2016-03-18 00:44] ktong commented on #293
Just did my own integration for Express into web pack dev server. It needs dev dependency of require-reload.

[code]

[2016-03-18 01:12] gdi2290 opened #433 "update beta.11"

[2016-03-18 05:03] GarrettVD opened #434 "error TS2339: Property 'context' does not exist on type 'NodeRequire'."
* **I'm submitting a ...**
[* ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
When attempting to use [require.context](https://webpack.github.io/docs/context.html), after executing `npm start`, an exception is thrown.

* **If the current behavior is a bug,

[2016-03-18 06:53] AndrewLosikhin commented on #398
+1 updating to the last version doesn't help

[2016-03-18 08:02] chriscurnow commented on #406
I am going to have a go at doing this. If I work it out I will post a Wiki article about it. Regardless, we can close this issue now.

[2016-03-18 08:02] #406 closed

[2016-03-18 08:27] jesperronn commented on #433
@gdi you may want to watch progress on https://github.com/angular/angular/issues/7656 and
https://github.com/mgechev/angular2-seed/issues/648

before the attempt to update

[2016-03-18 09:01] tan9 commented on #144
I'm a newbie for __modern__ front-end development. I found it is very tricky to make this project run with VSCode debugger.

After two days' try-and-error, I made one working sample: https://github.com/tan9/angular2-webpack-starter/pull/1/files . If you are in trouble with VSCode debugging, maybe this can help you out.

Thanks @Gabriel0402 for providing a snippet for a good start. However, the `"f

[2016-03-18 09:09] tan9 commented on #297
@siready the write-file-webpack-plugin works smoothly for me as described in https://github.com/AngularClass/angular2-webpack-starter/issues/144#issuecomment-198265242

[2016-03-18 09:14] Sicaine commented on #411
@bPopovska did you get it running? We have basics running but datepicker makes trouble :(

[2016-03-18 10:03] liu-kanghui opened #435 "Jquery error"
I followed the instruction over wiki on how to install jquery.

I got the following error :
Subsequent variable declarations must have the same type.  Variable '$' must be of type 'cssSelectorHelper', but here has type 'JQueryStatic'.

and when i do
import $ from "jquery"  it shows jquery module doesn't exist??

Thanks for help any!!!!

[2016-03-18 12:09] kampdomoj commented on #371
I don't know if it helps, but I solved it for my application by removing two classes that Imports each other mutually. Now the application builds nicely. Going to restructure those classes to solve the dependency loop.

[2016-03-18 16:10] msegers opened #436 "Duplicate Identifier when building"
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

Hi after updating, I keep getting these kind of duplicates in my logs. I've tried to find out if I might be building something double or such. But I can't find anything, before pulling everything was fine (I used to be on angular.8 beta now it's the 10 version, I saw this at 9 too so I reverted.

[default]

[2016-03-18 16:53] gdi2290 commented on #371
yup related

[2016-03-18 17:07] kampdomoj commented on #371
Too bad. I had the plan to try my application with the angular-seed project to avoid webpack. But I might run into the very same issue....

[2016-03-18 17:15] gdi2290 commented on #371
@kampdomoj any reason why you want to avoid webpack?

[2016-03-18 17:52] Gabriel0402 commented on #144
@tan9  This is great work. I can also make my debugger work with this write to file plugin. And some little suggestions to the PR. For windows machine, the launch.json should be
[code]
And I don't know if there're some edge cases for the check of absolute path, but your devtoolModuleFilenameTemplate didn't work for me which is windows os. And I'm still using
[code]
to make it work. Cheers

[2016-03-18 18:45] Spittal opened #437 "Karma fails with Cannot find module "zone.js/dist/zone-microtask.js""
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ X ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the cur

[2016-03-18 18:53] #437 closed

[2016-03-18 18:54] gdi2290 commented on #437
thanks! I updated the repo

[2016-03-18 19:01] Skholastik opened #438 "Can't add one more route in @RouteConfig"
Hello everybody! I'm faced with one simple problem: i just can't build my proj if i'm adding in @RouteConfig one more route, for example:
`@RouteConfig([
  { path: '/',      name: 'Index', component: Home, useAsDefault: true },
  { path: '/home',  name: 'Home',  component: Home },
  { path: '/adminRoot',  name: 'AdminRoot',  component: AdminRoot },
`
**That error log:**

`D:\Proj\AllProjects\TestB

[2016-03-18 19:36] abdulhaq-e commented on #438
When running in production mode, any tslint erros will stop the build process. Try to do a dev build and see that it is working fine.

[2016-03-18 19:50] kampdomoj commented on #371
No. Only to go around this issue. But if it's a TSC issue, then I'll have it anyway... :(

[2016-03-18 20:10] Skholastik commented on #438
Thank you very-very-very much,abdulhaq-e ! I'm battle with this prob all day....in "dev" mode it works fine, but in "prod" mode it could work fine too, we just need to change : ** failOnHint: true** to  ** failOnHint: false**

[2016-03-18 20:34] #438 closed

[2016-03-18 21:55] gdi2290 commented on #438
you can remove tslint from the production config

[2016-03-19 12:39] skolmer commented on #144
@Gabriel0402 to make this work on osx and windows you can use the following configuration:

[code]

[2016-03-19 13:58] Jacke opened #440 "Zone.js bug that blocked any async function calls like clearTimeout(undefined) => must return undefined, not an exception"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
[code]
[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
just clone this repo, npm install && npm start
and type in console some async function like clearTimeo

[2016-03-19 14:39] Jacke commented on #440
First error caused by dublicated def of zone
https://github.com/AngularClass/angular2-webpack-starter/blob/master/typings.json
here

[2016-03-19 19:17] kschio commented on #435
Probably caused by the type definition.

Replace the following lines at the bottom of the files `../typings/browser/ambient/jquery/index.d.ts` and `../typings/main/ambient/jquery/index.d.ts`

[code]

with:

[code]

After that you should be able to import jQuery as `import 'jquery';`. I briefly checked it so most likely not the cleanest solution. Hope it helps though.

[2016-03-19 20:29] whtouche commented on #436
Confirming issue - I cloned and installed a copy of this project yesterday and got the same errors (though different typings files were colliding for me, attaching screenshots)

<img width="1128" alt="screen shot 2016-03-19 at 4 23 01 pm" src="https://cloud.githubusercontent.com/assets/7044329/13901112/952d3124-edef-11e5-8c73-d51d852109fa.png">

<img width="1440" alt="screen shot 2016-03-19 at 4 2

[2016-03-19 21:01] alvipeo commented on #436
Just remove typings folder and do 'npm install'.

[2016-03-19 21:28] spock123 commented on #433
Should be fixed with beta 11 ..

[2016-03-19 23:06] kennethlynne commented on #436
@alvipeo I removed the typings folder and ran npm install with no success.

[code]

[2016-03-19 23:33] xr0master opened #441 "web cryptography api"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
feature

* **What is the c

[2016-03-19 23:42] #441 closed

[2016-03-20 00:03] alvipeo commented on #436
Here's my package.js (beta 11) which works (with moment.js and crypto-js as an extra):

[code]

[2016-03-20 07:01] oliverschenk commented on #436
I installed latest angular2-webpack-starter and started it with no modifications. I also tried the package.json posted above by @alvipeo.

I get the following:

[default] C:/Develop/toolbox-client/node_modules/zone.js/dist/zone.js.d.ts (127,5):
    Duplicate identifier 'parent'.
[default] C:/Develop/toolbox-client/node_modules/zone.js/dist/zone.js.d.ts (131,5):
    Duplicate identifier 'name'.
[de

[2016-03-20 08:13] gdi2290 opened #443 "include angular2 material components"
Angular 2 Material 2 (currently problems with the modules)

[2016-03-20 09:36] bPopovska commented on #411
@Sicaine Still running into issues. Can't get primeng to work when source maps are enabled.

[2016-03-20 10:49] alvipeo opened #444 "Worth looking at I guess (not an issue)"
https://medium.com/@vivainio/with-latest-typescript-you-may-not-need-webpack-417d2ef0e773#.o6j5sz10o

[2016-03-20 12:06] asafyish commented on #443
How is that going to affect applications who are not using angular material ?

[2016-03-20 12:13] gdi2290 commented on #443
material 2 seems to have a few problems in the alpha 1 release

[2016-03-20 12:16] asafyish commented on #443
Is it going to bundled into the production js ?

[2016-03-20 12:19] gdi2290 commented on #443
you can remove them from the starter if you wanted. At the moment the material components have styles/templates inline

[2016-03-20 12:34] gdi2290 commented on #443
I pushed up the changes but the comments are commented out for now until it's fixed upstream

[2016-03-20 12:57] msegers commented on #436
Will try above tomorrow. Happy to hear it's not just me

[2016-03-20 13:03] gdi2290 commented on #440
fixed via workaround  https://github.com/AngularClass/angular2-webpack-starter/commit/1661e4ce847f90547e7bc875c57e8ebdfb3fef98
related https://github.com/angular/angular/issues/7652#issuecomment-198888521

[2016-03-20 13:03] #440 closed

[2016-03-20 13:04] gdi2290 commented on #436
can you pull latest

[2016-03-20 13:05] gdi2290 commented on #434
should be fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/c811a45d099bdca04e3337ec230c89c2a73559d1 can you pull latest and make sure you run `typings install`

[2016-03-20 13:05] gdi2290 commented on #433
done

[2016-03-20 13:05] #433 closed

[2016-03-20 13:12] gdi2290 opened #445 "use typescript for config files"
update all config files to use typescript and use the webpack default convention
[code]
the benefit of using typescript is having the definition next to you as you type the config

[2016-03-20 13:29] gdi2290 commented on #444
there are many features in webpack that we are using. The most important pending feature is in webpack 2 (tree shaking) and will be merged with this repo once Webpack 2 is more stable
https://github.com/gdi2290/angular2-webpack2-starter/

[2016-03-20 13:34] msegers commented on #443
They seemed to work fine for me on friday, what kind of issues does it have?

[2016-03-20 13:47] xeor commented on #436
Removing `selenium-webdriver` from typings.json, and redo typings did it for me..

[2016-03-20 13:52] msegers commented on #436
I pulled latest, however now I get this "Uncaught TypeError: core_1.View is not a function." on startup, so nothing works anymore. npm start doesn't show errors though. Is that the issue with Material2 maybe?

[2016-03-20 13:55] gdi2290 commented on #436
@msegers  material2 should be commented out. They need to update their repo
related https://github.com/angular/material2/pull/213

[2016-03-20 13:56] msegers commented on #436
Explains, I was using it already with angular 10, so now it's broken. That means that your pull should have resolved my problems since I don't see those around anymore.

[2016-03-21 01:58] tan9 commented on #144
@Gabriel0402, for chrome `launch` request, you must close all your chrome.exe before launching. Even though you close all Chrome windows, chrome will resident in your Windows' system tray, close it too.

For the `devtoolModuleFilenameTemplate` resolving in Windows, my colleague confirmed that he can break on his source code without any problem. Can you dump (`console.log(resourcePath)`) the resolv

[2016-03-21 02:33] mburger81 opened #446 "Load appInjector after promise on bootstraping"
on main.ts I try to load my appInjector in .then, this is working fine on DEVELOPMENT but on PRODUCTION this doesn't work anymore, but I'm sure before migrating on 3.0.0 this works fine

How can I load my global appInjector, I need this on handle on @CanActivate if user is logged in using the http and router service

[code]

[2016-03-21 09:55] sergiomedinavalentin commented on #435
@kschio the files ../typings/browser/ambient/jquery/index.d.ts and ../typings/main/ambient/jquery/index.d.ts don't exists. In the folder ../typings/jquery/jquery.d.ts , replace
[code]
with:

[code]

but not working if you import jquery in the files that you need and use jQuery instead of $...

Installation I've followed has been: [](https://codedump.io/share/kQF7Ts1Iu5d/1/how-to-use-jquery-with-an

[2016-03-21 10:09] jberndsen commented on #178
@andrewbetts could you perhaps list the entire karma.conf.js, spec-bundle.js and wbepack.test.config.js (if they differ from the AngularClass seed)? I'm struggling with getting remap-istanbul to find the sourcemaps as well. Thanks!

[2016-03-21 11:27] skolmer commented on #144
@tan9 You can have a separate chrome session per project if you set chrome's userDataDir in your launch.json
`"userDataDir": "${workspaceRoot}/.vscode/chrome"`

Not sure why absoluteResourcePath contains a relative path in your case. What devtool is set in your webpack config? I'm using `devtool: 'cheap-module-inline-source-map'`

[2016-03-21 11:42] kampdomoj commented on #371
Solved by adding more memory to node in the npm scripts section:

[code]

[2016-03-21 11:46] oliverschenk opened #448 "Cannot find name 'Zone'"
I'm using Atom text editor with the TypeScript plugin installed. It will generally complain if it can't resolve an object due to missing typings or otherwise.

I'm using Atom as a text editor and the polyfills.ts file is giving me various errors:

[code]

It also doesn't like:

[code]

The website works fine and no errors in the console.

This is after cloning this project and making no modificati

[2016-03-21 11:52] oliverschenk commented on #448
I just noticed the "tslink: disable" and "enable" ... I'm not assuming that these are not actually errors but rather just my editor being confused.

[2016-03-21 12:18] akaztp commented on #448
I'm having these errors but when I run the e2e tests.

[2016-03-21 14:13] dvulanov commented on #425
+1

Breakpoints don't work in constructors or event hooks (like OnInit, AfterViewInit, etc...).  For me, they do work during regular method callbacks.

(using beta 9 and Chrome dev tools)

[2016-03-21 14:16] infowaybs commented on #371
This might be related: [Microsoft/TypeScript#7609](https://github.com/Microsoft/TypeScript/issues/7609)

[2016-03-21 14:40] user414 opened #450 "Changing to core-js for polyfills cause annotation inheritance to break in angular2"
I'm sure it's a side effect of something else, but restoring es6-shim instead of core-js polyfills fix it for me. Here is the angular2 issue with plunker

https://github.com/angular/angular/issues/5415

[2016-03-21 16:01] mburger81 opened #451 "bootstrap(App, [....]).then((appRef: ComponentRef) is not called for production"
In my main.ts i do this

[code]

but on running npm run build:prod the ".then" is not called and so my appInject is not called

[2016-03-21 16:10] zarkosusnjar commented on #446
+1

[2016-03-21 16:59] #444 closed

[2016-03-21 17:42] StormToft opened #452 "e2e error: TSError: Unable to compile TypeScript"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Running `npm e2e` fails.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
https://plnkr.co or simil

[2016-03-21 18:05] fxck opened #454 "ideas behind the new folder structure ?"
what goes where?

for example which providers go here https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/platform/browser/providers.ts only those coming from angular?

and which here https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/main.browser.ts#L25 only those from my own app?

[2016-03-21 18:39] gdi2290 commented on #454
the platform folder will be the new vendor workflow

[2016-03-21 18:40] fxck commented on #454
ok, so my own services go to bootstrap still

[2016-03-21 18:47] gdi2290 commented on #454
You can put them all in bootstrap within APP_PROVIDERS the platform is there for Universal modules support for when you have different environments or platforms. Basically I wanted a workflow that works for both advanced and simple case. If you don't want to look or use platform you don't have to

[2016-03-21 18:51] fxck commented on #454
and if I have vendor provider that requires my own files(ngrx/store `provideStore`), what place would be better for it?

[2016-03-21 19:07] fxck commented on #454
also you are actually adding app's directives(RouterActive) thru the platform folder, so I'm a little confused... is it something temporary?

[2016-03-21 19:19] infowaybs commented on #371
If you update (as a test) rxjs to 5.0.0-beta.3 this problem probably won't happen again.

[2016-03-21 20:31] gdi2290 commented on #454
you would add provideStore in main.browser just as I'm doing with HMR

[2016-03-21 20:32] gdi2290 commented on #454
RouterActive was meant to live in a common folder but I didn't want to confuse more devs with platform/common/environment I can move it back to app

[2016-03-21 20:39] fxck commented on #454
Ok, so vendors go to platforms, vendors that require anything from my actual code go to main.browser and my global directives / components / services go there as well.. How about changing "APPLICATION_PROVIDERS" to something like VENDOR_PROVIDERS.. to distinguish it from APP_PROVIDERS?

[2016-03-21 20:45] gdi2290 commented on #454
well they're available application wide so that's why it's named application_providers. app_providers is there for when you need a quick way to include application providers or if you need to dynamically create the provider with initial state. but you're right it's a little bit confusing. There needs to be more comments

[2016-03-21 22:58] gdi2290 commented on #451
I was able to get it working. can you try with the latest changes?

[2016-03-22 04:55] ryneflood opened #456 "Uncaught TypeError: Cannot read property 'call' of undefined"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **What is the current behavior?**
loading app fails intermittently with error: Uncaught TypeError: Cannot read property 'call' of undefined
![stacktrace](https://cdn.pbrd.co/images/2rrtmKqn.png)

started a week or so ago when I upgraded from around the beta.8 versions. In the m

[2016-03-22 05:27] sasidhar commented on #456
+1
Facing the same issue and it is intermittent.
With the earlier releases (till Angular 2 Beta 9) it was working fine and we are using Bootstrap, jQuery, jQuery UI, jQuery Datepicker, Timepicker and Date range picker without any issues.

When we update to recent commits (with Beta 11) we are facing the same issue as mentioned by @ryneflood

We tried this

- Running `npm run server:dev`
- Disabled

[2016-03-22 06:19] tan9 commented on #144
@skolmer Thanks for the `userDataDir` tip, I can google and then copy and paste again!

I am using `'cheap-module-inline-source-map'` too, as described here: https://github.com/tan9/angular2-webpack-starter/pull/1/files

[2016-03-22 06:30] ryneflood commented on #456
OK so after a LOT of digging/playing around it seems like my issue is related to require()'ing css styles in components. I'm currently using PostCSS as outlined here: https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-PostCSS , but it also affects using SASS as suggested here: https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-SCSS-in-components

[2016-03-22 06:44] ryneflood commented on #456
this code also needs to be disabled for it to work properly: (from main.browser.ts), once it's commented out and I unwrap the angular bootstrap function from the main() function it gets rid of the error
/*
 * Hot Module Reload
 * experimental version by @gdi2290
 // */
if ('development' === ENV && HMR === true) {
  // activate hot module reload
  hotModuleReplacement(main, module);
} else {
  // b

[2016-03-22 07:31] mburger81 commented on #456
Same problem here
@ryneflood can you show us how do do "unwrap the angular bootstrap function from the main()"

thx

[2016-03-22 07:38] mburger81 commented on #451
@gdi2290 Yesterday evening I downloaded the last version, and on last version it seams to work but I'm not realy sure. On having a empty project it works but including my app I have the same issue as discussed in #456 , and so I'm not able to test if it works realy.

[2016-03-22 07:42] mburger81 commented on #446
sorry I opened the problem twice time, same issue as discussed here #451

[2016-03-22 07:42] #446 closed

[2016-03-22 07:59] mburger81 commented on #456
@ryneflood what do you mean with "unwrap the angular bootstrap function from the main()"

[2016-03-22 08:12] mburger81 commented on #456
I tried some things but nothing worked for me,

I commented anything from @gdi2290  experimental code then `document.addEventListener('DOMContentLoaded', () => main());` but same error

I include  code from an old commit before main.browser.ts
[code]
but it is still the same error! some ideas?

[2016-03-22 08:20] penmark commented on #456
I am also having this issue, havent' been able to pin down which exact versions of webpack/angular which causes this.
https://github.com/AngularClass/angular2-webpack-starter/issues/426 seems related.

[2016-03-22 08:23] mburger81 commented on #456
@penmark can you try or doing that what @ryneflood wrote, I'm not sure what to do or I do the right thing but it doesn't solve the problem for me.

[2016-03-22 08:37] zatomik commented on #456
+1 as above in Chrome, in firefox the error thrown is `TypeError: modules[moduleId] is undefined`

[2016-03-22 08:45] broth-eu commented on #372
I'm also having this issue. Is there any solution or workaround?

[2016-03-22 08:47] mburger81 commented on #456
@zatomik can you test @ryneflood solution, if it works for you?

[2016-03-22 08:50] hollanderbart commented on #372
Yes, temporary solution https://github.com/AngularClass/angular2-webpack-starter/pull/449, just download the latest version.
You can also try to work with the latest Rxjs version (5.0.0-beta.3).

[2016-03-22 09:02] mburger81 commented on #456
@gdi2290
I copyied into `main.browser.ts` the old `main.ts` from version 3.0.0 and now this resolves this error. But there are several new erros like that one

![image](https://cloud.githubusercontent.com/assets/3778892/13946471/1e54816a-f015-11e5-947b-f65e740ee6ee.png)

[2016-03-22 09:19] broth-eu commented on #372
With increasing the memory it works, thanks. Unfortunately, it's extremely slow now.

How can I use the latest Rxjs version? When I try to update I always get the error "UNMET PER DEPENDENCY rxjs@5.0.0-beta.3" since the latest Angular2 version requires Rxjs 5.0.0-beta.2.

[2016-03-22 10:08] penmark commented on #456
@mburger81 using main.ts from 3.0.0 works for me as well

[2016-03-22 10:19] mburger81 commented on #456
@penmark do you have no other problems like me?
@gdi2290  I'm not able to revert to an older version, I have many more problems. Coping main.ts  resolves the issue discussed here, but then I have the problem describe two posts before, revert entire project to an known working commit opens other bugs like this:
`Uncaught TypeError: crypto.randomBytes is not a function`
before migratint to angular2-

[2016-03-22 10:29] fxck opened #457 "getting `Uncaught TypeError: Cannot read property 'location' of undefined` in 4.0.0"
- **I'm submitting a ...**
  bug report
- **What is the current behavior?**
  after updating a file, this happens

![image](https://cloud.githubusercontent.com/assets/1303561/13948557/f6e6c6ea-f020-11e5-8dbf-c85035f69a33.png)

and it doesn't reload

the line it points to is this -

![image](https://cloud.githubusercontent.com/assets/1303561/13948596/298fc524-f021-11e5-8158-d6237cf45f33.png)

it mi

[2016-03-22 10:40] hollanderbart commented on #372
I will try it now. Please run npm install for the second time.

[2016-03-22 11:09] zatomik commented on #456
@mburger81 no it doesnt work for me, neither does using the old main.ts, however have noticed that if I disable one of my nested routes the problem goes away.

[2016-03-22 11:50] mastertinner commented on #456
I think this is a general Webpack problem... https://github.com/webpack/webpack/issues/959

[2016-03-22 12:32] user414 commented on #450
Another observation is that the mangling that was turned on with the except also break the annotation inheritance so add to remove that from the prod configuration as well

[2016-03-22 12:53] zatomik commented on #456
I've narrowed my problem down to an import statement in one of my components, changed it from
`import {Observable} from 'rxjs/Rx';`
to
`import {Observable} from 'rxjs/Observable';`
`import 'rxjs/add/observable/forkJoin'`

Seems to be working fine now.

[2016-03-22 14:57] dvulanov commented on #425
+10!

Actually, now I can't hit any breakpoints?!  If anyone knows a solution, please share.  I imagine there must be a solution.  You can't develop without a debugger!

Thanks for any help

[2016-03-22 15:35] gdi2290 commented on #372
@broth-eu there's a problem with beta.3 in rx so they will release beta.4 soon

[2016-03-22 15:54] broth-eu commented on #372
@hollanderbart running npm install twice works, thanks
@gdi2290 nevertheless, Rxjs beta.3 seems to work. Only IntelliJ shows me some errors with the Observable interface due to the ambient method declarations.

[2016-03-22 16:01] gdi2290 commented on #457
can you elaborate more on what you meant by manually updating it?

[2016-03-22 16:03] fxck commented on #457
That I looked at the latest commits and copy pasted the stuff that has changed, and I might have overlooked some change that's causing this, but I can't figure out what it is...

[2016-03-22 16:07] gdi2290 commented on #457
the code above is for hot module replacement. you can turn it off by using `npm run server:dev` rather than `npm run server:dev:hmr` which is the default task when using `npm start`

[2016-03-22 16:25] ryneflood commented on #456
@mburger81 "unwrapping" the angular bootstrap from the main function just means:

[code]

becomes:
[code]

so the bootstrap is called immediately instead of waiting for something else to call main();
before there was an event listening added to call main() on 'DOMContentLoaded'. I've also stripped out anything extra like the AppState stuff...just to get it working for now

[2016-03-22 16:31] mburger81 commented on #456
@ryneflood
that's obviously something that I have done, but the result was still the same!!!

It's a little bit frustrating, I'm not able to get working my old stuff before I updated. I think all the problems came from webpack but I'm not sure!

I have no idea what else I can try to do

[2016-03-22 16:38] fxck commented on #457
yea I do want hot module replacement.. guess I just go thru all the changes again and see if I didn't miss anything

[2016-03-22 16:42] gdi2290 commented on #457
you still get live reloading the other change is src/app/app.service.ts that is injecting WebpackState

[2016-03-22 19:14] alvipeo commented on #372
With RxJS beta.3 I got this - https://github.com/ReactiveX/rxjs/issues/1507.

[2016-03-22 22:18] lanocturne opened #462 "PhantomJS error on spec-bundle.js"
* **I'm submitting a ...**
[ x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

After updating to latest commit(config files refactor), I am getting this error when run test.
[code]

Notice that start dev server works fine. I wander is this related to port occupied issue?

[2016-03-23 03:00] ryneflood commented on #456
yeah this is still popping up for me. Anybody have any fixes?

[2016-03-23 07:21] Tjeerd-menno commented on #452
I'm getting the same error

Node 5.6.0
TypeScript 1.8.9
Windows 7 (64-bit)

Could it be related to this Angular 2 issue? https://github.com/angular/angular/issues/7660

[2016-03-23 07:44] mburger81 commented on #457
Same error for me

[2016-03-23 08:14] samvloeberghs commented on #435
this is not a good approach, as anyone(including you) who will get the code and install it on some other workstation will not have this change. It's something you need to remember or put as as post step when running typings install.. :(

This issue has been around for years.

[2016-03-23 10:11] felix307253927 commented on #448
Error: TSError: ⨯ Unable to compile TypeScript
node_modules/zone.js/lib/browser/property-descriptor.ts (73,19): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (24,32): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (27,40): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (30,38): Cannot

[2016-03-23 10:12] felix307253927 opened #463 "npm run e2e error"
npm run e2e error:

node_modules/zone.js/lib/browser/property-descriptor.ts (73,19): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (24,32): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (27,40): Cannot find name 'Zone'. (2304)
node_modules/zone.js/lib/browser/register-element.ts (30,38): Cannot find name 'Zone'. (2304)

[2016-03-23 10:20] samvloeberghs commented on #378
@gdi2290, it still does not output the same results.

`npm run build:prod` gives errors on tslint
`npm run lint` doesn't

[2016-03-23 10:55] mburger81 commented on #456
No solutions?

[2016-03-23 11:43] dsebastien commented on #378
The solution I've describe above works, try it out.

[2016-03-23 12:18] louisscruz commented on #378
@samvloeberghs In my case the fix was simple. In package.json change `"lint": "./node_modules/.bin/tslint src/**/*.ts"` to `"lint": "./node_modules/.bin/tslint 'src/**/*.ts'"`. The missing quotation marks were established in [this commit](https://github.com/AngularClass/angular2-webpack-starter/commit/1563944036b4f2c80ca0ddca93487b197f7bf231) and fixed in [this commit](https://github.com/AngularCl

[2016-03-23 12:42] samvloeberghs commented on #378
I have a clean install, with those fixes already incorporated

[2016-03-23 12:56] edezacas commented on #456
I haven't found out the solution, but I've modified the _webpack.config.js_, removing _vendor_ from _CommonsChunkPlugin_ and now is working ok.

So the possible workaround is change from **webpack.config.js**:

`new webpack.optimize.CommonsChunkPlugin({name: ['app', 'vendor', 'polyfills'], minChunks: Infinity}),`

to

`new webpack.optimize.CommonsChunkPlugin({name: ['app', 'polyfills'], minChunks:

[2016-03-23 13:07] juristr commented on #456
@edezacas @mburger81  :+1:

[2016-03-23 14:02] samvloeberghs commented on #425
same here, using the new setup, my breakpoints are not working anymore. Perhaps something to do with the sourcemaps implementation used?

[2016-03-23 16:11] BrainCrumbz commented on #425
We definitely found some differences with sourcemap. Initially we tried with `devtool: 'cheap-module-eval-source-map'`, that should be faster for development rebuilds. But breakpoints did not work with this.

Then we tried with (slower) `devtool: 'source-map'` and breakpoints are hit.

[2016-03-23 17:00] StormToft commented on #378
@louisscruz thanks! that fix worked for me.

[2016-03-23 17:01] StormToft commented on #463
@felix307253927 could this be a duplicate of #452 ?

[2016-03-23 17:07] mburger81 commented on #456
@gdi2290 @edezacas

After downloading last master and merging with our app I had no problem with CommonsChunkPlugin, so I can not say if that had resolved me something before, but I don't think so.

After merging, I had always the problems with beta.11 and ng2-bootstrap so I removed ng2-bootstrap every where from my app. After that my app works fine (with some layout and style bugs, beta11 problem

[2016-03-23 18:17] lanocturne commented on #462
Add back
[code]
to DefinePlugin, and it's working again. Any idea where I am missing?

[2016-03-23 20:31] mbcooper opened #464 "Reflect.getMetadata"
I pulled the latest and am porting an app that we wrote with a version of the starter app in December.  So much has changed!

The core.js defines a version of "Reflect" that does not have getMetadata.

How would I include that as an overload of the Reflect method?  Everything seems so tightly wired!

[2016-03-23 21:06] zloirock commented on #464
`core-js` contains `Reflect.getMetadata` O_o

[2016-03-23 21:33] ryneflood commented on #456
@edezacas removing vendor from _CommonsChunkPlugin_ seems to be working for me, at least for now!

[2016-03-23 21:42] vdavyskiba commented on #452
Occure same issue:

D:\VITALY\work\angular2\angular2-webpack-starter>npm run e2e

selenium standalone is up to date.
chromedriver is up to date.

Using FirefoxDriver directly...
[launcher] Running 1 instances of WebDriver
----------------------------------
? Unable to compile TypeScript

src\webapp\pages\app\app.e2e.ts (7,5): Cannot find name 'browser'. (2304)
src\webapp\pages\app\app.e2e.ts (13,1

[2016-03-23 23:10] arozwalak opened #465 "browser_adapter.ts:73 EXCEPTION: Error: Uncaught (in promise): RangeError: Maximum call stack size exceeded"
I just cloned latest version of angular2-webpack-starter and setup my project. When I run `npm run server` it works ok, but when I try to get prod version with `npm run build:prod` and `npm run server:prod` I'm getting this error:

[code]

this is stack trace:

[code]

[code]

[2016-03-24 00:14] siready commented on #456
Yeah, for production just disable code mangling of uglifyjs. Check [issue](https://github.com/angular/angular/issues/6380) on angular repository.

[2016-03-24 01:52] felix307253927 commented on #463
@StormToft  i run it in Linux

[2016-03-24 07:16] mburger81 commented on #456
beta 12 is out

[2016-03-24 07:28] mastertinner commented on #456
beta.12 doesn't seem to fix the problem for me... but removing `vendor` from the `CommonsChunkPlugin ` does

[2016-03-24 07:57] chuson1996 commented on #452
Same here

[2016-03-24 08:19] samvloeberghs commented on #425
@BrainCrumbz : I can also confirm this

[2016-03-24 10:11] gdi2290 commented on #464
Thanks for creating the issue. the issue you're looking for is https://github.com/zloirock/core-js/issues/152. Reflect does include getMetadata and I can understand the confusion you may have since it wasn't documented in the repo. I'm going to close this issue but if you like it would help everyone else if we updated the FAQ to mention this. If you could edit the readme to include this then that

[2016-03-24 10:54] mburger81 commented on #456
on beta.12 i still not need to set CommonsChunkPlugin but mangling still doesn't work on production.

[2016-03-24 11:12] zloirock commented on #464
It's already documented [here](https://github.com/zloirock/core-js#pre-stage-0-proposals).

[2016-03-24 12:32] mbcooper commented on #464
I am still stuck.  In the current polyfill.ts, we
`import 'core-js';`
which builds typings for the "old" Reflect definition.

The Reflect typing in typings/core-js/index.d.ts show Reflect without "getMetaData".

Do I have to add a specific import in polyfill, AND add a typing in typings.json?
I'm trying all sorts of ways to do this, and I cannot seem to get teh right definition of "Reflect" to my

[2016-03-24 12:41] zloirock commented on #464
Looks like need update type definitions for `core-js` because [current definitions for `0.9.7` version](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/core-js/core-js.d.ts#L1) - May 2015. I'm not an expert in TypeScript, so feel free add PR. Or, I think, in addition, you can use definitions for `reflect-metadata` package.

[2016-03-24 14:42] gdi2290 commented on #464
I'll reopen and fix the type definitions

[2016-03-24 17:14] mbcooper opened #467 "How to integrate new 3rd party libraries into a project"
i seem to spend hours fiddling with the starter template to add new external libraries that are supposed to be Angular 2 friendly.  But it appears that many are not.

I wrestled with an older version of ng2-translate, which failed because it's entry point had exports from adjacent translate directories -- and webpack did not resolve them properly.

Now, I wrestling once again with ng2-idle, which

[2016-03-24 18:11] gvandyk-r7 commented on #434
Thanks

[2016-03-24 20:00] alvipeo opened #468 "Upgraded to beta.12 and RxJS beta.3 - works, but warning"
ok, changes:
**package.json** (I have some extra - bootstrap, crypto-js, jQuery here):
[code]

**vendor.ts** - had to add some Rx operators in order to have it compile:
[code]
Now, I use Observable.fromPromise in one of my files and I had to use this import to get it compile:
[code]
but then I get warning:

There is another module with an equal name when case is ignored.
This can lead to unexpecte

[2016-03-24 20:23] gdi2290 commented on #434
I'm going to close this but if you still have the error please reopen or create another issue, thanks!

[2016-03-24 20:23] #434 closed

[2016-03-24 20:24] GarrettVD commented on #434
Thanks, just testing it now

[2016-03-24 21:18] valorkin commented on #467
@mbcooper try this one https://github.com/valor-software/ng2-bootstrap/blob/master/README.md

[2016-03-24 21:20] gdi2290 commented on #468
Angular 2 only supports rxjs beta.2 at the moment

[2016-03-24 21:57] alvipeo commented on #468
Yes, but it perfectly works with beta.3 :)

[2016-03-25 07:20] gfaceless opened #470 "How to expose `ng` as global?"
Exposing angular global would be helpful for fiddling around. Besides, some extension like Batarangle needs it.

[2016-03-25 08:08] gfaceless commented on #470
Just updated to 4.0, and `ng` has been exposed as global. :+1:

[2016-03-25 08:08] #470 closed

[2016-03-25 12:41] oliverschenk opened #471 "style-loader css-loader error"
I did the following:

[code]

This works fine.

I then change the following line in webpack config:

`{test: /\.css$/, loader: 'raw-loader'},`

to

`{ test: /\.css$/, loader: 'style-loader!css-loader' },`

and now I get the following error:

`EXCEPTION: Error: Uncaught (in promise): TypeError: s.replace is not a function`

Ripping my hair out for a few hours now. Google isn't helping as nothing se

[2016-03-25 12:52] oliverschenk commented on #471
It looks like in order to fix this I had to remove the following line in 'src/app/home/home.ts':

`styles: [ require('./home.css') ],`

I don't understand why.

[2016-03-25 23:51] #462 closed

[2016-03-26 01:11] #471 closed

[2016-03-26 13:46] zishe commented on #448
Same thing after update

[code]

[2016-03-27 01:07] gdi2290 commented on #471
that's because you changed the loader from raw to styles/css the codebase assumed that .css produced raw css as a string.

[2016-03-27 01:19] denissb opened #472 "Switching to path location strategy"
I'm submitting a question about the decisions made in the repository.

Currently the starter is using hash location strategy for the routing by default. Why not switch to path location strategy?

I believe most users want to be html5 compliant out of the box. Browser support for Angular 2 includes only IE9+ with more recent versions of Chrome, Firefox and Opera, so it's not an issue.

[2016-03-27 01:22] gdi2290 commented on #472
hash location strategy is easier to understand how a SPA works. Even if the goal is having html5 support

[2016-03-27 01:35] spawnius commented on #472
I was thinking the goal of this repository was to get people up to speed with an Angular 2 project instead of teaching them about how SPA works.

But if the intention is more towards the second I will happily close.

[2016-03-27 05:40] tobek opened #473 "npm run build:prod fails with assetsTypeError on fresh install"
* **I'm submitting a ...**

[:heavy_check_mark:] bug report
[ ] feature request
[ ] question about the decisions made in the repository

***

Just cloned the repo and installed dependencies etc. and was able to run it with `npm start` and view the page in my browser. However, when I run `npm run build:prod` it fails. Output:

[code]

The contents of `npm-debug.log` (redundant bits excluded):

[cod

[2016-03-27 05:52] tobek commented on #452
Issue is described here https://github.com/angular/angular/issues/7660 and looks like it will be fixed in a future release of angular. In the mean time you can fix it by adding this to your `tsconfig.json`:

[code]

[2016-03-27 13:51] tsm91 commented on #473
have the very same problem here

[2016-03-27 19:10] tsm91 commented on #452
@tobek thanks, the compiler needs `zone.js.d.ts`

but, its not that easy to fix it, because if you check the current [tsconfig.json](https://github.com/AngularClass/angular2-webpack-starter/blob/master/tsconfig.json#L10) node_modules are excluded, even if you add `./node_modules/zone.js/dist/zone.js.d.ts` to `filesGlob` it won't gain any precedence over the node_modules exclusion. If you remove th

[2016-03-27 20:37] MurhafSousli opened #474 "how to bind app.service property to the view?"
Hi, I'm trying to use `app.service` to get/set global loading state.
in `app.html` I print the loadState, `{{loadState}}` which supposed to be bound to `appState.get().loadState`

[code]

app.ts

[code]

however I'm getting this error: `EXCEPTION: Expression 'loading: {{loadState}}
   in App@0:23' has changed after it was checked. Previous value: 'false'. Current value: 'true' in [loading: {{loadS

[2016-03-27 21:47] tobek commented on #452
That definitely seems like a more elegant/maintainable long-term solution, however it seems like the fix on angular's end is coming soon so hopefully we won't have to deal with this (and ideally shouldn't have to). My hack solution above worked for me as a temporary fix until the angular team fixes this.

[2016-03-27 22:12] antonmoiseev commented on #465
Try disabling mangling [here](https://github.com/AngularClass/angular2-webpack-starter/blob/7bcfbd90b7cc55ac86634166a6fa8ebd46a047af/config/webpack.prod.js#L292): `mangle: false`.

[2016-03-28 00:28] mbalex99 commented on #473
When I commented out the Compression plugin, it worked...

In `webpack.prod.js` config file, I **commented out**
[code]

[2016-03-28 03:56] gdi2290 commented on #448
the latest changes should fix this. if you still have the issue please reopen. thanks!

[2016-03-28 03:56] #448 closed

[2016-03-28 10:55] leonardoanalista commented on #473
I have the same problem I am using npm 3 with node 4.4.1. It works with block above commented out. Thanks for sharing.

[2016-03-28 11:29] antonycooper commented on #473
The problem is with the "algorithm: helpers.gzipMaxLevel,".
I haven't exploed the problem in depth, but "algorithm: 'gzip'" and it works for me.

[2016-03-28 12:05] tsm91 commented on #473
@antonycooper i investigated it, our helper isn't necessary anymore and `algorithm: 'gzip'` is what we need.. what is the default option so we can delete this line and the helper.

check [this line](https://github.com/webpack/compression-webpack-plugin/blob/master/index.js#L38) you can specify the compression level in `options` and it defaults to 9.

[2016-03-28 12:11] antonycooper commented on #473
@tsm91 I just went to https://github.com/webpack/compression-webpack-plugin and used the default options from there.

[2016-03-28 12:12] tsm91 commented on #473
@antonycooper yep, that's perfect

[2016-03-28 17:46] Spittal commented on #473
I can confirm switching algorithm to 'gzip' works.

[2016-03-28 17:47] gdi2290 commented on #473
can someone create a PR?

[2016-03-28 19:17] #473 closed

[2016-03-28 19:21] gdi2290 commented on #474
I'm going to change the angular2-hmr api and remove the getter so it's not confusing

[2016-03-28 19:53] gdi2290 commented on #468
I updated the repo to beta.12 for rxjs beta.3 the angular2 repo needs to be updated

[2016-03-28 19:53] #468 closed

[2016-03-28 20:44] saldoukhov opened #477 "Common config forces development mode to every build"
In webpack.common.js:
const ENV = process.env.ENV = process.env.NODE_ENV = 'development';

[2016-03-28 21:34] tobek commented on #477
Just added a PR that fixes this #478

[2016-03-28 21:39] gdi2290 commented on #477
should be fixed via https://github.com/AngularClass/angular2-webpack-starter/pull/478 if you still have the problem please reopen the issue

[2016-03-28 21:39] #477 closed

[2016-03-28 22:48] alvipeo opened #479 "Got clean repo now = Broken"
If you clone a repo now and do 'npm run build' you'll get the following:

d:\Documents\Visual Studio 2015\Projects\angular2-webpack-starter\node_modules\.bin\webpack:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Object.Module._extens

[2016-03-28 23:08] gdi2290 commented on #479
@alvipeo can you apply these changes or pull latest
https://github.com/AngularClass/angular2-webpack-starter/commit/216fa0db6c7e4092cfdf22b25aafb9b0bdfaba95

[2016-03-28 23:43] alvipeo commented on #479
Thank you!

[2016-03-28 23:43] #479 closed

[2016-03-29 08:18] elvirdolic commented on #465
is this something related to the current angular beta 12 version?
I have the same issue and it only works when disabling mangle.

[2016-03-29 13:10] prayagmk commented on #385
Having same issue while using the minified  javascript. Have anyone got a work around?

[2016-03-29 13:57] valorkin commented on #385
Disable mangling in js minify, and be careful with html minify - it could break ng2 templates

[2016-03-29 16:41] gdi2290 commented on #385
the RangeError: Maximum call stack size exceeded error is a problem with Angular 2's JIT templates. I set mangle to false so you should be good

[2016-03-29 17:12] prayagmk commented on #385
@gdi2290 @valorkin Thanks. It worked.

[2016-03-29 19:25] alvipeo opened #482 "jQuery with the current repo - can't fix it"
I've used this https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery) to have Bootstrap 4 and jQuery in the project but it still gives me this:

somewhere in utils.js (which is bootstrap I suppose).

I'm not a pro in webpack so please help with this.

[2016-03-29 20:36] alvipeo commented on #482
Sorry, my bad. Fixed

[2016-03-29 20:36] #482 closed

[2016-03-29 23:14] ps2goat commented on #213
The shim works!  It would be great to get this into the polyfills.

[2016-03-29 23:20] HackedByChinese commented on #467
I'm not much of a webpack user, so I apologize for the probable user error. Trying to help @mbcooper (I'm the owner of ng2-idle). I don't know what I'm missing here, I can't even properly bootstrap the application in the way I've done for non-webpack Angular2 apps.

https://github.com/HackedByChinese/ng2-idle/issues/3

[2016-03-29 23:37] gdi2290 commented on #213
I switched to core-js which has all of them and more

[2016-03-30 03:43] gdi2290 commented on #246
closing for now. if you still have the problem please reopen the issue

[2016-03-30 03:43] #246 closed

[2016-03-30 03:44] gdi2290 commented on #369
if you use `npm start:hmr` you will have HMR with state management using a decorator

[2016-03-30 03:44] #369 closed

[2016-03-30 03:52] gdi2290 commented on #468
I'm updating the repo to rxjs 4

[2016-03-30 03:52] gdi2290 commented on #465
I turned mangle to false so this problem won't happen again

[2016-03-30 03:52] #465 closed

[2016-03-30 04:00] gdi2290 commented on #464
thanks for the issue. fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/820531520314f095443dce3db6946df04c859e7d

[2016-03-30 04:00] #464 closed

[2016-03-30 05:22] ehartford opened #483 "please provide a minimal version of angular2-webpack-starter without the bloat"
**Note: for support questions, please use one of these channels:** [Chat: AngularClass.slack](http://angularclass.com/member-join/) or [Twitter: @AngularClass](https://twitter.com/AngularClass)

* **I'm submitting a ...**
[ ] bug report
[x] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
feature

* **What is the c

[2016-03-30 05:23] datatypevoid commented on #483
Strip it out yourself and start a new repo. Your tone seems a bit entitled.

[2016-03-30 06:01] gdi2290 commented on #483
you're looking for https://github.com/angular/angular2-seed

[2016-03-30 07:38] jmsegrev opened #484 "core-js increase the build size massively"
Importing **core-js** increases the module count and size of the webpack build massively, compared to the previous polyfills libs used (es6-shim, es7-reflect-metadata). I think it would be good to only import the angular2 specific dependencies from core-js instead of the entire library. If the user would like to use another particular polyfill, he could import it the same way its done with RxJs op

[2016-03-30 08:44] samvloeberghs commented on #484
agree, I'm noticing this to..
Can you list which specific parts are needed?

[2016-03-30 08:45] samvloeberghs commented on #472
Does the Path Location Strategy fall back automatically to Hash Location Strategy? :)
For example on IE9

[2016-03-30 10:46] kschio commented on #435
@samvloeberghs I agree, that's why I stated that this is not a clean solution but I didn't find the time to provide something yet.

Let me know if you work on this or if I can help you out.

[2016-03-30 13:49] alvipeo commented on #483
I actually moved all my code to mgechev seed and it has this out of memory problem. But what's cool is that it's more strict on typescript. Really cool! Can we have the same in here?

[2016-03-30 18:07] spawnius commented on #472
@samvloeberghs nope :)
Normally path location strategy should work on IE9 of you use a polyfill like history.js
Sadly I have not experimented with it much, but if support for hash location strategy is more IE9 friendly then it's a reason to keep it.

[2016-03-30 18:36] kahboom commented on #215
@jgrannas - Not sure if this is what you're referring to, but I have it set up to use a global `main.scss` file located in a separate directory called `/assets/scss`. That main SCSS file is referenced in the main/top-level `AppComponent`. It can then import other SCSS files like `_common.scss`. Even though viewEncapsulation is turned off for the primary component I can still require SCSS files for

[2016-03-30 20:00] dsebastien commented on #472
@samvloeberghs the bootstrap code could probably use Modernizr to detect if the history API is there or not and adapt the config based on that. IMHO IE9 shouldn't be considered anymore anyways, time to move on. Microsoft dropped support, let's not live in the past. Ask people to move to a modern Web browser :)

[2016-03-30 22:14] gdi2290 commented on #483
@alvipeo how is it more strict on typescript?

[2016-03-30 22:38] lastnod opened #486 "feature request : add socket.io lib"

[2016-03-31 00:45] alvipeo commented on #483
It shows unused vars, more strict on types, doesn't allow untyped vars, etc. I actually just spent an hour fixing these errors.

[2016-03-31 00:46] alvipeo commented on #486
hm.. what if someone doesn't need it in his project? the repo is a little bit fat already

[2016-03-31 02:57] gdi2290 opened #487 "update beta.13"

[2016-03-31 02:58] gdi2290 commented on #486
the repo is fat because of testing and e2e

[2016-03-31 03:11] gdi2290 commented on #487
done via https://github.com/AngularClass/angular2-webpack-starter/commit/a556f3cf446076ba04951fa41da817876fd01d0b

[2016-03-31 03:11] #487 closed

[2016-03-31 03:34] gdi2290 commented on #483
that's just tslint though :/

[2016-03-31 07:17] samvloeberghs commented on #472
@spawnius @dsebastien totally up for that! But why do we still have Hash Location Strategy than.. Can't think of a case other than IE9

[2016-03-31 09:18] alvipeo commented on #483
Right. I copied tslint.json from seed to my proj (based on this nice repo) and it doesn't give any warnings/errors when type is not specified, for example. Then I reverted back to this repo tslint.json - same thing... Also, no sign of linting with 'npm run lint'.

So what I like with angular2-seed is with this code:
[code]
I get an error something like http doesn't have type defined. This really h

[2016-03-31 09:44] alvipeo commented on #486
what I'm saying is let's not add features that not everyone needs.

[2016-03-31 10:58] mastertinner commented on #486
@lastnod, you can see how to add it in my tutorial here: https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-with-FeathersJS

[2016-03-31 19:12] ps2goat commented on #213
@gdi2290 do you use that instead of the angular2 polyfills?

[2016-03-31 20:35] spawnius commented on #472
@samvloeberghs - while IE9 without push state support might be one of the reasons, the major one I see is when you don't want to delegate handling of deep links to the front end. Example: ngnix web server is handling / while the SPA is handling /# based routes.

[2016-03-31 21:10] kamil-kielczewski commented on #456
I have similar problem. In my case change amount of code in html template (!!!!!) induce this error.

In webpack.config.js i comment line ('vendor') and it works but I don't know for how long...:
[code]

[2016-03-31 21:26] rvetere opened #488 "livereload of css and HMR not working"
* **I'm submitting a ...**
[x] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
It feels like a bug to me but i don't want to stress anybody - the HMR thing is still in developement i guess and maybe it is just work-in-progress..?

* **What is the current behavior?**
Three weeks ago i've initialized

[2016-03-31 21:52] gdi2290 commented on #456
this problem should be fixed in the latest release. the problem was due to the order that the HtmlPlugin was injecting the scripts

[2016-03-31 21:55] gdi2290 commented on #488
in the readme you have to run `npm start:hmr` hmr is off by default

[2016-03-31 22:00] gdi2290 commented on #488
the css for components are also scoped so if you include `body { color: red; }` it's not going to work since there is not body tag within the home component. You would need to turn off css encapsulation for the component or use a different style value like `form { color: red; }`

[2016-03-31 23:00] gdi2290 commented on #213
yup, it's simpler just to use one module for all the polyfills that are updated than many outdated polyfills

[2016-03-31 23:00] gdi2290 commented on #488
I"m going to close this issue to keep them issue count down but if you still have this problem please reopen it. thanks!

[2016-03-31 23:00] #488 closed

[2016-04-01 01:57] sasidhar opened #489 "IE9 - pushState"
This is a Bug
Browser : Internet Explorer 9
Operating System : Windows 7
Angular : 2 beta 13

After adding `shims_for_IE.js` from angular2 repository for missing `requestAnimationFrame`, now I am facing issue with `pushState`.

Because of this, I am not able to move to other pages and the URL is not updating with the hash.

![ie9-pushstate](https://cloud.githubusercontent.com/assets/897339/1419579

[2016-04-01 01:59] sasidhar commented on #489
Might be Angular 2 bug

https://github.com/angular/angular/issues/6506

[2016-04-01 02:05] sasidhar opened #490 "IE9 : requestAnimationFrame : Adding shims from angular 2 repository"
In IE9, we are facing issues with `requestAnimationFrame`.

As of now, I am copying that from `angular2` repository (`./node_modules/angular2/ts/src/testing/shims_for_IE.js`) to `/assets` and including the same in index.html for IE browsers. But, I might need to update this folder after every update in `angular2`.

Is there any other way of including this?

If this is fine, I will update the READM

[2016-04-01 06:24] mburger81 commented on #456
From Wednesday I had suddenly again this problem! Today I migrate to the latest master of angular-webpack-starter upgrading zone.js to 0.6.8 as described in a angular2 issue and the problem is still there! It's frustrating a little bit :|

[code]

Then I commend `'vendor': './src/vendor.ts'`, ` `in webpack.common.js` and the APP works again
=)

[2016-04-01 10:50] akaztp commented on #462
I see that commit 5ee01f697ddc05283c81a7398038cb73b5d06e22 is for fixing this issue but I've just cloned the repository with commit f78aeb4fe4f6bd4bd25b1e09ff5792fc2e23215a (the latest at this time) and I got exactly the error reported in this issue. Any thoughts?

[2016-04-01 13:32] samvloeberghs commented on #462
change:

[code]

to

[code]

[2016-04-01 13:38] louisscruz commented on #472
I was going to open an issue relating to path location strategy, but it might be more appropriate here. Maybe @spawnius can help me out. I'm using path location strategy. On my server, nginx is handling incoming requests and sending them off to either the front-end server or the backend (api) server. I can't get non-root routes to work on refresh without specifying all routes like the `location /a

[2016-04-01 13:55] mastertinner commented on #456
I'm still having the problem with the latest version of the repo...

[2016-04-01 14:25] mburger81 commented on #456
@mastertinner tried to comment `'vendor': './src/vendor.ts'` in `webpack.common.js`?

[2016-04-02 02:15] jffry opened #491 "Bug: `angular-hmr` v0.5.3-v0.5.4 causes browser-side exception in prod build"
This is a **bug report**

### Overview

Changes made in `angular2-hmr 0.5.3` cause a failure in browser in prod builds of `angular2-webpack-starter`.  I'm not sure if this is ultimately something to fix here or in `angular2-hmr`, though it can be temporarily alleviated here by forcing the dependency if anybody else is affected.

### Steps to reproduce

* Checkout `angular2-webpack-starter` at revi

[2016-04-02 03:20] gdi2290 commented on #491
thanks! I updated the hmr module to 0.5.5 to address this

[2016-04-02 03:21] gdi2290 commented on #491
done via https://github.com/AngularClass/angular2-webpack-starter/commit/bf46a9c129c8074760646c4e8fe97c6e31f86b5c

[2016-04-02 03:21] #491 closed

[2016-04-02 03:24] jffry commented on #491
Fix works like a charm, thanks! ❤️

[2016-04-02 12:04] rvetere commented on #488
Thanks for your replies! Everything clear so far.. but, how would i turn off css encapsulation for a component?

My problem is, i try to use Sass together with Bootstrap. I know it would be perfect in ES6 modules to import the css for every component directly in the components code. But then i don't know all the variables/classes inside my component script - then i have to import everything needed

[2016-04-02 12:10] mastertinner commented on #456
thanks, @mburger81. yes, i've tried that and it works. but it seems like more of a temporary solution to me.

[2016-04-02 15:11] StormToft commented on #452
Closing this because this issue no longer occurs in master at bf46a9c129c8074760646c4e8fe97c6e31f86b5c. Thanks all!

[2016-04-02 15:11] #452 closed

[2016-04-02 18:32] rvetere opened #492 "How to disable css encapsulation?"
Sorry, as i can't reopen issues here (or i just don't know how), i'm referencing to the closed issue: https://github.com/AngularClass/angular2-webpack-starter/issues/488#event-610552866

Thanks for your replies! Everything clear so far.. but, how would i turn off css encapsulation for a component?

My problem is, i try to use Sass together with Bootstrap. I know it would be perfect in ES6 modules

[2016-04-02 20:24] joaogarin commented on #492
Encapsulation is controlled by the angular components themselves. You would set on your component :

encapsulation : ViewEncapsulation.None,

You can also set ViewEncapsulation.Emulated (default) or ViewEncapsulation.Native (shadowDom)

See more about it here : https://angular.io/docs/js/latest/api/core/ViewEncapsulation-enum.html

Also a good article can be found here : http://blog.thoughtram.io/

[2016-04-03 00:33] gdi2290 commented on #456
sorry the fix was removed when someone refactored the configs into a common one
https://github.com/AngularClass/angular2-webpack-starter/commit/f26985da68c5e94742b204d682b9673ac093006b

[2016-04-03 11:23] kamil-kielczewski commented on #456
Ok I use your suggestion @gdi2290 - my wersion of angular2-webpack-starter is from near 1-3 march 2016. So I upgrade it manualy in this way:

In webpack.config.js I uncomment vendors in:
[code]
And replace line:

`new HtmlWebpackPlugin({ template: 'src/index.html', chunksSortMode: 'none' }),`
by
[code]

And replace this:
[code]

By this:
[code]

Then I replace body of helpers.js file (in the same

[2016-04-03 11:31] edezacas commented on #456
@gdi2290 I confirm your last update fix this issue.

[2016-04-03 11:43] mastertinner commented on #456
Thanks, @gdi2290! That solved it.

[2016-04-03 13:16] rvetere commented on #492
Thanks this does the trick :)

[2016-04-03 13:16] #492 closed

[2016-04-03 15:41] akeating commented on #136
There are cases where you need global styles and also enjoy the benefits of encapsulated components. I have adopted a policy of naming component files so they end with `component.scss`. Webpack can then choose the right loader chain like this:
[code]
Of course, be sure to create a common or global entryPoint with the applicable `require` statements and load it in <head> before your bundle containi

[2016-04-03 16:53] gdi2290 commented on #456
@kamil-kielczewski yup that's correct. awesome, I'm going to close this issue now that it's resolved

[2016-04-03 16:53] #456 closed

[2016-04-03 16:54] gdi2290 commented on #490
you can include `ie-shim` in polyfills

[2016-04-03 17:02] gdi2290 commented on #489
@sasidhar thanks for taking the time to figure out all the bugs with IE9

[2016-04-05 12:26] Somiks opened #494 "angular2-hmr has no exported member 'WebpackState'."
* **I'm submitting a ...**
[ ] bug report

* **Please tell us about your environment:**
- Angular version: 2.0.0-beta.13

I just updated newer version of webpack. I can see this module in node_modules

ERROR in [default] C:/new_project/src/app/app.service.ts:2:8
Module '"C:/new_project/node_modules/angular2-hmr/dist/index"' has no exported member 'WebpackState'.

ERROR in [default] C:/new_project/

[2016-04-05 14:47] mburger81 opened #495 "HowTo: get absolut path of required file"
As described in Wiki i need a howto:

How can I get a absolut final URL path of a required file?

`var Locomote = require('./assets/js/locomote.min.js');`

how can I get the absolut final path and filename of loaded file in require?

[2016-04-05 16:16] saldoukhov opened #496 "Metadata portion defined in dev.js and prod.js does not make its way any further."
- **I'm submitting a ...**
  [x ] bug report
- **What is the current behavior?**
  f.e. Include
  `<script>console.log('<%= webpackConfig.metadata.port %>');</script>
  `
  into index.html - it prints nothing.
  Because of this,

[code]

has no effect

I think metadata needs to be included for merging in both dev and prod configs, in addition to the common one.

[2016-04-05 18:33] gdi2290 commented on #494
@Somiks can you check the latest changes?
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/main.browser.ts#L53...L54
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/app/app.service.ts#L2...L7

[2016-04-06 05:47] henryng24 commented on #215
When I try deploying to Heroku, this error is thrown:

build modulesModuleNotFoundError: Module not found: Error: Cannot resolve module 'jquery' in /tmp/build_ccd23ef44dceb1cd8eda

Can anyone help me determine why?

I've run the same command locally, and everything fully goes through, but I get errors like this:

Dropping unreachable code [./~/imports-loader?jQuery=jquery!./~/source-map-loader!./~

[2016-04-06 07:24] Somiks commented on #494
@gdi2290
yeah, now all works fine. Looks like zip version of the project updates a little bit later. Because I used zip version yesterday and there was not last changes.

[2016-04-06 07:24] #494 closed

[2016-04-06 14:56] jplo opened #497 "a failing test cause npm run-script e2e error"
I' m submitting an issue I have when I launch npm run-script e2e, in a context where there is a failing e2e test.
Thanks.
I have the following result :

[ ] bug report

/usr/local/bin/node /usr/local/lib/node_modules/npm/bin/npm-cli.js run-script e2e

selenium standalone is up to date.
chromedriver is up to date.

root directory: /Users/jp/angular2-webpack-starter2
Using ChromeDriver directly...
[

[2016-04-06 15:00] kahboom commented on #467
I agree, I think documentation can really be improved here as the shift to Angular 2 is bringing in a bunch of technologies that developers may not have worked with previously, such as TypeScript, webpack, and obviously Angular 2. Not that we should document for each of those, but just better general documentation about how to add external libraries and how that is handled, etc. specific to this p

[2016-04-06 19:59] zwhitchcox opened #498 "Size of app"
* **I'm submitting a ...**
[ ] bug report
[ ] feature request
[x] question about the decisions made in the repository

So the size of the compiled app, even built for production is like 6MB. Is this normal? Is this the expected behavior? This seems pretty large to me.

Angular version: 2.0.0-beta.X
Chrome OS X

[2016-04-06 20:32] abdulhaq-e commented on #498
Are you sure you have the latest code?

Have you imported any external libraries? Perhaps you loaded all Rxjs.

[2016-04-06 20:40] zwhitchcox commented on #498
Just recloned the library and installed...It's at about 5MB...is this normal?

![screen shot 2016-04-06 at 3 39 31 pm](https://cloud.githubusercontent.com/assets/4328800/14332159/d9bfc30c-fc0d-11e5-8dca-92dc0d5c6526.png)

[2016-04-06 21:27] abdulhaq-e commented on #498
There is something wrong with your setup. Here is a screenshot of a production build with a fresh clone of this repo.

![size](https://cloud.githubusercontent.com/assets/2532125/14333436/edc71684-fc4e-11e5-8500-78991531cb1a.png)

[2016-04-06 21:27] gdi2290 commented on #498
the size is the inline source-maps and hot module replacement. if you change `devtool` to `source-map` and remove hmr you will see the size go down to 1.5mb

[2016-04-06 21:48] zwhitchcox commented on #498
Ok, yes, it went down to <1MB

[2016-04-06 21:48] #498 closed

[2016-04-07 06:40] msegers commented on #443
They've released alpha2. so might be able to continue

[2016-04-07 21:56] allenhwkim opened #499 "Protractor test fails with "Error: Server terminated early with status 1""
- **I'm submitting a ...**
  [x] bug report
- **What is the current behavior?**
  When I run protractor test `$ protractor` after I ran `$ webdriver-manager start`, it fails with error.

[code]
- **What is the expected behavior?**
  It should run without error messages
- **What is the motivation / use case for changing the behavior?**
  N/A
- **Please tell us about your environment:**
- Angular ve

[2016-04-08 00:54] gdi2290 commented on #443
I updated the repo to use angular2-material2-alpha.2

[2016-04-08 00:54] #443 closed

[2016-04-08 08:16] GitAngel opened #500 "Error during mocking the service in unit test"
I've created a component which I'm trying to test using Karma. Everything works fine for other components that doesn't have services injected by DI. But this one throws an error without any message and just with an error stack.

Here's the code of the class, service and test for one file:
[code]

**Note:** Exactly same code works fine with another clean starter and for other people without starter

[2016-04-08 08:25] MartinMa opened #501 "EPEERINVALID during npm install (Quick start guide)"
* **I'm submitting a ...**
[x ] bug report
[ ] feature request
[ ] question about the decisions made in the repository

* **Do you want to request a *feature* or report a *bug*?**
bug

* **What is the current behavior?**
When I run `npm install` on a fresh git clone, I get the following **peerDependencies** error.
[code]

* **If the current behavior is a bug, please provide the steps to reproduce

[2016-04-08 09:41] roelleor commented on #501
same problem here:
mac osx
node v4.1.2
npm  v2.14.4

[2016-04-08 09:58] GitAngel commented on #500
It turned out that the problem was in my code. I was returning array of string, when I should've returned **Promise**. Detailed answer is available on SO: http://stackoverflow.com/questions/35888510/error-during-mocking-the-service-for-angular2-application-unit-test/36496695#36496695

[2016-04-08 09:58] #500 closed

[2016-04-08 10:24] CristyTarantino commented on #501
:+1:

[2016-04-08 15:50] gdi2290 commented on #501
if yu update to npm 3 via `npm install -g npm@3` then you should be ok. I can also fix it for npm 2 users

[2016-04-09 11:55] cagataycivici commented on #199
How about PrimeNG?

http://www.primefaces.org/primeng/

[2016-04-09 12:09] alvipeo commented on #199
Let's add every UI lib to the project! ;)

[2016-04-09 17:36] fesor commented on #199
@alvipeo this is actually good idea, it just means that we should make yoman generator.

[2016-04-09 20:25] alvipeo commented on #199
Exactly. Let's leave the project alone and not make it fat.

[2016-04-10 21:35] d3viant0ne commented on #199
Having done quite a bit of this lately and I would suggest going the route @gdi2290 suggested.

Fork it and create a walkthrough on how to add, material2/ng2-bootstrap/sass/whatever
Open a PR for the readme and have the repo added to a list of projects that have been extended.

It simplifies pulling in updates from the upstream repository ( this one ) and still provides value to the community usin

[2016-04-12 09:28] daddywoodland commented on #497
Hi @jplo,

I can't see in the history of the app component or it's end to end test where _'Starther'_ comes from.

Expected 'Angular2 Webpack Starter by @gdi2990 from @AngularClass' to equal 'Angular2 Webpack **_Starther_** by @gdi2990 from @AngularClass'.

Did you make any changes to the test or could you try correcting it in your code as it looks ok in the repository now?

[2016-04-12 14:16] MartinMa commented on #501
@gdi2290 Thanks for the info. I upgraded to npm 3 (v3.8.7) via `npm-windows-upgrade` (it seems to be a special package for this purpose) and ran `npm install` again (after clearing the node_modules folder and the npm cache). I don't get an error now and the demo project seems to work, but I still get a warning:
`UNMET PEER DEPENDENCY rxjs@5.0.0-beta.4`
and
`npm WARN angular2@2.0.0-beta.14 requires

[2016-04-12 19:04] jmsegrev commented on #484
Sorry for the late reply, but importing es6 and es7 reflect, will satisfy the dependencies for angular2 and the starter. Its reduces the module count by 100+, compared to the default import (based on webpack --json, on the starter).

[code]

[2016-04-13 04:51] gdi2290 commented on #484
@jmsegrev can you make a PR?

[2016-04-13 06:06] ycoe opened #504 "import bootstrap error"
when i add jquery and bootstrap follow [How to use Bootstrap 4 and Sass (and jQuery)](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-%28and-jQuery%29)

i got the error info:

ERROR in end of the stream or a document separator is expected at line 7, column 19:
      <head prefix="og: http://ogp.me/ns# fb: http://o ...
                      ^
 @ ./~/boo

[2016-04-13 07:27] samvloeberghs commented on #484
I did a first test, and doing this change resultet in the following:

[code]

[2016-04-13 12:58] samvloeberghs commented on #495
@mburger81 why do you need this is the first question that pops up in my mind?

[2016-04-13 13:53] mburger81 commented on #495
I need to create a component which lives alone, any file needed by this component should be copied into the component folders.

For example on this component I load a javascript which need to passing the SWF Player.

[code]

in this example loading with require `./assets/js/locomote.min.js` works fine, the problem is on creating Locomote instance I need to pass the right place of the player, in th

[2016-04-13 14:18] jmsegrev commented on #484
The size of the polyfill bundle doesn't seam to change much, but the reductions of the modules count, does affect the build time. With the starter repo, as is, the reduction in build time cant be perceived, but with any app that has more dependencies it will show, I can vouch for this.

**Prod build of master starter repo (webpack --config config/webpack.prod.js --profile)**

|

[2016-04-13 15:54] abierbaum commented on #361
@sumigoma Have you found a good way around this yet?

What I would like to see is a way to pass a parameter into the build such that we could have a watch:test_nocoverage and test:nocoverage script.

[2016-04-13 18:28] #484 closed

[2016-04-13 18:30] gdi2290 commented on #484
@jmsegrev thanks for looking into it

[2016-04-13 20:59] yfain commented on #262
The workaround suggested by @gdi2290 worked in a couple of betas, but now the mangle:false seem to be the only option (I'm using Webpack with Beta.14).

[2016-04-13 21:33] spawnius commented on #472
@louisscruz this is a question for stackoverflow as it is an implementation specific matter.

[2016-04-14 03:17] MurhafSousli commented on #199
@cagataycivici did you find a way to integrate it? I can't get it to work

[2016-04-14 05:10] dsebastien commented on #472
FYI I've added support for push-state in the production build of my fork (dev mode being ok with the `historyApiFallback` option

[2016-04-14 07:29] MurhafSousli opened #508 "getting 404 when loading images and fonts from node_modules"
Hi,
I installed `font-awesome` and `jquery-ui` using npm, and I got problem integrating them in my project.

images and fonts are not loading relatively to their parents, instead it's trying to get them from the root directory

I tried loading the styles from the **app.component.ts**

[code]

**Exceptions:**

[code]

I saw this [issue](https://github.com/AngularClass/angular2-webpack-starter/issue

[2016-04-14 15:54] Luchillo commented on #411
@bPopovska Are the widget styles issues you talk about related to the images urls of the style? i'm using sass-loader and as it just process the import statement as if that theme content were copied to the importing file, it breaks the images urls since now that content is in a different folder.

[2016-04-14 17:51] louisscruz commented on #472
@spawnius I totally understand. It's just that I've already made 4 or 5 posts on SO and Serverfault about this issue over the past few months. No luck. I personally think that it would be great if someone did a wiki on this, if anyone actually understands how this implementation should work.

@dsebastien I'm going to check out your setup/superstatic later. Thanks!

[2016-04-15 10:31] thunderrun opened #510 "Failed to exec build:prod script"
* **I'm submitting a ...**
bug report

* **What is the current behavior?**
when i run `npm run build:prod` on a fresh clone, i got the following error `TypeError: Cannot read property 'substr' of undefined`

[code]

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via
Follow the Quick start guide and works well calling `npm

[2016-04-15 17:19] emin93 commented on #345
How did you fix this problem?

[2016-04-16 04:29] thunderrun commented on #510
I found the problem:
node_modules is not correctly installed because of network problem in China even if you changed registry source.
You have to download come other content form AWS while running `npm install`.
And do not try use `cnpm` because some of its commands are conflict with npm.

[2016-04-16 04:29] #510 closed

[2016-04-16 06:21] gdi2290 commented on #510
@thunderrun can you include cnpm in the wiki?
https://github.com/AngularClass/angular2-webpack-starter/wiki

[2016-04-16 09:59] jneveux opened #511 "Error running on Chrome version 50"
Hi,

I've just installed the latest version and I'm getting an error when trying to run on Chrome Version 50.0.2661.75 (64-bit) / MAC OS X 10.11.4 (I had a similar issue on version 49)

Console logs:
Uncaught TypeError: Cannot read property 'replace' of null
Uncaught reflect-metadata shim is required when using class decorators
Uncaught TypeError: decorators_1.Injectable is not a function

Everyth

[2016-04-16 10:13] pearljamik opened #512 "How would I use the framework for the $httpBackend?"
This framework is great and all but it makes things a little darker.
I want to do similar thing like here:

[code]

How would I write the same thing, but using the framework (e2e tests protractor). Could someone give me the exact 1:1 matching so I could understand it better? This could be added to documentation.