[2015-03-21 21:55] kentcdodds opened #1 "Cache?"
Is there a reason for `cache: false`? I think by turning the cache off, it makes webpack rebuild the entire project from scratch each time instead of using a cached version and doing interative builds. As an app grows, this could get pretty painful from a speed perspective. I remove that line and everything seems to be working just fine.

[2015-03-21 22:41] gdi2290 commented on #1
I did it since I was trying to get it to work initial which meant I had cache'd version of files that I changed or told WebPack not to parse

[2015-03-21 22:42] kentcdodds commented on #1
understood :+1:

[2015-03-21 22:42] #1 closed

[2015-04-21 03:20] ShMcK opened #2 "Broken angular2@2.0.0-alpha.19+"
Thanks again for this project. I think if the Angular community starts to see the usefulness of Webpack over SystemJS, it'll really take off.

I noticed Webpack-seed works with versions angular2@2.0.0-alpha.13 through 18, but fails at 19+.

You might consider dropping the  ^ (or higher) dependency on Angular.

[code]

I'm not sure what causes the issue, but I hope to see a fix!

[2015-04-21 04:54] gdi2290 commented on #2
thanks! I'll update this repo later this week to alpha-19. I'm pretty sure I know what's missing

[2015-04-21 04:57] ShMcK commented on #2
Thanks! Looks like alpha-20 is out now, as well.

[2015-05-15 02:22] gdi2290 commented on #2
@ShMcK I updated the repo to alpha 23 and typescript 1.5. Could you give it another try?

[2015-05-15 02:22] #2 closed

[2015-05-15 08:55] ShMcK commented on #2
Working great, thanks!

[2015-05-21 07:25] SekibOmazic opened #13 "home.css doesn't get loaded"
Directive creates big letters but not in red.

[2015-05-21 07:47] gdi2290 commented on #13
I refactored simple directive to dashboard. it didn't work because of the directives typo lol

[2015-05-21 07:47] #13 closed

[2015-05-29 20:56] danhamlin opened #15 "What is traceur's role?"
Hello,
I'm curious as to the role that traceur plays in this setup?  I've read that it is a ES6 transpiler.  Beyond that i'm not sure why it is needed here.  Is there some interplay with Typescript there?

[2015-05-29 21:00] gdi2290 commented on #15
traceur is only there until Angular 2 is fully converted to TypeScript also see https://github.com/angular/angular/issues/2140

[2015-05-29 21:07] danhamlin commented on #15
Thanks Patrick, that makes sense.

On Fri, May 29, 2015 at 4:00 PM, PatrickJS <notifications@github.com> wrote:

[2015-05-29 21:09] gdi2290 commented on #15
no problem, if you have anymore questions open another issue or tweet us

[2015-05-29 21:09] #15 closed

[2015-05-29 21:10] gdi2290 commented on #15
I also added a faq with the answer https://github.com/angular-class/angular2-webpack-starter/commit/78002fa20f2cfeebd0b4abf8b1d1be6d3f4cf668

[2015-05-30 23:44] adowning opened #16 "cannot seem to get bootstrap 3 to work"
Have tried loading bs3 w/ webpack, from the index file and even from the home css. Never can get it to play nice with jquery.

Any suggestions?

[2015-05-31 01:15] danhamlin opened #17 "Runtime errors in Safari"
I guess this is known issue with traceur/ng2 that was recently fixed... https://github.com/angular/angular/issues/2163

Not sure if you are already aware, thought I'd share in case other Safari users come along.

[2015-05-31 18:27] gdi2290 commented on #16
@adowning do you have a link to your repo? I want to see how you're adding it and to see if I can provide better instructions. Including bootstrap is a great idea, ideally I wanted to include Material Design components when they're available

[2015-05-31 18:30] gdi2290 commented on #17
thanks, yeah the next release will fix this

[2015-05-31 18:31] gdi2290 commented on #17
I added a faq about it until the next tagged release
https://github.com/angular-class/angular2-webpack-starter/commit/2027712ae521f8375a7b0ae0d80ac5c779814c0c

[2015-06-05 18:07] lightswitch05 commented on #16
A big :+1: to Material Design, but having an example for bootstrap would be nice too

[2015-06-05 23:56] gdi2290 commented on #17
@danhamlin thanks, this was fixed in Alpha.26 so Angular 2 right now works in Chrome (43, 44, 45), Firefox (37, 39, 40), IE 11, Safari 8, iOS 8, Android 5.1 (Chrome Mobile 39).

[2015-06-05 23:56] #17 closed

[2015-06-07 19:38] gdi2290 opened #19 "Production/Development environments"
We need production/development environments

[2015-06-07 19:38] gdi2290 opened #20 "Testing with karma"
It would be great if people could test their apps

[2015-06-07 19:39] gdi2290 opened #21 "End-to-end with protractor"
it would be great to have an e2e story

[2015-06-10 09:29] Akxe opened #22 "Error with webpack"
I did install both things like is said in your main page, but I get this error.

http://pastebin.com/L1F889M4

Isn't there any other option? Or at least correction for this?

[2015-06-10 09:36] #22 closed

[2015-06-10 09:36] gdi2290 commented on #22
`npm install webpack-dev-server -g`
then run
`webpack-dev-server`

[2015-06-22 19:50] sravikiran opened #24 "Unable to add Express REST API"
Hi,

I just started playing with this starter kit. I ran the sample using the following command to make use of the express-server-example.js file:

node server/express-server-example

It starts the server on the port 8080 and I am able to browse the sample. Then I added the following REST endpoint to the file express-server-example.js:

app.get('/api/sample', function(request, response) {
  respon

[2015-07-03 13:49] tamascsaba opened #25 "Not compatibile with alpha29"
Hy!

I use angular2 alpha 29 because child router fixed, but angular2-webpack-starter based on alpha26 and not compatibile with new changes.

eg:
BrowserLocation -> LocationStrategy

[2015-07-03 16:52] gdi2290 commented on #25
@tamascsaba yeah I'm updating it now

[2015-07-04 00:36] gdi2290 commented on #25
thanks, the repo has be updated via https://github.com/angular-class/angular2-webpack-starter/commit/f1065582590c8f5bd5140ec94b97541cd78d7b50

[2015-07-04 00:36] #25 closed

[2015-07-04 01:09] gdi2290 commented on #24
this is due to the order of the middleware and WebpackDevServer having historyAPiFallback

[2015-07-04 21:07] gdi2290 commented on #24
I updated the server stub and turned off `historyApiFallback` from the devServer and included a todo api example for you to start from. If you have anymore questions you can comment here or open another issue thanks!

[2015-07-04 21:07] #24 closed

[2015-07-05 04:43] sravikiran commented on #24
@gdi2290 Thanks Patrick. I tried it and it worked well. I have just one more question, how to run the express server along with the build and watch processes? I tried it with the following script in NPM, but it stops at express and doesn't run watch:

"myServer": "npm install && npm run build && npm run express && npm run watch"

Is there a way to run both of them together?

[2015-07-05 05:08] gdi2290 commented on #24
@sravikiran the stub is rebuilding in development but you have to reload manually [express-server-example.js#L97](https://github.com/angular-class/angular2-webpack-starter/blob/master/server/express-server-example.js#L97) until I correctly inject the webpack socketio stuff. I would delete the build folder and run `npm run express` then reload the browser manually when you make a change for now. Yo

[2015-07-05 18:56] sravikiran commented on #24
@gdi2290 Thanks again for the response. That makes sense.

[2015-07-12 11:09] gdi2290 commented on #20
done

[2015-07-12 11:09] #20 closed

[2015-07-12 12:12] gdi2290 commented on #21
done

[2015-07-12 12:12] #21 closed

[2015-07-16 19:02] gajus opened #31 "Explain the webpack setup"
In the [webpack.config.js](https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js) you have "angular2" entry.

[code]

I do not understand whats the purpose of bundling together the following dependencies:

* 'angular2/angular2'
* 'angular2/router'
* 'angular2/di'
* 'angular2/src/facade/browser'

into a separate script, if you require these using ES6 imports in the

[2015-07-16 20:10] gdi2290 commented on #31
I'm using  `./src/common/BrowserDomAdapter` to ensure that the script being compile is using the correct dom adapter (I had a problem in the past where this was a problem in webpack). And the other files are not needed

[2015-07-19 13:16] gdi2290 commented on #31
I removed everything except angular2/angular2
https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js
[code]

[2015-07-19 13:16] #31 closed

[2015-07-19 14:16] gajus commented on #31
I nonetheless do not understand the reason you are including angular2/angular2. Your entry point is your app script. It imports angular2/angular2 using import statement. Unless I am missing something, if you are including angular2/angular2 this way, your script does not even pick it up, i.e. dead weight.

[2015-07-19 15:00] gdi2290 commented on #31
When webpack generates the file it chunks modules together so I'm forcing Angular to remain in one file for the browser to cache.

[2015-07-19 15:24] gajus commented on #31
Thats because you are using the plugin. This kinda defeats the purpose of the latter plugin, esp. on a small app.

[2015-07-19 22:39] andersbc opened #33 "Module parse failed"
I get this error in the terminal after installing and  running ~~`npm server start`~~ `npm run server`
I'm on ubuntu 15.04, node: v0.12.7, npm: ~~v0.12.7~~ 2.11.3
An earlier version of the repo didn't produce this error, som I guess it has something to do with recent changes. I'm too new to angular to find the root of the problem my self.

Error:

[code]

[2015-07-19 23:18] gdi2290 commented on #33
can you delete your `node_modules/` and run `npm install` I changed the version of typescript

[2015-07-19 23:19] gdi2290 commented on #33
and also ensure this file is correct https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js#L98

[2015-07-20 01:02] andersbc commented on #33
It didn't fix it :-(

I did as you suggested (also ran `npm cache clean` before npm install). webpack.config.js is identical to the current one.

Here are some snippets of what npm packages are installed in the two (I used `npm list`):

In my working version of the repo (I think its 2 commits before the current one) I have:
[code]
In the current version - the one giving me the error, I have:
[code

[2015-07-20 01:04] gdi2290 commented on #33
cc @blakeembrey

[2015-07-20 01:09] andersbc commented on #33
sorry.. push the wrong button -- reopening the issue

[2015-07-20 03:15] blakeembrey commented on #33
@andersbc What happens when you use an older loader version like `npm i typescript-simple-loader@0.3.0`? The only possible commit that (I think) can be causing issues is https://github.com/blakeembrey/typescript-simple-loader/commit/db5a44edb92e7e0b3f80f50c83a1dc315267c3cc

[2015-07-20 11:47] andersbc commented on #33
@blakeembrey. thanks, it wasn't that though (it didn't change anything). I think the problem comes from some npm-related fault on my part when I installed the repo. I did a completely fresh install (git clone) and the problem disappeared. **A diff between the working and failing installation pointed to some differences in node locations, so I'm going to close the issue, since it is not related to

[2015-07-20 11:47] #33 closed

[2015-07-20 11:51] blakeembrey commented on #33
@andersbc Glad you sorted it! I use `n` personally but it's the same idea. If you're working with any projects that have binaries you'll need to reinstall them when you switch versions. I usually just `rm -rf node_modules && npm i`.

[2015-07-20 18:58] andersbc opened #35 "File reference in autosuggest example has wrong case"
This is just a small thing, but it breaks the build:
[code]
Search.ts references `/.Autosuggest` [https://github.com/angular-class/angular2-webpack-starter/blob/master/src/app/components/rxjs-examples/autosuggest/Search.ts#L7](https://github.com/angular-class/angular2-webpack-starter/blob/master/src/app/components/rxjs-examples/autosuggest/Search.ts#L7) , but the actual file is spelled with lower

[2015-07-20 19:00] gdi2290 commented on #35
@andersbc do you think you can make a pull-request?

[2015-07-20 19:02] SekibOmazic commented on #35
@andersbc You can edit it directly in browser.

[2015-07-20 19:04] andersbc commented on #35
Ok.. I'll do it.. It would be my first PR though.
What do you prefer  - changing the file name to upper case or the reference to lower case?

[2015-07-20 19:05] gdi2290 commented on #35
let's just keep it all lowercase

[2015-07-20 19:06] andersbc commented on #35
seems reasonable.. I'll get back with the PR.

[2015-07-20 20:52] #35 closed

[2015-07-25 19:18] csreddy opened #37 "problem with todo api"
I have followed the instructions in  *Dependencies* section. I have node `v0.12.3` and npm `v2.13.2`
I see this in my chrome console `GET http://localhost:8080/api/todos 404 (Not Found)`. As the app suggests I have installed these module as well, but still no luck
`npm install express connect-history-api-fallback morgan body-parser`

Any clues?

[2015-07-25 20:30] gdi2290 commented on #37
yeah I should have added another line. Rather than using `npm run server` run `npm run express` for the api to work.

[2015-07-25 21:05] csreddy commented on #37
If I do `npm run express` then app completely fails with below error in chrome console:
[code]

[2015-07-25 21:25] gdi2290 commented on #37
can you try  `NODE_ENV=development npm run express`

[2015-07-25 21:53] csreddy commented on #37
that fixes the problem! Thanks for the quick response and keep up the great work!

[2015-07-26 11:10] gsans commented on #37
Can you update the building/instructions so we don't all run into the same issue after installing?

[2015-07-26 16:35] NathanWalker commented on #37
@gsans @gdi2290 This PR https://github.com/angular-class/angular2-webpack-starter/pull/34 also updates the build/instructions to include that fix :+1:

[2015-07-27 11:00] #37 closed

[2015-07-28 08:18] gdi2290 opened #40 "refactor repo to use RxNext"
RxNext uses the ES7 spec

[2015-07-28 08:26] SekibOmazic commented on #40
@gdi2290 You mean https://github.com/ReactiveX/RxJS (which is pre-alpha)?

[2015-07-28 09:21] gdi2290 commented on #40
yeah I hear it's been called RxNext

[2015-07-28 09:25] SekibOmazic commented on #40
I'd wait for https://github.com/ReactiveX/RxJS/pull/120 to get merged because it's a big one. Or even wait for https://github.com/ReactiveX/RxJS/issues/100 because we get more operators (but not all).

[2015-07-28 11:05] gdi2290 commented on #19
closed via https://github.com/angular-class/angular2-webpack-starter/commit/efc6d54ac79448c73b5dda75e383a62deefc0805

[2015-07-28 11:05] #19 closed

[2015-07-29 02:41] Blackbaud-DanHamlin opened #41 "webpack-dev-server won't run"
I'm getting the following when I run `npm run server`
I couldn't find any open issues with webpack or webpack-dev-server.  Also, nothing is jumping out at me in the webpack config.

[code]

[2015-07-29 05:27] gdi2290 commented on #41
@Blackbaud-DanHamlin could you delete `node_modules/` and install it again. In the meantime you can use the express server with `npm run express` but make sure you install the deps first with `npm run express-install`

[2015-07-29 11:24] gdi2290 opened #42 "refactor app to Examples"
The repo is starting to become too opinionated which ends up discouraging new users as to why things are the way they are. Promoting `app/` to an examples folder that's isolated from `src/`

[2015-07-29 15:36] Blackbaud-DanHamlin commented on #41
Thanks, express did work.  Removing node_modules and reinstalling didn’t fix my problem with webpack.

From: PatrickJS [mailto:notifications@github.com]
Sent: Wednesday, July 29, 2015 12:28 AM
To: angular-class/angular2-webpack-starter
Cc: Dan Hamlin
Subject: Re: [angular2-webpack-starter] webpack-dev-server won't run (#41)

@Blackbaud-DanHamlin<https://github.com/Blackbaud-DanHamlin> could you de

[2015-07-29 18:27] noxxious commented on #41
I found the culprit - it seems that if NODE_ENV is not defined, then the environment plugins lookup produce a null to the plugins array in the webpack.config.js. Adding the definition to explicity default to development if NODE_ENV is not defined fixed it.

[2015-07-29 21:23] gdi2290 commented on #41
@noxxious thanks for looking into it :+1:  can you make a Pull-Request?
[code]

[2015-07-29 21:26] Blackbaud-DanHamlin commented on #41
great, i wonder if those npm scripts for setting the environment aren't actually working then?

[2015-07-29 21:59] gdi2290 commented on #41
@noxxious you can make a pull-request simply just by clicking edit icon either on desktop or mobile
<img width="591" alt="screen shot 2015-07-29 at 2 58 45 pm" src="https://cloud.githubusercontent.com/assets/1016365/8971085/5da32b28-3602-11e5-80b4-1008577d4c34.png">

[2015-07-30 11:01] gdi2290 commented on #41
fixed via https://github.com/angular-class/angular2-webpack-starter/pull/43

[2015-07-30 11:01] #41 closed

[2015-07-31 07:59] tamascsaba opened #44 "update to angular alpha.33"

[2015-07-31 08:05] tamascsaba opened #45 "Unit test fail with PhantomJS"
[code]

[2015-08-01 00:11] m00s opened #46 "Unable to install dependency"
Hi there, following the [Readme installation section](https://github.com/m00s/angular2-webpack-starter#dependencies) I get this error with `npm install`.

[code]

Any idea how can I fix?
I really appreciate any help you can provide.

[2015-08-01 05:45] adrianfalleiro commented on #46
Hi @m00s, if you update the reference to `"karma-webpack": "Dignifiedquire/karma-webpack#29fb1d801158f29cb0eb784edff69356705a7b74"` to `"karma-webpack": "^1.7.0"`  in `package.json` and re-run `npm install` it should work

[2015-08-01 20:03] m00s commented on #46
@adrianfalleiro many thanks it worked

[2015-08-01 20:03] #46 closed

[2015-08-02 17:15] gdi2290 opened #48 "change port back to 3000"
windows

[2015-08-02 17:19] #48 closed

[2015-08-04 07:52] tamascsaba commented on #44
Done: https://github.com/angular-class/angular2-webpack-starter/commit/09da4e6573ecd6546ad282b887506f4c96664964 Thanks!

[2015-08-04 07:52] #44 closed

[2015-08-04 08:16] gdi2290 commented on #44
np, I forgot to close this thanks

[2015-08-04 20:54] kburson opened #49 "Help with establishing workflow: WebPack, TS, LESS, Mocks, config.json"
@gdi2290 , with regards to our discussion on gitter, Can you help me establish the following workflow using this project structure?

Deployment
 * Deploy 1 or more bundles to CDN
 * Deploy index.html and config.json to server.

Bundles are packaged dependencies:
 * Typescript with classes and imports transpiled to ES5, minified and obfuscated.
 * LESS with @imports transpiled to CSS and minified

[2015-08-04 20:57] kburson commented on #49
The main trick I am running into is the conditional compile using E2E_Mocks or not, and the separate config.json file that needs to be compiled from a global config file and local environment values.

I am currently using ES6, but I want to migrate to Typescript, although that can wait until I have the rest of it working.

I am currently using Angular 1.4.x and need to establish working patterns w

[2015-08-08 02:36] abhishekisnot opened #51 "Documentation Generator Enhancement"
It would be great if starter can provide a way to generate project documentation from source code.

A quick search yields multitude of generator libraries/frameworks:
https://github.com/angular/dgeni
https://github.com/jsdoc3/jsdoc
http://jashkenas.github.io/docco/
https://wiki.appcelerator.org/display/guides2/ScriptDoc+(SDOC)+2.0+Specification
http://yui.github.io/yuidoc/
http://www.naturaldocs.o

[2015-08-08 23:37] mmrath opened #52 "production build produces source map file with different name"
Build produces file with name __build__/angular2.min.js.min.js.map instead of __build__/angular2.min.js.map

[2015-08-10 00:12] gdi2290 commented on #49
@kburson can you elaborate more on the `if (MOCKS) {}` blocks?

[2015-08-10 07:38] kburson commented on #49
During development I often have the UI built before the data services team is ready to serve data.  to facilitate development of the UI I use the Angular-Mocks library, specifically the E2E_Mocks to capture all outgoing http requests and provide canned responses.  This allows me to show a fully functional site using a series of preset json data files served up from canned responses using the mocke

[2015-08-10 07:53] kburson commented on #49
I am struggling with the balance of present functionality vs future.  JSPM with SystemJS seems to me the better system.  SystemJS is a polyfill module system until the browsers catchup with the ES2015 specs, which should be fairly shortly.  This polyfill can be used long term to support legacy browsers but can be dropped in the near future when the evergreen browsers catchup with ES2015.

JSPM is

[2015-08-12 10:46] tamascsaba commented on #45
crypto-browserify/rng.js
[code]

[2015-08-12 14:07] tamascsaba commented on #45
F*cking workaround: (return-false npm module is needed)
karma.conf.js
[code]

[2015-08-12 15:49] gdi2290 commented on #45
Can you open a PR if you figure it out?

[2015-08-13 11:12] tamascsaba commented on #45
Yes, of course: https://github.com/angular-class/angular2-webpack-starter/pull/53

[2015-08-17 07:39] beihaifeiwu opened #54 "build problem under windows"
[code]

It looks like that the flow script cannot run as expected:
[code]

[2015-08-17 15:39] gdi2290 commented on #54
do you think you can you open a Pull-Request? :)

[2015-08-18 01:08] beihaifeiwu commented on #54
I make it like this:
[code]
worked under winodws! output like:
[code]
But I don't know if it work under linux and mac ?

[2015-08-19 08:33] tamascsaba opened #55 "e2e tests not run with PhantomJS"
Workflow:
[code]

Console only show, tests does not run
[code]

I modifyed protractor.conf.js
[code]

[2015-08-24 00:21] gdi2290 commented on #54
set won't work in linux and mac :/ I'm looking into ways to set the env that will work for both

[2015-08-24 01:19] gdi2290 commented on #52
this code snippet might be the problem
https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js#L193...L197

[2015-08-24 04:44] gdi2290 commented on #55
is this needed after you made your PR? if it's still needed can you make another PR?

[2015-08-24 06:33] gdi2290 commented on #51
@abhishekisnot can you submit a PR with jsdoc?

[2015-08-24 22:45] gdi2290 commented on #42
this was done but the examples need to work independently

[2015-08-24 22:45] #42 closed

[2015-08-24 22:46] gdi2290 commented on #45
closed via https://github.com/angular-class/angular2-webpack-starter/pull/53

[2015-08-24 22:46] #45 closed

[2015-08-25 05:46] tamascsaba commented on #45
I subscribed this https://github.com/rbuckton/ReflectDecorators/issues/8 issue, if fixed, then no need this workaround :)

[2015-08-26 05:31] sumigoma commented on #51
how about typedoc? http://typedoc.io/

[2015-08-27 19:26] ctindel opened #61 "Any chance you can update this to show how to include bootstrap and jquery from bower?"
I am having a heck of a time modifying this example to loop in bootstrap.js, bootstrap.css, and jquery.  I was trying to use the bower-webpack-plugin to get it going but I just can't seem to pull it all together for some reason.

Any help you can offer would be awesome.  I'm not sure how to do the equivalent of:

require('bootstrap');
require('bootstrap.css');

Since this project is using ts inste

[2015-08-27 19:27] gdi2290 commented on #61
good point I'll see what I can do about showing how to add it

[2015-08-28 20:00] jarnix commented on #49
no

[2015-08-28 20:02] gdi2290 commented on #49
there's a lot of good points here but I may have to make another starter repo for fullstack angular2 to include a lot of this

[2015-09-01 04:41] gdi2290 commented on #49
I'm going to move all these features into the fullstack-angular2-starter repo and keep this repo to simply be a webpack starter

[2015-09-01 04:41] #49 closed

[2015-09-01 04:43] gdi2290 commented on #40
I'm going to close this until angular itself uses it. Currently RxNext is Rx 4.x and we're still on 3.x

[2015-09-01 04:43] #40 closed

[2015-09-02 08:18] neokeats opened #62 "Authentication"
Hi,
I think a starter pack should provide a way to know if a user is logged in or not.
Thought the authentication process could just mock the calls to a server.
There is not an real word application that doesn't need to know if the user can or not do the action.

A clean way to handle login and permissions with the best practice of how to handle such middleware will make it a perfect starter pack.

[2015-09-02 19:36] gdi2290 commented on #62
I might keep this repo as client only and move features such as this into the fullstack-angular2-starter. I can give an example of auth with cookies/jwt (prefered jwt) but the router also needs to be stable. With that said would you be fine with two starter repos (simply one client only and the other fullstack with more opinions) ?

Previously the `examples/` were merged into the initial app but q

[2015-09-03 10:33] neokeats commented on #62
Hi,
it seems great to separate both.

The middleware problem is not limited to client/server. i ve looked into angular 2, they are some things i actually doesn't see how to handle yet.
More generally how to replace the rootScope behavior.
Let's say we have an app, some stats are shown, we have a date range or datepicker somewhere.
eveything is neat and separated so we have a component that show us

[2015-09-03 15:25] ctindel opened #63 "Lots of warnings?"
I did a fresh clone and npm start, and there are tons of warnings everywhere.  For example:

WARNING in ./app.ts
(6,58): Cannot find module 'angular2/angular2'. (2307)

WARNING in ./app.ts
(7,9): Module '"angular2/router"' has no exported member 'RouteConfig'. (2305)

WARNING in ./app.ts
(14,48): Cannot find module 'angular2/angular2'. (2307)

WARNING in ./bootstrap.ts
(4,25): Cannot find module '

[2015-09-03 17:39] gdi2290 commented on #63
can you run `tsd install`

[2015-09-03 18:44] ctindel commented on #63
I don't have any sort of tsd command in my path.  I tried running ./node_modules/.bin/tsd install which did do something but the errors still occur.

[2015-09-03 19:52] gdi2290 commented on #63
ya try `./node_modules/.bin/tsd install` and `npm start`

[2015-09-03 20:09] gdi2290 commented on #63
@ctindel sorry I found the problem. this was due to tsd publishing breaking changes as patched versions and then they tried to revert them

[2015-09-03 20:10] ctindel commented on #63
That doesn't change anything.

I also tried doing a global install of tsd but that doesn't change anything either.

I'm also trying add in the LoggedInRouterOutlet stuff from the auth0 sample since your sample doesn't have authentication stuff yet.  So I created a LoggedInOutlet.ts in the same directory as app.ts and even though they both start with this line:

/// <reference path="../typings/_cus

[2015-09-03 20:11] gdi2290 commented on #63
@ctindel type in `./node_modules/.bin/tsd link`

[2015-09-03 20:14] ctindel commented on #63
OK calling that tsd link seems to have removed some warnings.  Is that just something you have to do every time, or one time?

[2015-09-03 20:16] gdi2290 commented on #63
just once

[2015-09-03 20:45] ctindel commented on #63
OK.  I have a few more questions which I think are related.  Why am I not able to do this:

[code]

It gives me this error:

Error: Cannot resolve module 'angular2/http'

It seems like I need to make this ngHttp/http, but I can't figure out why?

Also, I tried adding this to my App class:

[code]

But I get these errors:

WARNING in ./app.ts
(31,3): Supplied parameters do not match any signature o

[2015-09-03 21:25] gdi2290 commented on #63
@ctindel can you update this file to latest
https://github.com/angular-class/angular2-webpack-starter/blob/master/src/typings/ng2.d.ts

[2015-09-03 21:44] ctindel commented on #63
No, the warnings still happen.

[2015-09-03 22:01] gdi2290 commented on #63
the problem is due to an error in typings that angular provided. If you update the webpack config then it will ignore that warning
https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js

the `angular/http` problem will be available next release so at the moment we have to include a local version

[2015-09-03 22:05] ctindel commented on #63
Is ignoring the warning really the best solution?  Or are we just needing to wait for the angular team to update the typings in tsd or something?

[2015-09-03 22:18] gdi2290 commented on #63
ignoring and waiting for the angular team to fix it seems to be the best solution at the moment :/

[2015-09-03 22:31] ctindel commented on #63
OK, sounds good.

Can you do me a favor?  Can you pull https://github.com/ctindel/reader and go into the www directory and run npm install && npm start?

I am getting a really bizarre NoAnnotationError "Cannot resolve all parameters for DomRenderer" error that I have no idea what is going on or even how to debug it because the stack in the javascript console doesn't tell me much of anything.

This

[2015-09-03 22:34] gdi2290 commented on #63
@ctindel yeah that error is due to the `reflect-metadata` version
https://github.com/angular-class/angular2-webpack-starter/commit/a753691ca5253ec546b780ff80ccb56e6cfa98b2#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R47

delete reflect-metadata in node_modules and install that version

[2015-09-03 23:20] gdi2290 commented on #63
@ctindel I updated the repo to alias `angular2/http` and fixed the reflect-metadata issue

[2015-09-03 23:20] #63 closed

[2015-09-04 04:13] ctindel opened #64 "NoAnnotationError"
I just did a fresh clone of your repo and an npm install, and I am seeing the exact same NoAnnotationError in the Chrome developer console.  This is chrome version 44.0.2403.157 (64-bit) on osx.

I also see it in an up to date version of Google Chrome Canary.

Are you not seeing these?

[2015-09-04 04:18] gdi2290 commented on #64
@ctindel ya I see the error again :/ sorry I'm looking into it again

[2015-09-04 04:41] gdi2290 commented on #64
can you git clone the repo again and run `npm run clean-start`

[2015-09-04 04:56] ctindel commented on #64
Yeah that seems to have fixed it.  I see what you changed, the problem was just that some angular files were missing from the webpack bundle?

[2015-09-04 04:56] #64 closed

[2015-09-04 05:05] gdi2290 commented on #64
yeah that might have been the case thanks for pinging me about it :+1:

[2015-09-04 13:17] ctindel commented on #64
Thanks for keeping an example repo that tracks the changes in angular2 so quickly!

[2015-09-07 19:54] gdi2290 opened #65 "server refactor"
Move server into another repo. The repo itself should be client only with the option to include our example REST server and also a Falcor/GraphAPI server

[2015-09-08 15:13] gdi2290 commented on #54
I removed prod/dev via https://github.com/angular-class/angular2-webpack-starter/commit/c022ba9c832cf6f58ff1ca8d07afa5ac29105b86
I'm making a fullstack repo with server rendering so I'm going to keep this one client only

[2015-09-08 15:13] #54 closed

[2015-09-08 15:20] gdi2290 commented on #52
thanks, should be fixed via https://github.com/angular-class/angular2-webpack-starter/commit/c2aa659894ce3d69518d9350d50f10e05daeeed7

[2015-09-08 15:20] #52 closed

[2015-09-11 19:28] RobHarrisAZ commented on #54
We had lots of problems getting this working under Windows.  The problem ended up being npm running in a Windows Command Prompt.  We installed Git for Windows (From Github) which also installs gitbash.  Using the gitbash shell, executing the quick start and another window to also run the API server worked fine.  Bottom line- don't waste your time trying to get this working from the Windows command

[2015-09-14 08:22] tamascsaba opened #76 "Make code coverage for unit tests"
I try https://github.com/deepsweet/istanbul-instrumenter-loader, but not useful for typescript :(

[2015-09-14 10:17] DavidGangel opened #77 "Module '"angular2/http"' has no exported member 'HTTP_BINDINGS'"
Hi,

In the build logs there are several warnings, one of them is this one. Seems there is no HTTP_BINDINGS module.

[2015-09-14 23:29] gdi2290 commented on #76
If you can get code coverage working in a PR I'll merge it

[2015-09-15 22:16] VPusher commented on #61
:+1

[2015-09-20 14:11] DavidGangel commented on #77
Sorry it was my fault.
Closing.

[2015-09-20 14:11] #77 closed

[2015-09-25 07:46] asgerjensen opened #80 "Run type type information loss"
Hi,

I'm not sure if this belongs here, or in angular2 proper, but I noticed that the types that are placed on stuff isn't used at runtime, which can lead to some pretty confusing situations.

Example:
[code]

[2015-09-25 14:26] peterps-health opened #81 "Directive provided in the app.ts does not work"
element.nativeElement.style.fontSize = 'x-large'; instead of element.nativeElement.fontSize = 'x-large';

E.g. missing style in the example provided.

[2015-09-25 15:24] gdi2290 commented on #81
Can you create a pull request?

[2015-09-25 19:02] #81 closed

[2015-09-25 20:25] dotcs commented on #55
After https://github.com/angular-class/angular2-webpack-starter/pull/79 has been merged this issue should be fixed. For me `npm run e2e` runs without any problems now.

[2015-09-25 20:29] gdi2290 commented on #55
awesome thanks!

[2015-09-25 21:14] dotcs commented on #55
Sorry @gdi2290, I think you have to reopen this. I have had Chrome in my setup, not phantomjs. The latter indeed makes problems. Unfortunately I have no quick solution, so we have to start over.

[2015-09-26 12:35] tamascsaba commented on #55
What promles makes PhantomJS Unit tests run?

[2015-09-27 11:34] MichalZalecki opened #84 "Cannot build - no appropriate loader to handle this file type"
[code]

I'm trying to get project up and running but I come across with *no appropriate loader* error after very first `npm start`. I have all global dependencies installed. I've tried with node `v0.12.5` and `v4.1.0` on `Ubuntu 14.04 LTS`. Have you got any idea what might be the problem? `webpack.config.js` looks fine (didn't change it).

[2015-09-27 16:28] gdi2290 commented on #84
thanks for opening an issue. Let me look into it. It might be the version of Webpack

[2015-10-02 18:39] gszabo commented on #15
Does this answer still hold? There seems to be no sign of traceur any more in the source code.

[2015-10-02 18:54] gdi2290 commented on #15
traceur was removed but it was there as an ES6 polyfill

[2015-10-02 21:08] gszabo commented on #15
Ah, I see, thank you.

[2015-10-02 21:11] gdi2290 commented on #15
no problem, if you have any more issues/questions feel free to open an issue :+1:

[2015-10-03 05:01] zhouhao27 opened #89 "npm install stuck"
The installation stuck when I run **npm install** at:

What could be the cause? (I tried a few times)

[2015-10-04 00:05] gdi2290 commented on #89
thanks for creating an issue. It's not stuck so much as the starter started at `localhost:3000`. I'll update the readme so if you have anymore issues you can comment here or create another issue

[2015-10-04 00:05] #89 closed

[2015-10-04 16:37] gsans commented on #84
Having the same issue. Updated node to `v4.1.1` and npm `3.3.5`.

[2015-10-04 20:55] gdi2290 commented on #80
this is a browser thing where the type is probably a string so you would need to convert it via `this._value = Number(newValue);`. In TypeScript the types are removed when your code is compiled.

[2015-10-05 17:30] Gabriel0402 opened #90 "generate typescript source map with loader:'typescript-simple'"
I wanted to debug with vscode, so I'll need to generate source map for the ts files. But the ts loader is using 'typescript-simple' which didn't support generate source map. Is there anyway I can generate source map for it instead of generate *.js.map files? Or can I change the loader to some other source map supported loaders? Thanks!

[2015-10-05 17:32] ceolter commented on #90
if you want the source maps, then simple build using 'gulp'

mentioned on the main page, the two different gulp tasks to run, 'default' and 'release'
https://github.com/ceolter/ag-grid

[2015-10-05 17:33] ceolter commented on #90
(please ignore my activity on this thread, i got mixed up between projects!)

[2015-10-05 18:17] gdi2290 commented on #90
@Gabriel0402 can you change this line of code
https://github.com/angular-class/angular2-webpack-starter/blob/master/webpack.config.js#L35...L38
[code]
change to
[code]

[2015-10-05 18:53] Gabriel0402 commented on #90
@gdi2290 Thanks!

[2015-10-05 18:53] #90 closed

[2015-10-05 22:17] jimthedev commented on #65
I can look into this.

[2015-10-05 22:21] jimthedev commented on #84
@gsans Are you saying are still having the issue on node 4.1.1 and 3.3.5 or it is resolved?

[2015-10-05 22:22] gdi2290 commented on #84
I'm unable to replicate the issue :/

[2015-10-05 23:14] gsans commented on #84
It didn't work even after upgrading node and npm. I'll try again and report back if anything changes.

[2015-10-05 23:49] jimthedev commented on #84
Did you blow away node_modules after updating?
On Mon, Oct 5, 2015 at 6:14 PM Gerard Sans <notifications@github.com> wrote:

[2015-10-06 00:42] gdi2290 commented on #84
this might help

* `npm cache clean`
* delete node_modules
* update node
* `npm install -g npm@latest`
* `npm install`
* `npm start`

reinstall the repo

[2015-10-06 21:48] gdi2290 opened #91 "switch to ts-loader"

[2015-10-06 21:55] gdi2290 commented on #91
pending issue https://github.com/TypeStrong/ts-loader/issues/60

[2015-10-06 22:08] blakeembrey commented on #91
Good bye :cry: I will update the README for `simple-loader` once this is done.

[2015-10-06 22:08] gdi2290 commented on #91
lol thanks for all the fish :fish:

[2015-10-08 20:15] plopinou opened #92 "No router example working"
Hello,
Before everything else, I thank you very much for providing a starter pack to what seem to me to be the future best angular 2 workflow when the final will be released.
I tried multiple examples and everything seem to work fine, except for the "large app" example, which is also the only one featuring a router.
I managed to correct all the errors, but the router is still not functional with t

[2015-10-09 17:24] valorkin commented on #16
no problem, I can add one :)

[2015-10-13 04:57] byleaf commented on #84
I got these errors when "npm install" and it not work after npm cache clean and so on
[code]
Finally, when I run "npm start",  same issue happened
[code]

[2015-10-13 20:57] krigton opened #94 "Cannot run npm install"
Hello,

I'm trying to install your version of starter but for some reason I cannot get through the npm install. Strange though that a version from Saturday or Sunday cannot recall worked for another mac os x system. I'm using the latest 4.2.1 node with 2.14.7 npm. I tried various node 4 versions without any luck. Here is my log. Thanks:

[code]

[2015-10-13 21:18] krigton commented on #94
Just took off from the package json the protractor module and the rest of testing modules like karma phantom and so on. gave permission to .config in my home folder and managed to install it.

[2015-10-13 21:21] krigton commented on #94
updated protractor to the latest 2.5.1 version in your package json and npm install worked. not sure though how the compatibility will work out for the rest of the testing tools.

[2015-10-13 21:23] gdi2290 commented on #94
@krigton can you submit a PR to update protractor? I think I'm going to move the testing dependencies into another branch

[2015-10-16 10:23] rwillmer opened #97 "npm run e2e fails with wrong selenium version"
Just cloned and installed this.

When I run 'npm run e2e', it fails with this error

Error: No selenium server jar found at the specified location ([DIR]/node_modules/protractor/selenium/selenium-server-standalone-2.45.0.jar). Check that the version number is up to date.

[2015-10-16 13:02] #97 closed

[2015-10-17 21:28] asgerjensen opened #99 "Compile error with alpha-44, angular2/http does not export HTTP_PROVIDERS"
Clean checkout, npm install, npm start
gives
quad:angular2-webpack-starter akj$ npm start

http://localhost:3000/
webpack result is served from /__build__
content is served from src/public
404s will fallback to /index.html
ts-loader: Using typescript@1.6.2 and /Users/akj/Documents/angular2/p3/angular2-webpack-starter/tsconfig.json
Hash: 735aec834c18a5d341da
Version: webpack 1.12.2
Time: 8074ms

[2015-10-18 19:24] matthewdenobrega commented on #99
You can fix this particular issue by importing Http and Headers explicitly in bootstrap.ts (it looks like HTTP_PROVIDERS isn't exported by angular2/http any more), and supplying an empty Object to the Headers constructor in app.ts. But then you get another error:

ERROR in ./src/app/app.ts
(100,18): error TS2339: Property 'append' does not exist on type 'Headers'.

You can instantiate Headers with

[2015-10-19 16:15] valorkin commented on #62
it is fixed https://github.com/auth0/angular2-authentication-sample/pull/38
so you can try now

[2015-10-20 05:35] chriscurnow opened #102 "'rx' now '@reactiveX/js' ?"
Just started working with this starter – which is really exciting.

However I am getting lots and lots of errors. Too many to document all of them. I'm wondering if this is a result of where angular2 is up to at the moment of if I have done something wrong.

Just for one many of the examples have the following:

[code]

It appears that this should in fact be:

[code]
Also, line 34 in ac_autosugges

[2015-10-20 08:37] gdi2290 commented on #102
can you submit pull-requests? I haven't updated the examples yet

[2015-10-20 18:18] asgerjensen commented on #99
Seems latest commit has fixed this

[2015-10-20 18:18] #99 closed

[2015-10-21 04:53] chriscurnow commented on #102
Done.
This was my first ever pull-request!!

[2015-10-22 08:34] dotcs commented on #55
Using the ["recommended" config](https://angular.github.io/protractor/#/browser-setup#setting-up-phantomjs) below, I could get the first E2E test to work (which checks the title of the page), but the following tests fail because it seems that PhantomJS does not wait for Angular before running the tests which is why they fail with an `InvalidElementStateError` [1].

[code]
The linked document absol

[2015-10-22 09:37] #102 closed

[2015-10-22 09:38] gdi2290 commented on #102
congrats! and thanks for your help :+1:

[2015-10-22 09:46] chriscurnow opened #106 "How to import zone"
I'm having a problem with ac-autosuggest.ts.

First off its got the same problem with rx which I know how to fix.

Second though is it tells me "zone" is unknown. I assume this means I need to import zone somehow.

Looking through the various components I can see there is an NgZone in Angular 2.

So I tried changing line 4 to read

[code]

However at runtime, I got into an infinite loop with zone.

[2015-10-23 12:12] dotcs commented on #106
I have had a closer look to the problem. The zone object seems available already, which is why you don't need to import it. You just need to make sure, that it Typescript knows the type of the `zone` variable. This can be done with
[code]

You can then use it as normal, e.g. in the component
[code]

See also my PR https://github.com/angular-class/angular2-webpack-starter/pull/107 which fixes the r

[2015-10-23 13:39] SekibOmazic opened #108 "Fix TicTacToe example"
Should use new `@Component` properties (`inputs` instead of `properties` and `outputs` instead of `events`).

See https://github.com/angular-class/angular2-webpack-starter/blob/master/examples/game-tictactoe/components/board/board.ts#L8-L9

[2015-10-23 14:01] #108 closed

[2015-10-23 17:29] daniele-zurico opened #110 "test fail"
Hello guys I checkout your example but I've problems to run the test because it fail.

WARNING in ./test \.spec\.ts
Module not found: Error: Cannot resolve module 'typescript-simple' in /Users/daniele/Downloads/angular2-webpack-starter-master/test
 @ ./test \.spec\.ts
23 10 2015 18:28:13.784:INFO [karma]: Karma v0.13.14 server started at http://localhost:9876/
23 10 2015 18:28:13.813:INFO [launche

[2015-10-26 07:11] chriscurnow commented on #106
Thanks. That works!!

[2015-10-26 07:11] #106 closed

[2015-10-26 22:54] chriscurnow commented on #92
I have submitted a pull request that fixes most of the errors – but this has mainly been through trial and error. I still haven't got router working.

[2015-10-27 01:44] jimthedev commented on #110
Yes, I am also having this issue.

[2015-10-27 02:56] #91 closed

[2015-10-27 02:56] #110 closed

[2015-10-28 07:39] #92 closed

[2015-10-28 09:05] rwillmer opened #114 "new install cannot find reactive"
Just cloned the repo, and ran '$ nom install'

If fails with this error

npm http 404 https://registry.npmjs.org/reactivex/rxjs/5.0.0-alpha.4
npm ERR! 404 'reactivex' is not in the npm registry.

[2015-10-28 09:29] rwillmer commented on #114
Turns out this is caused by me having an old version of npm

https://github.com/angular/angular/issues/4814

Upgraded npm, and re-ran nom install; all working.

[2015-10-28 09:29] #114 closed

[2015-10-28 09:32] rwillmer opened #115 "angular2, reactive using old versions"
Current versions are :

angular2@2.0.0-alpha.44
  └── @reactivex/rxjs@5.0.0-alpha.4

[2015-10-28 09:37] rwillmer opened #117 "rimraf referenced but not installed"

[2015-10-28 09:44] rwillmer commented on #117
user error :)

[2015-10-28 09:44] #117 closed

[2015-10-28 10:22] rwillmer commented on #115
Already been done. Not sure why I didn't notice that..

[2015-10-28 10:22] #115 closed

[2015-10-28 19:25] dotcs commented on #84
For me the current setup works with node 4.2.1 and npm 2.14.7 on Mac OS X 10.10. @gsans, @byleaf Can you update node and npm and give us an update if everything works fine now?

If the dependencies have been installed with node 0.x and later node 4.x is being used to update the packages, this might indeed be a problem that leads to an inconsistent state. The easiest solution here is to delete `nod

[2015-10-28 19:41] SekibOmazic commented on #84
Have same setup as @dotcs and for me it works fine.

[2015-10-28 19:55] dotcs commented on #80
Typescript is a typed superset of JavaScript that compiles to plain Javascript. In the example above Typescript assumes that `newValue` is a number. Whenever Typescript can check the type, it will do it for you. So Typescript would raise an error if you would try to do something like:

    constructor() {
        this.onChange('abc');
    }

    onChange(newValue: number) {
        // ...
    }

U

[2015-10-28 21:50] jimthedev opened #119 "Create npm scripts to run the bundled code in "production" mode"
Currently we use webpack-dev-server to run the project in dev. This is great but, we have the port hard coded in the package.json which isn't ideal if you want to, say, throw this up onto AWS or some other hosting where we'd expect to use `process.env.port` format.

A user should be able to:

- [x] Run a new npm script: `npm run prod` which would run npm run build and `npm run server-prod`.
- [x]

[2015-10-28 21:53] jimthedev commented on #119
Please note that after this PR our dependencies in package.json would look like this:

[code]

[2015-10-29 04:31] jimthedev commented on #119
I'd appreciate if someone else would review this before I merge to make sure I'm not doing anything crazy. Thanks.

[2015-10-29 07:34] SekibOmazic commented on #119
@jimthedev LGTM

[2015-10-29 14:16] gdi2290 commented on #119
I don't like having two `index.html`. Ideally there would be a `dist/` folder that has everything ready for distribution

[2015-10-29 14:28] jimthedev commented on #119
Sounds good @gdi2290. I think all we need to do to accomplish this is to:

- [ ] create a dist folder if it doesn't exist
- [ ] copy the contents of public into dist
- [ ] copy `__build__` into dist
- [ ] add dist to .gitignore
- [ ] http server should serve from dist

Does that sound right?

[2015-10-29 15:13] gdi2290 opened #122 "include `typings` (Typings the TSD replacement)"
`typings` is the the TSD replacement
https://www.npmjs.com/package/typings

[2015-10-29 16:46] jimthedev commented on #119
@gdi2290 This is complete and I've rebased. It favors the existing index.html and uses a node script to get everything to the right locations so that dist/ is generated. Can you review again?

[2015-11-01 19:14] moberg commented on #84
I'm getting the same error. node 4.2.1, nvm 3.3.10

[code]

[2015-11-02 02:36] iuliust commented on #84
Same problem for me. Cache cleaned, fresh install, node 4.2.1, npm 3.3.10, and `npm start` fails at the line 6.

chunk    {2} app.js, app.js.map (app) 40 bytes {1} [rendered]
    [0] multi app 40 bytes {2} [built] [1 error]

ERROR in ./src/app/bootstrap.ts
Module parse failed: /home/julien/WebstormProjects/ng2test/src/app/bootstrap.ts Line 6: Unexpected token
You may need an appropriate loader to

[2015-11-02 11:21] arozwalak opened #124 "import components in unit tests"
I'm trying to import app.ts into unit tests, but I don't know how it should work. I used https://github.com/juliemr/ng2-test-seed to get tests working so my test file looks like this:

[code]

and my app.ts files:

[code]

In result I'm getting:

[code]

I also tried with `injectAsync` but have the same result.

[2015-11-05 16:10] gdi2290 opened #125 "webworker support"
@matthewdenobrega I added your changes in the [webworker](https://github.com/AngularClass/angular2-webpack-starter/tree/webworker) and added you to the repo if you want to try out webworkers

[2015-11-06 02:30] gdi2290 commented on #94
protractor has been updated

[2015-11-06 02:30] #94 closed

[2015-11-06 02:31] gdi2290 commented on #51
done via https://github.com/AngularClass/angular2-webpack-starter/commit/b785b7fe9c58ea8401821a3308118f0fea6906b6#diff-c036ca0f2d0a158e642472aae98dabce

[2015-11-06 02:31] #51 closed

[2015-11-06 03:03] gdi2290 commented on #55
If the issue is still valid please open a PR

[2015-11-06 03:03] #55 closed

[2015-11-06 16:26] gdi2290 commented on #62
the fullstack repo will have jwt authentication I'll revisit the issue when we publish it

[2015-11-06 16:26] #62 closed

[2015-11-06 16:37] gdi2290 commented on #80
@dotcs is correct in explaining how typescript works. if you need runtime type checks then you can check out this repo made by an angular core team member
https://github.com/vsavkin/RuntimeTypeChecks
If you have any more issues feel free to open another one or comment here

[2015-11-06 16:37] #80 closed

[2015-11-06 16:38] gdi2290 commented on #16
this will be solved via @valorkin's ng2-bootstrap module which supports bootstrap versions 3 and 4

[2015-11-06 16:38] #16 closed

[2015-11-07 15:20] joaogarin opened #126 "TemplateURL usage"
Hello,

I am expermenting with the starterkit. I was wondering how to use templateURL, is there specific things I need to change or add in the webpack.config.js.

Can you point me in the right direction? In the readme it says  :

How do I use moduleId with module.id in webpack?
Please use __filename if you must use templateUrl and styleUrls rather than webpack's module system

But it didnt really

[2015-11-08 18:41] dotcs commented on #126
One way to use files for the templates (instead of the inline-style) is to create HTML files and `require` them with the `to-string-loader`.

[code]

Webpack will require the file `my-component` and assign the output to the template of the view. Technically you are not using Angular's `templateUrl` here, but in fact it's more or less the same thing.

On the plus side is that the HTML content is bu

[2015-11-08 18:48] gdi2290 commented on #126
@dotcs is correct. If we use templateUrl provided by angular then we lose out on some of the optimizations provided by webpack

[2015-11-08 18:48] #126 closed

[2015-11-08 20:40] joaogarin commented on #126
Thank you for the explanation. its more clear now. I guess for what i want using the inline template or the approach you mention is more suitable to take advantage of webpack. its really just a small project to start getting familiar with angular2 and trying a couple of things.

Thanks for the great info and the nice repo;) Works perfectly

[2015-11-08 21:02] gdi2290 commented on #126
np, make sure you [:star:](https://github.com/AngularClass/angular2-webpack-starter/stargazers) the repo

[2015-11-09 11:56] Ao21 commented on #124
I had the same problem, if you add

[code]

to the spec.bundle.js after the requires, seems to solve it for me.

[2015-11-10 05:18] matthewdenobrega commented on #125
Thanks @gdi2290 - a couple of notes:
 - For the webpack dev server to work in webworkers you need this patch: https://github.com/webpack/webpack-dev-server/pull/309 - hopefully it will get merged into master soon
 - I don't think this is a good base for production apps yet, in part because the current router doesn't work in a web worker. This is being worked on this week - https://github.com/angul

[2015-11-10 05:22] matthewdenobrega commented on #124
FYI in the test seed this is done in the karma-test-shim.js file - https://github.com/juliemr/ng2-test-seed/blob/master/karma-test-shim.js (line 32) https://github.com/juliemr/ng2-test-seed/blob/master/karma-test-shim.js

[2015-11-10 14:10] gdi2290 commented on #125
thanks, I added you to the repo so you have write access.
ya I forgot to mention the patch (I edited mine in node_modules too). The starter purposely does not have a production build but I agree with you that it's not ready yet

[2015-11-11 13:55] gdi2290 commented on #124
@Ao21 can you make a pull-request

[2015-11-11 21:58] gdi2290 commented on #84
should be fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/79aef4702a10fbb294b92b6bd6bcdc30b43cbab4

[2015-11-11 21:58] #84 closed

[2015-11-12 02:59] gdi2290 commented on #124
done via https://github.com/AngularClass/angular2-webpack-starter/pull/128

[2015-11-12 02:59] #124 closed

[2015-11-12 12:25] Archcry opened #130 "Testing a service"
Hello,

We've been trying to test a service which depends on the angular HTTP service but we can't seem to get this to work properly.
My code is as follows:

app.spec.ts:
[code]

InstrumentFactory.ts:
[code]

I am getting the folowing error:
[code]

I know that phantomjs is not defined, but that should not really matter to this error.

[2015-11-15 19:31] juristr commented on #119
@jimthedev Mostly seems to work. Got this error though

[code]

[2015-11-22 20:40] ghost opened #132 "Brand new download and attempt to run fails ..."
I just downloaded, ran all the installs, did my product upgrades, etc (unless I missed a step ...)
When I execute the command "npm run server", it fails to start. Any help would be appreciated.
I'm running Windows 10, and will be using either VS Code, or VS Community w/ Node.js tools for my IDE. The error below is from running the command(s) in the Powershell command window.

Here's what shows in

[2015-11-22 21:23] gdi2290 commented on #132
what version of `node` and `npm` are you running?

[2015-11-23 04:08] silverfox1948 commented on #132
I completely uninstalled node and npm, re-booted, and re-downloaded and re-installed node.

It still is failing. Here’s what I currently have:

c:\Dev\samples\ng2WebpackStarter>npm -v

2.14.7

c:\Dev\samples\ng2WebpackStarter>node -v

v4.2.2

Regards,

Steven Archibald, President

Steven Archibald Consulting Corporation

e-mail: steven.archibald@sa-consult.com

Architecture/ Design/ Development

"

[2015-11-23 07:21] dotcs commented on #132
I'm not using Windows 10, but I'm quite sure that `fsevents@1.0.5` should not have any problems with Windows 10.

You could try to delete the `node_modules` folder and run `npm install` again to force a rebuild of the complete dependency graph. Let's see if this fixes the problem.

[2015-11-23 07:27] dotcs commented on #130
Seems related to https://github.com/AngularClass/angular2-webpack-starter/issues/124.

This should have been fixed by selecting the correct `BrowserDomAdapter`. Currently this is done in `spec.bundle.js` which will be included in Karma. See https://github.com/AngularClass/angular2-webpack-starter/blob/master/spec.bundle.js#L34-L37. I will have a closer look to the problem.

[2015-11-23 07:58] dotcs commented on #130
For me it works in the following way:

[code]

[code]

So the trick is not to manually inject HTTP into the `InstrumentFactory`, but provide access to let the Dependency Injector know about the `InstrumentFactory`. The injection of the HTTP service is then done automatically (and implicit) by the Dependency Injector when a new instance of the HTTP service is required.

Why is this better? Think of

[2015-11-23 18:56] superchris opened #133 "Using ES2015 import statements to load npm dependencies"
I'd like to be able to load dependent libraries by using the standard `import` statement of ES2015 as I can in jspm. So far I've only been able to load npm libraries by using `require`. Is there a way to do this. For example, I added the phoenix_js npm to my project and tried:

[code]

This gave me an error about finding the module, but when I changed it to:

[code]

it worked. Having to mix the t

[2015-11-23 19:13] gdi2290 commented on #133
the error you encountered was a typescript one. You need to make a type definition for the module for example
`phoenix_js.d.ts`
[code]
The types are decoupled so users can write types for modules that aren't written in typescript. So this is a feature of typescript

[2015-11-23 19:48] superchris commented on #133
So I'm pretty much a typescript newb. I tried dropping a `phoenix_js.d.ts` file into the `typings` directory and then added a reference line to `_custom.d.ts` but this didn't seem to work. First it didn't seem to like `define` so I changed it to `declare` per other examples I'd seen, but it still gives me the error about `Cannot find module 'phoenix_js'`. I've been unsuccessful finding any typescr

[2015-11-23 20:07] gdi2290 commented on #133
@superchris I sent you a tweet. I can jump on hangout to quickly show you the solution

[2015-11-23 20:20] gdi2290 commented on #133
here's the repo for [phoenix_js](https://github.com/jerel/phoenix_js) so you can make a pull-request for the finished type definition you created

[2015-11-23 20:20] #133 closed

[2015-11-24 13:21] matthewdenobrega opened #134 "Linting for Typescript"
This is relatively easy to add but it will be time-consuming to get all the existing code to lint, and there will be some disagreement on the best rules to use for the linter. Is this something that there is interest in, or is it too opinionated for this sort of starter?

[2015-11-24 14:52] dotcs commented on #134
I think it's best to guide programmers along their way. +1 for code linting.

[2015-11-24 15:21] gdi2290 commented on #134
pull-request? :)

[2015-11-25 20:24] sumigoma opened #135 "IE support"
While Angular2 itself is said to support IE (9,10,11), I'm having difficulty running this project on IE. I'm getting the following errors:

[code]

It's probably an issue with es6-shim.js/webpack but I can't figure it out. I can get [ng2-play](https://github.com/pkozlowski-opensource/ng2-play) to start up fine in IE, so it must be something to do with the way this particular project is set up. Any

[2015-11-25 20:26] gdi2290 commented on #135
can you try this repo (it's a little bit outdated) https://github.com/angular/universal-starter and see if it runs?

[2015-11-25 20:38] sumigoma commented on #135
Universal-starter does seem to start up fine (when I add es6-shim).

[2015-11-25 20:55] gdi2290 commented on #135
it might be my version of es6-shim

[2015-11-25 21:08] sumigoma commented on #135
I updated the es6-shim script tag to latest, but that wasn't it.
Ah, but this issue may be the cause (https://github.com/angular/angular/issues/5306), which I just stumbled upon.

[2015-11-25 22:28] sumigoma commented on #135
Ah ha. For those encountering this problem, inserting
[code]
to the first line in bootstrap.ts seems to have fixed this for me, as mentioned [here] (http://stackoverflow.com/questions/30911861/angular2-jspm-io-reflect-metadata-shim-is-required-when-using-class-decorato).

[2015-11-25 22:28] #135 closed

[2015-12-01 12:41] gmchaturvedi1 opened #136 "how to use sass files"
Kindly suggest how to use sass files for creating application

[2015-12-04 11:04] chriscurnow opened #137 "Examples"
Hey, how come you deleted all the examples?
I just re-synced to get the latest with ng47 and all the examples disappeared!!

[2015-12-04 11:46] SekibOmazic commented on #137
@chriscurnow You can get them here: https://github.com/AngularClass/angular2-examples

[2015-12-04 13:56] johanbove commented on #132
@dotcs  Any luck getting it to work? I'm currently struggling with a very similar issue.

[2015-12-05 01:11] chriscurnow commented on #137
Thanks. I have had head down developing some ideas for several weeks and I haven't kept up with what's happening here. This makes sense – it means the starter is just that.

[2015-12-05 01:11] #137 closed

[2015-12-05 01:29] gdi2290 commented on #137
for example https://github.com/AngularClass/angular2-webpack-starter/pull/127 requires bootstrap to be a dependency in the repo. I would either need to include another script to install it's dependency (bootstrap) like we did for express or just refactor everything out into another repo

[2015-12-05 01:30] gdi2290 commented on #137
thanks for asking :+1:

[2015-12-05 10:12] dotcs commented on #132
@johanbove Nope, as said above I don't use Windows 10. I did a fresh `git clone` of the repo and `npm install` on OS X without any issues. The problem must be either Windows 10 specific or some kind of incompatibility between node versions. I think the latter is more likely which is why I recommended to remove the `node_modules` folder in the comment above. Can you explain in detail which steps to

[2015-12-05 10:21] dotcs commented on #136
Currently sass/scss support is not implemented in the project. But webpack makes it easy to do so.

Install `sass-loader` via npm and register the loader for `*.scss` files. Add the following somewhere in the module loaders, e.g. below [this line](https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L113):
[code]

The `sass-loader` transformes your scss files into

[2015-12-05 21:05] juristr opened #139 "Camel cased filenames seem to cause issues with TypeScript"
When I have a camel-cased filename like `dateTime.ts` I get errors in VSCode

![image](https://cloud.githubusercontent.com/assets/542458/11610207/d135371c-9b9b-11e5-978c-48774cae91cb.png)

...on the other side when I change the filename casing, everything works just fine

![image](https://cloud.githubusercontent.com/assets/542458/11610215/09def44a-9b9c-11e5-812d-c2b677978d19.png)

[2015-12-06 01:23] gdi2290 commented on #139
that's odd

[2015-12-06 07:46] juristr commented on #139
Ya 😁

[2015-12-07 13:33] disshishkov opened #140 "Angular2 +Electron + Webpack"
May be you can help we to understand how to configure angular2 and webpack on electron?
I'd prefer leave angular2.js file and just have an app.js (which will be a enter point for an electron) but CommonsChunkPlugin moves webpack specific methods to angular2.js  and electron can not handle app.js without them.

[2015-12-07 16:09] juristr opened #141 "TypeScript doesn't recognize external moment.js module"
Hi,

maybe someone here can help me. I created a simple component with an external dependency to moment.js.

The src can be downloaded here: https://github.com/juristr/angular2-webpack-starter/blob/simple-component/src/app/datetime.ts

The problem is that I get a TypeScript error as it does not recognize the moment module:

![image](https://cloud.githubusercontent.com/assets/542458/11631966/fcdd67

[2015-12-07 17:45] valorkin commented on #141
1. moment is not in typescript, so
2. import from `moment`
3. install typings via tsd

[2015-12-07 21:36] juristr commented on #141
Hmm..I did step 3. If you look at the src branch I linked above, then you should see typings have been downloaded with TSD. I just don't know whether they are in the right location for this starter project.

Could u detail step 2? What do you mean "import from moment"?

[2015-12-07 21:41] sasha7 commented on #141
Maybe my solution will help. I installed moment with ```npm install moment``` and imported it in component like this ```const moment = require('moment');```

[2015-12-08 02:43] yaroslavya opened #142 "Tests result in "Module not found: Error: Cannot resolve module 'angular2/test' ""
Here are the steps I did:
`git clone https://github.com/AngularClass/angular2-webpack-starter.git`
`npm install `
after everything was installed( ofc made sure I installed the webpack globally ) I typed `npm test` in the console and I have the following error:
`ERROR in ./spec.bundle.js`
`Module not found: Error: Cannot resolve module 'angular2/test' in`

Do I need any other modules globally? Any

[2015-12-08 03:32] gdi2290 commented on #142
thanks for reporting the error.
fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/378ba30a16c12cf7db4b596e82786a06f1435dd5

[2015-12-08 03:32] #142 closed

[2015-12-08 03:55] yaroslavya opened #143 "Unit test errors: Can't find variable: injectAsync/beforeEachProviders/inject"
Just cloned the latest version like that:
`git clone https://github.com/AngularClass/angular2-webpack-starter.git`
then
`npm install `
after everything was installed( ofc made sure I installed the webpack globally ) I typed `npm test` in the console and I have the following errors:
 ReferenceError: Can't find variable: **injectAsync**
            at C:/programming/playground/ngt2/angular2-webpack-

[2015-12-08 08:16] valorkin commented on #141
@juristr ```import * as moment from 'moment'```

[2015-12-08 12:42] juristr commented on #141
Got it to work.

@valorkin I had already installed `moment` via tsd.

What I had to do was the following.

**1. Reference the `tsd.d.ts` generated by `tsd` in `src/typings/_custom.d.ts`.**
[code]

Not sure that's the right place, but it definitely worked and looks clean to me.

**2. Moving the tsd typings to `src/typings` for more consistency**

Obviously this is not needed, but I found it more in

[2015-12-08 12:50] valorkin commented on #141
check `moment` package.json `main` property
it routes to commonjs file with all required exports
angular2 doesn't have common entry point (nor main property, nor index.js)
so you have to declare entry point like `angular2/angular2` or `angular2/testing`
if issue is solved to you, I will close it

[2015-12-08 12:50] #141 closed

[2015-12-08 12:53] juristr commented on #141
oh I see, thx a lot @valorkin.

What do u think of including by default the `tsd.json` and reference the `tsd.d.ts` directly from the `_custom.d.ts` in this seed project? Would help newbies to get started easier, don't you think?

[2015-12-08 14:40] valorkin commented on #141
this kind of decisions is more up to @gdi2290 :)

[2015-12-08 14:56] gdi2290 commented on #141
we're planning on switching to `typings` rather than `tsd` since `typings` a superior typing manager. Thanks @valorkin for answering and closing the issue :+1:

[2015-12-08 14:57] juristr commented on #141
@gdi2290 Cool, ya, that's what I was already guessing when I saw #122 . Thx for answering

[2015-12-08 21:57] lanocturne commented on #136
Still don't get it, @dotcs can you provide an example? I have a 'styles' folder under app. Something like this
app
 |-styles
     |-main.scss

After installing sass-loader and put above config code at webpack.config. I don't see main.scss gets mapped to css and be loaded in browser.

[2015-12-09 00:08] JamesHenry commented on #143
I am experiencing the same issue - fresh clone, latest typescript, npm install...

[2015-12-09 01:59] sumigoma opened #144 "Using VS Code chrome debug extension"
I'm not sure if this falls within the scope of this project, but it would be nice to establish the correct launch.json configuration to make this project debuggable within VS Code using this extension (https://github.com/Microsoft/vscode-chrome-debug), given the webpack configuration used here.

Has anyone had any luck with this?

[2015-12-09 05:13] yaroslavya commented on #143
[This commit](https://github.com/AngularClass/angular2-webpack-starter/commit/42776931adbe1c9bbc2f8bbd8df41fec6c5155cf) seem to be solved this issue.

[2015-12-09 05:13] #143 closed

[2015-12-09 19:03] gdi2290 commented on #134
done via https://github.com/AngularClass/angular2-webpack-starter/commit/9e3211121ec51b3799577dedd950fe930d90c93b

[2015-12-09 19:03] #134 closed

[2015-12-10 14:19] jgodi commented on #140
I have a playground [here](https://github.com/jgodi/angular2-electron-playground) that does Electron+NG2, modeled off this starter/ionic2-conference-app.

[2015-12-10 18:31] Plummat commented on #132
looks like this is an issue introduced in npm 3.5

[2015-12-10 18:40] gdi2290 commented on #139
I'm not too sure what to do here :/ it might be an issue with the editor

[2015-12-10 18:40] #139 closed

[2015-12-10 18:52] juristr commented on #139
Which one are u using? VSCode?

[2015-12-10 18:54] juristr commented on #144
@sumigoma :+1: Nice plugin, didn't know about it

[2015-12-10 19:05] gdi2290 commented on #139
I'm using sublime and sometimes atom

[2015-12-10 19:07] gdi2290 commented on #144
@sumigoma do you think you can make the file and make a pull-request?

[2015-12-10 19:10] juristr commented on #139
Sublime user as well. Since a couple of weeks I'm using VSCode now for better TypeScript support. It's a difficult relationship currently, but it's not that bad as well.
Kinda complicated :smile:

[2015-12-10 19:12] juristr commented on #144
I have half an hour of time, giving it a go :smile:

[2015-12-10 19:15] sumigoma commented on #144
I would, but I haven't been able to come up with a launch.json config that works.. I'm wondering if it's because webpack-dev-server doesn't write its bundles to disk (so the extension can't access any source maps) or if it's something else. I've been playing with moving the __build__ folder into src/public, etc., but no luck so far.

[2015-12-10 19:16] gdi2290 commented on #144
yeah it doesn't write to disk since it's all in-memory so perhaps that is a problem

[2015-12-10 19:20] juristr commented on #144
@sumigoma @gdi2290 Currently taking a look at this repo which uses it apparently with webpack: https://github.com/skolmer/react-hot-boilerplate-vscode

[2015-12-10 20:18] sumigoma commented on #144
Yep, I've been following the developments, but this project is structured a little differently, and the webpack configuration differs as well.. Will keep messing with it.

[2015-12-10 21:10] skolmer commented on #144
The main change in configuration to get vscode-chrome-debug working with webpack-dev-server is described here: https://github.com/skolmer/react-hot-boilerplate-vscode/issues/1
This is just a hack to avoid sourcemaps that point to files at "webpack:///..."

If someone finds a better way to get vscode chrome debugger working with webpack-dev-server please let us know at https://github.com/Microsoft/

[2015-12-11 10:07] leshin opened #147 "Why don't use gulp?"

[2015-12-11 12:14] valorkin commented on #147
this is awesome! :+1:

[2015-12-11 12:23] kampdomoj opened #148 "IE10 and IE11 support"
I tried to run this application on different browsers. I noticed that it doesn't work on IE.
I posted a question on the Angular github page, and they say that es6-shim should be included to make it work on IE.

I checked in the history that es6-shim has been removed recently.

I tried to change my local copy and added es6-shim in package.json and in the angular2 webpack bundle, but that didn't hel

[2015-12-11 16:02] gdi2290 commented on #148
we switched to core-js which has more polyfills

[2015-12-11 16:02] gdi2290 commented on #147
I'm planning on it since it wouldn't be hard

[2015-12-11 16:12] kampdomoj commented on #148
Okay... but what should I do to make this starter work in IE?
Just wait until the Angular2-team releases a version of angular that works properly with all browsers?

[2015-12-11 16:17] gdi2290 commented on #148
their ci suggest that it's suppose to work so it might be the tooling
[![Sauce Test Status](https://saucelabs.com/browser-matrix/angular2-ci.svg)](https://saucelabs.com/u/angular2-ci)

if you add es6-shim and replace core-js with it then it might work again assuming that was the problem https://github.com/AngularClass/angular2-webpack-starter/blob/2c8fface424f569bfded2d35369baad077d1fbc0/webpack.c

[2015-12-11 22:14] Gabriel0402 commented on #144
I tried to set devtoolModuleFilenameTemplate in webpack config to "file:///" and it works. Here's the change for the webpack configuration:
[code]
launch.json:
[code]

Hope it helps!

[2015-12-14 11:03] mastertinner opened #153 "Error: Cannot find module 'tslint/lib/lint'"
With the latest update I am getting the following errors upon running `npm start`:

[code]

[2015-12-14 13:15] disshishkov commented on #140
Thank you @jgodi but you separated webpack+angular2 and electron. I want to write `index` file in typescript as well and build app to index.js with webpack

[2015-12-14 13:37] Emnalyeriar commented on #153
I got this too, installed tslint from CLI but got another error:

[code]

[2015-12-14 14:14] MischaZed commented on #153
I had the same error and solved it by removing the reference of main.d.ts from tsconfig.json.

[2015-12-14 17:25] Marco-exports opened #154 "npm run server -> "ERROR in ./src/vendor.ts" and "ERROR in ./src/bootstrap.ts""
ERROR in ./src/vendor.ts
Module build failed: Error: ENOENT: no such file or directory, open '/Users/Marco/Sites/exports-webpack/typings/main.d.ts'
    at Error (native)
    at Object.fs.openSync (fs.js:549:18)
    at Object.fs.readFileSync (fs.js:397:15)
    at /Users/Marco/Sites/exports-webpack/node_modules/ts-loader/index.js:193:22
    at Array.forEach (native)
    at ensureTypeScriptInstance (

[2015-12-14 18:18] blakeembrey commented on #153
@mastertinner Try `npm install tslint`.

@Emnalyeriar @MischaZed Do a `typings install`.

[2015-12-14 18:19] blakeembrey commented on #154
Same issue mentioned in https://github.com/AngularClass/angular2-webpack-starter/issues/153

[2015-12-14 18:27] mastertinner commented on #153
@blakeembrey, thanks. That worked.

[2015-12-14 19:26] Marco-exports commented on #154
**Thanks for your help...  followed your recommendation**

blakeembrey commented an hour ago
@mastertinner Try npm install tslint.
@Emnalyeriar @MischaZed Do a typings install.

**One error went away, and this remains**

ERROR in ./src/vendor.ts
(3,8): error TS2656: Exported external package typings file '/node_modules/reflect-metadata/reflect-metadata.d.ts' is not a module. Please contact the pac

[2015-12-14 19:42] blakeembrey commented on #154
What version is `reflect-metadata`? Looks like it was fixed in `0.1.2` - https://github.com/rbuckton/ReflectDecorators/commit/07dcd99c807a402b255065979d9485fbdc69924b.

[2015-12-14 19:53] Marco-exports commented on #154
According to package.json

  "_from": "reflect-metadata@0.1.2",
  "_id": "reflect-metadata@0.1.2",

[2015-12-14 19:59] blakeembrey commented on #154
Oh, I see now, missed it before. It's from https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/vendor.ts#L3. Add `node_modules/reflect-metadata/reflect-metadata.d.ts` to your `tsconfig.json` file.

[2015-12-14 20:09] Marco-exports commented on #154
Not sure what I must do.
Do I add a line inside the tsconfig.json file ?
Which tsconfig.json ?

[2015-12-15 04:48] monokrome commented on #154
I think that the recommendation is to add `"node_modules/reflect-metadata/reflect-metadata.d.ts"` as a file in the **files** key of *tsconfig.json*. That doesn't seem to work here, however. Here's my config:

[code]

[2015-12-15 04:53] monokrome commented on #154
It looks like this works for the issue with **bootstrap.ts**, but doesn't solve for **vendor.ts**:

[code]

[2015-12-15 05:22] gdi2290 commented on #154
thanks for opening an issue :+1:
fix via https://github.com/AngularClass/angular2-webpack-starter/commit/c8f85ed0d9547c48fb598b36ab020229578623c6 and https://github.com/AngularClass/angular2-webpack-starter/commit/614e8d707b35155d642fd05c130e09ed208f29b1

[2015-12-15 05:22] #154 closed

[2015-12-15 05:22] gdi2290 commented on #153
thanks for opening an issue :+1:
fix via https://github.com/AngularClass/angular2-webpack-starter/commit/c8f85ed0d9547c48fb598b36ab020229578623c6 and https://github.com/AngularClass/angular2-webpack-starter/commit/614e8d707b35155d642fd05c130e09ed208f29b1

[2015-12-15 05:22] #153 closed

[2015-12-15 06:20] monokrome commented on #154
Thanks, @gdi2290! :)

[2015-12-15 13:48] jamesthurley opened #158 "Sizes of app.js and vendor.js"
Thanks for this repo, it's very helpful!  I was surprised after cloning and building unoptimised (npm run build) that the `app.js` file is 4.8MB, `vendor.js` is 5.45MB while `common.js` is only 4.65kB.  Even with the `--optimize-minimize` switch the `app.js` file is still 577kB.

Looking inside `app.js` there seems to be a lot of Angular in there, when I was expecting that to be in `vendor.js`.

I

[2015-12-15 15:11] jamesthurley commented on #158
Ok, I think I've worked out the problem....

Starting with everything fresh again, the `webpack.config.js` contains these lines:

[code]
And I get this output:
[code]

Removing the `chunks` property from the common chunk:
[code]
Give this:
[code]
And finally putting both entries into the chunks property:
[code]
Gives this:
[code]

Which appears to be using the files correctly.

[2015-12-15 21:46] sumigoma opened #160 "Uncaught ReferenceError: Zone is not defined"
Last commit (updating to the Angular2 beta) throws this error at runtime.

    Uncaught ReferenceError: Zone is not defined

but 'zone.js' is imported before 'angular2/platform/browser' in vendor.ts, so I'm not sure why it isn't defined. I'm running on windows.

Edit: I should mention it built fine for me on Alpha.54, so it probably has something to do with their last breaking change (Angular2 now

[2015-12-15 22:21] sumigoma commented on #160
I read on the Angular2 gitter that zone.js and reflect-metadata should be included with a script tag referencing https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js, but it sorta goes against the webpack way of bundling the dependencies.

[2015-12-15 22:40] jennyraj commented on #160
I have the same issue after upgrading to beta.0 webstarter

[2015-12-16 00:45] alvipeo commented on #160
+1

[2015-12-16 07:23] asafyish commented on #136
In webpack:
[code]
Then in your component:
[code]

Angular2 expects a string in the styles array, because it modifies the string to encapsulate the styling. Using style-loader/css-loader loads the css and inject to the html, without encapsulating, and doesn't return a string, raw-loader just load the file as string and pass it to sass-loader, which also return a string.

[2015-12-16 07:53] joaogarin commented on #160
+1

[2015-12-16 10:08] leshin opened #161 "Critical dependencies ./~/zone.js/dist/zone-microtask.js"
./~/zone.js/dist/zone-microtask.js
Critical dependencies:
1:113-120 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get better results.
 @ ./~/zone.js/dist/zone-microtask.js 1:113-120

[2015-12-16 13:41] #147 closed

[2015-12-16 14:08] gdi2290 commented on #147
my initial thought is to make the change when we reach 1k stars but I might just do it sooner

[2015-12-16 14:13] gdi2290 commented on #161
you might have downloaded a version of the repo without this change
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L66

[2015-12-16 14:18] gdi2290 commented on #160
Sorry for the confusion and thanks for opening an issue. Can everyone pull latest changes the updates I pushed last night should fix everything

[2015-12-16 14:20] gdi2290 commented on #158
fixed by your pr https://github.com/AngularClass/angular2-webpack-starter/pull/159, thanks again

[2015-12-16 14:20] #158 closed

[2015-12-16 14:20] gdi2290 commented on #160
thanks! :+1:

[2015-12-16 14:20] #160 closed

[2015-12-16 14:21] joaogarin commented on #160
awesome will try it out!

[2015-12-16 18:31] jamesthurley opened #162 "Zone is not defined with Angular 2 beta 0"
If I clone `https://github.com/AngularClass/angular2-webpack-starter.git` and then update the `package.json` to Angular 2 beta 0 by updating dependencies like so:

[code]

Then test the website with `npm start` and navigating to `http://localhost:3000/`, angular fails to load and I get an error in the console of:

[code]

Any ideas?

[2015-12-16 18:46] gdi2290 commented on #162
can you download the latest changes to the starter repo? I pushed a fix to this any a few others last night

[2015-12-16 18:46] gdi2290 commented on #161
also related https://github.com/AngularClass/angular2-webpack-starter/issues/160 I'm going to close this unless you hit this problem again

[2015-12-16 18:46] #161 closed

[2015-12-16 18:59] jamesthurley commented on #162
Sorry @gdi2290, you're absolutely right - the latest runs perfectly, thank you!

Incidentally, doing a fresh clone and `npm install` gave me this:

[code]

I downgraded to 0.33.3 thought and it's fine... is that the correct thing to do?

[2015-12-16 19:15] gdi2290 commented on #162
Angular2 needs to update their repo to accept anything higher than 0.33.3 tbh. Can you make a pull request to lower the version so we won't see the warning

[2015-12-16 19:15] #162 closed

[2015-12-16 19:37] jamesthurley commented on #162
Done.

One more thing, I noticed in Angular's angular2-seed project they do `import 'angular2/bundles/angular2-polyfills';` to handle their polyfills:

https://github.com/angular/angular2-seed/blob/master/src/vendor.ts#L1

I tried changing your `vendor.cs` polyfills section to use that and it seems to work fine, so might be a nice simplification.  I can do a PR if you agree.

[2015-12-16 22:47] gdi2290 commented on #162
I did the PR for the one in that repo :p there is more benefit if we manually do it (sourcemaps)

[2015-12-17 09:44] kampdomoj commented on #148
Hi, I have seen you updated your app to the beta version, and it works perfectly on all browsers. Of course :-)
Thanks. Issue solved.

[2015-12-17 09:44] #148 closed

[2015-12-17 10:10] jamesthurley commented on #162
Ha, ok, makes sense!

[2015-12-17 15:13] jbazinga opened #164 "Common.js - why?"
Dear Angularclass!

Thanks for the project, I love it, but I would like to ask why is common.js used? What is the benefit of it? Because If we can not define a common chunk, and do not include it in index.html, then the app works well.

Thanks

[2015-12-17 15:32] jbazinga opened #165 "How to use LESS files"
## I would like to use less files in project.

### UPDATE - Solution:
* install npm dependencies:  ```npm install --save-dev less less-loader ```
* add less extension to resolve.extensions section:
[code]
* add a loader like: ``` { test: /.less$/, exclude: /node_modules/, loader: 'raw-loader!less-loader' }```
* and now can use like:
[code]

### The problem:

I tried this config in webpack.config.j

[2015-12-17 16:45] gdi2290 commented on #148
thanks for making an issue about it :+1: if you run into any more problems or have any suggestions feel free to open an issue

[2015-12-17 17:03] gdi2290 commented on #164
common.js is included in our [index.html#L42](https://github.com/AngularClass/angular2-webpack-starter/blob/2baa3b087c1e286b8a8298b5600bdbd4ccce81df/src/public/index.html#L42) I added the file so it's much easier for developer to do code splitting if they need to lazy load sections of their app

[2015-12-17 17:05] jbazinga commented on #164
I see, thanks

[2015-12-17 17:05] #164 closed

[2015-12-18 07:55] asafyish commented on #165
In webpack:

{
        test: /\.less$/,
        exclude: /node_modules/,
        loader: 'raw-loader!less-loader'
}
Then in your component:

@Component({
  styles: [ require('./filename.less') ],
})
Angular2 expects a string in the styles array, because it modifies the string to encapsulate the styling. Using style-loader/css-loader loads the css and inject to the html, without encapsulating, and

[2015-12-18 07:59] jbazinga commented on #165
Yes, I know it, and I use the same config, what you mentioned, but this is still not working!

[2015-12-18 08:19] zarkosusnjar commented on #165
Besides what @asafyish mentioned In package.json you need deps:

"less": "^2.5.3",
"less-loader": "^2.2.1",

Then in component itself I use:

const STYLES  = require('!raw!less!./dashboard.less');

@View({
  styles:     [ STYLES ],
  template: `<h1>Dashboard</h1>`
})

Cheers!

[2015-12-18 08:20] gdi2290 commented on #165
@ jbazinga make sure you add `.lesshttps://github.com/AngularClass/angular2-webpack-starter/blob/f90f3725473726581ce53b226b2df95fdf74357e/webpack.config.js#L33...L34

[2015-12-18 08:20] gdi2290 commented on #165
@jbazinga make sure you add `.less` to `resolve.extensions`
https://github.com/AngularClass/angular2-webpack-starter/blob/f90f3725473726581ce53b226b2df95fdf74357e/webpack.config.js#L33...L34

[2015-12-18 10:28] jbazinga commented on #165
Thanks a lot, updated the issue text with the final solution.

[2015-12-18 10:28] #165 closed

[2015-12-18 11:35] jbazinga opened #167 "webpack-dev-server over https error"
Hi,

I am using my sample application in c9.io, and it is uses https. The problem is: webpack-dev-server uses sockjs-node, and try to download it from http -not https. How can I solve it?

I try to run the webpack-dev-server with --https , or add the https:true to devServer, but it is not solve my problem.

Thanks

[2015-12-18 17:40] gdi2290 commented on #167
this is a `webpack-dev-server` question.
I think you need to use `--https` rather than `--http`
https://webpack.github.io/docs/webpack-dev-server.html

[2015-12-18 18:34] jbazinga commented on #167
Yes, that is what I tried....

[2015-12-18 19:34] gdi2290 commented on #167
with https you have to give it self-signed certificate files to run https locally

[2015-12-19 03:18] louisscruz commented on #126
When I attempt to use `template: require('to-string!./my-component.html')` I get the following error: "Cannot resolve module 'to-string'" Any idea what I'm doing wrong?

[2015-12-19 03:40] gdi2290 commented on #126
you can use the raw loader which is already set for html
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L62

[2015-12-19 04:08] louisscruz commented on #126
@gdi2290 Thank you! I was using an older version of the project. After cloning the latest, a lot has changed – glad to see the new file structure. Just starred the project by the way...

[2015-12-19 06:03] louisscruz opened #169 "ng2-bootstrap + bootstrap 4.0 implementation"
How should I go about installing Bootstrap 4.0 and ng2-bootstrap? I've attempted adding code from the PRs at https://github.com/AngularClass/angular2-webpack-starter/pull/127, but I get an error: `Module parse failed [...] Unexpected token You may need an appropriate loader to handle this file type.`

I am new to Webpack, which I'm guessing is my shortcoming here.

[2015-12-19 13:31] spawnius opened #170 "Tests are missing core-js dependancy"
Running tests fails with a misisng a core-js dependancy, installing it with npm helps.
[code]

[2015-12-19 16:26] valorkin commented on #169
Yeap, remove node_modules from ignore

[2015-12-19 17:16] lanocturne commented on #169
At ts loader for exclude property, use this code
`
exclude: [ /\.spec\.ts$/, /\.e2e\.ts$/,
					/node_modules\/(?!(ng2-bootstrap))/
`

[2015-12-19 20:11] gdi2290 commented on #170
can you pull latest. I updated this file to fix this

[2015-12-20 00:12] spawnius commented on #170
Thanks, works like a charm!

[2015-12-20 00:12] #170 closed

[2015-12-20 12:58] gmchaturvedi1 opened #174 "dist is notworking"
hello friend
i am new to webpack and angular2
can someone help for production
because when i run command
npm run build and copy index.html and those file in one folde is notworing
but my js file is not working

[2015-12-20 19:35] OverclockedTim commented on #174
I'm sure there are a million ways to fix this.  I got it working by changing the webpack config to output the build files into /src/public/ instead of /public/ and then deploying out of /src/public

[2015-12-20 20:55] louisscruz commented on #169
Fantastic. That does it. Thanks!

[2015-12-20 20:57] gdi2290 commented on #169
this update should fix this problem for future developers https://github.com/AngularClass/angular2-webpack-starter/commit/cac643d3ad6b07d05c58ccb8e319bf852d572245

[2015-12-20 20:57] #169 closed

[2015-12-21 16:14] gdi2290 commented on #132
@silverfox1948  can you update npm https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows

[2015-12-21 16:22] gdi2290 commented on #125
muli-environment support will be done via [universal-starter](https://github.com/angular/universal-starter) I'll close this for now and redirect people to universal starter after it's updated

[2015-12-21 16:22] #125 closed

[2015-12-21 16:23] gdi2290 commented on #122
done via https://github.com/AngularClass/angular2-webpack-starter/commit/b1a14e4f9d3f669350fa61db6db6176c87b278fb

[2015-12-21 16:23] #122 closed

[2015-12-21 20:02] vivainio opened #175 "Remove "files" from tsconfig.json"
It's considered a bit of an antipattern to have list of source files in tsconfig.json.

Currently, you need to add your new .ts files there to get vscode working. This doesn't scale to nontrivial projects

https://github.com/Microsoft/TypeScript/wiki/tsconfig.json :

[code]

[2015-12-21 20:09] gdi2290 commented on #175
can you make a pull-request and also set rewriteTsconfig to false

[2015-12-21 20:43] vivainio commented on #175
I tried just removing those, but the project failed to build after that - for webpacky reasons I'm not familiar with (apparently proceeding to compile *everything*, as opposed to only files that can be discovered by crawling dependencies starting from app.ts, as tsify is doing)

[2015-12-22 05:59] gdi2290 commented on #76
done via https://github.com/AngularClass/angular2-webpack-starter/compare/12e6e1fbf82232daed7f584938f0f597fe81144e...master

[2015-12-22 05:59] #76 closed

[2015-12-22 06:00] gdi2290 commented on #175
I removed the files but now I have to exclude everything :/ I also ran into a problem with typings and protractor's ambient type definition file.

cc @blakeembrey
what do you recommend?

[2015-12-22 07:57] vivainio commented on #175
For reference, here is all we have in our tsconfig.json (but as said, we are using tsify):

[code]

It's not next to our node_modules, but in a directory that contains our apps ts code. In the angular2-webpack-starter, this would be either src/ or src/app

[2015-12-22 08:20] gdi2290 commented on #175
actually it does make more sense to have `tsconfig.json` in `src/` and another one in `test/` then we can omit `files` without having to worry about different environments

[2015-12-22 15:08] blakeembrey commented on #175
I've never seen anything about "files is an anti-pattern". Nor have I seen the issue in VSCode that is described. What are you trying to fix? The file won't be picked up until it's either imported or included in the files array, but I wouldn't say that makes files an anti-pattern (I'd love some data on that, since it works as expected - their basically entry points to the application for compilati

[2015-12-22 16:29] vivainio commented on #175
It looks like this before the file is imported somewhere:

![image](https://cloud.githubusercontent.com/assets/557579/11960006/26acc666-a8d9-11e5-9805-9a5d9f499e53.png)

Empty files section is used as starting point e.g. here:

- https://code.visualstudio.com/Docs/languages/typescript
- https://basarat.gitbooks.io/typescript/content/docs/project/tsconfig.html

"Entry point" for collecting files sh

[2015-12-22 16:46] blakeembrey commented on #175
I'm not sure if you missed what entry point means, but `files` doesn't include every single TypeScript file you manually added to the project. It's the entry files to start compilation. And yes, that's the error message because you haven't imported it, once you import it it'll be included in the project. The reason you get that error is because it's not referenced or included anywhere. Honestly, I

[2015-12-22 16:50] blakeembrey commented on #175
I didn't understand any of the last paragraph, sorry. What are you trying to say there? Files is used by the TypeScript compiler and tooling. Both the TypeScript compiler, tooling, Webpack, tsify, anything will resolve imports as I described above, but the compiler and tooling doesn't use tsify, it uses `tsconfig.json`. Sure, you can omit files, but then you have to use exclude instead otherwise y

[2015-12-22 17:00] vivainio commented on #175
@blakeembrey currently tsconfig.json includes (redundand?) files that are referenced from app.ts:

[code]

app.ts:

[code]

If those are removed from tsconfig.json (meaning that the user will not end up maintaining the file most of the time), that would be fine as well.

Visual Studio Code understands tsconfig.json doesn't have "files" property, as said it understands all .ts (and .d.ts) files con

[2015-12-22 17:08] blakeembrey commented on #175
Yes, seems redundant to me too. But I'm not the person to fix this, just responding because I was pinged unceremoniously. @gdi2290 Fix your shit. The other option is using `exclude` and basically doing the inverse, but I prefer things to be explicit instead of implicit anyway - includes should land in `tsconfig.json` too which will resolve this forever.

Yes, Atom and Sublime and other tooling als

[2015-12-22 17:33] vivainio commented on #175
I made a PR that removes redundant files (making this less confusing), https://github.com/AngularClass/angular2-webpack-starter/pull/176. Stuff still seems to work (at least on vscode, didn't try with Atom).

bootstrap.ts is a sufficient starting point for the app itself

[2015-12-22 19:42] kampdomoj opened #177 "comon and vendor bundle are almost empty"
Hi,

I am trying to implement webpack in my own Angular2 project, using your project as an example.
For some reason the common and vendor bundles stay very short, only calling System.register with all the required modules. Why would webpack use System.register in my case, and concatenate all required files in your case...?? I am trying to find out why.... Any hint?

[2015-12-22 19:48] gdi2290 commented on #177
System.register shouldn't be used so I need to see how you set up your build

[2015-12-22 20:01] kampdomoj commented on #177
See https://github.com/kampdomoj/Test2

[2015-12-22 20:07] kampdomoj commented on #177
I added the __build files, so you can see the result

[2015-12-22 20:44] kampdomoj commented on #177
Solved!!!  :-)

I had other tsconfig parameters (system instead of commonjs) and another moduleResolution

Now the compiler has the same behavior as in your sample.

By the way: why do you have your own polyfills.ts?
Isn't it enough to include the angular2-polyfills file?

[2015-12-22 20:49] gdi2290 commented on #174
I'm working on a new build config to make this more clear

[2015-12-23 10:18] Ludevik opened #178 "Using remap-istanbul for typescript coverage"
It would be useful to integrate https://github.com/SitePen/remap-istanbul to this project, so that coverage report displays coverage for original typescript files.

[2015-12-23 16:51] gdi2290 commented on #178
do you think you can make a pull-request?

[2015-12-23 22:17] davidxiao opened #179 "can not access url in vagrant-based linux from host"
Hi,
  I am using angular2-webpack-starter from vagrant-based linux, while can not access the url from host, not explicit error message from terminal.
  Vagrant version: 1.7.2

[2015-12-23 22:19] davidxiao commented on #179
after doing some research, fixed the issue by reseting the default host to : 0.0.0.0, instead of localhost in package.json in root directory,
do we need to update in the template repo?

[2015-12-23 22:19] #179 closed

[2015-12-24 15:43] antonybudianto commented on #178
@Ludevik , you can take a look at my [angular 2 starter](https://github.com/antonybudianto/angular2-starter), I already integrate it with `gulp test` task

[2015-12-26 03:46] louisscruz opened #180 "How to deploy?"
I'm new to Webpack. There is a copy of my project on my server. When I run `npm run build` on the server, I get a `__build__` folder. However, when I run `node app.js` within this folder, I get the following error: ReferenceError: webpackJsonp is not defined. Being that I've never deployed a TS project before, I assume that there is some fundamental error in my understanding of Webpack deployment.

[2015-12-26 03:51] louisscruz commented on #180
I should add that I've read https://github.com/AngularClass/angular2-webpack-starter/issues/174, but the actual deployment process is still unclear to me.

[2015-12-28 05:45] manavsehgal commented on #174
I tried copying ```__build__``` folder and contents of ```/src/public/``` into a separate folder for production run from a single folder. Most PaaS/Cloud deploy CLI require single folder as source for deploy. This needs to be part of ```build:prod``` within the starter, rather than an external hack (smiles).

[2015-12-28 05:59] manavsehgal opened #182 "Separate dev/prod configs"
Can we add separate dev/prod config settings which apply depending on context?

Currently production settings need to be commented out (debug:true) or changed (devtool: 'eval') in webpack.config between dev/prod scenarios. This is not ideal.

There are two prevalent solutions for separate webpack dev/prod configs.
(1) Using npm webpack-merge  and environment variables to TARGET dev/prod in same co

[2015-12-28 06:35] gdi2290 commented on #182
I have this and https://github.com/AngularClass/angular2-webpack-starter/issues/174 done locally. I'm trying to make it easier and I may end up making 3 webpack configs `development`, `production`, and `test`

[2015-12-28 07:10] manavsehgal opened #183 "npm WARN prefer global marked@0.3.5 should be installed with -g"
Thanks for "almost perfect" ```npm install``` on Mac El Capitan. Markdown seems to be the only dependency generating a warning that it wants global install.

[code]

[2015-12-28 07:11] manavsehgal commented on #182
@gdi2290 Many thanks for your prompt response and action! Looking forward to pulling this change.

[2015-12-28 07:21] manavsehgal opened #184 "npm run build:prod WARNING in vendor.js from UglifyJs"
I get this warning most of the times I run build:prod, sometimes when I run build.

https://gist.github.com/manavsehgal/188a559ad5904d4db7a8

[2015-12-28 07:36] gdi2290 commented on #184
that's normal, the warnings are from dead-code elimination

[2015-12-28 08:27] manavsehgal commented on #184
ok. thanks. you may want to close this issue then.

[2015-12-28 08:27] #184 closed

[2015-12-28 08:44] manavsehgal opened #185 "Naming conventions + style guide and best practices"
In the spirit of following best practices for this starter. Any thoughts on naming conventions and style guide for Angular2, that this starter can follow?

Kind of like Angular2 version of the famous [johnpapa angular 1 style guide](https://github.com/johnpapa/angular-styleguide). I am sure many of the recommendations can be reused for Angular 2 with few changes.

Currently I notice following issu

[2015-12-28 08:46] gdi2290 commented on #185
yeah good idea I can start one

[2015-12-28 09:20] manavsehgal commented on #185
Great! I will be happy to contribute.

[2015-12-29 16:07] liampmccabe commented on #136
What about global styles, ones not tied to components?

Using `loaders: ["style", "css", "sass"]` works but throws errors preventing the app to run.

[2015-12-30 13:32] blackpr opened #186 "Webpack Configuration on virtual machine - vagrant"
So i have a dev-test server running on a vagrant machine and i had two problems

I can access the server from my host computer through an ip like ```http://192.168.33.10/```

When i run ```npm start``` i cannot connect from my host computer to
[code]
To fix this i added to ```webpack.config.js``` to devServer this option
```host: "0.0.0.0",```

The second problem is that when i change a file from

[2015-12-31 02:01] born2net opened #187 "Recommend merging with this massive new Angular 2 app"
Angular 2 is still young and finding examples online can be hard... So I decided to develop a "real" app... I am Happy to announce the release of ng2Boilerplate. This application was developed from scratch with Angular 2 and it's awesome.

Checkout the app: http://ng2.javascriptninja.io/
checkout the source: https://github.com/born2net/ng2Boilerplate

I recommend we marge angular2-webpack-starter

[2015-12-31 03:21] gdi2290 commented on #187
thanks, I checked it out. I slowly made the app and examples larger but that ended up confusing more people which is why the example app currently is trivial. I separated the examples that use to live in this repo out (they still need to be updated) so I can't merge anything more without more content about the repo

[2015-12-31 03:21] #187 closed

[2015-12-31 03:23] gdi2290 commented on #186
changing the host is a good idea. What are the defaults for watchOptions?

[2015-12-31 03:27] gdi2290 commented on #167
you probably have to remove Inline mode via `--inline` from package and manually include it with the correct protocol

[2015-12-31 03:27] #167 closed

[2015-12-31 03:30] gdi2290 commented on #177
I used my own polyfill for source maps and better universal module support. I'm going to close this since I'm also in the middle of changing the process for dist/ and production

[2015-12-31 03:30] #177 closed

[2015-12-31 03:33] gdi2290 commented on #136
please use `sass` to `raw` and avoid style unless you want global style support. There's another way to support global and still maintain the `raw` loader by removing encapsulation in the top-level component and requiring the css that should be global.

[2015-12-31 03:33] #136 closed

[2015-12-31 03:36] gdi2290 commented on #183
this is due to `typedoc` and I can't really do anything about it other than creating an issue in their repo

[2015-12-31 03:36] #183 closed

[2015-12-31 14:36] blackpr commented on #186
I think the polling option is disabled by default

[2016-01-02 16:26] liampmccabe commented on #136
If anyone else was a little confused to what @gdi2290 suggested:

`import {ViewEncapsulation} from 'angular2/core';`

[code]

[2016-01-03 02:53] gdi2290 commented on #182
done via https://github.com/AngularClass/angular2-webpack-starter/compare/cf4b3f2bf4fc74de37aa6af05a891d29c7c2d0a8...master

[2016-01-03 02:53] #182 closed

[2016-01-03 02:53] gdi2290 commented on #174
done via https://github.com/AngularClass/angular2-webpack-starter/compare/cf4b3f2bf4fc74de37aa6af05a891d29c7c2d0a8...master

[2016-01-03 02:53] #174 closed

[2016-01-03 02:54] gdi2290 commented on #130
I'm adding this to the readme so I'll close this

[2016-01-03 02:54] #130 closed

[2016-01-03 03:04] gdi2290 commented on #65
closing now. We have prod/dev with http-server

[2016-01-03 03:04] #65 closed

[2016-01-03 03:06] gdi2290 commented on #132
can you run `npm run clean:install`

[2016-01-03 03:08] gdi2290 commented on #180
I included dist folder so now you would build the repo into a dist/ with production mode. see changes https://github.com/AngularClass/angular2-webpack-starter/compare/cf4b3f2bf4fc74de37aa6af05a891d29c7c2d0a8...master

[2016-01-03 03:08] #180 closed

[2016-01-03 03:09] gdi2290 commented on #175
I would have to exclude `node_modules` and `typings` for it to work since there is a problem with protractors type definition

[2016-01-03 03:13] gdi2290 commented on #61
require('bootstrap.css'); goes in the top-level component with encapsulation set to None while require('bootstrap') goes in vendor.ts

[2016-01-03 03:13] #61 closed

[2016-01-03 03:13] gdi2290 commented on #119
done via https://github.com/AngularClass/angular2-webpack-starter/compare/cf4b3f2bf4fc74de37aa6af05a891d29c7c2d0a8...master

[2016-01-03 03:13] #119 closed

[2016-01-03 03:16] gdi2290 commented on #144
I included this into the readme via https://github.com/AngularClass/angular2-webpack-starter/commit/e3365834c2edd615aef9580d8d334ff80ecc4c88

[2016-01-03 03:16] #144 closed

[2016-01-03 03:40] gdi2290 commented on #186
I added `aggregateTimeout: 300` and `poll: 1000` via https://github.com/AngularClass/angular2-webpack-starter/compare/cf4b3f2bf4fc74de37aa6af05a891d29c7c2d0a8...master
Can you see if latest changes work and open this issue again id it doesn't

[2016-01-03 03:40] #186 closed

[2016-01-04 01:20] manavsehgal opened #190 "Production Build Routes Require 2 Clicks To Render Parent-Child Components"
This is a weird issue. I have added another set of parent-child components with routes configured as prescribed in starter. Works fine when I am running dev server (npm start).

However when I build:prod and serve:prod, the routes seem to require 2 clicks to show up content beyond first parent component referred to in the route. The first click seems to render only parent component until ```@Input

[2016-01-04 01:25] gdi2290 commented on #190
that's normal see https://github.com/angular/angular/issues/6160

[2016-01-04 01:41] manavsehgal commented on #190
Thanks for linking the issue with main angular repo. I am reading more issues of similar nature to get grips on this one. There needs to be a workaround, otherwise we cannot have a situation where nested components are not allowed using routes to parent. Will keep this thread updated with my findings.

[2016-01-04 02:16] gdi2290 commented on #190
can you push the repo to github so I can see what you're doing?

[2016-01-04 04:28] manavsehgal commented on #190
My main repo has a lot of unrelated code. I will setup something with simple parent-child components so we can focus on the problem. It will also help us test and isolate the issue.

[2016-01-04 04:29] gdi2290 commented on #190
yeah that would be awesome :+1:

[2016-01-04 07:31] manavsehgal commented on #190
Ok. Hope I have done this correctly. I have created a fork of your repo and pushed a new branch with sample code. https://github.com/manavsehgal/angular2-webpack-starter/tree/nestedcomp

I can replicate the above mentioned issue in this simple example.

[2016-01-04 07:43] gdi2290 commented on #190
I'm installing it now

[2016-01-04 07:46] maku opened #191 "problem with typings install on win7"
I did a fresh clone and than I have a problem with typings:
When I execute "typings install" I get the following error:

```typings ERR! message Missing dependency "es6-promise", unable to compile dependency tree```

I am on Win7 Prof with node v.4.2.4 and npm 2.14.12

[2016-01-04 08:31] gdi2290 commented on #190
@manavsehgal can you remove the `CommonsChunkPlugin` for `common` then it should work

[2016-01-04 09:18] manavsehgal commented on #190
Yes it works now. Many thanks.

[2016-01-04 09:18] #190 closed

[2016-01-04 13:15] vladotesanovic opened #192 "manifest.json"
In this file:
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/assets/manifest.json

Google chrome 47 ( tested on Ubuntu ) expect float instead of string in density key.

This is ok:
[code]

[2016-01-04 13:42] leshin opened #193 "Recommend use sass."

[2016-01-04 13:47] friksa commented on #193
+1

[2016-01-04 17:36] gdi2290 commented on #192
can you make a pull-request so I can merge it?

[2016-01-04 17:48] vladotesanovic commented on #192
yes, i did that.

[2016-01-04 17:58] #192 closed

[2016-01-04 19:25] gdi2290 commented on #190
the problem was how `CommonsChunkPlugin` and the order the polyfills were loaded from what I can see

[2016-01-04 22:00] qdouble opened #198 "Setting Input Decorators fails in production build, but not in development build"
There seems to be some sort of configuration bug as I set the input like this
[code]
It works perfectly fine when I do a development build. However when I build it in production mode, no errors are thrown during compiling. However, when I load it in the browser, browser.js throws an Uncaught TypeError... when I look at the trace it shows

[code]

The same bug occurs on every other directive that h

[2016-01-04 23:10] gdi2290 commented on #198
can use use `@Input('defaultColor')` and see if you have the same error?

[2016-01-05 00:43] manavsehgal commented on #198
Same as #190

[2016-01-05 00:54] manavsehgal opened #199 "Adding a UI framework"
This issue combines several prior issues around Scss/jQuery/Bootstrap integration.

Angular community has a choice of UI frameworks to consider. Bootstrap, Semantic UI, Ionic, Material UI... among others. Can we showcase (with sample components, webpack integration...) integration of one UI framework using best practices followed by the starter...
- Using Scss in modular way - selective UI framewo

[2016-01-05 00:59] manavsehgal commented on #193
Opened #199 consolidating UI/style related issues.

[2016-01-05 01:01] manavsehgal commented on #169
Opened #199 to consolidate these issues.

[2016-01-05 01:02] manavsehgal commented on #165
Opened #199 to consolidate these issues.

[2016-01-05 01:03] manavsehgal commented on #136
Opened #199 to consolidate these issues.

[2016-01-05 01:39] qdouble commented on #198
@gdi2290 It still gives the error (only in production, not dev).

@manavsehgal when I comment out CommonsChunkPlugin for common, it just moves up to vendor to being the file that calls the same error. If I comment out the plugin for vendor it just moves up to main.

It works without a problem in plunker, but not in production build: https://plnkr.co/edit/XBqIYu4aHyNi7TJtc5wH?p=preview

Every direc

[2016-01-05 01:40] gdi2290 commented on #198
oh yeah there was a problem with `CommonsChunkPlugin` for common that needs to be removed

[2016-01-05 01:43] qdouble commented on #198
Do I need to install a new version of that plugin or redownload this repo? This is the part I commented out on production config, let me know if I'm commenting out the wrong areas.

[code]

Still not working after commenting out either of the two or both of the above.

[2016-01-05 01:47] gdi2290 commented on #198
leave the vendor CommonChunk

[2016-01-05 01:48] gdi2290 commented on #198
you also want to move DedupePlugin  and OccurenceOrderPlugin to be first
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.prod.config.js#L106

[2016-01-05 02:43] gdi2290 commented on #193
yeah we can continue the convo at https://github.com/AngularClass/angular2-webpack-starter/issues/199

[2016-01-05 02:43] #193 closed

[2016-01-05 03:04] qdouble commented on #198
@gdi2290 The issue persists. I just did a clean install of the latest repo and the error is still there. There is still something wrong with the current build.

To reproduce error, all you have to do is...
1. Have latest repo installed.
2. Copy the template from app.ts into project app: https://plnkr.co/edit/XBqIYu4aHyNi7TJtc5wH?p=preview
3.  Copy the attributeSample.ts from above plunker and copy

[2016-01-05 06:48] leshin commented on #199
+1 Angular Material

[2016-01-05 07:27] gdi2290 commented on #199
I have a version of the repo with ng2-material working.  I ended up not merging it since there was a lot of overhead. I probably need to write a how to extend wiki

[2016-01-05 08:00] manavsehgal commented on #199
Writing a wiki to explain integration with various UI frameworks seems a good idea as well.

[2016-01-05 20:05] blakeembrey commented on #191
Thanks for the report, I'll look into improving this error messaging from within Typings and we can go from there.

[2016-01-06 04:05] blakeembrey commented on #191
@maku I just published `0.5.0` of `typings` and it'll contain better error messages when a dependency fails to resolve. Would you mind updating and giving it a go?

[2016-01-06 04:40] RemKolomna commented on #199
I vote for Material Design. Also It would very helpful to add authentication with UI. IMHO it is very useful in starter kits.

[2016-01-06 04:57] manavsehgal commented on #199
@RemKolomna Thanks for voting. Auth seems to be a separate thread, I agree an important one.

[2016-01-06 10:50] fesor commented on #199
I agree, there is not so many examples of how to implement it with angular. At least some strategies should be described in wiki.

[2016-01-06 11:28] maku commented on #191
@blakeembrey I will give it a try. But I can only do it at next monday.

[2016-01-06 21:39] shawnrmoss opened #201 "npm run build:dev getting errors on windows 7"
Ive cloned the repo and run npm install.  npm start does its magic and hosts a site for me at lh:3000, but when I try to build the app I get a bunch of errors.  Any help you can offer would be much appreciated.

λ npm run build:dev

'.' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.

[2016-01-06 21:42] gdi2290 commented on #201
@shawnrmoss can you download latest and try again

[2016-01-06 21:48] shawnrmoss commented on #201
I will try that for sure.  Thanks

[2016-01-06 21:57] shawnrmoss commented on #201
That fix it for me!  Great response time.  Thank you so much.

[2016-01-06 21:57] gdi2290 commented on #201
no problem thanks for opening an issue. open another one if you have any questions or problems

[2016-01-06 21:57] #201 closed

[2016-01-07 07:42] cuitianze opened #203 "chore(angular2 webpack starter): Uncaught TypeError"
when i run `npm run server:prod`,
![error](https://cloud.githubusercontent.com/assets/5918515/12165005/f9650df2-b554-11e5-9ed0-73ecd40dcc92.png)

My demo here:  https://github.com/cuitianze/learn-your-ng2

https://github.com/valor-software/ng2-bootstrap/issues/63

[2016-01-07 07:42] cuitianze commented on #203
https://github.com/valor-software/ng2-bootstrap/issues/63

[2016-01-07 08:10] gdi2290 commented on #203
can you update the prod config
[code]

[2016-01-07 08:53] cuitianze commented on #203
Thanks for updating webpack config

[2016-01-07 09:00] #203 closed

[2016-01-07 11:13] manavsehgal commented on #199
Official Angular guidance doc for ng-material 2. https://drive.google.com/open?id=1GGKUuyTayOjuF_58e3PqPINkKmnwqUNoCrCLbyxR_-A

[2016-01-07 17:53] gdi2290 commented on #198
can you update the prod config. see https://github.com/AngularClass/angular2-webpack-starter/issues/203

[2016-01-07 18:59] qdouble commented on #198
@gdi2290 thanks, it works great now :+1:

[2016-01-07 19:23] gdi2290 commented on #198
Thanks for opening an issue. If you have any more questions or problems feel free to open another one

[2016-01-07 19:23] #198 closed

[2016-01-08 09:35] samvloeberghs opened #206 "run webdriver:update/start automatically on e2e"
Hi,

Is it an idea to run webdriver:update/start automatically when running the e2e tests?
It is an dependency to it so it would be a good idea, right?

So:
npm run e2e
   -> ./node_modules/.bin/webdriver-manager update
   -> ./node_modules/.bin/webdriver-manager start
   -> ./node_modules/.bin/protractor

I also had the impression that protractor should automatically start and/or update webdriver

[2016-01-08 09:41] maku opened #207 "Dev workflow"
I am curious how to achieve my preferred development workflow with angular2-webpack-starter...
On every code change the whole linting, testing, server updating etc. should be done.
How do I run this things?  When I use the "server:dev" script, no testing is done....
(I am new with webpack, maybe this is the problem...)

[2016-01-08 14:49] samvloeberghs opened #208 "integrating angular2 translate fails"
Hi guys,

I'm trying to integrate angular2 translate as an addon to the starter kit but I'm facing some difficulties.
Check the issue here: https://github.com/ocombe/ng2-translate/issues/11

It's basically the assets/i18n folder not serving apparently?

Just asking if you guys have  a quick thought and answer to it before I dig into code.

Grtz

[2016-01-08 15:14] gdi2290 commented on #206
I can probably refactor the setup to also start the server and webdriver in one command

[2016-01-08 15:47] samvloeberghs commented on #206
One thing that is still on my mind is to automatically stop the webdriver after the e2e tests. I remember having troubles with that in the past. If I can help out with anything just shout out.

[2016-01-08 21:00] gdi2290 opened #209 "update to beta.1"

[2016-01-08 21:37] gdi2290 commented on #209
done via https://github.com/AngularClass/angular2-webpack-starter/compare/9ec832e5ff0cda6f398be85e5ad0185db0fda862...master

[2016-01-08 21:37] #209 closed

[2016-01-08 21:39] gdi2290 commented on #208
fixed via https://github.com/ocombe/ng2-translate/issues/11

[2016-01-08 21:39] #208 closed

[2016-01-09 09:26] xyNNN commented on #207
You only have to start the build tool with ```npm start```and the magic will follow :)

[2016-01-09 12:10] maku commented on #207
@xyNNN when you run ```npm start```not a single test is executed. What I want to achieve is that the karma tests should be executed (also on every code change) ...

[2016-01-09 13:19] xyNNN opened #210 "Include external dependencies"
Hey folks,

How I can include external typescript dependencies? For example i want to use the libxmljs library in a Angular 2 component (https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/libxmljs/libxmljs.d.ts). How I can reach this?

Thanks in advance.

[2016-01-10 06:08] gdi2290 commented on #210
`typings install libxmljs`

[2016-01-10 06:09] gdi2290 commented on #207
I see what you mean. At the moment the tests are only run once but I should also include a watch version of tests

[2016-01-10 06:18] maku commented on #207
@gdi2290 I investigated a little bit and oddly enough I don't found out how do run the tests in course of the webpack watch mode (or build in general). Thought in times were everybody in the javascript world talks about the importance of testing, it is "best practice" to run the tests on every code change...

[2016-01-10 06:23] gdi2290 commented on #207
I think you might be looking for
https://github.com/AngularClass/angular2-webpack-starter/blob/master/karma.conf.js#L56
and
https://github.com/AngularClass/angular2-webpack-starter/blob/master/karma.conf.js#L64

[2016-01-10 06:35] maku commented on #207
I am aware of this. But would it not be right in the other way around... Maybe I am wrong but I thought it should work like linting (with a preloader or so)....

[2016-01-10 20:56] xyNNN commented on #210
Thanks for your quick reply! And afterwards? How I can use this in my component? For example How can I add this as dependency to my component?

These are my first steps with TypeScript :)

Thanks in advance!

[2016-01-10 20:57] gdi2290 commented on #210
include in vendor.ts and import it in your component file or create a service that will wrap it

[2016-01-10 21:03] xyNNN commented on #210
When I install the dependency via typings I get the following error, what does it mean?
[code]

[2016-01-10 22:18] geraldpereira opened #211 "Using ng2-material variables in scss file?"
I started from the angular2-webpack-starter and added [ng2-material](https://github.com/justindujardin/ng2-material):

* I changed my webpack configuration to handle sccs files,
* I created an index.scss file in assets to import ng2-material:

[code]

So far it's working good, but I want to use ng-material scss variables in my components styles.

I changed the Home component to use a home.scss fil

[2016-01-10 22:18] gdi2290 commented on #210
if you read the error it's saying you need `--ambient` flag

[2016-01-11 06:47] maku commented on #191
@blakeembrey With the latest angular2-webpack-starter version (after a fresh clone) the reported error is the same ```typings ERR! message Missing dependency "es6-promise", unable to compile dependency tree```

[2016-01-11 08:23] blacksails commented on #178
I would really like an example of doing this with webpack as well.

@antonybudianto I just checked out your angular 2 starter, it looks awesome.

[2016-01-11 09:37] MurhafSousli opened #212 "How can I integrate jquery in the project?"
I'm new to webpack, I want to add **materlizecss** script which is dependent on **jquery**, I searched  *webpack.config* file to see how you added *angular* and *rxjs* and do the same for **materlizecss** and **jquery**, but I couldn't figure it out.
Where did you give their paths to webpack? and how can I add my desired scripts?

Thank you.

[2016-01-11 10:47] MurhafSousli commented on #199
I vote for angular2 material

[2016-01-11 10:53] MurhafSousli commented on #211
@geraldpereira How did you integrate ng2-material with the project, I'm pretty noob to webpack

[2016-01-11 11:20] antonybudianto commented on #178
you may create new npm script to use the remap-istanbul command line, just make sure the sourcemaps and `coverage-final.json` are ready.

[2016-01-11 12:06] blacksails commented on #178
Hmm im having trouble getting remap-istanbul to find the sourcemaps. I suspect it has something to do with karma-webpack, and the fact that spec-bundle.js sourcemaps are not saved.

[2016-01-11 12:35] geraldpereira commented on #211
@MurhafSousli I have a repository with ng2-angular: [https://github.com/geraldpereira/twitter-login/tree/master/client](https://github.com/geraldpereira/twitter-login/tree/master/client)

I used this [issue](https://github.com/AngularClass/angular2-webpack-starter/issues/136) to handle scss file (you can check [webpack.config.js](https://github.com/geraldpereira/twitter-login/blob/master/client/we

[2016-01-11 13:24] xyNNN commented on #210
I have installed the libxmljs library with the --ambient option - Afterwards I included the libxmljs library in my ```vendor.ts```like the following.
[code]

After that I ran again the npm start command and get the following error
[code]

[2016-01-11 15:35] dannmartens commented on #191
I'm seeing a different error, which looks like an issue with 'typings' itself.

It seems to be caused by a proxy which intercepts the SSL certificate. Typings supports a proxy config as of late, should it have strict-ssl, as well?

typings ERR! message Unable to resolve "github:typings/typed-es6-promise#9243c53f70fb4909ed7cce3094bec221b9fb6d5f"

typings ERR! caused by Unable to connect to "https:/

[2016-01-11 17:40] blakeembrey commented on #191
@maku Can you please try with the latest typings version - the error message should be clearer.

@dannmartens Feel free to open an issue on `typings`.

[2016-01-11 17:45] gdi2290 commented on #210
if I"m not mistaken the module in question has node bindings written in c++ and this repo is bundle for the browser

[2016-01-11 20:15] xyNNN commented on #210
That means that I can't use this library in the browser context?! I'm very new to typescript, especially handling their dependencies - Thank you very much for your help :)

[2016-01-11 20:16] gdi2290 commented on #210
I think `libxmljs` was only ment to be used on the server (node.js)

[2016-01-11 20:19] xyNNN commented on #210
Okay, It make sense. In the repository from the Typescript package manager I can only find two libraries to solve my problem (libxmljs and xml2js) - But no one of these works for me ... any other possibilities? :)

[2016-01-11 20:21] gdi2290 commented on #210
if you're looking for an xml parser make sure it's written in javascript or if the bindings also provides javascript only support

[2016-01-11 20:35] shawnrmoss opened #213 "Errors in IE 10/11"
I started with a fresh clone of the repo. Then ran
- npm install : works great.
-npm run start : builds the app and runs at localhost:3000://

Works fine in Chrome, Opera, and Firefox and Edge.  But I get this error running it in IE 10 and IE 11.

Any help with this would be greatly appreciated.

Thanks in advance!

 EXCEPTION: SyntaxError: The use of a keyword for an identifier is invalid
STACKTR

[2016-01-11 21:09] alvipeo commented on #213
Same here.

[2016-01-11 21:17] alvipeo opened #214 "Using Bootstrap 3 - jQuery not defined"
I'm pretty new to webpack and I'd like to use Bootstrap 3. So I added bootstrap and jquery typings to the project but when I add

    import 'bootstrap';

and then npm start server I get

**'jQuery' is undefined (in console)**

Could anyone help?

[2016-01-11 21:18] gdi2290 commented on #214
you can also install and include jQuery

[2016-01-11 21:31] alvipeo commented on #214
ok, found out. Just changed plugins section in webpack.config.js (added ProvidePlugin):

    plugins: [
        new CommonsChunkPlugin({ name: 'vendor', filename: 'vendor.bundle.js', minChunks: Infinity }),
        // static assets
        new CopyWebpackPlugin([{ from: 'src/assets', to: 'assets' }]),
        // generating html
        new HtmlWebpackPlugin({ template: 'src/index.html', inject: fa

[2016-01-11 21:43] gdi2290 commented on #214
ya that shouls work

[2016-01-11 21:53] xyNNN commented on #210
Thank you very much so far! I think that now I know what I've to do ;)

[2016-01-11 22:01] #210 closed

[2016-01-11 22:02] gdi2290 commented on #210
alright, feel free to open another issue if you have a question or problem :+1:

[2016-01-11 23:17] #214 closed

[2016-01-11 23:40] alvipeo opened #215 "How to use Bootstrap 4 and Sass (and jQuery)"
ok, I'm not a pro neither in webpack nor any of these new shiny 0.x.x version tech YET, so... But just in case someone would need it, here's how I got Bootstrap 4 (alpha now) + sass working:

1. npm install bootstrap-loader --save
2. npm install jquery --save
3. npm install bootstrap@4.0.0-alpha.2 --save
4. npm install css-loader node-sass resolve-url-loader sass-loader style-loader url-loader --s

[2016-01-11 23:51] gdi2290 commented on #215
thanks I added it to the FAQ and in the wiki https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)

[2016-01-11 23:51] #215 closed

[2016-01-12 01:45] manavsehgal commented on #212
Opened #199 consolidating UI/style related issues.

[2016-01-12 01:45] manavsehgal commented on #211
Opened #199 consolidating UI/style related issues.

[2016-01-12 01:47] talmog opened #216 "Build and deploy"
First of all, thank you so much for this repo, it is great!

I have run npm run build:prod, and I am seeing index.html, main.version.bundle.js, vendor.version.bundle.js and assets.

I have uploaded all of it to AWS S3, but when I load the file in the browser I am getting errors for missing views (templateUrl: './src/app/module/module.component.html') for example.
Should I upload the html files? sh

[2016-01-12 01:48] gdi2290 commented on #216
can you use require for templateUrl, for example.
[code]

[2016-01-12 01:49] manavsehgal commented on #199
Thanks for adding Wiki on [Bootstrap 4 integration](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery))

[2016-01-12 01:58] gdi2290 commented on #213
I took the time to download a windows VM and seen the same error :/ I'm not too sure how to fix it. I think it might even be due to the recent beta.1 release. Can you revert to beta.0 and see if you run into the same error

[2016-01-12 02:14] shawnrmoss commented on #213
Yep that did it!  Thanks so much.

[2016-01-12 03:09] nolazybits commented on #213
I had the same problem and reverting to beta.0 fixed it. Thanks!

[2016-01-12 06:41] maku commented on #191
@blakeembrey After updating typings (current version is 0.6.1) I get the following:
[code]

[2016-01-12 07:01] manavsehgal commented on #212
Can be closed based on instructions in [wiki](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery))

[2016-01-12 07:06] #212 closed

[2016-01-12 13:01] mengxiw opened #217 "The issues when i run 'npm run e2e'"
The other steps can run, but when i run 'npm run e2e'. The following is error details.

[launcher] Running 1 instances of WebDriver
Started
FFFF

Failures:
1) App should have a title
  Message:
    Expected '???? http://localhost:3000/' to equal 'Angular2 Webpack Starter by
 @gdi2990 from @AngularClass'.
  Stack:
    Error: Failed expectation
        at Object.<anonymous> (C:\Users\Administrator.X

[2016-01-12 13:18] yaroslavya opened #218 "Exception when running in a prod mode"
I made git clone to make sure I have the newest version. Then executed the following

`npm run postinstall`
`npm run build:prod`
`npm run server:prod`

I see the following error in the console after opening the solution in chrome/firefox: "EXCEPTION: No Directive annotation found on t"

stacktrace:

vendor.21ec1defc4f632521815.bundle.js:15 Error: No Directive annotation found on t
    at new e (ht

[2016-01-12 14:08] mark-norgate opened #219 "Requiring SASS in Angular 2 components with webpack"
I am trying to require my SASS in my components, like this:
[code]

but my browser is complaining: `EXCEPTION: TypeError: s.replace is not a function`

I previously had the require outside of the component definition and it worked fine; but now I have another component I have to put the styles inside the components.

I have the correct loaders going on for SASS:
[code]
What am I doing wrong?

[2016-01-12 14:09] BaggersIO commented on #218
I just ran into the same issue.

[2016-01-12 14:16] binarious commented on #132
Had the same error on CentOS 7 (node v4.2.1, npm v3.5.4)
`npm run clean:install` fixed it for me. Thanks @gdi2290.

[2016-01-12 15:09] mastertinner commented on #218
+1

[2016-01-12 18:14] talmog commented on #216
Thank you,
I am not ignoring the answer, just trying to make it work... it breaks the regular serve right now so I will comment here if I figure it out or if it fails.

[2016-01-12 18:27] davidarnarsson commented on #219
Have you tried calling .toString()? As in, `styles: [ require('../sass/signup.scss').toString() ]` ?

I did something similar for stylus, using the css-loader.

[2016-01-12 18:40] abdulhaq-e commented on #219
Change the `loaders` to:

[code]

[2016-01-12 18:55] talmog commented on #216
ok, that worked to a certain point. originally I used
    templateUrl: require('module.component.html')
but noticed you wrote
    template: require('module.component.html')

So it runs on dev, but now I get this error when I upload it to S3:

EXCEPTION: RangeError: Maximum call stack size exceeded
browser_adapter.js:76 EXCEPTION: RangeError: Maximum call stack size exceedede.logError @ browser_ada

[2016-01-12 19:11] talmog commented on #216
looking at this similar issue: https://github.com/angular/angular/issues/5964 I am wondering if we need to remove zone.js from vendor.ts

[2016-01-12 19:41] gdi2290 commented on #218
this is a problem with beta.1 see workaround https://github.com/AngularClass/angular2-webpack-starter/commit/893d421b76bb3ded85fba3fb1cbbb8cefa57079d

[2016-01-12 19:42] gdi2290 commented on #217
you need to have webdriver running

[2016-01-12 20:18] jgodi opened #220 "WebPack2?"
Are there any plans to use webpack 2?

[2016-01-12 20:36] gdi2290 commented on #220
yeah I can add it as a branch. I'm holding off only because there are more plugins available for 1.x

[2016-01-12 20:37] jgodi commented on #220
I am just curious on the performance improvements and that. Thank you! :+1:

[2016-01-12 20:40] gdi2290 commented on #220
there are some problems since we need to tell TypeScript not to compile the es6 modules (to get the benefits) or Compile to ES6 then get Babel to compile to ES5 or use a commonjs to es6 convert plugin. There won't be ny performance improvements unless the module/code is using ES6 modules so it can do tree shaking

[2016-01-12 20:50] blakeembrey commented on #191
@maku That's a much better error, thank you! Are you behind a proxy at all? Sounds like it might be related to https://github.com/typings/typings/issues/106, if so.

[2016-01-12 20:53] mastertinner commented on #218
thanks a lot, @gdi2290! that fixed it.

[2016-01-12 20:58] mastertinner opened #221 "How to include socket.io-client"
I tried to include `socket-io.client` by adding `import 'socket.io-client';` to the end of `vendor.ts` and running `npm install --save socket.io-client` but that didn't do the trick... Can you give me a hint on what else I have to do to use it in my app?

[2016-01-12 22:09] panKt opened #222 "Super slow after update to latest version"
I just updated to latest version of angular2-webpack-starter and it is super slow comparing to much older version that used ts-loader@0.5.x. Is there a way to make it as fast as it was?

[2016-01-13 05:51] gdi2290 commented on #222
there might be an issue about it on ts-loader can you make it there? the other problem might be tslint running
https://github.com/AngularClass/angular2-webpack-starter/blob/4ac54d4e986a7073c95bb32a20394374fd85e900/webpack.config.js#L51

[2016-01-13 12:01] mark-norgate commented on #219
Thank you @davidarnarsson , that works. And @abdulhaq-e I tried implementing your suggested change but it ruined my layout unfortunately. The problem now remains that both styles are being loaded on both pages.

The main problem is the background colour, which is different for both components. I have this:
[code]
but the `background-color` for each component is the same, even though I am specifyin

[2016-01-13 20:28] panKt commented on #222
@gdi2290, that line I commented once I first time ran a project :)
Actual problem is here and there is no solution yet even from author of loader https://github.com/TypeStrong/ts-loader/issues/78#issuecomment-171078918

in older version of ts-loader 0.5.2 it took <1 sec to rebuild, in new version it takes ~5sec :(

[2016-01-14 08:44] manavsehgal commented on #219
Opened #199 consolidating UI/style related issues.

[2016-01-14 10:18] piernik opened #223 "Error in phpStorm"
After making all in Quickstart in phpStorm I have marked one error
In `main.ts` file in line `import {App} from './app/app';` I have `App` marked with info `Coresponding file is not included in tsconfig.json`

What's that?

[2016-01-14 11:39] piernik opened #224 "Testing - imported module - not exists"
I'm new to webpack, karma, tslint and so on, but find Your seed great and want to use it in designing my angular modules.
So I have questions. Here is first:
In my project I've installed `angular2-jwt` module (using npm so it's in `node_modules` folder).
In `localhost:3000` everything works but when I hit `npm test` I have error ` Error: Cannot find module "angular2-jwt/angular2-jwt"`
I suppose I

[2016-01-14 12:15] ibufu opened #225 "{%= o.webpackConfig.metadata.title %},what this is?"
sorry , what template {% %}  ？

[2016-01-14 12:41] valorkin commented on #225
this is https://github.com/ampedandwired/html-webpack-plugin

[2016-01-14 12:41] #225 closed

[2016-01-14 16:47] gdi2290 commented on #225
I'm planning on replacing it with Angular2 syntax in the future

[2016-01-14 16:51] gdi2290 commented on #223
PhpStorm wanted you to list the file in tsconfig.json

[2016-01-14 18:14] lzbgt opened #226 "package.json is missing some dev dependencies"
full deps should be as below:
[code]

[2016-01-14 18:15] lzbgt opened #227 "under windows - ERROR in HtmlWebpackPlugin: template error TypeError: tmpl is not a function"
CLARIFICATION:
1. the test was not taken under cygwin terimimal, but the native windows cmd prompt.
2. envs:
[code]

The error screen:
[code]

[2016-01-14 18:22] gdi2290 commented on #226
can you make a pull-request

[2016-01-15 01:33] ApiStack commented on #226
PR created: patched with full dev deps #228

[2016-01-15 01:34] ApiStack commented on #226
apistack is another accout of lzbgt@126.com

[2016-01-15 01:43] gdi2290 commented on #226
@ApiStack so did you run into an error without these are were these mentioned as hidden modules or something?

[2016-01-15 02:21] lzbgt commented on #226
@gdi2290
Just tested under OSX, the webpack runs without any error. But don't know why it fails on windows.

[2016-01-15 02:55] gdi2290 commented on #226
it could also be the version of node/npm

[2016-01-15 02:57] lzbgt commented on #226
@gdi2290, the vendor bundle is too big for use, any idea to make it succinct?
[code]

[2016-01-15 02:58] ibufu opened #229 "Should i add the name of .ts to tsconfig.json,when i create a new .ts?"
should i add the name of .ts to tsconfig.json,when i create a new .ts?

[2016-01-15 03:01] #229 closed

[2016-01-15 03:07] gdi2290 commented on #226
The Angular team is working on better ways to lower the bundle size. For example, the compiler could be removed from the bundle as well Rx modules that aren't used. Because the framework is still in beta the problem was pushed back until now so I'm sure every new release will be improving the bundle size.

[2016-01-15 06:10] kilmister commented on #140
Not exactly sure what you're looking for, but check [this out](https://github.com/kilmister/Electron-Angular2).

[2016-01-15 06:11] gdi2290 commented on #140
I need to write a wiki page for the repo. closing for now since there are other repos atm

[2016-01-15 06:11] #140 closed

[2016-01-15 06:12] gdi2290 commented on #132
if `npm run clean:install` doesn't work can you open another issue so closing this for now

[2016-01-15 06:12] #132 closed

[2016-01-15 06:13] gdi2290 commented on #175
entry files are now the only files other than spec files which needs to be fixed too. Closing for now

[2016-01-15 06:13] #175 closed

[2016-01-15 06:15] gdi2290 commented on #227
this might be a problem with the template location
https://github.com/AngularClass/angular2-webpack-starter/blob/4ac54d4e986a7073c95bb32a20394374fd85e900/webpack.config.js#L86

[2016-01-15 06:17] gdi2290 commented on #223
you may need to manually specify each `.ts` file inside of `tsconfig.json` `files: []`. I'm going to close this for now unless it's not working please comment or reopen the issue

[2016-01-15 06:17] #223 closed

[2016-01-15 06:18] gdi2290 commented on #219
closing for https://github.com/AngularClass/angular2-webpack-starter/issues/199

[2016-01-15 06:18] #219 closed

[2016-01-15 06:20] gdi2290 commented on #217
you need 3 terminals open.
make sure you have we webdriver running
https://github.com/AngularClass/angular2-webpack-starter#run-webdriver-for-end-to-end
and the server
https://github.com/AngularClass/angular2-webpack-starter#server
and finially protractor
https://github.com/AngularClass/angular2-webpack-starter#run-end-to-end-tests
I'm closing this for now. You can reopen the issue or open another

[2016-01-15 06:20] #217 closed

[2016-01-15 06:20] gdi2290 commented on #211
closing for https://github.com/AngularClass/angular2-webpack-starter/issues/199

[2016-01-15 06:20] #211 closed

[2016-01-15 06:22] gdi2290 commented on #224
you might need to update the test files if you're using the angular2-jwt within your application. I'm going to close this for now but feel free to comment more or reopen the issue

[2016-01-15 06:22] #224 closed

[2016-01-15 07:49] maku commented on #191
@blakeembrey Yes, I am behind a proxy.

[2016-01-15 08:17] piernik commented on #223
Got it working and I think You could make a change in tsconfig file.
Your file has:
[code]

When I deleted theese lines:
[code]

IDE was working good.
I think You should delete them also from seed.
Those files are mentioned in `fliesGlob`.
Another point is that when I deleted those files from project (they are example files) I got error running npm tasks.

[2016-01-15 08:19] piernik commented on #224
But update how and which file?

[2016-01-15 09:53] samvloeberghs commented on #206
adding it to the protractor config seems to start & stop it automatically

  seleniumServerJar: "node_modules/protractor/selenium/selenium-server-standalone-2.48.2.jar"

I shall do some testing / modification and create a PR if I succeed

[2016-01-15 10:45] qdb commented on #213
https://github.com/angular/angular/issues/6501

[2016-01-16 10:03] zainul-realtime opened #230 "Big size vendor js"
I have clone the repo and then follow the instruction, well done the app run. But i see something is too big too load is vendor js when i npm start and run vendor js have 5 MB size, i have read the issue #158 and i follow it but unfortunately the size still big  ? have any idea to make small size ?

please help , i am run angular2 in new project

Thanks

[2016-01-16 11:00] zainul-realtime commented on #230
Solve with follow #158 i think before it i miss typo , sorry . but i have one question why output common js is big ? and then common js downloaded at the begining, in another angular2 starter is minimalist to load , why this starter not use minimum content to load?

[2016-01-16 21:45] phil-lgr commented on #218
+1 thanks @gdi2290 for the workaround

[2016-01-17 15:23] RemKolomna opened #231 "How to include jquery with typings"
I added jquery to this starter using instructions from this link https://github.com/AngularClass/angular2-webpack-starter/issues/215
But I have TypeScript errors like this:
TS2339: Property 'ajax' does not exist on type 'cssSelectorHelper'. or
TS2339: Property 'mousedown' does not exist on type 'ElementFinder'.
In all places where I access $ variable

I have tried adding jquery.d.ts to files secti

[2016-01-17 16:40] gdi2290 commented on #231
`typings install jquery --save`

[2016-01-17 17:02] RemKolomna commented on #231
I got an error:
typings ERR! message Unable to find "jquery" in the registry. Maybe you want to install ambient definitions using "--ambient"? Alternatively, if you can contribute this typing, please help us out: https://github.com/typings/registry

PS: I downloaded jquery.d.ts manually from DefinetlyTyped and put this files to typings folder

[2016-01-17 17:35] RemKolomna commented on #231
Should I use an ambient option? I have read in blakeembrey blog, that he advises against using ambient modules http://blakeembrey.com/articles/2015/11/state-of-typescript-packaging/

[2016-01-17 18:34] abdulhaq-e commented on #231
Look at the end of `jquery.d.ts`, change the exported var from `$` to `jQuery`, that should solve your problem.

[2016-01-17 20:50] blakeembrey commented on #231
@RemKolomna can you share what you're doing right now. To install from DefinitelyTyped, you can do `typings install jquery --ambient --save` - it's better to use non-ambient modules where available, but jQuery has already been typed so you might as well make use of it :smile:

As for the additional issues, I know Angular has some binding so the global `$` so you might have to do something there. I

[2016-01-17 21:41] abdulhaq-e commented on #231
@blakeembrey

As for the additional issues, I know Angular has some binding so the global $ so you might have to do something there. If you can provide a link I can quickly review what you've done, that'll make it easier.

Indeed it does, I solved it by changing [L3200](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/jquery/jquery.d.ts#L3200) from:

[code]

to

[code]

The problem w

[2016-01-17 23:09] blakeembrey commented on #231
Awesome, makes sense. What we can do in Typings is turn jQuery into an external module and allow installation, just need someone to maintain that :+1: As for the reset, you don't **have** to use Typings to install it. I usually make a `custom_typings/` directory and put stuff in there, which I then include in `tsconfig.json`. Typings itself follows this: https://github.com/typings/typings/blob/mas

[2016-01-18 01:08] zainul-realtime commented on #158
why common js is big size ? its downloaded to client side, its probably make slow  ?

[2016-01-18 08:19] RemKolomna commented on #231
Thanks! I added jquery to custom_typings, change to export = jQuery; and everything is ok now!

[2016-01-18 08:19] #231 closed

[2016-01-18 08:24] RemKolomna opened #232 "Serving assets in npm start"
I added to this starter image to /src/assets/img/test.png
After launching "npm start" the address
localhost:3000/assets/img/test.png is inaccessible, but address
localhost:3000/src/assets/img/test.png is working.

Which url should I set in image tag inside my html template?

[2016-01-18 11:57] piernik commented on #224
But update how? Which file? Give me some clues

[2016-01-18 15:10] phil-lgr commented on #232
+1, was fighting to get fonts being loaded from `url()` in my css.

[2016-01-18 16:41] gdi2290 commented on #232
the assets folder should be copied over to `dist/assets` and serving `dist` for example we;re using `/assets/` for the icons https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/index.html#L13...L25

[2016-01-18 17:46] RemKolomna commented on #232
1)So I need to copy /src/assets/ to dist/assets manually each time I change smth in assets folder?
2)What do you mean by serving dist? Should I change server:dev command in package.json to serve dist folder instead of root folder? Will hot reload be working then?

[2016-01-18 22:08] valorkin commented on #218
thanks a lot! :)

[2016-01-18 22:56] gdi2290 commented on #218
oops, I'm going to keep this open for others to see

[2016-01-19 09:28] arozwalak opened #233 "problem with current route name from Router.hostComponent.name"
No matter if I'm using HashLocationStrategy or PathLocationStrategy once I build production version using `npm run build:prod` when I get route name from `this.router.hostComponent.name` all names are changed to 'n'

[2016-01-19 12:48] tmramo commented on #232
Hi,

I am experiencing the same issue as RemKolomna.

Downloaded a (fresh) Webpack starter, installed it by running ‘npm install’ (with no issues at all). I started it with ‘npm start’ with Webpack reporting that the bundle is valid. When accessing localhost:3000, I cannot access the icons:

http://localhost:3000/assets/icon/favicon-16x16.png -> 404
http://localhost:3000/src/assets/icon/favicon-16

[2016-01-19 13:53] antonmoiseev opened #234 "Add CompressionPlugin"
What do you think about adding [CompressionPlugin](https://github.com/webpack/compression-webpack-plugin)? I usually statically compress the build assets during the build rather than dynamically on a Web server, it has a couple of advantages:

1. Saves computation resources on the server
2. Simplifies a bit the Web server configuration - no need to configure threshold, ratio, buffers (nginx-specif

[2016-01-19 14:55] gdi2290 commented on #234
good idea! can you make a pull-request for the prod webpack.config?

[2016-01-19 15:06] antonmoiseev commented on #234
Sure, will do. The plugin doesn't allow configuring the compression level, the default one I believe is 6. To enable level 9 it requires a [tiny wrapper function](https://github.com/antonmoiseev/ng2-dart-vs-ts/blob/master/ts/webpack.config.js#L56-L58) around zlib which _slightly_ complicates the build script. Which level you would prefer?

[2016-01-19 16:38] maku opened #235 "refactoring of webpack config files"
Currently there are many redundant definitions in the webpack config files....

From my point of view it would be a good idea to refactor it and to abstract this redundant definitions

[2016-01-19 16:54] antonmoiseev opened #236 "Get rid of require() in vendor.ts"
Currently `vendor.ts` uses `require()` to import the `enableProdMode` function from `angular2/core`:
[code]
Can we combine the function import together with the ES6 import statement below in the file?
[code]
My understanding is that all required objects from `angular2/core` still will be bundled since the application code explicitly imports everything it needs. However I lack the knowledge of Webp

[2016-01-19 16:56] antonmoiseev commented on #235
As a part of this issue could we also consider sharing the common configuration among the Webpack config files?

[2016-01-19 20:54] #234 closed

[2016-01-20 02:25] manavsehgal commented on #235
I like this implementation for sharing common definition and reducing redundant code. http://survivejs.com/webpack_react/building_kanban/ uses https://github.com/survivejs/webpack-merge

[2016-01-20 03:21] gdi2290 commented on #236
this works but I was trying to be more consistent showing that modules where we want to toggle features per enviroment should use require

[2016-01-20 03:31] manavsehgal commented on #199
Just started coding a sample app forking this starter. Demo use of sass/scss at app level and component level (see [landing](https://github.com/manavsehgal/AngularPages/tree/master/src/app/landing) component). Simple example introducing theming and flexbox layouts using scss. https://github.com/manavsehgal/AngularPages

[2016-01-20 05:27] gdi2290 commented on #233
that's probably due to minification. `hostComponent` is a refernce to the class and when it's minified the `.name` is converted to the minified name

[2016-01-20 07:03] ackzell commented on #215
Hey @alvipeo, thanks a lot for sharing how to do this.

I noticed something (and maybe is that I'm just tired) with a couple of the classes I'm trying to apply, namely ```btn-success-outline``` and ```pull-xs-right```, these don't seem to get applied to the elements I am working with. Do you happen to have gone through this as well?

[2016-01-20 10:05] antonmoiseev commented on #236
I see. Frankly I'd rather do not mix different module format styles in an app unless there is no way to avoid `require()`. But please feel free to close the issue if you are not looking into changing this.

[2016-01-20 12:23] martinoppitz commented on #232
Does anyone know why the whole src directory is accessible under dist?

**The CopyWebpackPlugin does nothing!**

[2016-01-20 14:52] ps2goat commented on #213
+1, but we're having issues with the beta.0 lifecycle hooks not firing correctly in IE 10/11.  Works fine in Chrome.

[2016-01-21 02:38] ackzell commented on #215
I figured it out, it is loading Bootstrap version 3, not 4 as I intended.

From https://github.com/shakacode/bootstrap-loader/

You need to have a .bootstraprc that explicitly uses version 4, like so:

https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-4-default

This fixed it for me.

[2016-01-21 09:35] rvalimaki commented on #215
I'm quite sure that I carefully replicated all above steps, and still the production build fails:

c:\path\to\angular2-webpack-starter\node_modules\webpack-md5-hash\plugin\webpack_md5_hash.js:27
            var source = chunk.modules.sort(compareModules).map(getModuleSource).reduce(concatenateSource);
                                                                                 ^

TypeError: Re

[2016-01-21 09:53] Znow commented on #215
When following the above guidelines, im getting:

[code]

Tried googling like hell, looking through issues etc, nothing.

[2016-01-21 13:32] ollwenjones commented on #215
@Znow I'm not using this setup, but boostrap 4 is written in ES6, so I'm guessing the babel is a dependency of the bootsrap loader. You have it npm installed as a dev dependency?

[2016-01-21 16:05] martinoppitz commented on #185
@gdi2290 assign this ticket to me.

[2016-01-21 16:08] ackzell commented on #215
What version of node are you using @Znow ? I think I upgraded my node version and that fixed it. (you could use something like nvm if you are able to so you avoid the risk of breaking something by upgrading your node)

[2016-01-21 16:23] Znow commented on #215
@ackzell Just updated node to latest, now I get another error:

![image](https://cloud.githubusercontent.com/assets/265719/12486594/9ce75354-c063-11e5-9a45-b2341651d112.png)

Along with this in Chrome DevTools:

![image](https://cloud.githubusercontent.com/assets/265719/12486610/ad26e43c-c063-11e5-9ff9-aa25de440712.png)

[2016-01-21 16:30] ackzell commented on #215
@Znow I didn't encounter that, sorry. Maybe removing the ```node_modules``` folder and ```$ npm install``` again?

[2016-01-21 20:57] dsebastien commented on #199
+1 for Angular material :)

[2016-01-21 21:41] dsebastien commented on #185
At work we've just started investing in AngularJS (time pressure), but since Angular 2 is just around the corner, we're trying hard to make things easier when we decide to upgrade/migrate.

As far as I can see for now, I think that AngularJS 1.5 apps written in TypeScript can share a (partly) common style guide (e.g., folder structure, folder-per-feature idea, focus on componentization, usage of c

[2016-01-21 21:43] gdi2290 commented on #185
@dsebastien I'm interested if you can that would help everyone in the Angular community

[2016-01-22 00:49] gdi2290 commented on #215
Cannot find module is a typescript error where you should provide type definitions for the module. you can also declare the module it as type any. I should probably add a note about this

[2016-01-22 02:53] gdi2290 commented on #227
@lzbgt I'm going to close this. can you install the repo again? I included more deps just incase they were not installed. you can open another issue or comment here

[2016-01-22 02:53] #227 closed

[2016-01-22 02:54] manavsehgal commented on #185
@dsebastien @gdi2290 Let us start a wiki page for documenting the naming conventions. We can use this thread to report issues or debate alternatives.

Agree with @dsebastien that we can reference existing conventions so it is easy for folks migrating over from Angular1.

Where missing, we can also lookup other best practices - like [API naming conventions from Apigee](https://pages.apigee.com/rs/a

[2016-01-22 02:54] gdi2290 commented on #224
see https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/custom_typings.d.ts I'm going to ask `angular2-jwt` to include type definitions

[2016-01-22 02:56] gdi2290 commented on #215
when you see the error `Cannot find module x` you need to include the type definition. see https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/custom_typings.d.ts

[2016-01-22 03:00] manavsehgal commented on #215
Referencing in #199, consolidating UI/style related issues.

[2016-01-22 03:01] gdi2290 commented on #185
I created a wiki page here https://github.com/AngularClass/angular2-webpack-starter/wiki/Best-Practices I'll update next week so if you guys can update it before then it would be awesome to see everyone opinion first

[2016-01-22 03:05] manavsehgal commented on #199
Quick count on votes, wiki and issues:

**Angular Material** = 5 votes > **Bootstrap 4** = 1 wiki, 2 issues > **Semantic UI** = 1 vote
**Sass/Scss** = 5 issues > **Less** = 1 issue

[2016-01-22 03:07] gdi2290 commented on #199
I rather include instructions on how to install either one than force developers to start off with one

[2016-01-22 04:38] ibufu opened #241 "When I run 'build:prod',there were some WARNING about UglifyJs"
WARNING in vendor.b9e9e21a697cd23b53fc.bundle.js from UglifyJs
Condition always false [./~/tslint-loader!./src/vendor.ts:7,4]
Dropping unreachable code [./~/tslint-loader!./src/vendor.ts:9,2]
Condition always true [./~/tslint-loader!./src/vendor.ts:14,4]
Condition always true [./~/es7-reflect-metadata/dist/browser.js:2,0]
Dropping unreachable code [./~/es7-reflect-metadata/dist/browser.js:4,0]
Sid

[2016-01-22 04:47] gdi2290 commented on #241
That's normal. It's dead code elimination

[2016-01-22 04:47] #241 closed

[2016-01-22 09:10] pashaie opened #242 "how to integrate with Wallaby.js"
Have any one tried to use wallaby.js with this project?
my wallaby.json is
[code]

but I'm getting error:
[code]

[2016-01-22 09:15] valorkin commented on #242
@pashaie check this https://github.com/wallabyjs/public/issues/54
and http://wallabyjs.com/docs/integration/node.html
should help

[2016-01-22 09:41] valorkin commented on #242
and one more to go

[2016-01-22 10:25] pashaie commented on #242
@valorkin thanks for your help.
updating my wallbay.js to
[code]
there is still errors
[code]

[2016-01-22 14:23] ollwenjones commented on #199
+1 for instructions / example to add either one. A good starter project shouldn't be saddled with too many dependencies a dev may or may not need for his/her next project.

[2016-01-22 17:05] MurhafSousli opened #243 "how to remove testing files dependency"
Hi, I get errors after I removed "Home" folder
[code]
I want to remove the dependency on testing files, From which file?

[2016-01-22 17:46] phil-lgr commented on #199
+1  for instructions / example to add either one, I think it is better to
show example on how to install sass css, fonts (as new to Webpack, it was
not so easy to load fonts) and let devs decide :)

On Fri, Jan 22, 2016 at 9:23 AM, Sam Jones <notifications@github.com> wrote:

--
Philippe Léger
-
Programmer (front-end) |  [image: LinkedIn]
<https://ca.linkedin.com/pub/philippe-l%C3%A9ger/29/57/14b>

[2016-01-22 17:47] andreialecu opened #244 "Typings main.d.ts not referenced in tsconfig.json?"
Was this switched to use typings recently?

I got a lot of errors during the typescript compilation step until I added `"./typings/main.d.ts"` to `"filesGlob"` and/or `"files"` in `tsconfig.json`

Shouldn't it be there or is there something else wrong in my environment?

[2016-01-22 18:39] gdi2290 commented on #243
the error is in tsconfig. you need to remove the spec files in `"files": []`

[2016-01-22 22:46] MurhafSousli commented on #243
@gdi2290 Got it, thank you so much.

[2016-01-22 22:51] alvipeo opened #245 "Images in templates"
I tried to use images in component templates (.html) and I can't get those images to show up in the browser. Gives me 404 whatever url I type in. Am I missing something?

Shouldn't we add at least 1 image tag to the project? Just for other people to know.

[2016-01-22 23:24] gdi2290 commented on #243
np, thanks for opening an issue

[2016-01-22 23:24] #243 closed

[2016-01-22 23:39] gdi2290 commented on #245
Yeah I'll add an image

[2016-01-22 23:42] alvipeo commented on #245
Could you tell how to do it? I really don't get why it returns 404 even if an image in the assets folder.

[2016-01-23 00:31] ArtemGovorov commented on #242
@pashaie Here is the fork of the project with the working wallaby config - https://github.com/wallabyjs/angular2-webpack-starter/blob/master/wallaby.js

[2016-01-23 06:01] pashaie commented on #242
@ArtemGovorov thanks

[2016-01-23 06:01] #242 closed

[2016-01-23 06:13] gdi2290 commented on #242
@ArtemGovorov thanks! I created a wiki page you can update https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-integrate-with-Wallaby.js

[2016-01-23 06:13] abdulhaq-e commented on #244
Same here. Perhaps it is due to an update of the typescript compiler because I've only noticed this recently, now, anything not included in ```filesGlob``` will not be add to ```files``` in ```tsconfig.json```. So ```tsconfig.json``` that is currently in the repo will not be the same after compilation because [L13](https://github.com/AngularClass/angular2-webpack-starter/blob/master/tsconfig.json#

[2016-01-23 06:15] ArtemGovorov commented on #242
@gdi2290 Awesome, thanks!

[2016-01-23 13:55] technoSpino opened #246 "Duplicate Typings after ng2-material import"
I started with a new project, npm installed ng2-material and added  to the vendor.ts

[code]

Now I keep getting errors such as
[code]

Any ideas?

[2016-01-23 16:07] andreialecu commented on #244
If you're using Atom, I think it overwrites the `"files"` section on every save. So it needs to be in `"filesGlob"` as well.

[2016-01-23 16:11] andreialecu commented on #244
See: https://github.com/TypeStrong/atom-typescript/blob/master/docs/tsconfig.md#filesglob

[2016-01-23 16:17] #244 closed

[2016-01-23 20:51] technoSpino commented on #246
Seems this is an issue with 2 versions of angular running https://github.com/justindujardin/ng2-material/issues/20.

Is there a way keep an imported package from using a different angular version?

[2016-01-24 04:57] louisscruz opened #249 "Test Error"
I'm getting an error when running `npm test`

`TypeError:
at /Users/louisstephancruz/Sites/dd/spec-bundle.js:8768 <- webpack:///~/es7-reflect-metadata/dist/browser.js:130:0`

I'm not sure how to debug without more info. Any ideas?

The spec-bundle.js looks like this:

    Error.stackTraceLimit = Infinity;
    require('phantomjs-polyfill');
    require('es6-promise');
    require('es6-shim');
    r

[2016-01-24 16:04] RemKolomna commented on #245
Looks like it is the duplicate issue of https://github.com/AngularClass/angular2-webpack-starter/issues/232 ?

[2016-01-24 16:56] alvipeo commented on #232
Actually, CopyWebpackPlugin works. According to setup it runs when you do 'npm run build:dev' but not when you 'npm start'. But the problem is there anyway - even if img file is copied to dist webserver returns 404. And this is really the big unknown for me...

[2016-01-24 17:24] Snejk47 opened #250 "Duplicate typings errors on fresh install"
Hi, few days ago I looked at this seed project and it was working ok. I've got it running just fine (npm start).
Today on fresh nodejs (other computer) I cloned this repo and it doesn't run anymore. I get tons of typings errors like
[code]
There is like 4000 lines of them.

I can't find any solution. Other seed using typings is fine.

node -v : v4.2.6
npm -v : 2.14.12

I'm on Win8 64bit.

[2016-01-24 17:28] gdi2290 commented on #250
@Snejk47 can you download and install again? I pushed up a quick update

[2016-01-24 17:30] gdi2290 commented on #250
nvm I still need to fix it

[2016-01-24 17:34] gdi2290 commented on #250
if you run `npm run clean:ng2` then that will fix your problem. I'm trying to make sure people won't have to

[2016-01-24 17:38] Snejk47 commented on #250
Thank you, running clean:ng2 indeed fixed that (even without your last commit). Awesome!

[2016-01-24 17:40] gdi2290 commented on #250
thanks for posting an issue. if you have anymore problems feel free to open another one or submit a pull-request

[2016-01-24 17:40] #250 closed

[2016-01-24 17:43] gdi2290 commented on #249
there seems to be a problem with one of the decorators you're using

[2016-01-24 19:27] gdi2290 commented on #232
so the problem was that webpack-dev-server was serving `dist/` in-memory so if you added another file to `src/assets` you need to rebuild for it to copy over to `dist/` I changed the contentBase to use src so when you use `assets/` it's poining to `src/assets` rather than `dist/assets`. closed via https://github.com/AngularClass/angular2-webpack-starter/commit/c6f50c8af6c236903ab094674f595252dbb20

[2016-01-24 19:27] #232 closed

[2016-01-24 19:27] gdi2290 commented on #245
done via https://github.com/AngularClass/angular2-webpack-starter/commit/d9ea3fb4b57a6d7c320900b83a76e388546b56c6

[2016-01-24 19:27] #245 closed

[2016-01-24 19:33] gdi2290 commented on #221
you also need to install typings `typings install socket.io-client --save --ambient`

[2016-01-24 20:08] mastertinner commented on #221
Thanks for your reply, @gdi2290! Unfortunately that didn't help... I'm still getting `ORIGINAL EXCEPTION: TypeError: this.connection[method] is not a function` when opening the app in the browser...

[2016-01-24 21:39] alvipeo opened #251 "test watch - possible?"
Basically, this repo is a great learning source so thanks for that!

I've started writing tests and for a real production scenario the repo missing continuous testing (test watch). Could it be done with webpack in some way?

I mean when working on a project and writing new code I'd like to have tests running all the time so if I break something I'd see it the same moment.

[2016-01-24 22:16] gdi2290 commented on #251
done via https://github.com/AngularClass/angular2-webpack-starter/commit/5f7438fe64133bc6ea98e74abac32e863a226c7a

[2016-01-24 22:16] #251 closed

[2016-01-24 22:19] gdi2290 commented on #206
they removed seleniumServerJar from protractor but if you can get it running I would definitly merge it

[2016-01-24 22:29] gdi2290 commented on #221
where these the steps?
[code]
[code]

[2016-01-24 23:10] alvipeo commented on #251
Thanks! (you know a ton!)

[2016-01-25 02:04] gdi2290 commented on #249
@louisscruz  I updated Reflect-Metadata to show errors

[2016-01-25 02:14] louisscruz commented on #249
Ok. Now it's showing:

`  TypeError: targetDescriptor null is not an object
  at /Users/louisstephancruz/Sites/dd/spec-bundle.js:4715 <- webpack:///~/es7-reflect-metadata/dist/browser.js:130:0`

Any idea how to fix this?

[2016-01-25 02:15] gdi2290 commented on #249
is your code on github?

[2016-01-25 02:16] louisscruz commented on #249
Here it is:

<https://github.com/louisscruz/dd>

[2016-01-25 02:22] gdi2290 commented on #206
@samvloeberghs  nvm I got it working

[2016-01-25 02:38] gdi2290 commented on #206
done via https://github.com/AngularClass/angular2-webpack-starter/commit/06dbdfd6d62e2972ce11f1ae48ff304349e56f0c

[2016-01-25 02:38] #206 closed

[2016-01-25 02:39] gdi2290 commented on #207
test auto-watch done https://github.com/AngularClass/angular2-webpack-starter/commit/5f7438fe64133bc6ea98e74abac32e863a226c7a

[2016-01-25 02:39] #207 closed

[2016-01-25 02:41] gdi2290 commented on #236
we still have to mix import and require :/ even with webpack2. I'm mixing both to stay consistent in case the devloper deletes the `if` statement the core will still remained bundled correctly. We also have a problem with typescript not supporting  other than TS modules see https://github.com/Microsoft/TypeScript/issues/2709 I'm going to close this issue but if you have anymore questions feel free

[2016-01-25 02:41] #236 closed

[2016-01-25 02:47] gdi2290 commented on #230
the problem is due to the vendor file which is importing all file paths. you can simply comment them out to ensure only what is used will be packaged

[2016-01-25 02:49] zainul-realtime commented on #230
which packaged use for basic or minimalist feature ?

[2016-01-25 02:50] gdi2290 commented on #230
comment everything other than
[code]

[2016-01-25 02:55] zainul-realtime commented on #230
woke , thanks mate solved

[2016-01-25 02:56] sasidhar opened #252 "Issue in es7-reflect-metadata"
When I run `npm start` I am getting following error.

[code]

I am on
* Node.js v4.2.4
* NPM 3.5.3
* Ubuntu 15.10

When i updated the file path from `./fill-randomBytes` to `./fill-randombytes` (uppercase B to lowercase b), it worked fine.

Might be issue with es7-reflect-metadata package.

[2016-01-25 02:59] gdi2290 commented on #252
thanks! I fixed it so if you run `npm update` it should be fixed

[2016-01-25 02:59] #252 closed

[2016-01-25 03:05] royzhao opened #253 "error with es7-reflect-metadata"
when I use npm start,the console print such error? I need help
my node version is 4.2.1
my npm version is 2.14.7
[code]

[2016-01-25 03:31] manavsehgal commented on #230
Does reduce generated vendor.js, however shifts dependencies to main.js. Are there any performance considerations in doing so? Like first time app load?

[2016-01-25 03:32] gdi2290 commented on #253
@royzhao can you run `npm update`

[2016-01-25 04:51] royzhao commented on #253
@gdi2290 think you very much ,it's work! would you please tell me why need use ```npm update```?

[2016-01-25 04:52] gdi2290 commented on #253
there was a typo in es7-reflect-metadata and I pushed a patch. since the repo included it as `"es7-reflect-metadata": "^1.5.4",` the `^` means it's going to still any patch

[2016-01-25 04:52] #253 closed

[2016-01-25 04:55] royzhao commented on #253
@gdi2290 think you again~

[2016-01-25 04:56] gdi2290 commented on #253
no problem

[2016-01-25 05:50] sasidhar opened #254 "es7-reflect-metadata Version 1.5.5 not found."
When I do fresh checkout and try to install NPM packages, I am getting following error.

[code]

[2016-01-25 05:51] gdi2290 commented on #254
that was a typo on my end it should work now

[2016-01-25 05:51] #254 closed

[2016-01-25 06:04] gdi2290 commented on #230
I removed vendor until I create a better solution that easier to grasp.

[2016-01-25 06:04] #230 closed

[2016-01-25 14:11] mastertinner commented on #221
I did install it like you said but I'm not consuming it directly but use a library which consumes it: https://github.com/feathersjs/feathers-client

Currently I'm including these two libraries as follows directly from `index.html`:
[code]
I copied the contents of their `dist/feathers.js` to my `assets/lib/feathers.js`. Currently this implementation works well by using `declare const feathers;` at

[2016-01-25 15:09] mastertinner commented on #221
I just now solved the problem using `ProvidePlugin` of `webpack`:
[code]

which allowed me to declare
[code]

and therefore use `io` and `feathers` in my code. I hope that's the right way to do it.

[2016-01-25 19:52] readme42 commented on #178
@blacksails Did you find a way for remapping with `remap-istanbul` or is it still a problem because the sourcemaps exists only in memory?

[2016-01-25 22:01] blacksails commented on #178
@readme42 no, but if you find a neat solution please do tell :)

[2016-01-25 22:10] AndreyUtka commented on #178
@kitsonk need your help)

[2016-01-26 03:17] thaiat commented on #178
+1

[2016-01-26 06:58] kitsonk commented on #178
Sorry folks, I have been dragged into "real life" and haven't had the time for open source.  I will try to take a look at things today.

[2016-01-26 08:01] Snejk47 opened #256 "RxJS warnings"
Yet another warnings. Does not stop bundling.

[code]

[2016-01-26 08:04] Snejk47 opened #257 "template_compiler.js, __decorate is not defined"
When run, Chrome logs
[code]
[code]

[2016-01-26 09:47] amilajack commented on #257
I'm also getting this error
<img width="449" alt="screen shot 2016-01-26 at 1 47 27 am" src="https://cloud.githubusercontent.com/assets/6374832/12577381/caa60088-c3ce-11e5-895c-de5f4fc153db.png">

[2016-01-26 13:03] choopage commented on #257
I am also getting these 2 errors. I spent an hour trying to debug. My page just stuck with `Loading...`

[2016-01-26 13:49] eslotwinski commented on #257
I'm also getting those errors, + additonal bunch of warring like in this issue https://github.com/AngularClass/angular2-webpack-starter/issues/256

[2016-01-26 13:50] eslotwinski commented on #256
Does anybody know how to resolve this? Cause i'm also getting those erros while bulding up a fresh app from your starter

[2016-01-26 15:26] myccy8 commented on #257
I'm also getting those errors

[2016-01-26 15:28] myccy8 commented on #257
![image](https://cloud.githubusercontent.com/assets/7892226/12584828/59b6e728-c484-11e5-8e6e-2ff2172ec174.png)

[2016-01-26 15:59] mshamma commented on #257
Just tried the quickstart on a fresh clone of the repo.  I am also getting this error.

[2016-01-26 16:24] mshamma commented on #257
Got it working by rolling back this commit: https://github.com/AngularClass/angular2-webpack-starter/commit/82c44112d2a499332816fc9cc8d91eccba27aa80

[2016-01-26 16:35] gdi2290 commented on #257
yeah, fixed via https://github.com/AngularClass/angular2-webpack-starter/commit/fa910ad94cff83f938bb24b44df52c55e4692bbc

[2016-01-26 16:35] #257 closed

[2016-01-26 16:46] juristr commented on #257
:+1: just ran into this. Awesome. Works now :smile:

[2016-01-26 16:47] gdi2290 commented on #257
sorry about that. the recent changes fixes the minified problem that's in beta.1 right now. there's another problem with routerLink that still needs to be addressed

[2016-01-26 16:49] gdi2290 commented on #256
if you pull latest it shoulud be fixed. the problem was due to rxjs having sourcemaps https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L53

[2016-01-26 16:49] #256 closed

[2016-01-26 17:07] TomGillen opened #258 "fix:ng fails on Windows"
In one of the scripts in package.json:

[code]

This does not work; "cp" is not a recognized command on Windows.

[2016-01-26 17:40] TomGillen commented on #258
On further testing, if I replace the cp with a similar xcopy command, everything installs fine, but while running I get errors complaining about "__decorate" not being recognized in template_compiler.js:205 and the page fails to load properly.

Removing the copy entirely, and running with the original template_compiler, the example seems to load fine.

[2016-01-26 17:52] Snejk47 commented on #258
That "__decorate" thing is fixed #257.

[2016-01-26 18:00] gdi2290 commented on #258
I pushed an update to fix this
https://github.com/AngularClass/angular2-webpack-starter/commit/ac7d641d28946d41d9771e9705c45e23c905a929
please run
[code]

[2016-01-26 18:00] #258 closed

[2016-01-26 18:04] gdi2290 commented on #178
the real solution might be too hacky. We can just wait for istanbul 1.0.x

[2016-01-26 19:55] TomGillen commented on #258
I just did a clean copy of the project and ran `mpn install`:

[code]

[2016-01-26 20:04] phil-lgr commented on #199
@manavsehgal thank you for https://github.com/manavsehgal/AngularPages, really helped me figure out how to generate style for components! Potentially a great addition to the boilerplate..

[2016-01-26 20:48] gdi2290 commented on #258
@TomGillen I pushed another update if you can give it another try

[2016-01-26 23:09] TomGillen commented on #258
Yup, working now.

[2016-01-27 00:07] alvipeo opened #259 "Question on testing and debugging (tooling)"
I currently use 'npm run watch:test' in VS Code. So my tests run as I make changes in code. But I'd really like 2 improvements in this setup:

1. when error occurs I need to scroll through the tests output and **find** those red lines to figure out **where it failed**. It feels like we're in 80s somewhere programming mainframes :)
2. I don't really know how to **debug tests** (let's not forget we'

[2016-01-27 00:21] gdi2290 commented on #258
thanks again for for making the issue and commenting again :+1:

[2016-01-27 01:10] manavsehgal commented on #199
@phil-lgr cheers for the note. I will discuss with @gdi2290 for inclusion into core (smiles).

[2016-01-27 02:02] choopage commented on #185
I added my opinion to the wiki page you created @gdi2290

[2016-01-27 02:08] choopage opened #261 "What is used to generate the file structure tree diagram in README.md?"
@gdi2290 How did you generate the file structure tree diagram? And does it get updated to the README.md whenever there is a change made to the files / folders?

[2016-01-27 02:31] gdi2290 commented on #261
sadly copy/paste but I should probably automate it since everyone does it nowadays

[2016-01-27 10:07] mastertinner opened #262 "mangle breaks prod build"
As long as I leave `mangle: { screw_ie8 : true }` as it is set in `webpack.prod.config.js`, my `npm run build:prod` doesn't work. It builds fine but when I try to open the website in my browser (Chrome), I'm getting the following error: `EXCEPTION: No Directive annotation found on t`

Setting `mangle: false` fixes the problem.

[2016-01-27 12:46] AndreyUtka commented on #178
https://github.com/gotwarlost/istanbul/issues/212 maybe should wait for non-hack solution
cc @gotwarlost

[2016-01-27 18:40] gdi2290 commented on #262
this is a problem with Angular 2

[2016-01-27 20:32] louisscruz commented on #249
Still scratching my head on this one. Any ideas?

[2016-01-27 21:25] alvipeo opened #263 "Why modules not found in VS Code?"
In **some of my files** *VS Code* can't find modules but the project compiles with 'npm run server'. For example:

![Image]
(http://inus.blob.core.windows.net/pub/unknown.png)

But other files are all ok. Could you please tell me why is that?

[2016-01-27 21:33] mastertinner commented on #262
Thanks, but then shouldn't we disable mangling until beta.2 is out?

[2016-01-27 21:35] gdi2290 commented on #262
@mastertinner can you make a pull-request and comment about it in prod webpack configs

[2016-01-27 21:37] poznyakovskiy opened #264 ""Unexpected token case" when running e2e"
When I run e2e (`npm run e2e`), protractor stops with the message

[code]

[2016-01-27 22:03] gdi2290 commented on #263
@alvipeo doy ou have the latest changes?
https://github.com/AngularClass/angular2-webpack-starter/blob/master/tsconfig.json

[2016-01-27 22:36] alvipeo commented on #263
Thanks! Can't keep up with it! :)

[2016-01-27 22:36] #263 closed

[2016-01-28 03:40] alvipeo opened #266 "Please add to Wiki"
For 'How to integrate with Wallaby.js':

<code>
npm install wallaby-webpack --save-dev
</code>

Just not to forget next time.

[2016-01-28 03:58] gdi2290 commented on #266
You can edit the wiki o think

[2016-01-28 04:35] alvipeo commented on #266
Done

[2016-01-28 04:35] #266 closed

[2016-01-28 08:24] zainul-realtime opened #267 "Can jade template engine include in starter"
Hello my previous project i am create views in expressjs using jade, can the angular2 webpack starter included jade file to the project ?
how to include this ? :dancer:

thanks

[2016-01-28 09:23] zainul-realtime commented on #267
yeah finally i can do this. yes this project can do with jade template engine with following step:
1. install jade -> npm install jade
2. modify webpack config with adding jade extension

`resolve: {
    // ensure loader extensions match
    extensions: ['','.ts','.js','.json','.css','.html','.jade']
  },`

3. adding jade to loader

`
{ test: /\.jade$/,  loader: 'jade' }
`

for implementation just

[2016-01-28 09:23] #267 closed

[2016-01-28 12:44] manavsehgal commented on #267
Thanks for sharing this. Any way to avoid !jade! and () in require?

[2016-01-28 13:03] samvloeberghs commented on #206
nice one. I've checked the commit and that's basically what I've also done to make it work.

[2016-01-28 13:11] zainul-realtime commented on #267
!Jade! Syntax use for to handle detect a module by typescript, because whitout !jade! typescript detect this is a module , ..
And in the end require () use to compile jade to be html ..
If not use it will be show a jade function ..
Problably you have suggestions for more better again ?
Thanks hehe :)

[2016-01-28 13:17] samvloeberghs commented on #206
But we still need like a "pre step". Can we not create a bash script or something to check if the standalone version is installed? Or is this creating to much overhead in some way?

[2016-01-28 13:45] jmiazga opened #268 "'this.http.get(...).map is not a function' when built for prod"
I am getting the error:

[code]

when building and running in prod. There is no issue running in dev.

[2016-01-28 16:13] gdi2290 commented on #267
add jade to extensions
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L69

see comment
https://github.com/AngularClass/angular2-webpack-starter/blob/master/webpack.config.js#L44

then `require('./your_file')`

and if you update my wiki page that would be awesome :)
https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-add-.jade-support

[2016-01-28 16:17] gdi2290 commented on #268
see
https://github.com/AngularClass/angular2-webpack-starter/blob/master/src/polyfills.ts#L17
make an `else` that requires `require('rxjs/add/operator/map');`

[2016-01-28 16:42] jmiazga commented on #268
Any reason they are all pulled in for dev? I will add the require in the file that needs it.

[2016-01-28 21:25] dweitz43 commented on #246
i was able to get ng2-material to fly with the latest of this repo by manually changing the ng2-material package.json to use the same version of angular2 as the app...It is certainly not ideal, but I noticed here (https://github.com/justindujardin/ng2-material/issues/20) that the only reason ng2-material is not currently using the latest version of the ng2 beta is because it breaks testing in IE..

[2016-01-28 21:27] dweitz43 commented on #211
since merging with the master this morning, I had several issues with the ng2-material installation. I was able to work through most of them, but now I am stuck as it appears the app is not loading the material icons and fonts correctly...i get 404's for these files:

http://localhost:3000/node_modules/ng2-material/dist/MaterialIcons-Regular.woff2
http://localhost:3000/node_modules/ng2-material/di

[2016-01-29 03:02] martinoppitz opened #270 "Upgrade to typescript@^1.8.0"
If we try, we get there (npm start) an error ...

`ERROR in ...\angular2-webpack-starter\node_modules\angular2\src\facade\promise.d.ts
(1,10): error TS2661: Cannot re-export name that is not defined in the module.`

[2016-01-29 03:15] martinoppitz opened #271 "Code coverage report shows not the orignal typescript code"
Let us fix this ...

https://www.sitepen.com/blog/2015/09/29/code-coverage-for-typescript-and-other-transpiled-languages/

[2016-01-29 03:25] gdi2290 commented on #271
the correct solution with karma is hacky but I can probably make another task that needs karma running to output the results

[2016-01-29 03:57] martinoppitz commented on #271
[code]

[2016-01-29 04:15] martinoppitz commented on #271
#178 duplicate.

[2016-01-29 04:26] #271 closed

[2016-01-29 04:48] dweitz43 opened #272 "fonts from node_modules"
Hi, I forked this repo and worked to integrate ng2-material recently. I decided to try to merge with the master this morning, and everything is looking good right now, except that i am having trouble loading some fonts after the merge, three in particular that I attempt to load in an index.scss file as well as in the other .scss files i have for other components get 404 errors now, although webpac

[2016-01-29 13:43] mastertinner commented on #262
Apparently this problem persists in beta.2...

[2016-01-29 13:50] abdulhaq-e opened #273 "How to add css to index.html"
How should one utilise the following code found in index.html

[code]

I want to do that in order to include `semantic.min.css`. Please do suggest if there is a better way to it.

[2016-01-29 15:41] dweitz43 commented on #272
this was an issue with the way i was attempting to load the fonts

[2016-01-29 15:41] #272 closed

[2016-01-29 16:04] gdi2290 commented on #262
yup there's still a problem with RouterLink when minified

[2016-01-29 20:30] vasyl-romanchak opened #274 "Can't install jointjs typings"
Here is what I did after project setup:

[code]

after that jointjs typings couldn't find out Backbone typings, as I understood typings won't install peer dependencies.

so again
[code]

And still I have a lot of errors:

[code]

Can you guys help me  install jointjs library ontop of your boilerplate...
Also is there anyway to replace underscore with lodash?

[2016-01-29 20:54] vasyl-romanchak commented on #274
btw as I understood this error
(3205,13): error TS2403: Subsequent variable declarations must have the same type.  Variable '$' must be of type 'cssSelectorHelper', but here has type 'JQueryStatic'.

could be fixed only by splitting project build process onto tests & app stage

[2016-01-29 21:51] blakeembrey commented on #274
@vasyl-romanchak When you install with the `--ambient` flag, it's just copying the source files. You've just copied https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/jointjs/jointjs.d.ts and https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/backbone/backbone.d.ts into your project. For backbone, it looks like you should install https://github.com/DefinitelyTyped/Definitel

[2016-01-29 23:46] daniele-zurico opened #275 "karma + chrome"
Hi guys,
first of all great job.. this starter kit is amazing.
I'm trying to run:
npm run watch:test
but I would to debug my code in chrome so what I've done is in karma.conf.js enable that:

[code]

As expected chrome open a new window, I can press debug button, in the console it show the error but the problem is that is impossible to debug the code because it just load the spec-bundle.js.
There'

[2016-01-30 00:08] gdi2290 commented on #275
sorry about that, and I'm glad you like the starter :smiley: I haven't tried out the debug flow for testing so I would need to look into it more

[2016-01-30 00:47] datatypevoid opened #276 "RxJs Dependency Problems"
Fresh clone of repo (Windows 10 64-bit, latest NPM, lastest Node) is getting the following after running `npm install` (note that I have run `npm install` once already at this point):

![Error](https://i.gyazo.com/f6493151b2d1b10deb7b7ff519d2204a.png)

[2016-01-30 00:49] datatypevoid commented on #276
Additionally I get a ton a errors when running `npm start`:

![Errors galore](https://i.gyazo.com/89bf5967f6e3526800d72209e738f409.gif)

[2016-01-30 00:50] datatypevoid commented on #276
This is what I get when attempting to view the app on `localhost:3000`:

![moar errors](https://i.gyazo.com/493519d3655996bb60df5236c2b67219.png)

[2016-01-30 00:51] gdi2290 commented on #276
the location you downloaded the repo at doesn't allow you to remove files. if you download the repo again I pushed the changes to revert the rxjs update hack

[2016-01-30 00:53] datatypevoid commented on #276
Thanks for your swift reply ^^ I will give it a try.

[2016-01-30 01:11] datatypevoid commented on #276
The compilation errors have gone away, thank you again for all your work.

[2016-01-30 01:12] daniele-zurico opened #277 "proposal - split vendor from code"
Hi guys,
what do you think if in webpack when we build the application we create 2 files:
1) contain our code
2)contain the vendor: like angular, rx, etc

In this way the vendor build don't increase in size and we can manage our code (src) in a separate file.
 I've done something like that in my webpack project:
https://github.com/daniele-zurico/angular2-webpack/blob/master/webpack.config.js

[2016-01-30 01:13] datatypevoid opened #278 "`typings install` Throws Error"
Fresh clone of repo(Win10, latest node, latest npm) attempting to run `typings install` after running `npm install` and am getting the following error:

![Error](https://i.gyazo.com/389a61c201e1575a84d1d9263e913dcc.png)

[2016-01-30 01:15] datatypevoid commented on #278
So sorry to waste your time. `npm run typings-install` worked fine as mentioned at the top of the README

[2016-01-30 01:16] gdi2290 commented on #278
`npm run typings-install` uses the local version (the one installed and lives in `node_modules`) of typings so you probably need to update your global version `npm install -g typings` cc @blakeembrey

[2016-01-30 01:16] #278 closed

[2016-01-30 01:19] datatypevoid commented on #276
I am still getting a few errors after running `npm run server`:

![Errors](https://i.gyazo.com/0e08d7362619a9c13356241750779e5a.png)

![Moar errors](https://i.gyazo.com/244df5adf9d755210fdfc0881a2c4b86.png)

[2016-01-30 01:24] gdi2290 commented on #276
@datatypevoid  can you update this file or pull latest changes again
https://raw.githubusercontent.com/AngularClass/angular2-webpack-starter/master/src/polyfills.ts

[2016-01-30 01:25] datatypevoid commented on #276
All cleared up. Thank again. This is the best resource I have found for Angular 2 with Webpack.

[2016-01-30 01:56] gdi2290 commented on #276
awesome thanks for opening an issue :+1: feel free to oen another one if you run into another problem

[2016-01-30 01:56] #276 closed

[2016-01-30 01:58] gdi2290 commented on #277
I had a vendor file and but removed it because everyone kept complaining about the vendor size. I will add it back after angular2 supports precompilation

[2016-01-30 01:58] #277 closed

[2016-01-30 02:52] alvipeo commented on #275
Yeah, that would be great! (to debug tests)

[2016-01-30 19:41] blakeembrey commented on #278
@datatypevoid It sounds more like you've recently updated to NPM v3. Since NPM v3 creates a flat structure, it assumes certain things about the module installation layout that currently exists. If you're combining a previous NPM v2 install with v3, this is a pretty common issue I've seen pop up (because it assumes it exists at the top level from a different dependency, but NPM v2 structure was no

[2016-01-30 23:55] devcube opened #281 "How to add an css to src/assets/css/?"
Hey, I'm testing some scenarios with this repo and the webpack.config.js loads css files with a raw-loader instead of css!style. I assume this is useful since a angular2 component can have "styles: [ require('./home.css') ]" and then that file will be required and load on demand rather than bundled in the .js bundle.

This repo also have a src/assets/css folder and I've added an app.css file to th

[2016-01-31 00:08] vasyl-romanchak commented on #274
Thanks for the quick reply!

Unfortunately I wasn't able to import jointjs via;
[code]

only simple require('jointjs') was possible, but its not what I wanted to.

So I decided to write my own typings in custom_typings.d.ts

Basically I just copied their joitn definition in my project... and I saw that their module definitions starts with
[code]

After some googling I changed `declare module joint

[2016-01-31 10:13] manavsehgal opened #282 "Markdown loader generates template parse exception in production build"
Please see [AngularPages branch](https://github.com/manavsehgal/AngularPages/tree/markdown-static) where I have created a component MarkdownStatic that requires a template written in markdown. I have added the Webpack loader, resolved extensions. The branch runs fine using `npm start` on webpack-dev-server, however `npm run prod:build` generates template parse errors.

[code]

[2016-01-31 10:22] manavsehgal commented on #273
Including UI frameworks like Semantic UI is not as straightforward because you need to take care of UI components that require JS and include these appropriately as Webpack modules.

Possible solutions... I will write a Wiki once I have something to demo.

1. You may want to checkout Wiki written for [including Bootstrap 4](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-B

[2016-01-31 20:33] dvh91 opened #284 "Bootstrap 4 + angular 2 webpack starter"
I've followed https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery) to load bootstrap 4 and it's working just fine but when I want to override variables using my own scss file, it just not working.

anyone encountered that problem as well?

`styles: [
    require('../assets/css/sass/main.scss').toString()
  ],
  encapsulation: ViewEncapsulation.

[2016-01-31 21:44] pdSquirrel opened #285 "Adding jQuery"
Not sure if I'm missing something but following the guide to add Bootstrap + jquery renders me an error in this section:

`new ProvidePlugin({
            jQuery: 'jquery',
            $: 'jquery',
            jquery: 'jquery'
        })`

After some digging I changed it to:
`new webpack.ProvidePlugin({
            jQuery: 'jquery',
            $: 'jquery',
            jquery: 'jquery'
        })`

[2016-01-31 21:45] devcube commented on #281
I'm really new to all of I ended up with these changes:
First, I changed so that I have different loaders for different css. The css in the angular2 app structure are nice to include with a raw-loader and the require() on the css files. The other css files, such as bootstrap3 are nice to bundle into a styles.css so that it can load in parallell to the javascript, thus minimizing FOUC.
First I add

[2016-01-31 21:45] #281 closed

[2016-01-31 22:25] gdi2290 commented on #285
at the bottom it shows that we are requiring it `var ProvidePlugin = require('webpack/lib/ProvidePlugin');` but `webpack.ProvidePlugin` also works :+1: thanks for the issue I added a comment to show that we are requiring it

[2016-01-31 22:25] #285 closed

[2016-02-01 00:18] manavsehgal commented on #185
Updated best practices.

[2016-02-01 08:40] cschroeter opened #286 "Improve coverage report"
Is there any reason to include spec files into coverage results?
I mean it is great to see that at least some files have 100% coverage but well yeah meh

How about:

[code]

[2016-02-01 11:55] alvipeo commented on #286
Yeah, that's actually bothers me too... Looks weird.

[2016-02-01 12:03] cschroeter commented on #286
In addition, if a component don't have a corresponding spec file, it should appear within the result

[2016-02-01 12:06] scottmcdonnell commented on #264
+1

[2016-02-01 15:25] gonzofish commented on #136
@liampmccabe thanks for the heads-up. I was confused ;)

[2016-02-01 16:16] quanterion opened #288 "Serving generated assets"
In this starter we have assets serving from _/src_ folder. However I need to copy some assets from different locations and generate on the fly some images in build step.

This way folders _/src/assets_ and _dist/assets_ have different content and I can't serve _"src/assets"_ as is.

What is the best way to deal this such situation?

PS: I tried to serve from /dist, but webpack dev server loads _in

[2016-02-01 16:24] gdi2290 commented on #136
I created a scss wiki page if anyone wants to update it to be more clear
https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-SCSS-in-components

[2016-02-01 16:43] gdi2290 commented on #286
@cschroeter can you make a pull-request?

[2016-02-01 21:38] cschroeter commented on #286
I'm not that familiar with all the webpack magic, but I'll give it a shot

[2016-02-01 21:53] gdi2290 commented on #286
I think the change should be here
https://github.com/AngularClass/angular2-webpack-starter/blob/71026ba56f696d184ddad6837863e7b55378db59/webpack.test.config.js#L62

[2016-02-01 23:29] mbalex99 commented on #284
Are you supposed to have the "toString()"? I thought it would just resolve it with a simple require.

[2016-02-02 03:03] sasidhar opened #289 "TSLint not working with `npm run lint`"
When I run in Dev mode, everything is working fine.
`npm start`

When I build for production, there are some TSLint errors. But these errors are not full and when I fix the issues shown and run the build command once again some more TSLint issues are shown.
`npm run build:prod`

I also tried linting using `lint` script. But It is not able to find any files. So, 0 files found and No issues found.
`

[2016-02-02 07:58] dvh91 commented on #284
.toString() solved another bug that the app is not starting and throwing an error.
Found it in another ticket.

[2016-02-02 08:27] cschroeter commented on #286
It gets tricky if a component don't have a corresponding spec file since you include it in your Karma configuration, code get executed no matter what.

I would suggest before executing test to run a plugin showing a warning for files not have a corresponding spec file.

@gdi2290 What is your opinion on that?

[2016-02-02 12:33] RemKolomna opened #293 "Express integration"
I want to add rest api to this project using Node.js and Express.js framework.
That is the best way to integrate it? Should I add building server side scripts to existing webpack.config or it is better to create separate project for rest api?

[2016-02-02 14:25] ollwenjones commented on #270
I ran into the same thing. Not sure if this is a compatibility issue with this project as much as with TS 1.8 and Angular 2. The way some of the imports/exports are done in the angular2 codebase don't seem to be allowed anymore?

[2016-02-02 15:37] gdi2290 commented on #270
It's a problem with Angular2 types again. They fixed it so next release won't have it. I can including a quick fix in the meantime so thanks for reporting

[2016-02-02 15:37] alvipeo commented on #270
Until Angular2 team switch to 1.8 I wouldn't too.

[2016-02-02 15:43] gdi2290 commented on #286
We can make a module that will earn the developer

[2016-02-02 18:36] dvh91 commented on #136
@gdi2290 - Is it possible to override bootstrap variables along with the implementation from your wiki?

[2016-02-03 07:13] Somiks opened #294 "UNMET PEER DEPENDENCY phantomjs-prebuilt"
hi,
I can't get this project.
├── UNMET PEER DEPENDENCY phantomjs-prebuilt@>=1.9
└─┬ protractor@3.0.0
  └─┬ selenium-webdriver@2.48.2
    └─┬ ws@0.8.1
      └─┬ utf-8-validate@1.2.1
        ├── bindings@1.2.1
        └── nan@2.2.0

[2016-02-03 07:23] gdi2290 commented on #294
can you update to latest changes

[2016-02-03 15:51] gdi2290 commented on #294
oops nvm I meant that comment for another repo.

[2016-02-03 15:54] m1ch4ls commented on #249
@louisscruz  Commenting out defines in DefinePlugin fixed this issue for me.

before:
[code]
after:
[code]

[2016-02-03 16:50] Somiks commented on #294
how can it do it? should I do it throug npm command or i need to download again this package?

[2016-02-03 18:08] gdi2290 commented on #294
you can make sure to install it https://github.com/AngularClass/angular2-webpack-starter/blob/efb248c31219dd2ecaf1262b2136acde5a73e7fa/package.json#L74

you can also look at your project and the version here and update depending on the difference in the build system

[2016-02-03 18:19] louisscruz commented on #249
I'm going to give this a shot tonight or tomorrow when I have access to my computer. Thanks!

Louis

[2016-02-03 18:26] gdi2290 commented on #249
yeah sorry it looks lke your repo was on an older version. I should keep track of the changes by changing the package version

[2016-02-03 18:28] imeninnik commented on #264
got the same.
win 10.
thought `npm run e2e:live` works

[2016-02-03 19:49] gdi2290 commented on #249
I released version 1.0.0 so I'll start to follow versioned releases

[2016-02-03 23:38] mattma opened #295 "Sass file cannot be found in the Production environment"
Based on your [solution](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery)), and following your [example](https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-include-SCSS-in-components), I implemented `sass` style [by forking your repo today](https://github.com/mattma/angular2-webpack-starter/commit/0bd9c255594aff096e4ae60f4

[2016-02-04 00:12] gdi2290 commented on #295
for what you're doing you also need to include sass https://github.com/mattma/angular2-webpack-starter/blob/master/webpack.config.js#L45 and don't use `styles` or `styleUrls` since you're opting into webpack's way of managing the styles rather than angular2

[2016-02-04 02:08] alvipeo opened #296 "Tried to use beta.3 released today"
And got a bunch of errors regarding zone like:

(4,14): error TS2339: Property 'navigator' does not exist on type 'Global'.

Used these as dependencies:

[code]
So, again, webpack is black hole...

[2016-02-04 02:28] gdi2290 commented on #296
this is a problem with the recent release that uses an old version of  `zone.js`. I can update the repo

[2016-02-04 02:33] alvipeo commented on #296
yes, please. btw, I cloned the whole repo (as of now) and build it, got lots of errors. Just FYI

[2016-02-04 02:58] gdi2290 commented on #296
@alvipeo everything should be fixed it the latest release (a couple of minutes ago) feel free to open again if you run into a problem

[2016-02-04 02:58] #296 closed

[2016-02-04 05:02] mattma commented on #295
I tried with `import './path/to/style.sass'` before I submit the issue (more like a question) instead of `styleUrls: [...]`, it works.

Can I ask you questions?

Is there any drawback on opt-out **angular2** styles? What about `ViewEncapsulation.None `, `ViewEncapsulation.Emulated`,`ViewEncapsulation.Native `, do I still get the benefit what Angular2 offers?

When I opt-in webpack way, what did we

[2016-02-04 23:32] dsebastien commented on #264
Same issue here w/ Windows 10 (x64).
I don't think that protractor is actually executed, the issue must be with ts-node when it tries to load the protractor script.

What is the benefit of using `ts-node node_modules/.bin/protractor` rather than simply protractor in the script?

[2016-02-04 23:40] louisscruz commented on #249
That did it! Thank you!

[2016-02-04 23:49] #249 closed

[2016-02-05 03:36] alvipeo opened #297 "How to debug tests? (VS Code)"
Writing tests without being able to debug code is difficult. Can we debug tests somehow in VS Code?

Thanks!

[2016-02-05 07:03] gdi2290 commented on #264
the problem is `src/**/**.e2e.ts,src/**/*.e2e.ts` in windows which I fixed in the latest release
https://github.com/AngularClass/angular2-webpack-starter/blob/master/package.json#L31